[2020-09-17 08:27] Tomorrow9 commented on #164
I also hit this issue when there are more than one datacenter in vCenter server, no issue if there is only one datacenter. I'll take a look at this later if there is no one looking at this issue. Thanks.

[2020-09-17 14:51] mdonoughe opened #392 "Operations that enumerate all inventory fail if VMs are deleted during enumeration"
##### SUMMARY
This is a migration of [ansible/ansible#37254](https://github.com/ansible/ansible/issues/37254). The module gets lists of VMs and then goes back to inquire about those VMs, but sometimes the VM no longer exists, leading to "has already been deleted or has not been completely created" errors.

I am regularly encountering this problem when running `vmware_vm_info` to list all VMs in an

[2020-09-18 09:40] kimausloos opened #394 "Unable to get vlan_id after creation"
##### SUMMARY
I seem to be unable to get the vlan_id from a running vm. I tried using vmware_guest_info but it doesn't seem to contain the information I need. I checked if the info is there, and it seems so. When using vmware_dvs_portgroup_find I can find the portgroup and see the vlan_id.

I'm not sure if this is a documentation report, so please tell me if I should add extra details or rework th

[2020-09-18 14:35] solohan83 opened #395 "Modules using vSphere Automation SDK are stuck when running Ansible Jobs"
##### SUMMARY
When running an Ansible Playbook with a module require vSphere Automation SDK, the job get stuck, never finishes.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_tag_manager
vmware_content_library_manager

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]
[code]

##### OS / ENVIRONMENT

vCenter Appliance 6.5

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULT

[2020-09-18 17:32] sky-joker commented on #394
Thank you @kimausloos for reporting this issue.
As you know, the vmware_guest_info module can't get configured vlan_id of a port group.
If you want to get the VLAN ids from VM, some module needs to combine.
Here's an example.

[code]

For an example of the above playbook executed result.

[code]

[2020-09-18 21:03] jdotsmith opened #397 "Deploy to Datatstore Cluster and vSphere Cluster rather than Host and Datastore - vmware_content_deploy_template"
##### SUMMARY
Currently it looks like the ```vmware_content_deploy_template``` module only allows me to deploy a template that lives in the Content Library to an individual host and an individual datastore.

I would like the ability to deploy a VM to a Datastore Cluster and a vSphere Cluster. The ```vmware_guest``` module allows deploying to both.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT

[2020-09-19 17:35] mariolenz commented on #389
@MallocArray
Thanks for opening this issue!

It looks like #377 fixed this and made it to Ansible Galaxy already. Therefor, I'll close it.

We have another problem because this repo has been renamed from plain `vmware` to `community.vmware` in the meantime. GitHub will forward `vmware` links to `community.vmware`, but nevertheless I've opened PR #396 to fix this.

However, I consider _this_ issue

[2020-09-19 17:35] #389 closed

[2020-09-23 01:40] SLongofono opened #398 "vmware_deploy_ovf fails to resolve paths correctly on bare ESXI host"
##### SUMMARY
Using an ESXI host with no explicit datacenter ('bare') and the default datastore named datastore1, the playbook is unable to resolve the path to the .ovf file stored therein.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_deploy_ovf.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target OS is ubuntu 18.04 server, minimal installat

[2020-09-23 14:50] sky-joker commented on #378
First, I started to work on https://github.com/ansible-collections/community.vmware/issues/352 issue :)

[2020-09-23 15:43] sky-joker commented on #378
I made a patch for https://github.com/ansible-collections/community.vmware/issues/352, so I’ll be PR at the weekend.

[2020-09-23 17:22] SLongofono commented on #398
After hacking on the module itself for a while, it appears that there is no straightforward way to specify that the OVF and VMDK file pair are already on the ESXI host, all paths are local to the ansible environment.

I am closing this unless the author/maintainers have any ideas/desire to implement this functionality.

[2020-09-23 17:22] #398 closed

[2020-09-24 09:52] sjwk opened #399 "vmware_vswitch does not recreate missing vswitches after it has created them previously"
##### SUMMARY
This could be something I'm doing wrong rather than a bug.
If I use vmware_vswitch to create a vswitch on an ESXi host, it is created.  If I delete the vswitch on the host itself and run the playbook again, it thinks it is already present and does't recreate it.  Subsequent modules in the role that create portgroups, add uplinks etc then fail, because the vswitch doesn't exist.
I hav

[2020-09-24 15:25] sky-joker commented on #352
resolved_by_pr https://github.com/ansible-collections/community.vmware/pull/401

[2020-09-24 15:26] sky-joker commented on #204
resolved_by_pr https://github.com/ansible-collections/community.vmware/pull/401

[2020-09-24 15:26] sky-joker commented on #88
resolved_by_pr https://github.com/ansible-collections/community.vmware/pull/401

[2020-09-24 15:36] sky-joker commented on #339
Hi @vivekanand552

Thank you for reporting this issue.
I made a patch(https://github.com/ansible-collections/community.vmware/pull/401) to fix this issue.
So can you please try the fixed module work at your environment?
And please let me know the result.

[2020-09-25 00:49] sky-joker commented on #378
@Akasurde

I've done PR https://github.com/ansible-collections/community.vmware/pull/401
Can you please look it?

[2020-09-25 14:30] #359 closed

[2020-09-25 14:39] sky-joker commented on #399
Thank you @sjwk for reporting this issue.
I confirmed the same thing with my environment(ESXi 6.7).
This thing isn't a bug for the vmware_vswitch module.
Even you remove the vSwitch with command the information is still on API.
The solution to this issue is the necessary restarting hostd of ESXi.

The following is hostd restart procedure.

[code]

You can do to create the same vSwitch name using p

[2020-09-27 14:38] sky-joker opened #403 "An error occurs when using vmware_guest_info by enabling the tags option."
##### SUMMARY

I tried to execute a playbook that true the tags option, the following error occurs.

[code]

Ansible 2.9 had not the above error.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

plugins/modules/vmware_guest_info.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

* vCenter/ESXi 7.0
* pyvmomi 7.0
* vSphere-Automation-SDK 1.37.0
* VMware col

[2020-09-28 02:53] dglinder opened #404 "Random keys dropped using vmware_guest_sendkey"
##### SUMMARY

Using the vmware_guest_sendkey module with Ansible 2.9.10 and trying to feed in a custom boot string but random characters are dropped.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest_sendkey

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.8.2003
ESXi version: 6.7.0
ESXi build number: 15160138

##### STEP

[2020-09-28 02:56] dglinder commented on #404
My ESXi host and the machine the playbook are running from are on the same subnet (the system running the playbook is a VM on that ESXi host).

I looked for a way to add a simple 0.1 or 0.01 second delay between each USB character sent, but I was unable to track down the `PutUsbScanCodes` call.  (I'm not a confident Python hacker, so that might be a red herring on my part.)

[2020-09-28 09:28] sjwk commented on #399
Thanks, I can confirm that works around the problem, so should be easy to either create a task to restart hostd first, or just do that via another playbook should a problem occur!

[2020-09-28 09:28] #399 closed

[2020-09-28 10:43] nre-ableton opened #405 "Can't create Mac guest VMs as of Ansible 2.10.1"
##### SUMMARY
When attempting to create a macOS guest VM with the `vmware_guest` module, this fails with the following error:

The respective task which caused this error is shown below.

This playbook works fine with Ansible 2.9.13 and seems to have broken with 2.10.x.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`vmware_guest`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

#

[2020-09-28 11:33] Akasurde commented on #403
resolved_by_pr #406

[2020-09-28 11:43] Akasurde commented on #404
@Tomorrow9 Could you please take a look at this? Thanks.

[2020-09-28 13:51] Akasurde commented on #395
@solohan83 Thanks for reporting this issue. Could you please edit and run this https://github.com/Akasurde/ansible-reproducers/blob/master/scripts/vsphere_sdk_sample.py and let me know the output?

Thanks.
needs_info

[2020-09-28 14:04] Akasurde commented on #391
@RobVerduijn Thanks for the issue. VMware HTTPAPI connection plugin based modules are replaced by [VMware REST Modules](https://github.com/ansible-collections/vmware.vmware_rest).

I am working on adding documetation of vmware_tools_connection example.

Let me know if you need help. Thanks.

[2020-09-28 15:24] RobVerduijn commented on #391
Hi,

Thanx, no help needed, except with rewriting all my plays (again) for the rest module.

I think mentioning the replacement in the httpapi documents would be a nice thing.

Rob

[2020-09-28 16:18] jvfb891 opened #407 "vmware_guest: Unable to find nested cluster"
##### SUMMARY
Hello, I believe I have happened upon a bug with the vmware_guest module. Red Hat Customer Support has agreed to that suspicion and pointed me to this forum for further assistance.

I am receiving the following error in Ansible Tower when running a particular playbook to deploy VMs in vSphere using vmware_guest: "msg": "Unable to find cluster \\"Cluster1\\""

We are running Ansible 2

[2020-09-28 16:47] johansenha opened #408 "vmware_guest_video: gather_video_facts with powered on guest"
##### SUMMARY
gather_video_facts is only possible with powered off guest vm but should be possible with powered on machine as well and only changes to video settings should required powered off VM

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest_video

##### ANSIBLE VERSION
2.9.13

#### OS / ENVIRONMENT

vSphere 7.0

##### STEPS TO REPRODUCE

ansible playbook

[code]

task:

[code

[2020-09-28 19:03] johansenha commented on #408
Possible solution might be changing vmware_guest_video.py

line 356 from:
[code]

to:
[code]

[2020-09-29 06:19] sjwk opened #409 "vmware_vmkernel fails when run a second time"
##### SUMMARY

Unsure if bug, unclear documentation or just me missing something.
If I use vmware_vmkernel to create a vmk interface in an existing portgroup on an existing vswitch, and that vmk already exists, it fails with a 'specified parameter was not correct'.  (If I delete the vmk, I need to restart hostd first, then it will create the interface first time, error subsequently).  According to

[2020-09-29 06:21] sjwk commented on #409
Changed title - initially it looked like setting enable_mgmt: true made it work, however repeat tests this morning don't agree with that.

[2020-09-29 06:47] RobVerduijn commented on #391
btw

 VMware REST Modules. does not have a working example
and all the doc links are dead.

Rob

[2020-09-29 06:58] Akasurde commented on #391
@RobVerduijn Yes, there is some issue with autogenerate docs. You can use this https://github.com/ansible-collections/vmware.vmware_rest/tree/main/docs for while. Thanks.

[2020-09-29 09:16] mariolenz commented on #407
If the names of your clusters are unique within the virtual datacenter, the module should find them even if they are under a host and cluster folder. Did you try a plain "Cluster1" without the complete path?

[2020-09-29 09:21] wsslhllmn opened #410 "dvs_portgroup - Missing autoExpand/isExpandable option in module"
##### SUMMARY
In the vSphere Web Services API, the feature autoExpand is available for Distributed Portgroups, but isn't in the ansible module. https://code.vmware.com/apis/358/vsphere/doc/vim.dvs.DistributedVirtualPortgroup.ConfigSpec.html

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_dvs_portgroup

##### ADDITIONAL INFORMATION
In the vSphere Web Services API documentation, the fe

[2020-09-29 10:03] dfoley84 commented on #379
@nevdull77  Using the Second Tasks as above, How can I configure the Network IP Address or even trying to run a "runonce" command I'm getting:
fatal: [localhost]: FAILED! => {"changed": false, "msg": "VM is not in poweroff state, can not do guest OS customization."}

[2020-09-29 10:34] Akasurde commented on #408
@johansenha Thanks for reporting this issue. Could you please check if PR #411 resolves your issue?

Thanks.

needs_info

[2020-09-29 10:44] Akasurde commented on #407
@jvfb891 `cluster` parameter does not accept the full path of a cluster like `/ClusterFolder1/Cluster1` or `/Datacenter/ClusterFolder1/Cluster1`. Rather `cluster` parameter takes the name of the cluster and with the help of the `datacenter` parameter to find the cluster in the given infra.

What is the value of "{{ cluster_name }}"?

[2020-09-29 11:07] Akasurde commented on #407
I am not able to reproduce this with following playbook

[code]

Here is my vCenter structure

<img width="260" alt="vcenter_folder" src="https://user-images.githubusercontent.com/633765/94550821-0480a880-0272-11eb-8eb8-323550525a61.png">

[2020-09-29 11:22] Akasurde commented on #394
@kimausloos Could you please confirm if the playbook provided by @sky-joker works for you? Thanks.

needs_info

[2020-09-29 13:23] #403 closed

[2020-09-29 15:10] jvfb891 commented on #407
@Akasurde @mariolenz thanks for your replies. Apologies for not including this in my initial bug report, but I have tried entering the name of the cluster only as the value of the {{ cluster_name }} variable. I get this error in Ansible Tower:

"msg": "Unable to find cluster \"Cluster1\""

Can either of you confirm you are using Ansible Tower to run the playbook?

Thank you!

[2020-09-29 15:23] jvfb891 commented on #407
@Akasurde @mariolenz Another thought...maybe this is permissions related? Can either of you confirm the vSphere cluster permissions you have set in your environments?

I have the "Assign virtual machine to resource pool" privilege defined in a role that is attached to the destination cluster, Cluster1. Propagation is true on the role.

[2020-09-29 17:57] mariolenz commented on #407
@jvfb891

No, I didn't. But this shouldn't make any difference afaik. But I _did_ test this with Ansible 2.9.6 and wasn't able to reproduce your problem.

I don't think so. Can you log in to vCenter with the account used in the playbook and tell us if you can see the cluster?

I've tested this with admin privileges (`Administrator@vsphere.local`).

I don't think this is sufficient.

To get the per

[2020-09-29 18:16] andrejfernandes opened #412 "vmware_guest_custom_attributes module crashes when trying to set a VirtualMachine attribute with the same name as an existing HostSystem attribute"
##### SUMMARY
When running a task with `vmware_guest_custom_attributes`, if the name of any attribute already exists as a HostSystem attribute, the module will crash with an unhandled exception.

[code]

The crash is due to the module finding the HostSystem attribute and trying to do a `self.content.customFieldsManager.SetField(entity=vm, key=field_key.key, value=field_value)` with the key of the

[2020-09-29 19:17] mariolenz commented on #412
Now _that's_ a great issue. Thank you very much for giving us so many details! This should make it much easier for us to fix this. Thanks :-)

[2020-09-29 20:10] jvfb891 commented on #407
@mariolenz Thank you for your insights.

I've tested this as you suggested by logging into vCenter with the account we're using in the playbook. I can see only my destination cluster (Cluster1), as I would expect. However, when I tested deploying a VM manually, I ran into a permissions error related to privilege "Read customization specifications".

From here I've done the following:

I created a

[2020-09-29 20:10] #407 closed

[2020-09-30 04:40] Akasurde commented on #407
@mariolenz Thanks for providing debugging information and helping to resolve. @jvfb891 Thanks for providing debugging steps and feedback.

[2020-09-30 06:33] johansenha commented on #408
@Akasurde Thanks for the quick fix. Patched my local file and response looks fine. LGTM

[2020-09-30 06:42] Ra0EL commented on #347
Hi @Medalibi,
would you share your workaround please ?
Have you used the `gistfile1.py` file or **vhpc** toolkit ?

Regards.

[2020-09-30 07:24] Medalibi commented on #347
Hi,  my quick fix it manually add the VGPU profile to the template VM, create a snapshot, and then run the ansible cloning script based on that clone. I could have used a powershell script to add it but the Ansible script was installing the driver and the Horizon agent. Happy to share my ansible script if you are interested. Apologies, I have been very busy as I was replicating the same solution o

[2020-09-30 09:29] Akasurde commented on #350
@harrymitchinson Thanks for suggesting this feature.

I would like to discuss this before implementing the following things -

1. We have to support the existing `tags` fact for backward compatability, so we need to add a new key for new fact gathered with category. What is good key name? I am thinking about `categories`, `tag_category`, `advance_tag` and `tag_categories` etc.
2. What happens when

[2020-09-30 09:58] Christian-Kolrep opened #413 "portgroup is empty if vmk is placed on a dv-portgroup"
https://github.com/ansible-collections/community.vmware/blob/10b9762577eb48e4d9ecbcaa51211be1ff728560/plugins/modules/vmware_vmkernel_info.py#L162

vSphere 6.5

ok: [Myhost] => {
    "msg": {
        "changed": false,
        "failed": false,
        "host_vmk_info": {
            "Myhost": [
                {
                    "device": "vmk0",
                    "dhcp": false,

[2020-09-30 11:45] Akasurde commented on #204
@adealdag @acalm @fortinetps Could you please verify if PR #401 resolves this issue? Thanks.

[2020-09-30 11:46] Akasurde commented on #88
@StratosSamouilidis @camrossi Could you please verify if PR #401 fixes the issue for you? Thanks,

[2020-09-30 11:57] acalm commented on #204
@Akasurde I don't have any testing environment running with dvswitches so I can't test the pr, however the code and tests added in #401 suggests this issue will be solved

[2020-09-30 12:20] #88 closed

[2020-09-30 12:48] #352 closed

[2020-09-30 19:22] mariolenz commented on #412
@andrejfernandes Could you please have a look at PR #414? I hope this PR will fix your issue.

[2020-09-30 20:59] andrejfernandes commented on #412
That looks good, thank you!

[2020-10-01 13:42] #412 closed

[2020-10-01 14:35] sathe06 opened #415 "vmware_* modules should allow for case insensitive name"
https://github.com/ansible/ansible/issues/53749

**ISSUE TYPE**
- Feature Idea

**Sample playbook**
`---
- name: vcenter
  hosts: localhost
  gather_facts: False
  vars:
    vm_name: localhost

  tasks:
  - name: Find the folder path(s)
    vmware_guest_find:
      hostname: "10.10.10.10"
      username: "xxxxxx"
      password: "xxxxxx"
      validate_certs: False
      name: "{{ vm_name }}"`

vm

[2020-10-01 14:42] sathe06 commented on #415
ansible --version
ansible 2.9.6

[2020-10-01 16:41] mariolenz commented on #412
@andrejfernandes fyi: ansible/ansible#72058

[2020-10-02 02:59] Akasurde commented on #415
Duplicate of #361

Thanks, @mariolenz

[2020-10-02 02:59] #415 closed

[2020-10-02 12:56] sathe06 commented on #361
Can someone please suggest any workaround for this issue, How to handle this in ansible 2.9.6

[2020-10-04 16:31] dglinder commented on #404
@Tomorrow9 or @Akasurde - if someone can point me to the rough code that `PutUsbScanCodes` resides, I might be able to add in a slight delay to see if that resolves my issue.

[2020-10-05 04:42] Akasurde commented on #404
@dglinder I think, there needs to be a delay between keys pressed and string send to VM. Like in this case, `ESC` and `vmlinuz` are colliding since there is no significant delay (inside VM, the screen is changing).

I am not quite sure how to fix this since the [`PutUsbScanCodes`](https://vdc-download.vmware.com/vmwb-repository/dcr-public/6b586ed2-655c-49d9-9029-bc416323cb22/fa0b429a-a695-4c11-b7d

[2020-10-05 06:32] Akasurde commented on #404
@dglinder Could you please try #418 and let me know if it works for you? Thanks.

[2020-10-05 14:35] Udayendu opened #419 "vmware_guest: No option to deploy a linux iso using kickstart"
##### SUMMARY
Currently there is no option to deploy a linux vm using **vmware_guest** module with iso and kickstart file.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- vmware_guest

##### ADDITIONAL INFORMATION
- vmware_guest module should take the kickstart file path and iso path to deploy the vm.
- Provided the kickstart file should be fully unattended. Else it may required some inte

[2020-10-05 15:29] mariolenz commented on #419
I don't think this is a good idea. The vmware_guest module is already far too complex to maintain imho. And anyway, not all Linux distributions use a kickstart file for unattended installations but some other solution. We'd have to implement _these_, too.

In order to achieve what you want to do, you could build a temporary ISO specific to the VM you want to install. In case you'd like to do this,

[2020-10-05 15:32] robconklinmd commented on #405
I'm having the same issue after installing ansible vmware.community.  Works fine with the version delivered with Ansible.   I think the change that broke this may be #400
 My play has no customization parameters but the exception is being thrown:
fatal: [dc01_stage_server]: FAILED! => {
    "changed": false,
    "invocation": {
        "module_args": {
            "annotation": null,
            "

[2020-10-05 18:44] #381 closed

[2020-10-06 05:01] Akasurde commented on #419
I totally agree with @mariolenz

1. There is no native VMware API to specify the Kickstart file while installing the operating system.
2. Adding new functionality in `vmware_guest` is not recommended, since it is already bloated with a bunch of features.
3. This can be achieved by using custom installation ISO with a kickstart file embedded inside them. For example, https://github.com/rembik/ansib

[2020-10-06 06:23] #408 closed

[2020-10-06 08:28] kimausloos commented on #394
Hi there,

Thanks for the ansible code, I tried it but it's giving me an error on execution:

[code]

[2020-10-06 10:28] DevFinGitGovSecChatOps opened #420 "vmware_content_deploy_ovf_template - host parameter requirement"
##### SUMMARY

`host` shouldn't be a required parameter.

The documentation of the `vmware_content_deploy_ovf_template` module states that `host` is a required parameter. `vmware_guest` module for example doesn't require this parameter when a cluster is specified.
The example of the documentation doesn't use the `host` parameter either.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_

[2020-10-06 19:15] vivekanand552 opened #421 "Playbook to add multiple VMware Portgroups on a DVswitch at one go"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-10-06 19:17] vivekanand552 commented on #421
hello does anybody have a single playbook that can create multiple portgroups on dvswitch using the vmware_dvs_portgroup module, i tried it but I am able to create only one portgroup at a time through the playbook

[2020-10-06 20:44] MallocArray commented on #421
You can use a loop in Ansible to create multiple portgroups by providing a list of portgroup names in the loop section or in a separate variable that is passed to loop

https://docs.ansible.com/ansible/latest/user_guide/playbooks_loops.html

[2020-10-06 20:57] MallocArray opened #423 "vmware_object_role_permission and vCenter/Global Permissions"
##### SUMMARY

The module vmware_object_role_permission does not appear to support assigning permissions at the vCenter level or as Global Permissions.  Using object_type HostSystem and specifying the vCenter name does not work.

I do not see an object_type that appears to reflect Global Permissions at all.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_object_role_permission
Version

[2020-10-06 21:04] #423 closed

[2020-10-06 21:05] MallocArray commented on #423
Using object_type of Folder and object_name of rootFolder assigns at the vCenter level, although that is not intuitive and could be explained better in the examples

    object_type: Folder
    object_name: rootFolder

[2020-10-06 21:07] dglinder commented on #404
Sorry for the late response @Akasurde - I concur that this PR seems to resolve my issue.  Thanks!

[2020-10-07 04:46] Akasurde commented on #421
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep

[2020-10-07 04:46] #421 closed

[2020-10-07 05:10] #404 closed

[2020-10-07 06:53] vivekanand552 commented on #421
Hello MallocArray,

Thank you so much for the help, can u kindly provide a working example of a vmware portgroup playbook with loops as its not working for me yet.

Regards
Vivekanand

[2020-10-07 10:38] ImranJMughal opened #424 "Feature: vmware_cluster_drs to configure addition options and DPM"
No option in community.vmware.vmware_cluster_drs to set Additonal Options or Power Management options

![image](https://user-images.githubusercontent.com/22365085/95320360-4a042d80-0891-11eb-9c74-6fb2df88e382.png)
![image](https://user-images.githubusercontent.com/22365085/95320383-4ffa0e80-0891-11eb-96e1-ae556aa168dc.png)

also cant see anything for predictive drs

![image](https://user-images.gi

[2020-10-07 10:45] Akasurde commented on #424
@mariolenz @sky-joker What do you think about this? Thanks.

[2020-10-07 10:46] Akasurde commented on #424
FYI - https://vdc-download.vmware.com/vmwb-repository/dcr-public/6b586ed2-655c-49d9-9029-bc416323cb22/fa0b429a-a695-4c11-b7d2-2cbc284049dc/doc/vim.cluster.DrsConfigInfo.html

[2020-10-07 11:22] ImranJMughal commented on #424
So VM Distribution is checked if the advanced setting is applied  'TryBalanceVmsPerHost': '1'

![image](https://user-images.githubusercontent.com/22365085/95324428-9b172000-0897-11eb-8227-bc22557b9853.png)
![image](https://user-images.githubusercontent.com/22365085/95324541-ca2d9180-0897-11eb-8532-6c79c202a037.png)

[2020-10-07 12:14] ImranJMughal commented on #424
community.vmware.vmware_cluster_drs:
       hostname: ""
       username: ""
       password: ""
       validate_certs: no
       datacenter_name: "testdc"
       cluster_name: "testcluster"
       enable_drs: yes
       drs_default_vm_behavior: fullyAutomated
       drs_enable_vm_behavior_overrides: yes
       drs_vmotion_rate: 3
advanced_settings:
         'TryBalanceVmsPerHost': '1'
         'M

[2020-10-07 16:38] mariolenz opened #426 "vmware_object_role_permission: Missing required parameters in examples"
##### SUMMARY
Examples missing required fields of hostname, username, and password, while other module examples include these.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
vmware_object_role_permission

##### ADDITIONAL INFORMATION
PR #422

[2020-10-07 17:56] scottd018 opened #428 "VMware Tanzu* Modules"
##### SUMMARY
New VMware community that is separate from Core for Tanzu modules.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- New Component

##### ADDITIONAL INFORMATION
We have an internal initiative for VMware Tanzu products that will drive us to either:

A) Using the URI module to make API calls to Tanzu SaaS services (e.g. Tanzu Mission Control)

-OR-

B) Develop new modules for th

[2020-10-07 19:53] mariolenz commented on #428
Sounds like an accident waiting to happen :-)=)

In my opinion, that would be way better.

Well, it depends on what you mean with "Tanzu". As far as I understand, this is a rather complex portfolio of products including CloudFoundry, CodeStream, the stuff VMware got when they took over Bitnami and other things (PKS -> TKGi).

When we're talking about VCF / vSphere with Tanzu (a.k.a Project Pacific

[2020-10-07 20:00] scottd018 commented on #428
You'd be shocked at how efficient I've gotten using `uri` in lieu of missing Ansible modules. :) . haha

100% agree there.  That's kinda the reason I was thinking that there needs to be a new collection for all Tanzu* products.  It doesn't make sense to put the Tanzu* (generally VMware's Kubernetes-specific portfolio of products) underneath this repo.

Is there a formal process to get a new Ansibl

[2020-10-07 20:47] mariolenz commented on #428
I'm not shocked that easily ;-) Nevertheless, "that way madness lies" imho.

I don't know. @Akasurde @goneri Is there a formal process to start a new community?

Well, you don't have to have your collection under ansible-collections. [Dell](https://github.com/dell/dellemc-openmanage-ansible-modules/tree/collections) and [CheckPoint](https://github.com/CheckPointSW/CheckPointAnsibleMgmtCollection)

[2020-10-07 21:03] usscarter opened #429 "with_path cannot be yes"
##### SUMMARY

When attempting to set with_path: yes, you get the following error:

[WARNING]:  * Failed to parse /home/user/ansiblevmware/inventories/production/filename.vmware.yml with
ansible_collections.community.vmware.plugins.inventory.vmware_vm_inventory plugin: Invalid empty/false group name provided:

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_vm_inventory.py

##### ANSIB

[2020-10-07 22:21] goneri commented on #428
Hi @scottd018,

The new vmware.vmware_rest modules are auto-generated from the API definition (Swagger 2.0 file). For now we focus on the vcenter end-points (vcenter.json).
Do you have an Swagger 2.0 or an OpenApi 3.0 JSON to document these Tanzu* end-points? It may be possible to auto-generate these modules too?

The tool that we use is here: https://github.com/ansible-collections/vmware_rest_cod

[2020-10-08 04:36] Udayendu commented on #419
@Akasurde  I will try this and let you know.

[2020-10-08 08:18] 6uest opened #430 "vmware_tag_manager only uses the folder's basename when assigning tags, which causes collisions"
##### SUMMARY

Using vmware_tag_manager to tag folders, the object_name parameter accepts only the folder's basename. When using a nested directory structure with the same name in vsphere, it is not possible to determine which specific folder should be tagged.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_tag_manager
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### O

[2020-10-08 09:19] Akasurde commented on #428
@scottd018 Thanks for providing this feature idea. I think we can create a separate collection from VMware Tanzu Product line since they cover different set of requirements and targeted users.

Let us know about OpenAPI JSON (if there are) and we can automagically generate modules.

Thanks.

[2020-10-08 09:38] Akasurde commented on #430
@6uest Thanks for reporting this issue. I will try to reproduce this and get back to you.

[2020-10-08 14:17] Akasurde commented on #429
@usscarter Thanks for reporting this. I am not able to reproduce this at my setup

[code]
Since you are using `paths`, can you check if there is some weird path or Unicode value in the path variable?

this line prints invalid group name -
https://github.com/ansible/ansible/blob/cf0cd4b50bbabc5b2f8c36c63fc7b064c94f2040/lib/ansible/inventory/data.py#L173

Also, can you enable `strict: True` in the a

[2020-10-08 14:44] usscarter commented on #429
So when running it with Strict: True I am left with a few things.

The first error that pops up is:

[WARNING]:  * Failed to parse /home/User/ansiblevmware/inventories/production/file.vmware.yml with
ansible_collections.community.vmware.plugins.inventory.vmware_vm_inventory plugin: Could not evaluate runtime.powerState == "poweredOn" as host filters - 'runtime' is undefined

If I comment out the f

[2020-10-08 15:07] usscarter commented on #429
I fiddled with it some more, and it seems like what i may be disliking is VAPP's that seem to exist in the vcenters I had tried until that point. I targeted a vCenter with no VAPP's and it worked fine.

[2020-10-08 15:25] usscarter commented on #429
I also am notcing an issue when I have my config like this, where the groups are comnig out with a prefix of "_" IE: '_security_dmz' when its creating groups.

Could it be something going on with the path.split?

[code]

[2020-10-08 17:48] wkessler82 opened #431 "Unable to create more than two levels of vm folders"
##### SUMMARY

Using vcenter_folder module, unable to create more two levels of folders before getting "parent folder does not exist" messages.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vcenter_folder
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

VMware vCenter 6.5

##### STEPS TO REPRODUCE

Playbook uses multiple calls to the vCenter via the vcente

[2020-10-08 19:43] MallocArray opened #433 "community.vmware.vmware_local_role_manager Description"
##### SUMMARY

When creating a Role in vCenter manually, there is a Description field that can be completed.  This Ansible module does not appear to have a Description parameter to match this functionality
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_local_role_manager

##### ADDITIONAL INFORMATION

Match functionality with HTML5 client

[code]

[2020-10-09 03:20] #426 closed

[2020-10-09 06:11] mariolenz commented on #428
@scottd018 @goneri @Akasurde
It' still a very early version (0.0.1) and it's YAML instead of JSON, but on [developer.vmware.com](https://developer.vmware.com/) I found a Swagger/Open API specification for [Tanzu Mission Control](https://vdc-download.vmware.com/vmwb-repository/dcr-public/0a86a270-a2c8-4881-8b15-2cb111d4d229/3e832f2b-4658-42cd-a457-605210b210fe/public-swagger_f3c6615f7.yaml).

Hope

[2020-10-09 07:44] Akasurde commented on #428
@mariolenz Great, thanks for providing this information. It will really help.

[2020-10-09 11:40] Perlovka opened #434 "Inventory plugin is extremely slow"
##### SUMMARY
It takes about 1.5min to get ~350 hosts from vCenter
Related issue: https://github.com/ansible/ansible/issues/56786

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.vmware.vmware_vm_inventory

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

Gentoo GNU/Linux

##### STEPS TO REPRODUCE

Plugin configuration:
[code]

##### EXPECTED RESULTS

[2020-10-09 16:37] mariolenz commented on #433
I think the module uses [vim.AuthorizationManager](https://vdc-repo.vmware.com/vmwb-repository/dcr-public/790263bc-bd30-48f1-af12-ed36055d718b/e5f17bfc-ecba-40bf-a04f-376bbb11e811/vim.AuthorizationManager.html) to add / update roles. But I don't see a way to set a role description through this. Maybe it's only possible through the REST API?

@goneri
Maybe it would be better to implement this in th

[2020-10-09 16:43] mariolenz commented on #431
Ansible 2.9.2 is pretty old... do you have this problem with recent versions (2.9.13, 2.10.0), too?

[2020-10-09 16:57] goneri commented on #433
@mariolenz I cannot find any REST end-point for these information. The best I found is https://vdc-download.vmware.com/vmwb-repository/dcr-public/423e512d-dda1-496f-9de3-851c28ca0814/0e3f6e0d-8d05-4f0c-887b-3d75d981bae5/VMware-vSphere-Automation-SDK-REST-6.7.0/docs/apidocs/structures/com/vmware/appliance/localaccounts/svc.info-structure.html .

[2020-10-09 17:09] sky-joker commented on #424
Sounds good.
I’ll check this implementation possible.

[2020-10-09 19:04] mariolenz opened #435 "DOCUMENTATION and EXAMPLES not 'r(raw)'"
##### SUMMARY
It looks like you want to have the DOCUMENTATION and EXAMPLES blocks of modules to be 'r(raw)' strings... I don't know why, but if you want to have it like this we should do this consistently.

##### ISSUE TYPE
- Documentation Report

[2020-10-09 19:55] MallocArray opened #436 "vmware_object_role_permission and default role names"
##### SUMMARY

Using vmware_object_role_permission and assigning the role "Read-only" as displayed in vCenter when viewing the list of roles results in a failure that the role is not found.
Looking at the Examples, I see that using ReadOnly is the proper syntax, but not intuitive at all, since that is not what the role is called.
I also tried using "Administrator" as the list of roles displays, bu

[2020-10-09 20:06] MallocArray opened #437 "Module to mange vCenter Global Permissions"
##### SUMMARY

There are existing modules for managing permissions at the vCenter and lower levels, but this module does not appear to support Global Permissions as seen in the vCenter HTML5 interface.  Using Code Capture in vCenter does not show any API requests for managing them, but online research has shown some Powershell modules that connect to the MOB of vCenter to add Global Permissions.
A

[2020-10-10 03:45] wkessler82 commented on #431
None of the hosts in our environment are newer than that. I can see about upgrading a lab tower on Monday, perhaps.

If the vcenter_folder module or the API(s) it uses are still the same, would the base ansible version really matter?

[2020-10-10 11:14] Akasurde commented on #431
I am not able to reproduce this -

[code]

[2020-10-10 14:06] wkessler82 commented on #431
None of the hosts in our environment are newer than that. I can see about upgrading a lab tower on Monday, perhaps.

If the vcenter_folder module or the API(s) it uses are still the same, would the base ansible version really matter?

Which version of Ansible and/or the module were you using, sir?

[2020-10-10 15:36] carceneaux commented on #373
I'm seeing the same behavior on `vmware_guest` as well. After upgrading from 6.7U3 to 7, my previously working playbooks are now erring out. The `vm_disks` variable will now only work if I specify a single entry.

I'll have to use the workaround provided by @jpgrall in the interim.

[code]

I'm running the latest version of pyvmomi and my ansible details are below.

![image](https://user-images.gi

[2020-10-10 17:48] carceneaux commented on #373
Here's the sample playbook I'm currently using to resolve the issue. I ended up not using the workaround provided by @jpgrall as it created additional SCSI Controllers on the VM that were not needed for my use case.

I actually feel this method is a bit cleaner and makes me doubt whether the bug was actually a bug vs how things should be done now...

[code]

Here's a sample of the `vm_disks` varia

[2020-10-11 09:56] Akasurde commented on #430
@6uest Could you please check if PR #439 works for you?

With this PR, we can specify `moid` for VMware object which is unique to the given object.

[code]

[2020-10-11 16:13] wkessler82 commented on #431
I created a virtual environment and installed Ansible and the VMware community modules latest versions and the folders were created as expected. Will get an update to our core servers on the schedule.

Thank you @Akasurde and @mariolenz.

[2020-10-11 16:13] #431 closed

[2020-10-12 02:23] Tomorrow9 commented on #419
module `iso_create` in `community.general` can also be used here to generate ISO file containing the kickstart file, then mount the generated ISO file in VM's CDROM using `vmware_guest` module. Thanks.

[2020-10-12 04:03] Akasurde commented on #419
@Tomorrow9 That's a good idea. Would it be possible to paste a small working example here? Thanks.

[2020-10-12 04:32] Akasurde commented on #435
resolved_by_pr #438

[2020-10-12 04:33] Akasurde commented on #434
@Perlovka Thanks for reporting this issue.

@dacrystal Would you like to provide your views on this? Thanks.

[2020-10-12 04:34] Akasurde commented on #430
resolved_by_pr #439

[2020-10-12 04:45] Akasurde commented on #433
@MallocArray VMware API for managing local role like [`AddAuthorizationRole`](https://vdc-repo.vmware.com/vmwb-repository/dcr-public/eba5419c-6272-4697-bd07-a328843c487e/f7bb0652-de93-4431-b874-82f11852e474/doc/vim.AuthorizationManager.html#addRole) and [`UpdateAuthorizationRole`](https://vdc-repo.vmware.com/vmwb-repository/dcr-public/eba5419c-6272-4697-bd07-a328843c487e/f7bb0652-de93-4431-b874-82

[2020-10-12 05:05] #435 closed

[2020-10-12 06:23] Tomorrow9 commented on #419
Sure, first you may already have a working kickstart file. then you can use "iso_create" module to generate an ISO file containing this kickstart file, while the volume identification is set to "OEMDRV". Transfer the generated "kickstart.iso" file to the datastore on ESXi host.

[code]

Then create VM with 2 CDROMS, the 1st one is OS installation ISO file, the 2nd one is generated kickstart ISO fi

[2020-10-12 06:36] 6uest commented on #430
@Akasurde Works great for me. Thank you.

[2020-10-12 16:37] ImranJMughal commented on #437
agree - we completely need this. Some permissions are required at a global permissions level such as Content libraries.

https://docs.vmware.com/en/VMware-vSphere/6.7/com.vmware.vsphere.vm_admin.doc/GUID-18F4B892-D685-4473-AC25-3195D68DFD90.html

[2020-10-12 16:54] dacrystal commented on #434
I have run it on a ~100vms vCenter using same plugin configuration and it didn't take that much:

[code]

@Perlovka I assume when you said 350 hosts, you also meant 350 guests(vms) of vCenter, right?

From your time, the process is waiting on I/O(blocking) for  **79.874s** while  the actually process time is only (**6.631s**). It seems there is a huge delay in getting the data from vCenter.

Would

[2020-10-12 17:30] MallocArray opened #440 "vmware_vm_vm_drs_rule with --check always shows "changed""
##### SUMMARY

When using the vmware_vm_vm_drs_rule module to manage VM/Host Rules for DRS, the module correctly will create/manage a rule and when running it in regular mode, it will show "changed" if something is changed, and will show "ok" if it already exists in the desired state.  Running the exact same playbook using ansible-playbook with the --check parameter, every entry will shows as "cha

[2020-10-13 06:53] Perlovka commented on #434
@dacrystal yes, 350 VMs, not ESXi hosts )

It looks like it makes query to vCenter for every VM, and because connection is slow, total time is so big.
Is there a way to get info about all VMs in one API call? Or VMWare API does not allowing this?
[code]

[2020-10-13 08:38] dacrystal commented on #434
From the number it seems your connection to vCenter is slow. You can see each **read** of `SSLSocket` takes **0.047s**.

I'm running a test over VPN (to a nearby Data Center):
[code]

The plugin is calling vCenter in one pyVmomi API call.

[code]

However there is seems to be rogue calls that triggered for each VM. Would you mind remove the following line in `vmware/plugins/inventory/vmware_vm_inv

[2020-10-13 08:48] Akasurde commented on #434
- Orphaned VM check is added for VMs which are not completely deleted.
- OK
- OK

[2020-10-13 09:14] dacrystal commented on #434
For that case, we can internally add `runtime.connectionState` to `properties` if not added and then check for `orphaned `:

[code]

[2020-10-13 11:59] theo-basty opened #442 "Unable to migrate storage and host using vmware_vmotion when VM on local datastore"
##### SUMMARY
I am unable to perform both Storage vMotion and host vMotion on VM stored on a local datastore.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.vmware.vmware_vmotion

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

target: vCenter 6.7

##### STEPS TO REPRODUCE

* Create a VM on an ESXi (Host-A) on a local datastore (DS-A)
* Execute th

[2020-10-13 13:42] dacrystal commented on #434
@Perlovka can you try PR #441.

[2020-10-13 16:56] keilr opened #443 "vmware_guest_network: removal of NIC fails"
##### SUMMARY
Removing NIC of a guest by using `state: absent` doesn't work.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest_network

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
RHEL 8

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Successfully delete NIC

##### ACTUAL RESULTS
Module failure
[code]

[2020-10-13 16:59] keilr commented on #378
@sky-joker @Akasurde: will this PR resolve #443 as well?

@mariolenz : please add #443 to the checklist

[2020-10-14 09:34] nre-ableton commented on #405
This issue is still present in ansible-base 2.10.2. Is there anyone looking into this issue?

[2020-10-14 18:51] mariolenz commented on #437
As far as I know, there is no public API to manage global permissions. I might be wrong, but at least I didn't find one.

I'm not sure how stable the MOB interface really is. You see, the SOAP and REST APIs are official and VMware has to keep them somewhat stable (and does, as far as I can see). I'm not at all sure if we should base modules on MOB.

Besides: Disabling MOB is a common hardening tas

[2020-10-14 18:53] MallocArray commented on #437
Disabling MOB on the ESXi hosts is common hardening, but I don't believe it is the same for the vCenter server itself.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Mario Lenz <notifications@github.com>
Sent: Wednesday, October 14, 2020 1:51:43 PM
To: ansible-collections/community.vmware <community.vmware@noreply.github.com>
Cc: MallocArray <joshpost@hotma

[2020-10-14 19:33] mariolenz commented on #437
Ah, yes... I think you're right there. It's disabling the MOB on _ESXi hosts_ for hardening, not on vCenter.

Please don't get me wrong, I think this is a valid feature request. But using the MOB always feels a bit hacky and quick'n'dirty to me.

If it turns out that using the vCenter MOB is the only way for us to configure global permissions, it might be useful to implement some MOB functions in

[2020-10-14 21:29] julie-blake-verizon opened #444 "vmware_resource_pool can't set custom shares"
##### SUMMARY

##### ISSUE TYPE
_vmware_resource_pool_info_ reports on the resource pool shares
   "cpu_allocation_shares": 1000, "cpu_allocation_shares_level": "custom"
But there seems to be no way to set this with _vmware_resource_pool_. You CAN specify the "cpu_allocation_shares_level" parameter using
cpu_shares: custom
but there seems to be no parameter available to specify "cpu_allocation_sha

[2020-10-15 07:55] Perlovka commented on #434
@dacrystal awesome, now it takes 8s!
Thanks!
[code]

[2020-10-15 18:36] mattpoel commented on #203
Looks like this already got developed by @ckotte back in 2018, but never got merged:

https://github.com/ansible/ansible/pull/47015

[2020-10-15 20:02] alongchamps commented on #203
Good find!

@ckotte, is it possible to get a new PR opened on to ansible-collections/community.vmware for this code?

[2020-10-16 01:29] bit-wrangler opened #445 "Allow using lookup plugins in vmware_vm_inventory"
##### SUMMARY
It'd be nice to be able to use the lookup plugin in vmware_vm_inventory, especially in conjunction with AWX/Tower's injected environment variables when using project type inventory sources

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_vm_inventory

##### ADDITIONAL INFORMATION
The use case is being able to define a project driven inventory source in AWX/Tower and then

[2020-10-16 10:49] ckotte commented on #203
I invested so much time in improving modules, but several of my PRs were not merged because some people in charge here just don't care. I also created a lot of new modules where I didn't even created PRs anymore. Anyway. I don't waste my time with this any longer.

[2020-10-16 11:55] koteswara-kelam opened #446 "vmware_deploy_ovf module sometimes give <urlopen error Tunnel connection failed: 503 Service Unavailable>"
##### SUMMARY

vmware_deploy_ovf module sometimes give <urlopen error Tunnel connection failed: 503 Service Unavailable>"

An exception occurred during task execution. To see the full traceback, use -vvv. The error was: raise URLError(err)
[WARNING]: Problem validating OVF import spec: The specified operating system identifier '' (id: 107) is not supported on the selected host. It will be mapped t

[2020-10-16 12:40] alongchamps commented on #437
I've looked over this recently with my team and it's another API endpoint (actually available via REST) that can be used to manage global permissions.

The path to use with the uri: module is:

`"https://{{ inventory_hostname|lower }}/invsvc/mob3/?moid=authorizationService&method=AuthorizationService.AddGlobalAccessControlList"`

where inventory_hostname is the vCenter.

Sample PowerShell code tha

[2020-10-19 07:39] ashura82 commented on #322
Hi,

I have the same issue. Not even with extra disk, it happens with extra network card too

[2020-10-19 13:16] alexandroleynikov commented on #222
Have a same problem.
Reason of this issue in different approach for managing "regular disks" and RDM disks on ESXI hosts
https://communities.vmware.com/thread/448907

for RDM disks should be used VirtualDiskRawDiskMappingVer1BackingInfo instead of VirtualDiskFlatVer2BackingInfo

This leads not only to inability to add new previously created RDM disk using filename options but lead to inability to

[2020-10-19 13:50] Akasurde commented on #115
Unable to reproduce with latest version collection -

[code]

Feel free to open new issue if problem persists.

[2020-10-19 13:50] #115 closed

[2020-10-19 14:16] sky-joker commented on #443
Thank you @keilr for reporting this issue.
I'll check if the same error occurs with my homelab.

[2020-10-19 14:58] juresaht2 commented on #173
In fact, the "host" parameter is required, but it is absent from the provided usage examples in the documentation.

[2020-10-19 15:02] alexandroleynikov commented on #222
this is temporary workaround:

@@ -84,6 +84,9 @@
      - '     - C(persistent) Changes are immediately and permanently written to the virtual disk. This is default.'
      - '     - C(independent_persistent) Same as persistent, but not affected by snapshots.'
      - '     - C(independent_nonpersistent) Changes to virtual disk are made to a redo log and discarded at power off, but not affected by

[2020-10-19 15:02] alexandroleynikov commented on #222
This is temporary workaround `@@ -84,6 +84,9 @@
      - '     - C(persistent) Changes are immediately and permanently written to the virtual disk. This is default.'
      - '     - C(independent_persistent) Same as persistent, but not affected by snapshots.'
      - '     - C(independent_nonpersistent) Changes to virtual disk are made to a redo log and discarded at power off, but not affected by s

[2020-10-19 15:06] alexandroleynikov commented on #222
This is temporary workaround https://pastebin.com/T2pQJkgJ

[2020-10-19 15:37] phospi commented on #361
Are you referring to "display name" as "name"? I just tested this with vCenter version 6.7. On vCenter side they made a change. VM display names are now case sensitive.

`my_favorite_vm_1` is a different than `My_favorite_vm_1`

I don't think that this request is useful any longer except it not meant for vm display names.

[2020-10-20 04:20] Akasurde commented on #419
For posterity - https://medium.com/@AbhijeetKasurde/automating-centos-7-installation-using-ansible-and-kickstart-483807a3774c

[2020-10-20 06:32] koteswara-kelam commented on #446
with govc, I am able to deploy same ova without errors but vmware_deploy_ovf module fails to deploy ova specifically when we call this module to deploy multiple vms in loop.

[2020-10-20 08:16] Akasurde commented on #440
@MallocArray Could you please review #450 and let me know if it solves your problem? Thanks.

[2020-10-20 08:17] Akasurde commented on #440
resolved_by_pr #450

[2020-10-20 08:33] koteswara-kelam commented on #169
I am also facing this issue and my ansible playbook is as below. Prefix 'u' like  networks: { u"bridged": u"{{ vmnetwork_name }}" } make any difference??

- name: Deploy virtual machine {{ vm_name }}
  vmware_deploy_ovf:
    hostname: "{{ ip }}"
    username: "{{ admin_username }}"
    password: "{{ admin_password }}"
    cluster: "{{ cluster_name }}"
    datacenter: "{{ datacenterName }}"
    dat

[2020-10-20 14:12] ImranJMughal opened #451 "Feature: community.vmware.vmware_cluster_ha missing options"
Hi

After pinging @Akasurde on slack , he's asked me to raise a fr.

So in HA I'm missing options for things like : -

Response for Host Isolation
Datastore with PDL
Datastore with APD

seems to be in the API https://vdc-download.vmware.com/vmwb-repository/dcr-public/b50dcbbf-051d-4204-a3e7-e1b618c1e384/538cf2ec-b34f-4bae-a332-3820ef9e7773/vim.cluster.VmComponentProtectionSettings.html

also, i ca

[2020-10-20 14:26] ImranJMughal opened #452 "community.vmware.vmware_cluster_ha host failover types (slot_based, reservation, failover)"
In the module you can set the admission control host failover capacity via either slot_based_admission_control, reservation_based_admission_control and failover_host_admission_control which are mutually exclusive.

The problem with this is that when setting a cluster based on settings defined in a declared state , we have to then use statements within the runbook to work out what type to use in th

[2020-10-20 15:43] mariolenz commented on #451
What ansible version are we talking about?

Actually, in 2.10 there is a [host_isolation_response](https://docs.ansible.com/ansible/latest/collections/community/vmware/vmware_cluster_ha_module.html) option.

Yes, I think these are really missing. I'd love to have a look at this but I don't have much time at the moment :-(

In ansible 2.10, there should be also an `advanced_settings` option for thi

[2020-10-20 16:55] ImranJMughal commented on #451
Hi -

so these three in particular I think. I think your correct "Response for Host Isolation" is there, confusion over this and "host failure response"

![image](https://user-images.githubusercontent.com/22365085/96618711-30390080-12fd-11eb-97eb-65dba12c27bf.png)

i'm on 2.9.13 so will upgrade to 2.10 and see if that helps ha advanced settings.

[2020-10-20 17:07] ImranJMughal opened #453 "community.vmware.vmware_cluster_info or facts not showing tag info in esxi/vc 7"
[code]

[code]
tags are empty, worked in 2.9 using  vmware_cluster_facts against the same cluster on the same esxi /vc version

![image](https://user-images.githubusercontent.com/22365085/96620217-100a4100-12ff-11eb-82af-e4e6d6df5d11.png)

[2020-10-20 19:03] mariolenz commented on #451
There's also a [ha_vm_monitoring](https://docs.ansible.com/ansible/latest/collections/community/vmware/vmware_cluster_ha_module.html) option in 2.10, I think this deals with `VM Monitoring`.

So, actually, I think we're down to missing options for `Datastore with PDL` and `Datastore with APD`.

Alternatively, you can try to stay on ansible 2.9.13 and install [the collection](https://galaxy.ansible

[2020-10-20 21:48] ImranJMughal commented on #453
vmware_cluster_facts in 2.9.14 works...doesnt work when using the latest community.vmware.vmware_cluster_facts

2.9.14
![image](https://user-images.githubusercontent.com/22365085/96647597-dc8edd00-1325-11eb-8c85-5aa1235eead4.png)

commmunity
![image](https://user-images.githubusercontent.com/22365085/96647792-3abbc000-1326-11eb-9282-c856314b5961.png)

[2020-10-20 22:10] ImranJMughal commented on #451
so i'm using 2.9.13 with the collection on top. advanced settings are there, apologies it was staring me in the face.

so yes i think its just PDL/APD settings I'm missing

thanks

[2020-10-21 04:39] Akasurde commented on #44
@ChavaliShr Could you please check if you are still facing this issue? Thanks.

[2020-10-21 05:29] Akasurde commented on #49
resolved_by_pr https://github.com/ansible/ansible/pull/72273

[2020-10-21 08:33] Akasurde commented on #49
For posterity - https://medium.com/@AbhijeetKasurde/ansible-using-ssl-certificates-while-automating-vmware-tasks-8ea86462fc0a

[2020-10-21 08:34] Akasurde commented on #50
Closing as there is no activity from the reporter.

[2020-10-21 08:34] #50 closed

[2020-10-21 08:39] Akasurde commented on #51
We have successful releases and nothing seems to be missing. Closing this for now - https://galaxy.ansible.com/community/vmware. Thanks.

[2020-10-21 08:39] #51 closed

[2020-10-21 08:49] Akasurde commented on #57
Not able to reproduce again with latest collection. Closing this for now. Thanks.

[2020-10-21 08:49] #57 closed

[2020-10-21 08:52] Akasurde commented on #71
@kobaltfox Could you please provide logs of `-vvvv` run? Thanks.

[2020-10-21 09:55] Akasurde commented on #104
@ChrisAHolland Thanks for reporting this issue. `vcd_` modules are deprecated and will be removed in near future. I don't see any value addition in refactoring things which are deprecated. I will mark this close for now. Thanks.

[2020-10-21 09:55] #104 closed

[2020-10-21 09:58] Akasurde commented on #142
@xenlo Are you working on this? Thanks.

[2020-10-21 10:02] Akasurde commented on #182
@dfoley84 Did you try this on 6.7 and onwards? Do you still get this error? Thanks.

[2020-10-21 10:27] ImranJMughal opened #454 "community.vmware.vmware_category "All Objects" category type does select any associated object types"
when using 'All objects' for tag category creation, no associated categories show as tagged in the gui. This is in vsphere 7

        associable_object_types:
          - All objects

![image](https://user-images.githubusercontent.com/22365085/96707830-49d75800-1390-11eb-8a58-70f2ecac7633.png)

![image](https://user-images.githubusercontent.com/22365085/96707900-5c519180-1390-11eb-96c0-b41b6b3653c

[2020-10-21 10:47] Akasurde commented on #454
@ImranJMughal Seems like vCenter HTML 5 bug to me.

[code]
<img width="893" alt="Screenshot 2020-10-21 at 16 14 02" src="https://user-images.githubusercontent.com/633765/96709859-e150a100-13b8-11eb-8202-2bae495ea87c.png">

[2020-10-21 11:56] Akasurde commented on #453
Related issue - https://github.com/vmware/vsphere-automation-sdk-python/issues/242

[2020-10-21 15:06] Akasurde commented on #453
resolved_by_pr https://github.com/ansible-collections/community.vmware/pull/455

[2020-10-21 15:30] ImranJMughal commented on #454
So i think in 7 were there is only html5 gui now, this doesn't show as all objects checked but when using it on applicable objects it does work. I think this will cause confusion and issues therefore i have instead selected all "associable_object_types". This has also thrown up some issues.

As some categories are grouped i think the relevant option in ansible should group also. For instance:-

Ne

[2020-10-21 16:28] #440 closed

[2020-10-22 10:07] gajendragaikwad opened #456 "vmware_guest_network nic add issue"
Hello Everyone,
I am trying to add network adaptor to vmware virtual machine, but while executing playbook i am getting below error.

Please help me to resolve this issue.

Note: we are process in to upgrade ansible & python version so please ignore warring message in log

[code]

[code]
[code]

[2020-10-22 12:11] Akasurde commented on #456
@sky-joker Could you please check this one? Thanks.

[2020-10-22 12:19] sky-joker commented on #443
@keilr
I checked if the same error occurs, the error didn't happen with the latest vmware_guest_network module.
Can you please try again using the following latest module?
https://github.com/ansible-collections/community.vmware/blob/main/plugins/modules/vmware_guest_network.py

[2020-10-22 13:37] sky-joker commented on #456
ummm...
I tried, but not the same error occurs in my homelab :(

**Test environment information**

* vCenter 6.7/7.0
* ESXi 6.7/ESXi

[code]

**Test Playbook**

[code]

[2020-10-22 14:04] sky-joker commented on #456
@gajendragaikwad
Hasn't the other error occurred on the vCenter task console when you tried the playbook?

[2020-10-22 14:09] goneri commented on #216
Closing since @xenlo PR https://github.com/ansible-collections/community.vmware/pull/400 fix the problem.

[2020-10-22 14:09] #216 closed

[2020-10-22 14:11] goneri commented on #167
The question has been answered by @sky-joker. I close the issue.

[2020-10-22 14:11] #167 closed

[2020-10-22 14:36] goneri commented on #41
The HTTP proxy support works fine (with some exceptions) but it does not support authentication.

[2020-10-22 14:48] xenlo commented on #142
Ooups nope, I completely forgot. But I think it was my subconscious that made me forget about it because I don't feel very comfortable with those VMware Access Control Roles…

[2020-10-22 14:57] richardlock commented on #81
Hi. Are there any plans to look at this issue?  Thanks.

[2020-10-22 15:07] gajendragaikwad commented on #456
The below error found in vcenter console
DVS 15 39 28 50 f1 09 b7 81-ca bc 6f 85 6d b1 25 46 cannot be found

[2020-10-22 16:05] MicLennartz opened #457 "Network name containing a slash '/' are not found anymore"
##### SUMMARY

Since I've updated Ansible from 2.9.6 to 2.10.2 today, the 'vmware_guest' module doesn't find network names containing a '/' anymore.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest
community.vmware.vmware_guest
(both)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS: MacOS 10.15.7
Python installed via homebrew
Ansible instal

[2020-10-22 17:13] mariolenz commented on #457
@MicLennartz
Would it be possible for you to test this with ansible 2.10.0 and 2.10.1, too? It would be interesting to see where this bug has been introduced.

@sky-joker
Can this have something to do with #380?

[2020-10-22 18:32] MicLennartz commented on #457
I've tested now all Ansible versions between 2.9.6 and 2.10.2:
- The problem occurs with 2.10.0 or
- with all 2.9.x versions, if I use the current release of 'community.vmware.vmware_guest'

[2020-10-22 18:47] mariolenz commented on #457
Thank you very much, I think this information will help us a lot :-)

[2020-10-22 18:48] #49 closed

[2020-10-22 19:08] TimHarmon opened #458 "vcenter_folder - parent folder not found"
##### SUMMARY

When executing a vcenter_folder task using a long folder name as parent folder "nested" "Deployment_Environments/DP_LAB_H"  ansible returns a parent folder does not exist.  I have tried including the datacenter and VM and changing Deployment Environments to Deployment_Environments".
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vcenter_folder

##### ANSIBLE VERSION

[code]

##

[2020-10-23 11:45] FF186 opened #459 "Refresh dynamic inventory"
##### SUMMARY
In my homelab I try to power on a VM which is turned off (`hw_power_status` == poweredOff) and do tasks on this machine. However, after the VM is powered on using the `vmware_guest` module, and the use of `wait_for` and `- meta: refresh_inventory` to get the newest information, the play fails and gives me `UNREACHABLE`.

I am not saying there's a problem with the dynamic inventory, b

[2020-10-23 12:06] sky-joker commented on #457
Thank you @MicLennartz for reporting this issue.
I found out the cause of this issue.
The cause of this issue is '/' wasn't URL decode.
I'll create a new PR to fix this issue.

@mariolenz

This https://github.com/ansible-collections/community.vmware/pull/380 didn't include implementation for fixing this issue.

[2020-10-23 13:26] sky-joker commented on #457
Hi @MicLennartz

I fixed this issue(https://github.com/ansible-collections/community.vmware/pull/460), so can you please try the fixed module_utils/vmware.py work in your environment, and please let me know the result?

[2020-10-23 18:10] mariolenz commented on #459
Since this doesn't look like a bug or a feature request, I'll close it. Please don't open issues in this project for general usage questions... but I'll give you some hints.

1) The `wait_for` (which is, by the way, not part of this collection) module can't resolve `my_vm`. Do you have a DNS record for `my_vm`?
2) You just create a VM, you don't install an OS; even if you have a correct DNS record

[2020-10-23 18:10] #459 closed

[2020-10-24 13:20] sky-joker commented on #457
resolved_by_pr https://github.com/ansible-collections/community.vmware/pull/460

[2020-10-24 13:57] Akasurde commented on #391
resolved_by_pr https://github.com/ansible/ansible/pull/72080

[2020-10-24 13:58] Akasurde commented on #391
@RobVerduijn I added a scenario guide for using the vmware_tools connection plugin. Hence, closing this issue.

[2020-10-24 13:58] #391 closed

[2020-10-24 14:38] sky-joker commented on #444
resolved_by_pr https://github.com/ansible-collections/community.vmware/pull/461

[2020-10-24 14:39] sky-joker commented on #444
Thank you @julie-blake-verizon for reporting this issue.
I fixed this issue(https://github.com/ansible-collections/community.vmware/pull/461), so can you please try the fixed module work in your environment, and please let me know the result?

[2020-10-24 18:40] #182 closed

[2020-10-26 15:04] FF186 commented on #459
Hi @mariolenz , I understand your comment 100%, but when I run tests using the Dynamic Inventory it fails.
I've tried this with the use of dynamic inventory, resulting in `unreachable`, and I've tried this adding the host in a static inventory.

Could this be something?..

[2020-10-26 18:04] narcis-serbanescu opened #462 "vmware_guest: Disk type not set to "Thick" or "Thick Provision Lazy Zeroed" when set to "None""
##### SUMMARY

When deploying a template which has a disk type defined of "Thin", the deployed VM disk type is set to "Thick Eager Zeroed" if playbook contains "type: eagerzeroedthick".

When deploying a template which has a disk type defined of "Thin", the deployed VM disk type is set to "Thin" if playbook contains "type: Thin".

BUT

When deploying a template which has a disk type defined of "Th

[2020-10-26 19:05] mariolenz commented on #459
Can you `ssh my_vm` successfully? From what you've told me, I'm pretty sure you can't... which means we're not talking about a problem with one of our modules.

Don't get me wrong, I'm not saying you don't have a valid question. But we're somewhat focused on fixing bugs and implementing new features, not about general usage issues.

[Serverfault](https://serverfault.com/questions/tagged/ansible) i

[2020-10-27 03:10] #430 closed

[2020-10-27 04:06] Akasurde commented on #419
I will close this as we can achieve this with various methods, for example above comment.

[2020-10-27 04:06] #419 closed

[2020-10-27 04:14] Akasurde commented on #457
@MicLennartz Could you please check if #460 works for you and let us know? Thanks.

[2020-10-27 04:30] Akasurde commented on #445
@bit-wrangler Thanks for requesting this feature request. Calling lookup plugin from the inventory plugin is disabled by the Ansible engine itself. Since there are some issues raised when enabling it.

You can workaround this by using https://github.com/ansible/ansible/pull/70970 and extra vars like

[code]

I will close this and track this under the request https://github.com/ansible/ansible/issu

[2020-10-27 04:30] #445 closed

[2020-10-27 06:14] FF186 commented on #459
I can ssh into it, I can run playbooks, but what I cannot do: Is to turn a server which is in state `poweredOFF` using the `community.vmware.vmware_vm_inventory`. If I only use the dynamic inventory the play fails, but if I but the machine and it's ip in a static inventory it works.

When I run the same playbook when the server is in state `poweredON` it works.

[2020-10-27 08:50] Akasurde commented on #458
@TimHarmon Thanks for reporting this issue. Could you please paste the full path of parent folder?

I am not able to reproduce this error for path like

[code]

and playbook

[code]

[2020-10-27 08:56] MicLennartz commented on #457
Hi @sky-joker ,
yes, your fixed file resolved the issues in my environment as well.
Thanks for the fast help!

[2020-10-27 08:56] #457 closed

[2020-10-27 12:50] sky-joker commented on #457
@MicLennartz
Thank you for taking the time out to check the module working.
I’m glad to be of your help :)

[2020-10-27 13:10] Perlovka commented on #434
If I add **with_tags: True** or **properties: customValue** then it becomes slow again :cry:

[2020-10-27 19:18] TimHarmon commented on #458
@Akasurde, the full path I am using is /CISG-NJLAB/vm/Deployment_Environments/DP_LAB_H_v455/

[2020-10-27 20:24] julie-blake-verizon commented on #444
So it seems to work fine to do the initial setting:

TASK [vsphere : Configuring vSphere cluster: Prod Linux - resource pools] ***************************************************************************
task path: /opt/ansible/roles/vsphere/tasks/resource_pools.yml:24
changed: [testserver] => (item=Configure resource pool Test Resource Pool 1) => {"ansible_loop_var": "resource_pool", "changed": tr

[2020-10-28 04:44] Akasurde commented on #458
@TimHarmon Are you using the latest version of vcenter_folder from the collection?

[code]

Also, I added a feature to identify parent folder using MoID - https://github.com/ansible-collections/community.vmware/pull/464

You can use the following playbook with PR #464

[code]

Let me know.

[2020-10-28 04:59] Akasurde commented on #454
resolved_by_pr #465

[2020-10-28 05:08] Akasurde commented on #456
@gajendragaikwad Are you using the latest version collection?

[code]

[2020-10-28 13:14] sky-joker commented on #444
@julie-blake-verizon

Thank you for taking the time out to check the module working.

Yes.
The vmware_resource_pool module hasn't a changing feature, to begin with.
This is a separate issue, so I'll create a new issue.

[2020-10-28 14:09] sky-joker opened #467 "vmware_resource_pool module doesn't change a resource pool config value"
##### SUMMARY

I tried to change the resource config value of the existing resource pool, couldn't change it.
The vmware_resource_pool module hasn't the changing feature.

##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME

plugins/modules/vmware_resource_pool.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

* vCenter 7.0
* pyvmomi 7.0
* latest collection

[2020-10-28 19:01] #444 closed

[2020-10-29 08:54] gajendragaikwad commented on #456
list option is not available

[ansible@pvdclcmm002 ~]$ ansible-galaxy --version
ansible-galaxy 2.9.7
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/opt/ikano/ansible/library']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /bin/ansible-galaxy
  python version = 2.7.5 (default, Sep 26 2019, 13:23:47) [GCC 4.8.5 201

[2020-10-29 09:28] Akasurde commented on #456
@gajendragaikwad Could you please upgrade to Ansible 2.9.14 or 2.10.1

[2020-10-29 12:16] danielmhi commented on #81
Another call for this to be looked at? The introduction of vmware_drs_group_member to add VMs to an already existing DRS Group would be great.

[2020-10-29 12:55] Akasurde commented on #187
resolved_by_pr https://github.com/ansible-collections/community.vmware/pull/461

[2020-10-29 12:55] #187 closed

[2020-10-29 14:29] menvol3 opened #468 "Vmware Feature request add Host USB device"
##### SUMMARY
Add option to the existing module community.vmware.vmware_guest_controller that will add usb devices avaliable for passthrough

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION
For example.
ESXI host have connected usb hub with mobile phones.
It could be useful to add all of them at once, or by name. It also applies to another USB devices.

[code]

[2020-10-29 17:34] BGmot commented on #199
Experiencing the same issue when trying to add one disk to multiple VMs in one play.

[2020-10-29 18:10] vMarkusK commented on #81
Sadly I am only able to test and verify. My Python skills are not on a level that makes the development possible.

[2020-10-30 07:32] Akasurde commented on #342
@Shweta217 Thanks for reporting this issue. You need to specify just the folder name for `vmware_content_deploy_template` since this module is based upon REST API.

[code]

Let me know if you need anything.

[2020-10-30 08:55] gajendragaikwad commented on #456
$ /opt/rh/rh-python38/root/usr/local/bin/ansible --version
ansible 2.10.1
  config file = ....
  configured module search path = ['/home/ansible/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /opt/rh/rh-python38/root/usr/local/lib/python3.8/site-packages/ansible
  executable location = /opt/rh/rh-python38/root/usr/local/bin/ansible
  python vers

[2020-10-30 09:23] gajendragaikwad commented on #456
when i pass the dportgroup name  in virtual machine creation, its working fine

[2020-10-30 10:06] Akasurde commented on #456
@gajendragaikwad So you mean, after upgrading the above playbook works for you, right?

[2020-10-30 12:18] slauger commented on #215
We also use the `customvalues` parameter for deploying instances on vSphere via ansible.

When we upgrade ansible 2.10 the `customvalues` parameter does no longer work - regardless if it's a new or existing VM. The customvalue does not arrive in the VM configuration. This breaks our entire CI pipeline, because we use the customvalues to inject a cloud-init configuration.

The same code works on `2

[2020-10-30 14:04] NiftyMist opened #470 "community.vmware.vmware_guest fails to clone template."
##### SUMMARY
When attempting to clone a linux VM from a template, the error: `Required field "summary" not provided (not @optional)` is reported.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`community.vmware.vmware_guest`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
vCenter 6.7.0 Build  15129973
VMware ESXi, 6.7.0, 13006603

##### STEPS TO REPRODUCE

[2020-10-30 16:54] gajendragaikwad commented on #456
No, even after upgrade its not working, you can see the log

[2020-10-30 17:30] adotka opened #471 "vmware_vm_inventory filters are not applied"
##### SUMMARY
filters are not applied when trying to list vmware inventory

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
plugin: vmware_vm_inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 8.2.2004 (Core)

##### STEPS TO REPRODUCE

1. Prepare 2 VMs: one running and one stopped
1. Create inventory config inventory_dynamic.vmwa

[2020-11-02 04:10] Akasurde commented on #471
@adotka Thanks for reporting this issue. Could you please let us know the collection version used? You can get it by doing

[code]

[2020-11-02 04:14] Akasurde commented on #470
@NiftyMist Thanks for reporting this issue. I see that you have not specified the `name` in the `networks`, is this a typo mistake? Let us know.

[2020-11-02 04:16] Akasurde commented on #468
@menvol3 Thanks for requesting feature request. I am marking this as `waiting_on_contributor` to welcome new contributor(s) to contribute to this.

[2020-11-02 07:27] adotka commented on #471
It was community.vmware 1.3.0
But I haven't done my homework right. I was on ansible 2.9.14 first of all.
Upgraded to 2.10, and now I am able to filter by summary.runtime.powerState.
Really sorry for wasting your time. Closing this.

[2020-11-02 07:27] #471 closed

[2020-11-02 07:35] Akasurde commented on #471
@adotka No issues. I wrote a scenario guide for filters in vmware_vm_inventory - https://docs.ansible.com/ansible/devel/scenario_guides/vmware_scenarios/vmware_inventory_filters.html

Thanks for reporting and do provide feedback.

[2020-11-02 07:50] MalfuncEddie opened #472 "Group membership of vm based on folder location"
##### SUMMARY

The ability to have an vmware inventory where the groups are based of the folder structure.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

plugins/inventory/vmware_vm_inventory.py

##### ADDITIONAL INFORMATION

Currently we are syncing the vmware inventory to awx but the group membership need to duplicated since there is no option to group by folder.

example
[code]
would r

[2020-11-02 08:03] Akasurde commented on #472
@MalfuncEddie Thanks for requesting this feature. Currently, there is an option `with_path` provides same behavior -

[code]

[code]

[2020-11-02 09:13] MalfuncEddie commented on #472
How did I not find this. I've been looking for this for 5 days.

[2020-11-02 09:13] #472 closed

[2020-11-02 11:55] Akasurde commented on #420
resolved_by_pr #473

[2020-11-02 11:58] Akasurde commented on #420
@DevFinGitGovSecChatOps Could you please check #473 and let me know if it works for you?

Resource Pool is required to deploy ovf. Module gathers this information either

1. by cluster name
2. by resource pool name (default is 'Resources')
3. by hostname, resource pool name
4. by hostname, cluster name and resource pool name

I marked all three as optional and added an appropriate check to notify

[2020-11-02 12:02] Akasurde commented on #390
@dfoley84 Thanks for reporting this issue. Could you please elaborate on a cluster with a resource pool? Each cluster creates a default resource pool called "Resources". Please see https://github.com/ansible-collections/community.vmware/issues/420#issuecomment-720428138

[2020-11-03 05:35] Akasurde commented on #173
Tracking here - https://github.com/ansible-collections/community.vmware/issues/397

[2020-11-03 05:35] #173 closed

[2020-11-03 06:55] #453 closed

[2020-11-03 09:49] Akasurde commented on #81
@vMarkusK @danielmhi @richardlock @alexsuppanz I added a new parameter called `operation` with values `set`, `add` and `remove` to manage existing members of DRS group. Please check and test #475, let me know your views. Thanks,

[2020-11-03 09:49] Akasurde commented on #81
resolved_by_pr #475

[2020-11-03 12:43] Akasurde commented on #397
@jdotsmith Thanks for reporting this feature. Currently, there is no API to get information about datastore cluster using vSphere Automation SDK (atleast nothing that I am aware of). I filed a feature request against vSphere Automation SDK - https://github.com/vmware/vsphere-automation-sdk-python/issues/245.

I will see we can specify cluster rather than host.

[2020-11-03 13:37] Akasurde commented on #397
@jdotsmith Could you please check if https://github.com/ansible-collections/community.vmware/pull/476 works for you and let me know? Thanks.

[2020-11-03 15:57] #390 closed

[2020-11-03 16:53] #467 closed

[2020-11-03 18:06] NiftyMist commented on #470
Yes, sorry I was missing network.  I just removed it because I wanted the VM to get a dhcp address.  It is possible to correct this error message?

[2020-11-03 22:46] julie-blake-verizon opened #479 "vmware_host_scanhba missing option to scan VMFS Volumes"
##### SUMMARY
The module vmware_host_scanhba seems to be missing the option to "Scan for new VMFS Volumes". When a host is added to an existing cluster, all the storage already has VMFS volumes, but using vmware_host_scanhba , even with  refresh_storage: True does not see the datastores.

From the vCenter GUI:
Rescan Storage
[check mark] Scan for new Storage Devices
Rescan all host bus adapters fo

[2020-11-04 03:51] TJ-Git commented on #247
Any news on this? Currently we have to specify the Datastore cluster in the play. Being able to specify a storage policy would be a much better option because we would be able to deploy to datastores based on VM tags.

[2020-11-04 08:03] Akasurde commented on #397
resolved_by_pr #476

[2020-11-04 10:05] nre-ableton commented on #405
Still broken as of Ansible 2.10.3. :crying_cat_face:

[2020-11-04 10:16] Akasurde commented on #405
@nre-ableton Where can I get mac template used?

[2020-11-04 11:20] Akasurde commented on #479
@julie-blake-verizon Thanks for reporting this issue. Could you please do the following command on the `esxi_hostname`

[code]

[2020-11-04 13:29] nre-ableton commented on #405
@Akasurde I am not aware of any templates on the web, but if you need this to reproduce, I could arrange to send you a VDMK. Note that you'll need Mac hardware for the ESXi host, see: https://www.nakivo.com/blog/run-mac-os-on-vmware-esxi/

[2020-11-04 20:07] mariolenz commented on #479
This is the core functionality of the module:

https://github.com/ansible-collections/community.vmware/blob/54403d612d2b604b11e7dd5464b7585a26dc1dae/plugins/modules/vmware_host_scanhba.py#L112

The [documentation](https://vdc-download.vmware.com/vmwb-repository/dcr-public/b50dcbbf-051d-4204-a3e7-e1b618c1e384/538cf2ec-b34f-4bae-a332-3820ef9e7773/vim.host.StorageSystem.html#rescanAllHba) isn't clear

[2020-11-04 22:23] julie-blake-verizon commented on #479
It isn't working no matter how long I wait. I commented out the second part and just waited, and it didn't come up after 10 minutes.
If I look in the vCenter Recent Tasks display during the ansible code run, it shows a task running "Rescan all HBAs", but no "Rescan VMFS" task ever starts.

[2020-11-05 13:27] vonpelz opened #481 "vmware_guest always performs OS customization when networks is defined"
### SUMMARY
OS customization is attempted always when name parameter in networks is defined.

This was reported in previous repo:
https://github.com/ansible/ansible/issues/65910

I didn't find this issue reported here.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ansible client: Debian 10

#####

[2020-11-05 13:31] FF186 commented on #262
Hi @Akasurde

Why isn't it possible to use `guest.` in the `hostnames:` section?

[code]

**RESULT:**

[code]

[2020-11-05 19:32] JoschuaA4 commented on #428
@Akasurde @mariolenz @goneri @scottd018
I've found the API to the K8S deployment via Tanzu
https://developer.vmware.com/docs/vsphere-automation/latest/vcenter/api/vcenter/namespace-management/clusters/clusteractionenable/post/

[2020-11-05 20:03] smatterchew opened #483 "vmware_vm_inventory fails when a VM is in an improper state"
##### SUMMARY

Inventory fails when a VM is being created or deleted during inventory collection.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_vm_inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat EL 7.8
cat collections/requirements.yml
---
collections:
  - name: community.vmware
  - name: azure.azcollection
...

##### STE

[2020-11-06 06:34] #350 closed

[2020-11-06 08:19] Akasurde commented on #395
@solohan83 Can you please update?

[2020-11-06 08:27] Akasurde commented on #394
@sky-joker Could you please address the above-mentioned issue? Thanks.

[2020-11-06 08:28] #434 closed

[2020-11-06 08:28] Akasurde commented on #303
Closing as per the above.

[2020-11-06 08:28] #303 closed

[2020-11-06 09:15] FF186 commented on #459
@mariolenz , what's the difference between the `vmware_vm_inventory` and `community.vmware.vmware_vm_inventory` plugins?
Because I find  `community.vmware.vmware_vm_inventory` to be very flexible, but also unstable...

ping `my_host+config.uuid` works for `vmware_vm_inventory`, but not `community.vmware.vmware_vm_inventory`.

[2020-11-06 09:51] FF186 commented on #459
One last question @mariolenz, if you don't mind helping a useless kid.

I want to be able to refer to my VM, using the `vm_name` in `host_vars/` definition, but I want the `inventory_hostname` or `fqdn` to be `vm_name + my_domain`

[2020-11-06 10:12] zopar commented on #44
I have exactly the same problem.
If I check on configuration options on the vm settings  I do not find any customization. Ansible do not give any error
I checked the vm and open-vm-tools correctly create the configuration file for the nic but without any ip dns etc.

[2020-11-06 11:46] vonpelz commented on #481
Current workaround is to set portgroup in separate step after cloning from template.

[2020-11-06 15:24] kpatelsp opened #485 "community.vmware.vmware_guest_file_operation: Fetch throw error "msg": "local file write exception : 'NoneType' object has no attribute 'read'","
~~Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)~~

##### SUMMARY
I am using community.vmware.vmware_guest_file_operation: fetch option getting error

[code]

I already change vmware_guest_file_operation.py line 355 to as per
Line 341 hostname = self.module.params['hostname']
Line 350-352

[code]

Still getting same error
I found old solution that

[2020-11-06 15:26] kpatelsp commented on #485
I already change vmware_guest_file_operation.py line 351 to
            url = fileTransferInfo.url
            url = url.replace("*", self.params['hostname'])
            resp, info = urls.fetch_url(self.module, url, method="GET")
Still getting same error
msg": "local file write exception : 'NoneType' object has no attribute 'read'",

[2020-11-07 13:21] sky-joker commented on #485
Thank you @kpatelsp for reporting this issue.

Haven't a problem of connection reachable to an ESXi host from Ansible host?
The vmware_guest_file_operation module connects to ESXi when a file fetches from a virtual machine.
For example, haven't the ping packet doesn't reach ESXi from Ansible host or ESXi hostname doesn't resolve?

[2020-11-08 18:42] mariolenz commented on #451
Could you please have a look at PR #477? This should implement the PDL/APD settings you're missing.

[2020-11-08 19:16] mariolenz commented on #405
This looks like a message from vCenter that you are trying to do guest OS customization which isn't supported for this specific OS. But you're not, at least I don't see any explicit guest OS customization in your task.

@Akasurde I think it's quite possible that #481 is the root cause.

[2020-11-08 19:21] mariolenz commented on #481
Thank you for opening this issue and letting us know about it. This might be the root cause for another issue (#405) that's still open.

[2020-11-09 05:08] #454 closed

[2020-11-09 07:04] Akasurde commented on #485
@kpatelsp Please use the issue template. It helps to gather information about the issue. A simple one-liner in the issue is not going to take us anywhere.

[2020-11-09 08:10] nre-ableton commented on #405
@mariolenz Good catch! I did an experiment and removing the `networks` section from the above task lets me deploy Mac nodes successfully. I think it's fair that this is the root cause of the problem, so I will close this issue in favor of https://github.com/ansible-collections/community.vmware/issues/481.

[2020-11-09 08:10] #405 closed

[2020-11-09 08:11] nre-ableton commented on #481
I'm also experiencing this issue, but weirdly only with Mac hosts.

[2020-11-09 08:27] NathanDotTo opened #487 "pyVim import fails on macOS because of capital 'V'"
##### SUMMARY

As illustrated below, the pyvim module is imported with "pyVim", using a capital 'V'. On a non case sensitive file system, such as macOS when installed that way, this fails, as the module can only be installed in site-packages as "pyvim".

On a typical Linux install, say Ubuntu, there are two modules installed, "pyvim" and "pyVim", so this import works as expected.

[code]

##### IS

[2020-11-09 08:35] gajendragaikwad commented on #456
no feedback since log time. closing without solution :( :(

[2020-11-09 08:39] Akasurde commented on #487
@NathanDotTo Thanks for reporting this issue. Could you please check if `PyVmomi` is installed on `localhost` mentioned in the playbook. I am using macOS and not able to reproduce this error =

[code]

[2020-11-09 08:42] Akasurde commented on #456
@gajendragaikwad Please provide appropriate details. We are here to help. We don't have access to your environment so you need to debug a little bit on your side as well. Please do not close the issue with negative comments.

[2020-11-09 08:47] Akasurde commented on #456
@gajendragaikwad Could you please run this playbook and tell us the output?

[code]

Also, please stop by the `#ansible-vmware` channel on `irc.freenode.net`.

[2020-11-09 08:56] Akasurde commented on #456
@gajendragaikwad Could you please upgrade to collection version 1.3.0 since there is a fix added https://github.com/ansible-collections/community.vmware/pull/401?

[2020-11-09 08:59] NathanDotTo commented on #487
If your macOS has been installed with a case-sensitive file system, then you will see both “pyvim” and “pyVim” in site-packages.

If the file system is NOT case sensitive, you will only see “pyvim”, and you will not be able to create a “pyVim” directory.

% which python3
/usr/local/homebrew/bin/python3
% python3 test.py
% more test.py
from pyvim import connect
% vi test.py
% python3 test.py
Traceb

[2020-11-09 09:06] gajendragaikwad commented on #456
Hello Abhijeet,

Thank you for reply.
I will upgrade the collection and re run the same playbook.

[2020-11-09 09:22] Akasurde commented on #487
Ok. Mine is `APFS` so it is case-insensitive.

[code]

btw, I see [pyvim-3.0.2](https://pypi.org/project/pyvim/) package in your output which is different package from Pyvmomi.

[2020-11-09 09:23] Akasurde commented on #487
@goneri @Tomorrow9 @mariolenz @sky-joker What do you think about this?

[2020-11-09 09:32] NathanDotTo commented on #487
I also have:

% diskutil info / | grep File
   File System Personality:   APFS
   FileVault:                 Yes

APFS is not case sensitive by default. See:

https://support.apple.com/en-gb/guide/disk-utility/dsku19ed921c/mac

The reason NOT to use case sensitive file systems for macOS is that, historically, the macOS file system has not been case sensitive, so software that was written in a way

[2020-11-09 10:49] gajendragaikwad commented on #456
Hello Abhijeet,

After upgrade i have not received any error but network card is not getting attached

---
- name: add nic
  hosts: localhost
  connection: local
  tasks:
  - name: Add nic2 on vm
    community.vmware.vmware_guest_network:
      hostname: "{{ vcenter_hostname }}"
      username: "{{ vcenter_username }}"
      password: "{{ vcenter_password }}"
      datacenter: "10"
      cluster:

[2020-11-09 11:09] Akasurde commented on #456
What is the output of `nic_attch`

[2020-11-09 11:19] gajendragaikwad commented on #456
# note i have changed the dvportgroup name and switch name
ok: [localhost] => {
    "nic_attch": {
        "changed": false,
        "deprecations": [
            {
                "collection_name": "community.vmware",
                "msg": "The old way of configuring interfaces by supplying an arbitrary list will be removed, loops should be used to handle multiple interfaces",
                "

[2020-11-09 11:42] Akasurde commented on #456
@gajendragaikwad Could you please try -

[code]

I am surprised to see that providing a list of networks is deprecated in favor of individual network via https://github.com/ansible-collections/community.vmware/pull/29.

[2020-11-09 12:27] gajendragaikwad commented on #456
its printing list of  attached network:

{
	"changed": false,
	"network_info": [
		{
			"allow_guest_ctl": true,
			"connected": true,
			"device_type": "vmxnet3",
			"label": "Network adapter 1",
			"mac_address": "00:50:56:a8:82:7f",
			"network_name": "dvPortGroup1",
			"start_connected": true,
			"switch": "A1",
			"unit_number": 7,
			"wake_onlan": true
		},
		{
			"allow_guest_ctl": true,

[2020-11-09 12:29] sky-joker commented on #487
@Akasurde

My MacBook doesn't occur the same error too.

[code]

[code]

[2020-11-09 12:43] NathanDotTo commented on #487
There is a lot of discussion about the history of case sensitivity for macOS. You can Google for “macos case sentitivity". This is a typical explanation:

https://www.quora.com/Why-does-OS-X-choose-to-have-a-case-insensitive-file-system-instead-of-a-case-sensitive-one

[2020-11-09 12:48] Akasurde commented on #487
The question is what to do now? Do we change imports or do something else to solve this problem?

[2020-11-09 12:50] NathanDotTo commented on #487
Also see:

https://issues.apache.org/jira/browse/MODPYTHON-230

[2020-11-09 12:53] NathanDotTo commented on #487
It seems that a lower case import will work on both Linux and macOS, and Windows also I expect.

If you look at the install on Linux, you will see that both forms are used, such that there is an all lower-case pyvim directory created, and a mixed-case directory.

[2020-11-09 13:02] Akasurde commented on #470
Can you paste the output after removing `name` and re-runing the same playbook? Thanks.

[2020-11-09 13:05] mariolenz commented on #487
I'm on Linux and it doesn't work:

[code]

And I don't see an all lower-case directory, either:

[code]

[2020-11-09 13:09] NathanDotTo commented on #487
How did you install?

My venv is like this:

#!/bin/bash
python3 -m venv ./venv
. ./venv/bin/activate
python3 -m pip install --upgrade pip
pip3 install wheel
pip3 install -r requirements.txt
ansible-galaxy collection install community.vmware

requirements.txt:

wheel>=0.35.1
pyvim>=3.0.2
pyvmomi==7.0
ansible>=2.10.3

[2020-11-09 13:27] mariolenz commented on #487
RPM from EPEL: [python2-pyvmomi-6.7.3-4.el7.noarch.rpm](https://koji.fedoraproject.org/koji/rpminfo?rpmID=19670257)

Btw: Where did you get the requirement on pyvim>=3.0.2? py**V**im is part of [pyvmomi](https://pypi.org/project/pyvmomi/), but py**v**im [is somethig completely different](https://pypi.org/project/pyvim/).

[2020-11-09 13:45] NathanDotTo commented on #487
That observation about pyvim not being the same thing as pyVomi’s pyVim helped :-)

I now have requirements.txt as:

wheel>=0.35.1
pyvmomi==7.0
ansible>=2.10.3

Which gives us:

ls venv/lib/python3.9/site-packages/py*
...
venv/lib/python3.9/site-packages/pyVim:
__init__.py	__pycache__	connect.py	sso.py		task.py

venv/lib/python3.9/site-packages/pyVmomi:
Cache.py			Iso8601.py			SmsObjects.py			__in

[2020-11-09 13:46] #487 closed

[2020-11-09 13:47] NathanDotTo commented on #487
See the fixed requirements.txt. The pyVim package is installed from pyVmomi, and should not be installed separately.

[2020-11-09 13:51] Akasurde commented on #487
@NathanDotTo Thanks. I also suggested in this https://github.com/ansible-collections/community.vmware/issues/487#issuecomment-723883638

[2020-11-09 13:54] NathanDotTo commented on #487
You did, and I failed to understand the point you made when I read that. Apologies.

[2020-11-09 13:55] sky-joker commented on #487
This issue reproduced by the following procedure on my MacBook.

[code]

The problem seems to occur if pyvim is installed before pyvmomi.
The following procedure isn't occur the error.

[code]

[2020-11-09 14:01] NiftyMist commented on #470
Output after removing the name parameter.
[code]

[2020-11-09 14:02] sky-joker commented on #487
FYI

This issue reproduced by the following procedure on my MacBook.

[code]

The problem seems to occur if pyvim is installed before pyvmomi.
The following procedure isn't occur the error.

[code]

Instead, pyvim doesn't work.

[2020-11-09 14:25] kpatelsp commented on #485
I did the open issues with the template but Bot closed it #72521.
I am able to create/delete the directory that works. Only Copy and Fetch fail.
I am able to ping my ESXi host from my ansible
My VSphere version 6.7.0.40000
Esxi Version 6.7.0, 15160138
When it connects to Esxi what account is used to connect.
Thanks

[2020-11-09 16:18] sky-joker commented on #485
Connect to ESXi doesn't use a user.
When a file fetches, use a generated temporary URL(include temp token) from vCenter.
So the module connects to ESXi where the VM exists using a temporary URL.

**Temporary URL example**

[code]

So the below error happens a lot when the module can't connect to ESXi.

[code]

[2020-11-09 18:23] mariolenz commented on #487
@Akasurde

Give credit where credit is due: Yes, you've been the first one to suggest this. Actually, I think you've been the only one to suggest this. I wouldn't have stumbled upon this myself, I just repeated your idea. I'll update my comment accordingly.

[2020-11-09 22:03] tchellomello opened #488 "Exporting VMWARE_PORT in Ansible Tower/AWX requires an integer cast"
##### SUMMARY
Exporting `VMWARE_PORT` in Ansible Tower/AWX requires an integer cast

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.vmware.plugins.inventory.vmware_vm_inventory

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

RHEL 7

##### STEPS TO REPRODUCE
1. Running AWX or Ansible Tower, configure the `VMWARE_PORT` to a custom port

[code]

2. Syncing the inventory

[2020-11-10 13:27] Akasurde commented on #483
@smatterchew Thanks for reporting this issue. Could you please try - https://github.com/ansible-collections/community.vmware/pull/441 and let us know if it works for you?

Thanks.

[2020-11-10 17:53] rmx-it commented on #373
Hi,
even when splitting up the tasks in vmware_guest and vmware_guest_disk it fails when using more than four disks.
The same tasks against VMWare 6.7 is working fine.
So its not a viable workaround and needs a solution.
I'm using the latest community.vmware, PyVmomi and SDK btw.

[2020-11-10 18:53] danielmhi commented on #81
@Akasurde will test when i can, thx

[2020-11-10 21:09] mariolenz commented on #451
@ImranJMughal

Sorry, PR #477 has been a bit of a mess. To begin with, there were a couple of problems with the CI pipeline that took some time to fix. Then I accidentally pushed broken integration tests. I fixed this, but after PR #448 has been merged there was a merge conflict. Well, I fixed that but in the meantime PR #478 was merged which resulted in _another_ merge conflict. Fixing this resul

[2020-11-10 21:59] julie-blake-verizon opened #490 "Need storage drs enhancements"
##### SUMMARY
We can define a very basic Datastore cluster using community.vmware.vmware_datastore_cluster, but we need some way to set the full Datastore Cluster configuration rules.
From the vCenter GUI:
- Configuration > VM Overrides
- Configuration > Rules

It would also be good if we could get the full functionality in community.vmware.vmware_datastore_cluster for
Service > Storage DRS
- Spac

[2020-11-11 05:22] Akasurde commented on #490
@julie-blake-verizon Thanks for requesting this feature. I agree with you, just like `vmware_cluster` will keep `vmware_datastore_cluster` standalone and add additional functionalities as separate modules. Would you be interested in starting this works? Let us know. Thanks.

[2020-11-11 09:35] kaidoki commented on #61
Any updates for this issue? The problem still exists with many Windows modules.

[2020-11-11 12:16] #488 closed

[2020-11-11 12:51] Akasurde commented on #485
@kpatelsp Can you please make the following change and let us know the result?

[code]

I am able to reproduce this kind of error when I specify a invalid file name.

[code]

Error looks like this -

[code]

[2020-11-11 14:03] smatterchew commented on #483
@Akasurde This looks good.  I'm unable to repro the failure with these changes.  Thank you for your quick response.

[2020-11-11 14:06] Akasurde commented on #483
Good. Thanks for testing and reporting back. Should I go ahead and close this?

[2020-11-11 15:35] smatterchew commented on #483
Yes, with my compliments.

[2020-11-11 15:35] #483 closed

[2020-11-11 15:45] dmelha opened #492 "vmware_resource_pool: cluster_name should not be required"
##### SUMMARY
when creating a resource pool using module **vmware_resource_pool** it should _not_ be required to specify **cluster** when instead an esxi-host is specified (e.g. `esxi_hostname: foobarhost` ) - this problem was part of this issue here but was not resolved - see: https://github.com/ansible/ansible/issues/38300#issuecomment-428048898

##### ISSUE TYPE
- Bug Report

##### COMPONENT NA

[2020-11-11 15:52] kpatelsp commented on #485
Akasurde
Add those line in vmware_guest_file_operation.py
`Error:
<localhost> ESTABLISH LOCAL CONNECTION FOR USER: root
<localhost> EXEC /bin/sh -c 'echo ~root && sleep 0'
<localhost> EXEC /bin/sh -c '( umask 77 && mkdir -p "` echo /root/.ansible/tmp `"&& mkdir "` echo /root/.ansible/tmp/ansible-tmp-1605109618.4800053-154341-15475861582465 `" && echo ansible-tmp-1605109618.4800053-154341-154758615

[2020-11-11 22:40] markuszeiter commented on #161
what is the current state here and when could we expect this in a new release? Thx already for a short headsup.

[2020-11-11 22:57] markuszeiter opened #493 "Configuring static routes ESXi host"
##### SUMMARY
Add feature to configure static routes on ESXi host according to VMware KB https://kb.vmware.com/s/article/2001426:
- add: esxcli network ip route ipv4 add --gateway 192.168.0.1 --network 192.168.100.0/24
- remove: esxcli network ip route ipv4 remove -n 192.168.100.0/24 -g 192.168.0.1
- gather routes: esxcli network ip route ipv4 list

##### ISSUE TYPE
- Feature Idea

##### COMPONENT

[2020-11-12 04:09] Akasurde commented on #483
Thanks.

[2020-11-12 04:17] Akasurde commented on #485
@kpatelsp

How about this -

[code]

[2020-11-12 04:25] Akasurde commented on #161
@markuszeiter @sbraz @how2vm @sethbeauchamp We need help here from the community. Please see the above mentioned PR and raise a new PR in this repo. We would be more than happy to review and merge it. Thanks.

[2020-11-12 04:27] Akasurde commented on #161
@mariolenz @sky-joker @gundalow ^^^

[2020-11-12 04:33] Akasurde commented on #493
@markuszeiter Thanks for requesting this feature. Currently, the user can execute `esxcli` as mentioned in https://medium.com/@AbhijeetKasurde/ansible-automating-esxcli-using-shell-module-6f691a551bca.

tl;dr
1. Enable SSH service in the given ESXi using `vmware_host_service_manager`
2. Add the given ESXi in Ansible Static inventory file
[code]
3.

[code]

I totally agree that this is a short term

[2020-11-12 04:37] Akasurde commented on #488
resolved_by_pr #489

[2020-11-12 05:18] Akasurde commented on #479
@julie-blake-verizon ^^^

[2020-11-12 05:19] Akasurde commented on #479
Now, there is a module to gather information about the SCSI disk attached to the given ESXi - https://github.com/ansible-collections/community.vmware/blob/main/plugins/modules/vmware_host_iscsi_info.py.

[2020-11-12 05:38] Akasurde commented on #492
@dmelha Thanks for reporting this issue. `resource_pool` is associated with the cluster and not with esxi (correct me if I am wrong). So it makes sense to specify the cluster name.

Also, while creating a new resource pool, we need to specify the parent resource pool under which new resource pool will be created. To get the value of the parent resource pool, cluster is required value.

We can add

[2020-11-12 05:42] Akasurde commented on #481
@Tomorrow9 Could you please take a look into this? Thanks.

[2020-11-12 05:51] Akasurde commented on #458
@TimHarmon Could you please run the following playbook and let me know the output?

[code]

[2020-11-12 06:40] amitbhadra opened #494 "vmware guest doesn't set the "annotation" text for a VM already created"
##### SUMMARY
I'm trying to set the annotation text on a VM that has already been created. The annotation must be created after the VM is up because I'm extracting some data from the VM and then setting the annotation based on that.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7.7

####

[2020-11-12 06:54] markuszeiter commented on #493
@Akasurde thank you very much for your reply. I will try it definetly. I am new here, what do you mean with PR and how to do it?

[2020-11-12 07:09] TimHarmon commented on #458
will do as soon as I can.

On Wed, Nov 11, 2020 at 9:52 PM Abhijeet Kasurde <notifications@github.com>
wrote:

[2020-11-12 08:43] dmelha commented on #492
I'm working with multiple vcenters/datacenters/esxi hosts, that are not organized in clusters but having separate resource_pools defined per host. vmware does in no way require a cluster to be defined for a resourcepool to be created on an esxi host.

while i don't know the details of the vmware API(s) + pyvmomi (yet), looking at ***govc/govmomi*** maybe helps, as govc can create a resource_pool o

[2020-11-12 08:54] jakubmuransky commented on #373
Hi,
same problem here VMWare 7.0.1. But I can only create/clone from template VM with 3disks

[2020-11-12 09:02] Akasurde commented on #493
@markuszeiter Welcome to the Ansible VMware community. PR means 'GitHub Pull Request'. You can create a new module as per requirement and submit a pull request here.

Please find the documentation for Ansible Development -
1. [Ansible development environment](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_general.html#environment-setup)
2. [VMware module development guideline

[2020-11-12 09:22] Akasurde commented on #492
@dmelha Thanks for providing information.

I tried -

[code]

Where 10.65.201.106 is esxi. Do you know what is wrong here?

[2020-11-12 09:56] dmelha commented on #492
@Akasurde I can only guess that the parent folder(?) (maybe of type vim.ComputeResource) named "Resources" is missing on that host!?
On my vmware infra some resourcepools are always  manually created on the hosts via web-vsphere-client. only afterwards I interact via govc +pyvmomi with vcenters & hosts.

[2020-11-12 11:18] Akasurde commented on #494
@amitbhadra Thanks for reporting this. Please use `state` as `present` while re-configuring existing stuff. Since `poweredon` state follows a different path in the module code and just power on the given machine.

[code]

[code]

<img width="336" alt="Screenshot 2020-11-12 at 16 48 01" src="https://user-images.githubusercontent.com/633765/98933593-dd6ef500-2506-11eb-89a4-a1d93321ac18.png">

[2020-11-12 11:29] ckotte commented on #161
I will take care of it and create a new PR. Corona and the new lockdown changed my plans. At least someone is lucky...

[2020-11-12 11:44] Akasurde commented on #161
@ckotte You are always welcome.

[2020-11-12 15:00] kpatelsp commented on #485
New Error:
  "msg": "Failed to fetch file : Request failed: <urlopen error [Errno 0] Error>"

[2020-11-12 17:14] #451 closed

[2020-11-12 20:30] mariolenz commented on #492
@Akasurde

Nope, a [ResourcePool](https://vdc-download.vmware.com/vmwb-repository/dcr-public/b50dcbbf-051d-4204-a3e7-e1b618c1e384/538cf2ec-b34f-4bae-a332-3820ef9e7773/vim.ResourcePool.html) is associated with a [ComputeResource](https://vdc-download.vmware.com/vmwb-repository/dcr-public/b50dcbbf-051d-4204-a3e7-e1b618c1e384/538cf2ec-b34f-4bae-a332-3820ef9e7773/vim.ComputeResource.html). In most cas

[2020-11-12 21:04] amitbhadra commented on #494
Hi, your suggestion solved my issue. Thank you.

[2020-11-12 21:04] #494 closed

[2020-11-12 22:16] jnm27 commented on #353
I am hitting this issue as well. Ansible 2.11, pyvmomi 7.0, vmware 6.7.

[2020-11-12 23:49] jnm27 commented on #353
I found this at line 2681 of vmware_guest:

`            # which datastore?
            if expected_disk_spec.get('datastore'):
                # TODO: This is already handled by the relocation spec,
                # but it needs to eventually be handled for all the
                # other disks defined
                pass`

[2020-11-13 04:13] mminichino opened #497 "vmware_deploy_ovf UnboundLocalError: local variable 'name' referenced before assignment"
##### SUMMARY
vmware_deploy_ovf module fails with error UnboundLocalError: local variable 'name' referenced before assignment

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_deploy_ovf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 8.2.2004 (Core)

##### STEPS TO REPRODUCE

Tried to deploy OVA via Ansible with the vmware_deploy

[2020-11-13 07:00] uutest74 commented on #481
Logicaly setting - ip netmask gatway etc... must be inside cusomization section, not networks.

[2020-11-13 07:32] uutest74 opened #498 "vmware_guest always change network port on dvs"
##### SUMMARY
vmware_guest task always in changed state because module change network of vm and it reconnects to distributed switch port

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest
networks

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
CentOS Linux release 8.1.1911 (Core)
Python 3.6.8
vCenter 6.5
ESXi 6.5

##### STEPS TO REPRODUCE

Any sim

[2020-11-13 11:56] sky-joker commented on #497
Thank you @mminichino for reporting this issue.
I found out the cause of the issue so I'll create a patch for this issue.

[2020-11-13 12:22] sky-joker commented on #497
@mminichino
I fixed this issue(https://github.com/ansible-collections/community.vmware/pull/499), so could you please try that the fixed module works in your environment?
And please let me know the result.

[2020-11-13 12:28] sky-joker commented on #497
resolved_by_pr https://github.com/ansible-collections/community.vmware/pull/499

[2020-11-13 14:44] MalfuncEddie opened #500 "vmware_content_deploy_template should use cluster OR host just like vmware_guest"
##### SUMMARY

Cluster/host parameters should follow the same logic as the cluster/esxi_hostname parameters of the vmware_guest module

vmware_guest:
The cluster name where the virtual machine will run. This is a required parameter, if esxi_hostname is not set.
**esxi_hostname and cluster are mutually exclusive parameters.**

vmware_content_deploy_template:
cluster --> not required
host --> requir

[2020-11-13 15:26] mminichino commented on #497
Confirmed, this is fixed in my environment. Many thanks for the quick response!

On November 13, 2020 at 6:22 AM, sky-joker <notifications@github.com> wrote:

@mminichino
I fixed this issue(#499), so could you please try that the fixed module works in your environment?
And please let me know the result.
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on G

[2020-11-13 16:24] sky-joker commented on #497
@mminichino
Thank you for taking the time out to confirm the module working!

[2020-11-14 10:37] #497 closed

[2020-11-14 16:50] mariolenz commented on #492
@dmelha
I'm sorry, but this feature request (I don't consider it a bug) isn't 100% clear to me.

As far as I understand, you connect to a **vCenter** and want to configure a resource pool on an ESXi host instead of a cluster. You do **not** want to connect to the ESXi host directly and configure a resource pool. Is this correct?

[2020-11-14 23:07] hadfiiw opened #501 "vmware_guest_disk Adding new disk to wrong datastore folder"
##### SUMMARY
I have a playbook that spins out a new Ubuntu VM that is re-using the name of an existing VM (a stateless VM replacement playbook).  When the playbook goes to add a second HDD to the new VM, it errors out saying the HDD already exists.

This is incorrect because it is looking in the original VMs datastore folder and not the new VMs datastore folder.

Before the new VM is spun out, th

[2020-11-16 08:12] dmelha commented on #492
@mariolenz yes, I connect to a vcenter, and want to create resource pool on a specific esxi host. I do not want to directly connect to the esxi host for resource pool creation.

sidenote: While I understand this seems like a feature request to you, to me it seems like a bug, as the vsphere api supports this use case, but the resource_pool module inhibits this use case.

[2020-11-16 12:00] rzuffo51 opened #502 "vmware_guest module | vm network portgroup with same name on both standard and dv switches"
##### SUMMARY
When deploying a VM (Windows 2016 | Windows 2019) to a standard portgroup in a Cluster which also has a dv portgroup with the same name; the dv portgroup takes precedence and does not setup the VM NIC to the correct network portgroup on standard vSwitch

Standard portgroup: NET123 (vSwitch1)
dv portgroup: NET123 (dvSwitch MyDVSwitch)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NA

[2020-11-16 16:58] mariolenz commented on #492
Great! I hope this'll be easier to implement :-)

@sky-joker @Tomorrow9
As far as I can see, an ESXi host has two representations in vCenter. It's a [HostSystem](https://vdc-download.vmware.com/vmwb-repository/dcr-public/b50dcbbf-051d-4204-a3e7-e1b618c1e384/538cf2ec-b34f-4bae-a332-3820ef9e7773/vim.HostSystem.html) (which is what we're using in our modules to configure firewall rules and similar),

[2020-11-16 23:36] markuszeiter opened #503 "Add datastores to datastore cluster"
##### SUMMARY
Based on https://github.com/ansible/ansible/issues/47426 I would like to ask if there are already any development plans to add datastores into datastore cluster?

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
community.vmware.vmware_datastore_cluster

##### ADDITIONAL INFORMATION

[2020-11-18 04:15] Akasurde opened #504 "vmware_vm_inventory not using same certificate storage as community.vmware.vmware_modules"
##### SUMMARY
I've followed the steps for _Installing vCenter SSL certificates for Ansible_: https://docs.ansible.com/ansible/devel/scenario_guides/vmware_scenarios/vmware_requirements.html#using-custom-path-for-ssl-certificates

**Question**
Are the modules and the dynamic inventory using different certificate storage or are they both using OS-wide certifications?
##### ISSUE TYPE
- Bug Report

#

[2020-11-18 06:59] FF186 commented on #504
Temporary solution:
add the certificates obtained from the “Download trusted root CA certificates” link to the `pythonX/site-packages/certifi/cacert.pem` file.

The module was successful without the step above.

[2020-11-18 09:13] Akasurde commented on #504
@FF186 Could you please provide `-vvv` log? I suspect there is some other issue.

[2020-11-18 13:00] noesberger commented on #410
We have the same issue. Both mentioned options would work for us.

[2020-11-18 13:29] ckotte commented on #161
@Akasurde The module is located in the library folder in my playbook. I changed the import in the module to
[code]
...and now I get
[code]

I added the vmware.py from the module_utils to my playbook, but the error doesn't disappear
[code]

Any idea how to include the ansible-collections git repo in my playbook?

[2020-11-18 14:04] Akasurde commented on #161
@ckotte Thanks for taking up this effort.

1. `export ANSIBLE_COLLECTIONS_PATHS=/<PATH>/collections`
2. Create a directory called `ansible_collections` inside this dir
3. `git clone https://github.com/ansible-collections/community.vmware -o /<PATH>/collections/ansible_collections/community/vmware`
4. specify Collection FQCN in playbook

Let me know if you need any help.

[2020-11-18 14:48] Cy83rr commented on #436
The same problem exists for other roles, like:
- "VMware console user"
- "Virtual Machine power user"
- "Virtual Machine user"

[2020-11-18 16:59] rzuffo51 opened #506 "Ansible add extra disk | vmware_guest | error: 'Invalid configuration for device 0'"
##### SUMMARY
Adding a hard disk to a VM, either on existing controller0 or creating a new controller1, the disk is created and show in the guest VM (Windows 2016 or Windows 2019); however the task on the VM throws an error: 'Invalid configuration for device 0'. This causes the play to fail

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONF

[2020-11-19 05:09] Akasurde commented on #506
@rzuffo51 Thanks for reporting this issue. I am not able to reproduce this on my setup -

[code]

[code]

Could you please let me know additional details to reproduce this?

btw, I would recommend you to use `vmware_guest_disk` to manage additional disks. Thanks.

[2020-11-19 08:26] Udayendu opened #507 "vmware_guest: Network parameters are missing in the documentation"
##### SUMMARY

**networks** parameter is missing two sub parameters in the document section and thats impacting template deployment which need to attach different dvpg than the one actually available in the template.

- connected
- start_connected

For ansible 2.10, there is no edit option available in the documentation page.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
- network

[2020-11-19 12:13] FF186 commented on #504
Sure. I'll remove the certificates from `certifi/cacert.pem` and run it.

Runs: ` ansible-inventory -i cfg/inv/vmware.yml  -vvv --list`

**RESULT:**
[code]

[2020-11-19 12:54] Akasurde commented on #503
@markuszeiter Thanks for requesting this feature. Could you please check #508 and let me know if this module works for you? Thanks.

[2020-11-19 12:54] Akasurde commented on #503
resolved_by_pr #508

[2020-11-19 13:30] Akasurde commented on #504
@FF186 Could you please export `REQUESTS_CA_BUNDLE` variable and point it to cacert.pem location and re-run the inventory? Thanks.

[2020-11-19 14:29] FF186 commented on #504
Like do you want me to uncomment the certifications I've added? If so, I do not have to export `REQUESTS_CA_BUNDLE ` it would work anyways.

As I stated I followed the guide provided on the Ansible site, which states: _Install the certificate files are trusted certificates by the process that is appropriate for your operating system._, it does not mention anything about the `certifi` directory.

T

[2020-11-19 17:37] mariolenz commented on #506
@Akasurde @rzuffo51

I'm not sure if this is a problem with the module itself. I remember several `Invalid configuration for device 0` errors we got in the past and the root cause often was somewhat tricky. The problem generally turned out to have something to do with an already existing device, not with the new one we wanted to add. AFAIR it often turned out that the DVS port a vNIC was connected

[2020-11-20 05:21] Akasurde commented on #502
@rzuffo51 Thanks for reporting this issue. Could you please provide commented lines?

Also, if you look at [line](https://github.com/ansible-collections/community.vmware/blob/6ece2545af6ea504d57bcf2ca4873f35eb03dcd9/plugins/modules/vmware_guest.py#L2006) we are checking if the network is dv portgroup or not. Since Standard portgroup does not have `portKeys` it will proceed. I am not sure why it is

[2020-11-20 05:45] Akasurde commented on #339
@vivekanand552 We are assuming that the #401 works for you. Please feel free to open a new issue if you still face this problem. Thanks.

[2020-11-20 05:45] #339 closed

[2020-11-20 13:56] MalfuncEddie opened #513 "Unverified HTTPS request is being made while using community.vmware.vmware_content_deploy_template"
##### SUMMARY

When trying out the community.vmware.vmware_content_deploy_template module I get an Unverified HTTPS request is being made error even if validate_certs: False is set
[code]
##### ISSUE TYPE
- Bug Report
community.vmware.vmware_content_deploy_template

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Latest AWX version with cus

[2020-11-20 15:24] dfoley84 opened #514 "Allow Users to Choose Content Library for OVF Deployments"
##### SUMMARY

Unlike the Module "community.vmware.vmware_content_deploy_template"  Where you have the ability to pick which Subscription you wish to deploy from. The module  Deploying OVF from Content Library doesn't have this feature, which it appears to pick at random a  subscription to deploy from. In doing so, to double the time needed for a deployment workflow.

##### ISSUE TYPE
- Add the Fe

[2020-11-20 16:32] MalfuncEddie commented on #513
user did not have content lib privileges

[2020-11-20 16:32] #513 closed

[2020-11-20 19:59] mariolenz commented on #514
@dfoley84

Can you please have a look at #515 and tell us if it works for you?

[2020-11-20 20:43] MallocArray commented on #490
+1
I came here to request the same thing as I'm just realizing that there isn't a Storage DRS module currently.

[2020-11-21 10:16] Akasurde commented on #514
resolved_by_pr #515

[2020-11-21 11:55] Udayendu opened #516 "vmware_dvswitch: No option to export & import the dvSwitches"
##### SUMMARY
Currently there is no option to perform export & import of dvSwitches. Migrating the dvSwitch and their respective port groups are not possible.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- vmware_dvswitch

##### ADDITIONAL INFORMATION
- Currently the only possible option is to handle it either using vSphere ui or powercli

[2020-11-21 12:03] Udayendu opened #517 "vmware_dvs_portgroup: No option to export & import a dvs port group"
##### SUMMARY
Currently there is no option to export & import the individual port groups in **vmware_dvs_portgroup** ansible module

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- vmware_dvs_portgroup

##### ADDITIONAL INFORMATION
- Only option to do this manually either using vSphere UI or Powershell
- If a dvSwitch is having 10 portgroups and there is a need to migrate only few of them

[2020-11-21 16:53] mariolenz commented on #517
I'm sorry, but I don't think this is a good idea. You see, in my view ansible should be used [IaC style](https://en.wikipedia.org/wiki/Infrastructure_as_code). This means you already should have a playbook to create the dvSwitch. Just throw it at the new vCenter and you're fine. If you _don't_ have a playbook, now is the time to write one.

I'm afraid implementing a way to "copy" configurations th

[2020-11-21 16:53] mariolenz commented on #516
I'm sorry, but I don't think this is a good idea. You see, in my view ansible should be used [IaC style](https://en.wikipedia.org/wiki/Infrastructure_as_code). This means you already should have a playbook to create the dvSwitch. Just throw it at the new vCenter and you're fine. If you _don't_ have a playbook, now is the time to write one.

I'm afraid implementing a way to "copy" configurations th

[2020-11-21 19:42] mariolenz commented on #517
@Akasurde @goneri @sky-joker @Tomorrow9 @rndmh3ro @axarriola What do you think?

[2020-11-21 19:42] mariolenz commented on #516
@Akasurde @goneri @sky-joker @Tomorrow9 @laidbackware What do you think?

[2020-11-21 19:51] laidbackware commented on #516
Agreed @mariolenz , given you declare your desired state in Ansible, if you want to clone an object you should use Ansible to recreate. If you follow IaC principles then there should be no need for import/export or backup/restore actions that you normally would need with a ClickOps workflow.

[2020-11-22 05:45] rndmh3ro commented on #517
I'm with you here, @mariolenz. Maybe @Udayendu can further explain his use case to see if we missed something?

[2020-11-23 04:09] Akasurde commented on #443
@keilr Could you please check again and let us know if it works for you or not? Thanks.

[2020-11-23 04:26] Akasurde commented on #81
I added a new module to manage VMs/Hosts in DRS group - `vmware_drs_group_manager`. Please review and let me know.

[2020-11-23 04:26] Akasurde commented on #81
resolved_by_pr #512

[2020-11-23 04:40] Akasurde commented on #89
@benjaminrein Any update on this?

[2020-11-23 04:43] #89 closed

[2020-11-23 04:44] Akasurde commented on #351
@mariolenz What is the action item here?

[2020-11-23 05:40] Udayendu commented on #517
@mariolenz  @rndmh3ro

thanks for the explanation. I can understand what you are saying. So there are two parts to it:
- If something has started with ansible, then for the migration ansible ca handle it.
- But let say something has not started with ansible(manual deployment few years back) and now I want to use ansible to migrate it, we have no option to handle this situation.

So how some one ca

[2020-11-23 08:15] rndmh3ro commented on #517
Recreate the manual deployment with Ansible, then migrate?

[2020-11-23 08:22] #507 closed

[2020-11-23 09:05] rzuffo51 commented on #506
@Akasurde Thank you and apologies for this late reply. It turns out the issue was in one of the Ansible playbooks. I have since split into sub-roles and the issue was resolved.

I do apologise for taking your time to test this and I appreciate your assistance.

@mariolenz Thank you for sharing your experience, it might come in hand in the future

[2020-11-23 09:05] Akasurde commented on #502
@rzuffo51 Could you please try this PR #518 and let me know if it works for you? Thanks.

[2020-11-23 09:09] dfoley84 commented on #514
Thanks for the Quick Turn around on the Feature Request, I see that #515 is in progress, will close this Issue.

[2020-11-23 09:09] #514 closed

[2020-11-23 09:09] Akasurde commented on #502
@rzuffo51 My assumption in https://github.com/ansible-collections/community.vmware/issues/502#issuecomment-730857478 was wrong. `get_network` API returns first found a network with the name. For me, it is returning Standard portgroup and in your case, it returns distributed portgroup. Since the API uses a dictionary as a data structure for managing internal data, duplicate names always get overrid

[2020-11-23 09:21] rzuffo51 commented on #502
@Akasurde Many thanks for looking into this issue, it is much appreciated your prompt assistance.

I will try to PR #518 as soon as I am able to (at the moment I need to meet some other project deadlines). So it might be more towards the end of this week or beginning of next, apologies for this.

[2020-11-23 13:35] Udayendu commented on #517
Okay. Not a bad idea. By that means for the new setup also some one can make the playbooks ready for the future.

[2020-11-23 13:35] #517 closed

[2020-11-23 14:41] AaronJaegerVA opened #519 "vmware_guest module vapp_properties parameter docs URL broken"
##### SUMMARY

The docs for  the vmware_guest module have a broken link for the vapp_properties parameter. The VMware docs URL does not work anymore.

This is the broken link:
`https://vdc-download.vmware.com/vmwb-repository/dcr-public/6b586ed2-655c-49d9-9029-bc416323cb22/%20fa0b429a-a695-4c11-b7d2-2cbc284049dc/doc/vim.vApp.PropertyInfo.html`

Sorry, I could not find the "Edit on GitHub" link.

##

[2020-11-23 17:42] mariolenz commented on #519
[https://vdc-repo.vmware.com/vmwb-repository/dcr-public/6b586ed2-655c-49d9-9029-bc416323cb22/fa0b429a-a695-4c11-b7d2-2cbc284049dc/doc/vim.vApp.PropertyInfo.html](https://vdc-repo.vmware.com/vmwb-repository/dcr-public/6b586ed2-655c-49d9-9029-bc416323cb22/fa0b429a-a695-4c11-b7d2-2cbc284049dc/doc/vim.vApp.PropertyInfo.html) works. There's an extra space (the `%20` in the URL from the documentation) t

[2020-11-23 18:19] AaronJaegerVA commented on #519
It may be related, at least. The URL does work if you paste it in as one line into a browser's address bar.

[2020-11-23 18:26] AaronJaegerVA commented on #519
Could this sort of syntax solve the problem?

From: https://stackoverflow.com/questions/3790454/how-do-i-break-a-string-over-multiple-lines

[2020-11-23 20:35] MalfuncEddie commented on #163
Would't it be logical to use the default resource group "Resources" if this is not supplied?

[2020-11-24 04:06] NiftyMist commented on #470
Going to close this issue.  Would be nice to have a cleaner error message in the future.

[2020-11-24 04:06] #470 closed

[2020-11-24 06:17] gajendragaikwad commented on #456
Hello Abhi,

any update on this?

[2020-11-24 07:02] Akasurde commented on #456
@gajendragaikwad Does the module add the network card?

[2020-11-24 07:04] Akasurde commented on #456
Can you ping me (akasurde) on #ansible-vmware channel on https://webchat.freenode.net/

[2020-11-24 12:18] Akasurde commented on #506
@rzuffo51 Do you think we can close this issue?

[2020-11-24 12:19] Akasurde commented on #500
@MalfuncEddie Thanks for reporting this. Could you please take a look at https://github.com/ansible-collections/community.vmware/pull/476 and let me know? Thanks.

[2020-11-25 07:09] MalfuncEddie commented on #500
@Akasurde
Hi,

The host is no longer required so that works (no longer throws an error "missing required arguments ...")

But the deploy fails with error

`'VmwareContentDeployTemplate' object has no attribute 'host_id'`

[code]

I also tried deploying to a datastore cluster ( issue #397 ) and got

`Failed to find the datastore xxxx`

[2020-11-25 11:46] mariolenz commented on #492
For the record:

[code]

This finds all clusters (ClusterComputeResource is a sub-type of ComputeResource) and all hosts (ComputeResource) that are **not** part of a cluster. I've removed one host from a cluster (esx1.example.com) and now there's a ComputeResource with this name.

[2020-11-25 12:44] MalfuncEddie commented on #500
Hi,

I think the problem can be solved by setting "self.host_id = None"

In PR [https://github.com/ansible-collections/community.vmware/pull/476](url)

[code]

to

[code]

[2020-11-25 14:25] dmelha commented on #492
jfyi i used this hacky custom module as a (temporary) workaround for now: https://gist.github.com/dmelha/9b25d757e9f075c045b82dce784b8cd6

[2020-11-25 14:37] Lwackp opened #521 "vmware_guest_disk cannot change provisioning type of existing disk"
##### SUMMARY

The [vmware_guest_disk ](https://docs.ansible.com/ansible/2.9/modules/vmware_guest_disk_module.html) module doesnt seem to allow changing the provisioning type only

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest_disk

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Centos 8

##### STEPS TO REPRODUCE

I might be mistaken, but my

[2020-11-25 15:34] dkraklan opened #522 "Include Driver and Firmware version in community.vmware.vmware_host_vmnic_info"
##### SUMMARY
Return the driver info found in the output of `esxcli network nic get -n vmnic##`

[code]

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
community.vmware.vmware_host_vmnic_info

##### ADDITIONAL INFORMATION
Maybe it could be added as a new option to the command such as `driver_info: true`

[code]

[2020-11-25 18:59] rzuffo51 commented on #506
@Akasurde Yes please and once again apologies for taking your time to look into this.

[2020-11-25 19:29] mariolenz commented on #506
No problem, you're welcome. Thanks for letting us know that you were able to solve your problem and we can close this issue.

[2020-11-25 19:29] #506 closed

[2020-11-25 19:39] mariolenz commented on #521
Actually, I'm not sure if this can be done. That is, changing a VMDK in-place from thin to thick or vice versa. I only know a workaround: Do a storage vMotion and choose a different provisioning type.

@Tomorrow9 @sky-joker
Do you know if it's possible to this in-place?

[2020-11-25 20:07] Lwackp commented on #521
@mariolenz changing the datastore should work then?

[2020-11-25 21:28] mariolenz commented on #521
Well, yes... if you do it manually via vCenter. I'm not sure if you can do this (at the moment) with a module from this collection.

The point is: I'm pretty sure you can't change a VMDK from (eager) zero-thick to thin or vice versa without a storage vMotion. But I might be wrong there, that's why I've asked @Tomorrow9 and @sky-joker for their opinion. They might know better ;-)

[2020-11-26 06:46] Akasurde commented on #500
Duplicate of #397

[2020-11-26 06:46] #500 closed

[2020-11-26 06:47] Akasurde commented on #397
cc @MalfuncEddie

[2020-11-26 11:06] plop28 opened #523 "vmware_guest - Customization failed since few ansible release versions"
##### SUMMARY
Since recent ESXi & vCenter Update (6.7U3), I'am not able to deploy virtual machine from debian template
Not sure if it is due to this update or recent ansible updates

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
pyvmomi 7.0

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

OS: Arch Linux
Kernel: x86_64 Linux 5.8.14-arch1-1
Uptime: 34m
Packag

[2020-11-26 11:12] #519 closed

[2020-11-26 11:13] plop28 commented on #523
WSL ansible version :
  ansible 2.9.14
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/adrien/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.16 (default, Oct 10 2019, 22:02:15) [GCC 8.3.0]

[2020-11-26 11:37] mariolenz commented on #523
Looks like a duplicate of #481, I think.

[2020-11-26 12:12] keilr commented on #443
@sky-joker thanks a lot for testing. We updated to ansible 2.10.3 and the NIC removal works perfectly.

[2020-11-26 12:12] #443 closed

[2020-11-27 08:51] mariolenz commented on #492
@dmelha Can you please have a look at PR #524 and tell we if this fixes your issue?

[2020-11-27 09:08] Akasurde commented on #436
resolved_by_pr #525

[2020-11-27 09:10] Akasurde commented on #436
@MallocArray @Cy83rr Can you please check if #525 is working for you and let me know? Thanks.

With this PR you can now specify preset role names from vCenter Web UI.

[2020-11-27 14:38] plop28 commented on #523
Hi mariolenz, great find ! I have tested with separating the deploy to the network assignment and it worked. network is not well applied yet but the playbook runs without error now. I close this duplicate and i will try to solve this new problem. thanks !

[2020-11-27 14:38] #523 closed

[2020-11-27 16:34] mariolenz commented on #351
@Akasurde

Sorry, I didn't have another look at this issue since @Tomorrow9 wanted to. I'll assign it to myself and try to find a solution.

[2020-11-28 15:33] kpatelsp commented on #485
@Akasurde
What info you need.

[2020-11-29 12:55] gbo35 opened #526 "vmware_guest : cannot define disk controller to existing disk"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)
Hi,
I am currently doing deployment testing for a lab with ansible and an esxi (without vCenter).

I want to attach an existing disk (cloud-image) to my VM. Unfortunately, the drive does not boot with the controller adding "SCSI" by default. I have to change it to "SATA Controller" but not possible vi

[2020-11-29 18:33] daemenseth commented on #481
What do you mean with these. IP netmask and gateway are part of network instead of customuzation according the documentation:
[(https://docs.ansible.com/ansible/latest/collections/community/vmware/vmware_guest_module.html#ansible-collections-community-vmware-vmware-guest-module)]

[2020-11-30 04:36] Akasurde commented on #485
I do not know what is 'urlopen error 0' and not able to reproduce this at my end. @sky-joker Do you know anything about this error?

[2020-11-30 05:43] #492 closed

[2020-11-30 08:05] gajendragaikwad commented on #456
No its not working :(

[2020-11-30 08:31] Akasurde commented on #456
@gajendragaikwad Can you ping me (akasurde) on #ansible-vmware channel on webchat.freenode.net?

[2020-11-30 08:35] Tomorrow9 opened #527 "vmware_host_facts: add host current time info in returned host facts"
##### SUMMARY

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_host_facts

##### ADDITIONAL INFORMATION

We want to get the host current time returned by this module "vmware_host_facts", since not get the correct property of ESXi host to get the current time property, so request to add this info in gather facts through "self.si.CurrentTime()" when host is configured to a ESXi host.

[2020-11-30 09:38] gajendragaikwad commented on #456
Hello Abhi,

I have connected on webchat.freenode.net

[2020-11-30 10:25] Kloppi313 opened #529 "vmware_host_lockdown: Add possibility to configure lockdown exception users"
##### SUMMARY

Hello community,
I would like to see the possibility to configure lockdown exception users (these are users who are able to login to the host, even with activated lockdown mode). This is usefull for automation accounts.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_host_lockdown

##### ADDITIONAL INFORMATION

By adding this feature it would be possible to natively u

[2020-11-30 11:23] sawandevrani28 opened #530 "vmware_guest_disk: does not provision disks in different datastores. The datastore of the first disk is selected for all the other disks"
Hello,

I am doing a VM deployment by selecting a different datastore cluster for each disk. but only the datastore that the first disk is provisioned in, is selected for all the other disks as well

test sample:( in the below sample 3 datastore clusters are specified, but only the datastore that the first disk(SCSI(0:0)) is provisioned in, is applied to all the other disks as well)

[code]

ansib

[2020-11-30 12:21] sky-joker commented on #485
Umm...
Sorry, I don't know.
I never look at the error.

I seem the cause of the error is an environmental dependence.
I'm wondering that anything is existing between ansible host and ESXi.(For example, a proxy server and so on)

My lab doesn't the error occurs again...

[2020-11-30 12:24] Kloppi313 commented on #529
Maybe usefull methods of the api:
https://code.vmware.com/apis/704/vsphere/vim.host.HostAccessManager.html#queryLockdownExceptions
https://code.vmware.com/apis/704/vsphere/vim.host.HostAccessManager.html#updateLockdownExceptions

[2020-11-30 12:26] Akasurde commented on #529
@Kloppi313 Thanks for reporting this feature. I am not able to access `hostAccessManager` but I am not quite sure why.

[code]

[2020-11-30 13:07] sky-joker commented on #522
Hi @dkraklan
Thank you for reporting this issue.

Unfortunately, Firmware Version and Version aren't existing on vSphere API, so the module doesn't get it.
Alternatively, how about using textFSM?
Here's like.

**Required**

ESXi need enabled SSH.

**Inventory**

[code]

[code]

**Playbook**

[code]

[code]

**textFSM template**

[code]

[code]

**Execute playbook**

[code]

[2020-11-30 13:12] Kloppi313 commented on #529
@Akasurde Oh, by searching a bit I found, that the module might use a deprecated function: https://code.vmware.com/apis/704/vsphere/vim.HostSystem.html#enterLockdownMode (Deprecated. As of vSphere API 6.0, use ChangeLockdownMode.) as well as
https://code.vmware.com/apis/704/vsphere/vim.HostSystem.html#exitLockdownMode
(maybe because of backwarts compatibility?)

They were replaced by
https://code.

[2020-11-30 13:51] Tomorrow9 opened #532 "vsphere_file: new feature request of uploading file to datastore"
##### SUMMARY

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vsphere_file

##### ADDITIONAL INFORMATION

Now this module supports these 4 options "absent, directory, file, touch", we want to use "upload" function to upload a file to ESXi host datatore from local machine.

[code]

[2020-11-30 14:31] mainboarder commented on #529
This could be case sensitive: HostAccessManager instead of hostAccessManager

[2020-11-30 20:07] jgerharter opened #534 "vmware_guest: 'dict' object has no attribute 'split'"
##### SUMMARY
The error indicates a dictionary was passed into unquote - the error seems to originate in plugins/module_utils/vmware.py on line 106. It was changed in #460 to add unquote. The error was with 1.4.0, reverting to 1.3.0 resolved the issue.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONME

[2020-11-30 20:11] dkraklan commented on #522
Thanks for the update, I was able to get the info I needed with this.

[code]

Similar to yours just skipping the TEXTFSM , both ways definitely accomplish what I needed. A bit disappointing it's not in the API but there are workarounds.

[2020-11-30 20:57] usscarter opened #535 "Dynamic Inventory adds '_'"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Ansible dynamic inventory is adding '_' to the beginning of any record you are attempting to use for keyed_groups.
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I would expect hosts to come in as dc_folder, and folder.
##### ACTUAL RESU

[2020-11-30 22:30] timway commented on #534
I'm working with the reporter of this issue on this. It turns out that we were actually passing a dictionary into the vmware_guest task that looked like the following:

[code]

This resulted in the error in 1.4.0 because `split` is not a method of a dictionary rightfully so. In 1.3.0 it works because the call to unquote is missing and `split` isn't called. The downside is that in 1.3.0 the `text_t

[2020-12-01 00:13] mvs2 opened #536 "When using vmware_vswitch, allow removing NICs"
##### SUMMARY

Same request as described[ here.]( https://github.com/ansible/ansible/issues/44589)

Request looks to have been closed due to repo move, but still would be nice to have.
(copying steps to reproduce from linked issue that was closed):

[code]
1. Run the above where vswitch.vmnics is this:
[code]
2. Run it again, but remove one of the nics to look like this:

[code]

You'll see succes

[2020-12-01 13:09] sky-joker commented on #516
I think that defined the dvSwtch config by YAML is alternatively of a backup file. (in IaC world)
If the purpose is to backup and restores dvSwitch, I think just prepare a config YAML file.

If it is possible, I want to know about the use case that export or import.

[2020-12-01 14:03] Udayendu commented on #516
@sky-joker
We still have few vCenters running on VCSA 6.0 that we are planning to migrate to VCSA 7.0. We wont upgrade that vCenter as the hardware those are associated with that are mostly Gen8 and we have a brand new HP Gen10 and Dell R740 setups withn really good hardware. So I was looking for a way to export the old dvSwitch configuration and map to to the new vCenter instead of configuring th

[2020-12-01 14:20] sky-joker commented on #522
@dkraklan

Thank you for taking the time out to try it.
I'm glad that you can find workarounds.

[2020-12-01 14:31] Akasurde commented on #522
@sky-joker Thanks for providing this valuable information. Do you think we should document this somewhere? I am thinking - https://github.com/ansible/ansible/tree/devel/docs/docsite/rst/scenario_guides/vmware_scenarios

Let me know if your views.

[2020-12-01 14:48] sky-joker commented on #516
@Udayendu

Thank you for your response.
​If the purpose is you only using when migration, I believe creating a defined dvSwitch config by YAML is best.

[2020-12-01 14:56] #436 closed

[2020-12-01 15:36] laidbackware commented on #516
AFIK it isn't supported to export VDS configuration and then restore it to a different version of vCenter and it should only be used with the same versions. Also vCenter 7.0 only supports VDS versions 6.5, 6.6 and 7.0, so you cannot restore a 6.0 VDS into a 7.0 vCenter.

[2020-12-01 20:32] lm-sig opened #539 "vSphere API breaks vmware_host_ntp module when a host is disconnected"
##### SUMMARY

Running the vmware_host_ntp module against a vSphere 7.0.1+ server results in a failure and traceback.

This module works against vSphere 7.0.0 or if I point directly at the ESXi host instead of going through vSphere.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_host_ntp

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Ente

[2020-12-01 23:00] dmsimard opened #540 "community.vmware 1.5.0 contained a breaking change"
##### SUMMARY

I've pinged @goneri about it but during the process of releasing Ansible 2.10.4 we found out that community.vmware 1.5.0 included a breaking change, namely: https://github.com/ansible-collections/community.vmware/commit/fb1ac776fc42dd65e56a7e0d418987dd86f70abb#diff-2c623f3c6a917be56c59d43279244996836262cb1e12d9d0786c9c49eef6b43cR20
Ideally, breaking changes should be reserved for ma

[2020-12-02 13:53] goneri commented on #540
Thanks @dmsimard for raising this.

https://github.com/ansible-collections/community.vmware/pull/524 is not a breaking change since we should not have `cluster` and `esxi_hostname` in use at the same this the very begining. Sorry for the situation. I don't know how/if we can adjust that now after the release.

Overall, it would be great if the CI can raise a warning when we push a commit with a br

[2020-12-02 15:16] #540 closed

[2020-12-02 19:37] Findarato opened #544 "Vmotion failing to move storage when no resource pools are defined"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.vmware.vmware_vmotion

ansible-galaxy collection install community.vmware                                                                                                                       
Process install dependency map
Starting collection install process
Installing 'community.vmware:1.5.1' to '/home/jharry/.ansible

[2020-12-02 20:10] mariolenz commented on #544
Why do you specify `destination_resourcepool: ""`? That doesn't make sense to me. If you just want to do a storage vMotion and don't care about anything else, why define a `destination_resourcepool` at all?

Don't get me wrong, the module could handle this in a better way. But the best fix I can think of at the moment would be to fail the module if `destination_resourcepool` is an empty string. Do

[2020-12-02 20:24] mariolenz commented on #516
@Udayendu

Can we close this issue? After all, it looks like it can't fixed: The use case is exporting a VDS from a vCenter 6.0 and importing it into a vCenter 7.0, but vCenter 7.0 doesn't support VDS versions < 6.5.

[2020-12-03 07:14] mariolenz commented on #539
Sorry, I can't confirm this. Works for me, both with Ansible 2.9.14 and Ansible 2.10.1 (I think that includes version 1.2.0 of this collection).

Is this a newly installed ESXi vSphere 7.0.1+? Or did `vmware_host_ntp` work with ESXi vSphere 7.0.0, you updated the host and it stoped working?

[2020-12-03 10:52] soofff commented on #215
same for me but i can find my `customvalues` under VM > Edit Settings > VM Options > Advanced > Configuration Parameters (scroll to the bottom)

but not under Custom Attributes or do i mix up something here

[2020-12-03 11:23] DevFinGitGovSecChatOps commented on #373
Can confirm the problem with 7.0.1. In my case, cloning a template and adding one NIC and one Disk in the same task failes with:
`A specified parameter was not correct: deviceChange[1].device.key`
Same playbook was working fine with 6.9.

[2020-12-03 12:21] mariolenz commented on #539
Ansible 2.10.4 works for me, too. Both with pyvmomi 7.0 and 7.0.1.

[2020-12-03 12:33] mariolenz opened #545 "vmware_guest: Fails to add two disks and 1 NIC"
##### SUMMARY
`vmware_guest` fails to clone a template and add two disks and one NIC. Worked with vCenter 6.7U3, doesn't work with 7.0U1 any more.

Just two disks works, one disk and one NIC works also.

In vCenter I see:

[code]

Possibly related: #373

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMEN

[2020-12-03 12:44] slauger commented on #215
Which ansible version are you referring to? Is it the same behaviour when you create a new machine?

[2020-12-03 13:26] lm-sig commented on #539
The vSphere host was originally 7.0.0 and was working and then upgraded to 7.0.1. The bare metal ESXi host is still running 7.0.0.

I'm using pyvmomi 7.0.1 from EPEL.

[2020-12-03 15:10] mariolenz commented on #545
I've had a closer look at `clonespec.config` used to clone the template:

https://github.com/ansible-collections/community.vmware/blob/0b4813b5a3dec6c3aa7c9a503461711ea5f6d576/plugins/modules/vmware_guest.py#L3098-L3106

with [q](https://pypi.org/project/q/) like this:

[code]

And indeed, there are duplicate device keys:
[code]

First disk has key 2000 (maybe inherited from the template?), both t

[2020-12-03 17:34] rmx-it commented on #530
Me too.
ansible 2.9.10

[2020-12-04 09:36] soofff commented on #215
yes new machine and existing

`ansible 2.9.13`
`python version = 3.6.9`
`pyvmomi (7.0.1)`

[2020-12-04 09:46] slauger commented on #215
Currently it works fine for me with ansible 2.9.14 and Python 3.8.5. It only see the issue when i upgrade to 2.10.

[code]

[2020-12-04 10:23] NathanDotTo opened #546 "Unable to find host when hostname is IP address of ESXi"
##### SUMMARY
A task (see below) works as expected for an ESXi host in a vCenter environment *when* the `hostname` is the IP address of the vCenter.

When the `hostname` is the IP address of the ESXi, and the credentials are also those of the ESXi, I get an error:

[code]

Note that this happens whether or not the ESXi is in a vCenter.

The description for the `hostname` variable says:

[code]

So

[2020-12-04 10:25] NathanDotTo commented on #546
This is the venv in which the playbook is run:
[code]

[2020-12-04 10:26] NathanDotTo commented on #546
And the requirements.txt

[code]

[2020-12-04 11:09] Lwackp opened #547 "vmware_guest_custom_attributes does not find vm with uuid"
##### SUMMARY
The module **vmware_guest_custom_attributes** does not find the vm when using the [uuid](https://docs.ansible.com/ansible/latest/collections/community/vmware/vmware_guest_custom_attributes_module.html#parameter-uuid) parameter.

It works when using the [moid](https://docs.ansible.com/ansible/latest/collections/community/vmware/vmware_guest_custom_attributes_module.html#parameter-moid

[2020-12-04 11:56] #547 closed

[2020-12-04 12:37] Lwackp commented on #547
I was using the instanceUuid instead of the actual uuid

[2020-12-04 18:30] gyzszabo commented on #156
I have same issue. Can you recommend a workaround?

[2020-12-04 20:11] briantist opened #548 "elb_application_lb and elb_network_lb always have changed status"
##### SUMMARY

This is similar and possibly/probably the same root cause as https://github.com/ansible/ansible/issues/67557 .

When using a `default_action` or an ALB rule action of type `forward`, the modules always** see the supplied instance as a change.

**almost always; see workaround

##### ROOT CAUSE
The details about the existing actions that are retrieved from AWS contain more information

[2020-12-04 22:23] MallocArray opened #549 "vmware_cluster_info should have a 'name' property in return values"
##### SUMMARY

When using community.vmware.vmware_cluster_info to retrieve information about clusters in a vCenter, there is no property of "name" for the name of the cluster returned, only an item in the returned value that is the name of the cluster.  When trying to do a loop with the registered output of this module, I have not found a way to be able to loop through each of the clusters to prov

[2020-12-05 06:45] sky-joker commented on #549
Hi @MallocArray

Thank you for the feature request.
If you want to just get each cluster name, how about here's the like?

[code]

Cluster name set to the key when using vmware_cluster_info module.
So, it is possible to get a name by using the `keys()` method.

[2020-12-05 07:56] sky-joker commented on #549
Sorry, the above comment is I didn't consider about multiple clusters is existing in DC.
I seem a playbook needs to split when considering the above.

[code]

[code]

[code]

[code]

**execute**

[code]

Ansible can't loop dict using dict in list even using the with_*, so I think the playbook needs to split.
[code]

[2020-12-05 08:37] sky-joker commented on #549
If you want to execute as one playbook, I think a variable creates to store the cluster name is good.
In the following playbook, cluster_name variable stores the cluster name.

[code]

[2020-12-05 11:27] sky-joker commented on #522
Even if when a command line can get information, there is vSphere API can't get information.
Some users may find it inconvenient.
So, I think creating documentation on how to combine the results of information got by cmd and vSphere API is nice.

[2020-12-05 15:30] mariolenz opened #550 "vmware_guest: Move get_recommended_datastore to vmware.py"
##### SUMMARY
`vmware_guest` has a function that could be useful for other modules (for example `vmware_content_deploy_ovf_template`), too:

https://github.com/ansible-collections/community.vmware/blob/136052a5c52634ac99b26fc009278e93f3071564/plugins/modules/vmware_guest.py#L2720-L2728

I think this should be moved to `vmware.py` so other modules can make use of it.

##### ISSUE TYPE
- Feature Ide

[2020-12-06 12:46] Udayendu commented on #516
Yes, we can close it.
I will write my playbooks cleanly for every version as using that also I can handle the migration tasks.

Thanks for the recommendtaions.

[2020-12-06 12:46] #516 closed

[2020-12-07 19:59] mariolenz commented on #373
@jakubmuransky

I'm not really sure where you run into a problem, is it with `vmware_guest_disk` or with `vmware_guest`? If you have a problem with `vmware_guest`, I've opened #545 to track this. Oh, and if this is the case can you please test #552 and tell me if this fixes your issue? Thanks.

[2020-12-08 05:57] Akasurde commented on #527
resolved_by_pr #528

[2020-12-08 11:11] Akasurde commented on #546
@NathanDotTo You mean that when ESXi is standalone (without vCenter) the give playbook does not work.

[2020-12-08 11:23] NathanDotTo commented on #546
Yes, thanks.

Sent from my iPhone

[2020-12-08 12:08] Akasurde commented on #546
In the case of standalone ESXi, please specify hostname as ESXi and drop `esxi_hostname`. Can you retry and let me know.

[2020-12-08 14:13] #527 closed

[2020-12-08 15:18] williamhanseneric opened #554 "vsphere_copy: fails with UnboundLocalError: local variable 'r' referenced before assignment"
##### SUMMARY
A simple play for the vsphere_copy fails with a very uninformative error message local variable 'r' referenced before assignment for the default timeout of 10 seconds

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vsphere_copy

##### ANSIBLE VERSION
Multiple versions were tried in 2.8 and 2.9, so not highly dependent on a specific ansible version

##### CONFIGURATION
N/A

#####

[2020-12-08 15:37] radugrecu opened #555 "vmware_guest: OS Customization options are treated as no_log strings"
##### SUMMARY

Specifying OS customization options can affect task return values.

The `customization` argument of vmware_guest is [defined](https://github.com/ansible-collections/community.vmware/blob/6f025b3f452e5cdc85cd0e6537b6880537062e64/plugins/modules/vmware_guest.py#L3426) as `no_log=True`.
This causes all values supplied via this dictionary to be treated as no_log strings which affects th

[2020-12-08 17:02] Findarato commented on #544
I tried it with out and with, same error

[2020-12-08 18:28] MallocArray opened #556 "Incorrect example in community.vmware.vmware_datastore_info_module.rst"
##### SUMMARY

https://github.com/ansible-collections/community.vmware/blob/main/docs/community.vmware.vmware_datastore_info_module.rst
The first example has a name of "Gather info from standalone ESXi server having datacenter as 'ha-datacenter'" but the example task does not have any reference to a specific host and it targeting a vCenter and a single datcenter, which would return all of the data

[2020-12-09 10:20] #556 closed

[2020-12-09 10:24] Akasurde commented on #556
resolved_by_pr #557

[2020-12-09 11:18] Akasurde commented on #554
resolved_by_pr #558

[2020-12-09 14:58] kpatelsp commented on #485
Issue Resolved.

It was a proxy issue.  I did have an entire management network to the environment file added

no_proxy="*.domain.local,x.x.x.x/24"

This did not work.  I have to add each host IP address.

Thanks for all your help.

[2020-12-09 17:57] #485 closed

[2020-12-09 18:45] #554 closed

[2020-12-09 18:47] mariolenz commented on #544
No problem.

Unfortunately, I'm out of office at the moment. But I might be able to do something about your issue, anyway. Please give me a couple of days, I'll have to think about it.

Note to myself: Have a look at

https://github.com/ansible-collections/community.vmware/blob/6c821508d737372a81fcf444a6e60e3b432a4bf4/plugins/modules/vmware_vmotion.py#L182-L192

[2020-12-10 14:29] zerotosixty commented on #347
I would be interested in your ansible script for this as we have hit a wall with doing this via terraform (tf panic with a vgpu profile in the temple)

many thanks

[2020-12-10 14:40] Medalibi commented on #347
@zerotosixty There is a lot on extra bits due to my base requirements but feel free to use as-is if it suits your needs: https://github.com/Medalibi/ansible_playbooks/blob/main/synergy-ext-bot.yml

I am planning that one day I will sort out adding the profiles automatically, but we are moving toward hybrid cloud and every day it seems less likely to happen. As I said before doing this on AWS is ve

[2020-12-10 15:00] zerotosixty commented on #347
thanks for that. I'll delve in next week. :)

[2020-12-10 19:45] mariolenz commented on #539
All our vCenters are now on 7.0U1; most of our ESXi hosts are still 6.7U3 although two clusters (managed by two different vCenters) are already running ESXi 7.0U1. I still can't reproduce your issue. Unfortunatelly, I can't test the combination vCenter 7.0U1 / ESXi 7.0GA at the moment.

What a pity, I was hoping for a problem with an old pyvmomi version.

@Tomorrow9 @sky-joker Can you please have

[2020-12-10 19:49] lm-sig commented on #539
I do need to mention that this vCenter has 2 ESXi hosts and one of the two is offline at the moment (intentionally). Could vCenter be sending back empty NTP info for the offline host? I haven't taken a capture of the returned data to confirm.

[2020-12-10 20:42] mariolenz commented on #539
That might well be the case. But even is this isn't a problem with 7.0.1, I consider this an issue: The module should skip hosts that are offline or fail, but it shouldn't crash.

[2020-12-11 06:29] Akasurde commented on #549
@MallocArray Can you confirm if @sky-joker suggestion works for you? Thanks.

[2020-12-11 06:42] Akasurde commented on #555
@radugrecu Thanks for reporting this issue. Do asterisks affect the customization?

Asterisks in output is a known issue in Ansible Core Engine.

Thanks.

[2020-12-11 07:58] radugrecu commented on #555
@Akasurde it doesn't affect the OS customization but it can make the output unusable.

In my particular use case I was trying to submit the details of the new VM to the CMDB however the `moid`, `hw_processor_count` and `macaddres` were all unsusable because parts of them had been replaced with asterisks.

I believe the fix is to explicitly declare the inner structure of the `customization` argumen

[2020-12-11 08:52] narkeekran opened #561 "IP address doesn't up when cloning VM from template"
SUMMARY

A playbook that creates a new VM from a template works on esxi 6.7 but has issues applying IP config to new VMs on 7.0
ISSUE TYPE
[code]
COMPONENT NAME
[code]
ANSIBLE VERSION
[code]
CONFIGURATION
[code]

OS / ENVIRONMENT

[code]
STEPS TO REPRODUCE

install centos 7 minimal on a new vm, configure with IPconfig. Convert to template
run playbook
[code]
IP vars:
[code]
output:
EXPECTED RESULT

[2020-12-11 11:30] Akasurde commented on #555
@radugrecu Ok. I can understand. As a workaround you can `customization_spec` parameter in `vmware_guest` which will do the same.

[2020-12-11 11:38] MalfuncEddie opened #562 "Implement cluster and datastore cluster as vmware_vmotion destination"
##### SUMMARY

https://github.com/ansible/ansible/issues/63913
old issue from pre collection days that is still active

##### ISSUE TYPE
- Feature Idea
If you can deploy a vm using the vmware_guest to a datastore cluster and to a cluster it should also be possible for the vmotion to use this logic
either esx host or cluster should be defined and if the datatore is a cluster use the logic from vmwa

[2020-12-11 15:05] narkeekran commented on #561
To add to this, it also appears to not be respecting the connected at poweron for the nic when it creates the template

[2020-12-11 15:10] goneri opened #563 "Should we continue to run govcsim in the CI"
##### SUMMARY

Hi all,

`govcsim` is a vCenter simulator. It's a light daemon that answers to the VMware SOAP client requests and acts like if it was driving an actually vCenter installation.
govcsim is way faster than a real lab. This is the reasons why we run our tests against it first. If the PR is broken, we don't have to start an army of VM and set-up a really VMware to do the second level of

[2020-12-11 17:56] goneri commented on #178
To reproduce the problem:

[code]

The command to run on the ESXi to set the Rulesets and the Allowed IP Addresses: `esxcli network firewall ruleset allowedip list`.

- If we force `allowed_hosts.all_ip` by default, we change the behaviour of the module and we can break an existing firewall configuration.
- If we make `allowed_hosts` mendatory, it's also a breaking change because the playbooks wil

[2020-12-11 19:45] mariolenz commented on #563
I think we should get rid of govcsim completely.

In my experience, most CI runs don't fail in the govcsim tests but somewhere else. So these tests are 45 minutes spent in the CI unnecessarily. Especially since a lot of tests have been moved into `when: vcsim is not defined` blocks because govcsim has a lot of deficiencies:

I say: Lets kill govcsim jobs AND remove its support.

[2020-12-11 22:06] MallocArray commented on #549
@Akasurde I still need to check.  The final example failed for me on the set_fact task. I'll have to get more details next week

[2020-12-11 22:46] #545 closed

[2020-12-12 17:20] kurokobo commented on #561
`open-vm-tools` and `perl` have to be installed on your template to make customization work.

[2020-12-13 15:56] sky-joker commented on #563
I agree with you.
The govcsim is unnecessary because it doesn't have a lot of API than VCSA.
I can help the integration tests for the govcim convert to the real lab.

But, I think that we can't disable the govcsim soon because we need a period for converting the tests.

[2020-12-13 19:13] mariolenz opened #565 "vmware_vmkernel: vmware_migrate_vmk integration test fail against vCenter 7"
##### SUMMARY
Since CI tests against vCenter 7, I see a of lot failing CI jobs (see [here](https://dashboard.zuul.ansible.com/t/ansible/buildset/7bb796bb7b7241fb9075dcc05ee1e412), [here](https://dashboard.zuul.ansible.com/t/ansible/buildset/98678ccbfaad48d69f2c381e3921e5d9) and [here](https://dashboard.zuul.ansible.com/t/ansible/buildset/00fa49f867c64a1c8a7c4c1c6d63c081)). They seem to have this i

[2020-12-13 19:57] mariolenz commented on #565
For the record:

[code]

[source](https://0b241737bdce5c4983c2-059d6f46f589b29cf8038005614b9ac0.ssl.cf1.rackcdn.com/533/f2972fa71afdaa03a47cd793ca66eb0d6f1ce0ae/check/ansible-test-cloud-integration-vcenter7_1esxi_without_nested-python36/f881c1c/job-output.txt)

[2020-12-14 04:14] Akasurde commented on #563
I am -1 for disabling govcsim tests. In the past, we have caught test failures due to govcsim (when real vCenter CI environment was not available).

[2020-12-14 05:13] Akasurde commented on #565
Disable test for now - https://github.com/ansible-collections/community.vmware/pull/566

[2020-12-14 14:40] sawandevrani28 commented on #530
Guys, Could someone please look at this?

[2020-12-14 16:15] Lwackp opened #570 "vmware_guest : object has no attribute 'replace'"
##### SUMMARY
Setting customization on an existing vm is not working.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Centos 8
VM: Windows 10
vSphere ESXi 6.5

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

It should customize the VM.

##### ACTUAL RESULTS

[code]

[2020-12-14 21:46] goneri opened #573 "vmware_host_logbundle fails with: failed to fetch manifests from https://esxi1.test/cgi-bin/vm-support.cgi?listmanifests=1: HTTP Error 409: Conflict"
CI failure with vcenter 7.0.0.

e.g:

[code]

[2020-12-15 04:16] #503 closed

[2020-12-15 06:35] Akasurde commented on #570
resolved_by_pr #574

[2020-12-15 06:35] Akasurde commented on #570
@Lwackp Could you please check if #574 works for you and let me know? Thanks.

[2020-12-15 08:39] Lwackp commented on #570
Hi @Akasurde, thanks you for taking the time to fix this bug! It seems however that there is till an issue :

[code]

[2020-12-15 09:14] Akasurde commented on #570
@Lwackp Can you please try updated PR? Thanks.

[2020-12-15 09:28] Lwackp commented on #570
@Akasurde it's working! Thanks 👍

[2020-12-15 10:10] anba000 opened #575 "community.vmware.vmware_cluster is ignoring the datacenter-name"
##### SUMMARY
I try to add a new cluster to an existing datacenter. In vCenter there is already a cluster with the same name but in a different datacenter. When I run the code below, the existing cluster is touched.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.vmware.vmware_cluster

##### ANSIBLE VERSION
ansible 2.9.13

##### STEPS TO REPRODUCE
Create the following struct

[2020-12-15 11:34] narkeekran commented on #561
That did it thanks. Weird that it was happy increasing the CPU memory and disks still but it's all working now.

Cheers

[2020-12-15 11:34] #561 closed

[2020-12-15 15:03] goneri commented on #563
Thank you all for your inputs. I close this for now. We can still reopen the topic later.

[2020-12-15 15:03] #563 closed

[2020-12-15 16:37] goneri opened #576 "vmware_dvswitch idempotency broken with vSphere 7.0.1"
##### SUMMARY

The second call fails with: `"msg": "Failed to update DVS version : ('A specified parameter was not correct: ProductSpec.version', None)"`

https://67c852f73dcdf0c2dfb3-0ccf87873bf01f37e305b0f143521d81.ssl.cf2.rackcdn.com/568/dc635f81a8c04a631c8f98c9f9a6554822279fea/check/ansible-test-cloud-integration-vcenter7_only-python36/5651c62/job-output.html#l26599

[code]

##### ISSUE TYPE
-

[2020-12-16 12:06] vivekanand553 opened #578 "VMware Portgroup security settings is getting skipped over if the portgroup already exists"
##### SUMMARY

We are trying to overide the security settings of the vm portgroup but when we run the ansible playbook, the configuration settings is getting skipped over for an existing portgroup
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_dvs_portgroup

##### ANSIBLE VERSION
2.9

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL

[2020-12-16 12:24] sky-joker commented on #578
Thank you @vivekanand553 for reporting this issue.

Please, the following information gives because we’ll investigate the cause of the error.

* OS/ENVIRONMENT
* STEPS TO REPRODUCE
* EXPECTED RESULTS
* ACTUAL RESULTS

Can you please include your executed playbook code and occurred error in the above information too?

[2020-12-16 12:27] sky-joker commented on #578
Thank you @vivekanand553 for reporting this issue.

Please, provide the following information because we’ll investigate the cause of the error.

* OS/ENVIRONMENT
* STEPS TO REPRODUCE
* EXPECTED RESULTS
* ACTUAL RESULTS

Can you please include your executed playbook code to the above information too?

[2020-12-16 12:57] vivekanand553 commented on #578
Please, provide the following information because we’ll investigate the cause of the error.

OS/ENVIRONMENT : Rhel 7.7/Ansible version: ansible 2.9.5
STEPS TO REPRODUCE:
---

- name: VDS Portgroup Creation Test
  hosts: localhost
  gather_facts: false
  connection: local
  vars_files:
   - vault.yaml
   - vars.yaml

  tasks:

    - name: Edit a vm portgroup with all security policies
      vmware_

[2020-12-16 15:14] sky-joker commented on #578
Thank you for providing the information.

I confirmed that the security options couldn't change in Ansible 2.9.5.
This is a bug in the vmware_dvs_portgroup module bundled at Ansible 2.9.x.

I confirmed that the bug was fixed in the collections module.
So can you please confirm that you can change the security options using the vmware collection?

[2020-12-16 16:05] #576 closed

[2020-12-16 16:11] mariolenz commented on #563
Sorry @goneri I know you've closed this, but I've just realized that [ansible/gate checks against govcsim](https://github.com/ansible-collections/community.vmware/runs/1564699610). This is something we also need to consider. I still think we should get rid of govcsim, but wanted to mention this nevertheless.

[2020-12-16 16:11] laidbackware opened #579 "Tag category creation broken in vsphere 7.0.1"
##### SUMMARY
In 7.0.1 there has been an API change to the way tag categories are added.
In the example of a category which has the associate type datastore, the API will confirm creation, but the category is not available to add to a storage profile, because the category has an incorrect definition.
The resolution is that the tag category needs to pre-pend the namespace URI. For example in my cas

[2020-12-16 16:32] goneri commented on #563
Yes, this is a good point. In theory, we should rerun all the tests during the gating to be sure the `main` branch is never broken. We decided to just run govcsim as a compromise because it's faster. If we drop govcsim, we will have to rerun the test-suite against a real lab.

[2020-12-16 16:34] sky-joker commented on #532
The vsphere_copy can copy a file to datastore won't be an alternative to the upload option?

[2020-12-16 16:43] mariolenz commented on #563
Well, you can't make sure that the `main` branch is never broken if you run tests only against govcsim. **One** test that ignores govcsim would be enough to make this theoretically impossible, but as I've pointed out above there are quite a lot (109) of tests that run only `when: vcsim is not defined`.

[2020-12-16 19:20] goneri commented on #563
This is the reason why I used the word "compromise" :-). If we want to follow the best practices of Zuul-CI, we should run the whole test-suite.

[2020-12-16 20:34] MallocArray commented on #549
The first two examples may work, but splitting the playbook with import_tasks does significantly complicate the layout.

The final example to execute as a single playbook fails for me:
FAILED! => {"msg": "Unexpected templating type error occurred on ({{ cluster_name | default([])\n  + data\n}}): can only concatenate list (not \"AnsibleUnsafeText\") to list"}

Ultimately, with the Key containing ju

[2020-12-17 09:53] rmx-it commented on #215
Me too.

Trying to se a (globally defined) custom value to true:

...
            "customvalues": [
                {
                    "key": "SAP monitored",
                    "value": "true"
                }
            ],
...

Result:
...
    "msg": "A specified parameter was not correct: config.extraConfig[\"SAP monitored\"]",
    "op": "reconfig"
...

Version of ansible is 2.9.10
VCente

[2020-12-17 16:18] #196 closed

[2020-12-17 19:44] mariolenz commented on #373
Can you please have a look at PR #582 an tell me if this fixes your issue? Thanks.

[2020-12-18 06:42] #570 closed

[2020-12-18 15:45] mariolenz opened #583 "vmware_tag_manager: Integration test (maybe) broken"
##### SUMMARY
Zuul fails for #582 but not for `vmware_guest_disk`, it looks like the `vmware_tag_manager` integration test has a problem.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_tag_manager

##### ACTUAL RESULTS
I think that the task `Create tag with colon in name` fails:

[code]

[job-output.txt](https://c475658ac8112525dbe5-65cf4fb6b84bcd0ac250a4e6b308c7f6.ssl.cf2.rackcdn.com

[2020-12-18 15:59] rmx-it commented on #373
Hi,
I amnually applied the patch to vmware_guest_disk.py as follows:
...
        disk_spec.device = vim.vm.device.VirtualDisk()
        disk_spec.device.key = -randint(20000, 24999)
        disk_spec.device.backing = vim.vm.device.VirtualDisk.FlatVer2BackingInfo()
...

Unfortunately I still get:

TASK [Configure virtual machine disks] ***************************************************************

[2020-12-18 17:19] mariolenz commented on #373
@rmx-it I'm sorry, but I don't understand why you get this error. Can you tell us what ansible version you're running? And share your playbook?

Btw, we have an integration tests that _does_ add several disks in one task and it doesn't fail:

https://github.com/ansible-collections/community.vmware/blob/0ba8d29c5c2e004d9e58232ca1b4887c5cb3bc22/tests/integration/targets/vmware_guest_disk/tasks/main.

[2020-12-18 19:20] mariolenz commented on #583
Sorry, I got this error two or three times in a row so I thought this might be a general problem. But the last CI run was OK so this was probably only a temporary issue.

[2020-12-18 19:20] #583 closed

[2020-12-21 04:00] Akasurde commented on #579
@laidbackware Thanks for the information. Could you please confirm if adding namespace is required for `Datastore` only or for all associable object types?

Thanks.

[2020-12-21 05:54] patsevanton opened #585 "Support VMware Cloud Director for vmware_vm_inventory"
##### SUMMARY

Support VMware Cloud Director for vmware_vm_inventory

##### ISSUE TYPE
- Feature Idea

Hello!
Thanks for community.vmware.

ansible --version
[code]

Vmware
[code]

I try get inventory  for ansible from VMware Cloud Director

[code]

Error:
[code]

[2020-12-21 07:56] Akasurde commented on #575
resolved_by_pr #586

[2020-12-21 07:56] Akasurde commented on #575
@anba000 Could you please check if #586 works for you and let me know? Thanks.

[2020-12-21 10:55] anba000 commented on #575
@Akasurde I can confirm that it is working now. Thank you very much for the fix.

[2020-12-21 13:48] Udayendu commented on #32
I tested with ansible 2.10.4 and this issue still got the exact same but with vmware_guest module. In my scenario, here is what I am trying to do:

- I have 1 datacenter, 2 clusters
- each cluster is having its own dvSwitch
- each dvSwitch having its own DVPG but with exact same name

I am trying to deploy a VM in Cluster2, vmware_guest showing that it has applied the DVPG as mentioned but instead

[2020-12-21 21:46] lm-sig commented on #539
I removed the offline/disconnected host and the module now works.

[2020-12-22 05:21] Akasurde commented on #585
@patsevanton Thanks for the feature idea. vCloud Director is managed by https://github.com/vmware/ansible-module-vcloud-director repo. I think this is the correct location for this feature.

[2020-12-22 05:23] Akasurde commented on #585
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/vmware/ansible-module-vcloud-director

Migrated this issue in the above repository - https://github.com/vmware/ansible-module-vcloud-director/issues/160.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on

[2020-12-22 05:23] #585 closed

[2020-12-22 07:32] vivekanand553 commented on #578
Hello sky-joker,

thanks a lot for your mail, i am not able to get to the vmware collections, can you kindly let me know the link to access them?

Regards
Vivekanand

[2020-12-23 01:08] sky-joker commented on #578
Ansible 2.9 supported the collections, so you can be able to use the community.vmware collection.
Please see the following for using this collection.

**How to use the community.vmware with Ansible 2.9**

1. community.vmware install with ansible-galaxy

[code]

2. check if the collection installed

[code]

3. change the module section to FQCN

[code]

[code]

4. please try to execute the playbook

[2020-12-23 09:20] Rocking80 commented on #324
Thanks @sky-joker, I will try and let you know the results.

[2020-12-23 14:08] noesberger commented on #112
I would like to have this feature as well.
But should it not be handled by vmware_dvs_host. Just add an uplink to the vmnic (lag-0, lag-1) and if nothing defined, just use the default (Uplink 1, Uplink 2)

[2020-12-27 17:49] #575 closed

[2020-12-27 18:01] mariolenz commented on #204
@Akasurde Can we close this issue? Looks like PR #401 fixed it.

[2020-12-28 03:52] Akasurde commented on #204
As per https://github.com/ansible-collections/community.vmware/issues/204#issuecomment-701343618 closing this issue.

[2020-12-28 03:52] #204 closed

[2020-12-29 15:50] #539 closed

[2020-12-29 19:28] mariolenz commented on #578
As far as I know, not all 2.9 versions support collections. I think you would need at least ansible 2.9.10.

[2020-12-30 04:50] sky-joker commented on #549
Thank you for the detailed information.
I understood what you want to do.

Unfortunately, I think that the current community.vmware doesn't do it.
So I think that you need to use a custom dynamic inventory script.
For example, here's like.

[code]

[code]

Grant execute permission to sample_custom_script.py

[code]

The following is resuls example after executing the script.

[code]

Need authenti

[2020-12-30 06:11] sky-joker commented on #578
Thank you for following.
Ansible 2.9 supports the collections but the supported Ansible version is different for each collection.

FYI: https://www.ansible.com/blog/getting-started-with-ansible-collections

Just as @mariolenz said, the community.vmware collection supports Ansible 2.9.10 or more.
https://github.com/ansible-collections/community.vmware/blame/main/README.md#L10

[2020-12-30 16:35] robconklinmd commented on #481
I ran into this same problem and had put information about the problem on issue  #405
After looking around some more I found the issue seems to have been introduced during the move to Ansible Community.  I cannot find at what point the bug was introduced but here is the code that is causing the issue:

                # We don't need customizations for these keys
                if key == 'type' a

[2020-12-30 18:44] Bahu2016 opened #590 "community.vmware.vmware_guest_disk - detach disk from vm [keep vmdk file but detach disk from virtual machine]"
##### SUMMARY
Looking feature to detach the disk from vm instead remove/destroy totally.

##### ISSUE TYPE
- state: detach [ This will keep vmdk file but detach disk from vm. ]

##### COMPONENT NAME
community.vmware.vmware_guest_disk

##### ADDITIONAL INFORMATION
Am not this has been requested before, if we have option detach disk from vm ( This means keep vmdk file, but disk is detached from vm )

[2020-12-31 20:09] cigamit commented on #369
A log is created (usually in /tmp/) during the customization process.   I would check there first.  I have no issues with my RHEL8 and Centos8 images.  Is VMWare tools installed on the image, or open-vm-tools?  You also don't mention your VSphere version.

[2021-01-02 10:10] matancarmeli7 commented on #347
Hey @Akasurde,
I wrote aansible mudle that adds pci devices to vmware guests, can I create a PR to add it to this repository?

[2021-01-02 10:42] Medalibi commented on #347
Hi @matancarmeli7
Would you mind sharing your code please?

[2021-01-02 11:58] matancarmeli7 commented on #347
Hi @Medalibi, this is the code with an Ansible playbook example:
https://github.com/matancarmeli7/vmware_guest_pci

[2021-01-02 12:09] Medalibi commented on #347
@matancarmeli7
Thanks for sharing. This only works with pci pass through devices. It does not support vGPU profiles. The issue is that most of the good Nvidia cards these days can only work with a license server to use the Quadro vDWS. For that you need to attach a shared device while specifying its profile. I may have some free time by the end of the month. Is it fine to build on your code to get

[2021-01-02 12:14] matancarmeli7 commented on #347
@Medalibi, yes Now I see that I didn’t handle shared pci devices.
If you have time you can add a code that will allow it support shared pci devices.

[2021-01-04 19:26] Iwifia opened #593 "vmware_guest python error on vcenter 7.0.1.00200"
##### SUMMARY
When deploying a new system, an error comes up relating to the module being used to deploy the OS to vcenter

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
CentOS 8.2 (Docker AWX Instance wit update ran)

##### STEPS TO REPRODUCE
Run playbook

[code]

##### EXPECTED RESULTS
Server builds in vCenter and

[2021-01-04 19:49] goneri commented on #369
Hi @jxu6619, sorry for the question, but does this work fine if you manually create a RHEL8 VM with the same parameters (without Ansible)?

[2021-01-04 21:56] jxu6619 commented on #369
thanks, it was solved.

On Mon, Jan 4, 2021 at 12:49 PM Gonéri Le Bouder <notifications@github.com>
wrote:

[2021-01-04 22:01] goneri commented on #369
Thank you, I close the issue. Would you like to share your solution? This may interest some other folks who face a similar problem.

[2021-01-04 22:01] #369 closed

[2021-01-05 01:57] jxu6619 commented on #369
The solution is to make sure that networking configuration is correct when
creating the system image.
Hopefully, it is useful.

On Mon, Jan 4, 2021 at 3:01 PM Gonéri Le Bouder <notifications@github.com>
wrote:

[2021-01-05 05:29] Tomorrow9 commented on #162
@ansibleusersili @mehmoodkha hi, does your vCenter have more than one datacenters or more than one ESXi hosts?  Can you have a try on one ESXi host environment? I also hit similar issue before.

[2021-01-05 15:58] mariolenz commented on #555
I agree that it would be better to explicitly declare the inner structure of the `customization` argument. Not only for you specific use case but generally. I'll assign this issue to myself and will try to do something about it.

[2021-01-05 16:25] mariolenz commented on #565
fixed by #567

[2021-01-05 16:25] #565 closed

[2021-01-05 23:42] dmsimard commented on #540
@goneri FYI for the record 1.6.0 shipped in Ansible 2.10.5.

[2021-01-06 06:35] Akasurde commented on #593
@Iwifia Thanks for reporting this. I see that under `customization:` everything is commented, which is causing this error. You may want to remove that altogether and re-run the task.

I agree that we should provide a good error message rather than showing Python stacktrace.

[2021-01-06 07:14] Akasurde commented on #593
resolved_by_pr #596

[2021-01-06 07:14] Akasurde commented on #593
@Iwifia Could you please check and let me know if #596 works for you? Thanks.

[2021-01-06 11:13] sdavid-fr commented on #353
Same problem here.
ansible 2.10.3, pyvmomi 7.0.1, vmware 6.5

I tried to workaround the problem by using vmware_guest_disk module to add supplementary disks one by one, but the module has the same bug (https://github.com/ansible-collections/community.vmware/issues/530)

I didn't find any solution to workaround this issue yet.

This bug is quite old :
•	https://github.com/ansible/ansible/issues/248

[2021-01-06 12:34] nre-ableton commented on #481
It seems that the above code was introduced in `34ecd6cb25258116d394ffcbaf9ec29504a3919a` (see https://github.com/ansible/ansible/commit/34ecd6cb25258116d394ffcbaf9ec29504a3919a), which is a fix for https://github.com/ansible/ansible/issues/57873. A quick `git tag --contains 34ecd6cb25258116d394ffcbaf9ec29504a3919a` reveals that this code was first introduced in `v2.10.0`.

@ngp-star can you comme

[2021-01-06 12:47] Akasurde commented on #481
@Tomorrow9 Could you please comment on this? Since you know the guest customization part of VM.
Thanks.

[2021-01-06 12:51] Akasurde commented on #481
From my understanding, this code is triggering the customization when the network type is DHCP.
Customization is required since it sets the `ip` and `netmask` - https://github.com/ansible-collections/community.vmware/blob/main/plugins/modules/vmware_guest.py#L2240

[2021-01-06 14:01] nre-ableton commented on #481
For the record, I am not advocating for removing this code. I would prefer to see a solution which keeps it, but also doesn't bail out when trying to create Mac VMs because customization is not supported there (see https://github.com/ansible-collections/community.vmware/issues/405).

[2021-01-06 14:03] Akasurde commented on #481
yup agreed.

[2021-01-06 15:02] MalfuncEddie commented on #550
I tried to user the module vmware_vmotion.py to vmotion to a datastore cluster and this does not work since it is also expecting a datastore instead of an cluster.
that module does not use get_recommended_datastore but find_datastore_by_name. It might be worth the effort to change find_datastore_by_name so that it follows the logic  of seeing if this is a cluster and using get_recommended_datastor

[2021-01-06 16:16] yvespp commented on #481
In the example code of @vonpelz `dhcp` is not set but it triggers a customization anyway. Only `name` is set under `network`.

I think the code that @robconklinmd posted shouldn't set `network_changes=true` because `name` is in the `if key not in` list.

[2021-01-06 19:28] davehouser1 opened #598 "Gather alarms of vCenter"
I may have missed it but there does not seem to be a module to gather current alarms.
Can you kindly point me in the direction of the module that does gather this information?

##### ISSUE TYPE
- Feature Idea

[2021-01-06 19:51] mariolenz commented on #598
With current alarms, you mean _triggered_ alarms? I don't think we have a module for this.

There might be use cases to manage **alarm definitions** with ansible (as far as I know there's no module for this, either, but I might be wrong there) but I don't see the need for a module to gather current / triggered alarms.

You see, ansible isn't a **monitoring** solution. Don't try to use it like one,

[2021-01-06 22:54] davehouser1 commented on #598
Fair enough. The purpose is not for monitoring, just for data gathering.
Will look into the vmware api instead.

[2021-01-06 22:54] #598 closed

[2021-01-07 01:19] robconklinmd commented on #481
This issue is not limited to Mac VMs.  I ran into it with a Palo Alto VM Firewall.

[2021-01-07 01:30] robconklinmd commented on #481
FYI - Here is my call to vmware_guest
- name: Create VMFW
  vmware_guest:
    hostname: "{{ vcenter_hostname }}"
    username: "{{ vcenter_username }}"
    password: "{{ vcenter_password }}"
    validate_certs: False
    template: "{{ vmware_template }}"
    datacenter: "{{ vcenter_datacenter_name }}"
    folder: "{{ vmware_folder }}"
    cluster: "{{ vmware_cluster }}"
    name: "{{ vmfw_name }}"

[2021-01-07 07:21] yvespp commented on #481
According to the docs `networks.type` is set to dhcp by default: https://docs.ansible.com/ansible/latest/collections/community/vmware/vmware_guest_module.html#parameter-networks/type
So I think that's what's triggering the code @robconklinmd found...
As a workaround `networks.type` could be set to `static` and it shouldn't trigger a customization.

What is strange to me is that the default is `dhc

[2021-01-07 07:29] Akasurde commented on #481
@yvespp This is due to https://github.com/ansible-collections/community.vmware/blob/2239833f9e335a22515cc526edfe484c7c7671a8/plugins/modules/vmware_guest.py#L1913

[2021-01-07 12:48] theirpuppet opened #599 "Failed to create a virtual machine : A specified parameter was not correct: nicsettings:adapter:ip"
##### SUMMARY

With VMware Customization Spec Network/NIC1 set to 'Prompt User', this error message appears and the build process fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]
VMware ESXi, 6.7.0
vCenter Server 6.7.0

##### STEPS TO REPRODUCE

Customization Spec - Network set to C

[2021-01-07 13:03] theirpuppet commented on #599
https://gist.github.com/theirpuppet/3395d4987c8f125a33522050c7765cdc

[2021-01-07 18:06] mariolenz commented on #598
@davehouser1 We use PowerCLI a lot for things where ansible isn't the right tool. Personally, I needed some time to get used to it but it gives you a lot of flexibility. Powershell is a full-grown scripting language and some things are fairly easy to do. We built ourselves some scripts, but we also have a "library" of useful one-liners we literally copy and paste into a powershell session to get s

[2021-01-08 07:18] phgogo opened #601 "vmware_guest_info ignores parameter validate_certs"
##### SUMMARY
When using the "vmware_guest_info" module, the connection fails on untrusted SSL-Certificates, even though `validate_certs: no` or `validate_certs: False`  is passed. This clearly is an unwanted behaviour and should be fixed.

I found a simmilar report from 2016 in vmware_vm_shell, maybe this is related
https://github.com/ansible/ansible-modules-extras/issues/2757

##### ISSUE TYPE
-

[2021-01-08 07:38] Akasurde commented on #601
@phgogo Thanks for reporting this issue. Could you please use - https://docs.ansible.com/ansible/devel/scenario_guides/vmware_scenarios/vmware_requirements.html#using-custom-path-for-ssl-certificates and let me know?

[2021-01-08 07:40] Akasurde commented on #601
So the issue is `vmware_guest_info` uses two libraries - `Pyvmomi` and `vSphere Automation SDK`

Pyvmomi uses the

[2021-01-08 07:44] phgogo commented on #601
I acutally use this technique for VCs that have valid HTTPs certificates, but some unfortunately only have self signed ones.

[2021-01-08 07:59] Akasurde commented on #601
@phgogo I misread the issue first. I am unable to reproduce for my vCenter with a self-signed CA server.

[code]

[2021-01-08 08:46] phgogo commented on #601
Hm. But in my case it clearly is not working. Are you using the same ansible/OS version as i am?

Another cause could be, that my certificate is not only self-signed but not even matching the servers domain name.

[2021-01-08 09:06] Akasurde commented on #601
@phgogo Yes. Where is your CA bundle saved? can you ping me (akasurde) #ansible-vmware channel on irc.freenode.net?

[2021-01-08 09:17] phgogo commented on #601
The CA-Bundle does not matter here, since i want it to work without any certificate_verification (as seen in STEPS TO REPRODUCE, where i don't pass any vars. I probably should have made the playbook structure more clear).

I am in a corporate environment and unfortunately unable to use IRC here, sorry 😕

[2021-01-08 09:26] Akasurde commented on #601
@phgogo OK.

when we set `validate_certs: False` this https://github.com/ansible-collections/community.vmware/blob/2239833f9e335a22515cc526edfe484c7c7671a8/plugins/module_utils/vmware_rest_client.py#L126 gets set and does not require the CA bundle. But somehow this value is not set.

Can you run the following Python script with your variables -

[code]

[2021-01-08 09:52] phgogo commented on #601
Hi, thanks for your in-depth analysis!

I run *exactly* the python-code you provided using python3 and the same python-environment and host which ansible uses.
I obviously changed the hostname/username/password to my needs. This is the output i get. Strangely i verified that the credentials are 100% correct, nevertheless i get the following error:

[code]

[2021-01-08 09:59] Akasurde commented on #601
@phgogo I found the same issue as yours https://github.com/vmware/vsphere-automation-sdk-python/issues/254

[2021-01-08 10:13] Akasurde commented on #601
@phgogo Can you please list required libraries like - `pip list | grep v`

Mine looks like
[code]

[2021-01-08 10:16] phgogo commented on #601
@Akasurde of course, here is my output. Ansible is configured to use python3, hence the pip3 output is relevant here.

[code]

[2021-01-08 10:22] phgogo commented on #601
Tried to update, still getting the same results:

[code]

[2021-01-08 11:39] mechantbruce commented on #546
Thank you I made the change and it has worked;

    community.vmware.vmware_guest:
        #hostname: "{{ vCenterServer }}"
        #esxi_hostname: "{{ esxi_host }}"
        hostname: "{{ esxi_host }}"

[2021-01-08 11:45] Akasurde commented on #601
@phgogo I can only replicate this when my password is wrong

[code]

[2021-01-08 11:51] NathanDotTo commented on #546
Note that the `esxi_host` is the IP address of the ESXi system, and has the same value as the `vCenterServer ` variable.

The problem *seems* to be that, if the `esxi_hostname` and `hostname` variables are defined, and the `hostname` actually refers to an ESXi server, then this breaks.

The documentation says:

`The hostname or IP address of the vSphere vCenter or ESXi server.`

So I'd expect the

[2021-01-08 12:18] phgogo commented on #601
You are right, the format of the username was wrong. I use Active-Directory-Backed auth and in ansible the username is formatted `domain\user` while the python lib seems to require `user@domain`.

`user@domain` works in the python library but delivers the same "SSL-Error" results as initially when run in ansible.

[2021-01-08 12:22] Akasurde commented on #601
can you paste me the error with full traceback? I am trying to reverse engineer.

[2021-01-08 14:30] theirpuppet commented on #599
I get the same result in two different vSphere environments. Both, however, have the same version / configuration of ansible.

Environment A:
vCenter Server: 7.0.1, 17327586
ESXi: 7.0.1, 17168206

Environment B:
vCenter Server: 6.7.0, 16046713
ESXi, 6.7.0, 14320388

[2021-01-08 14:43] phgogo commented on #601
I was able to identify the exact issue!

The server i was using, had `REQUESTS_CA_BUNDLE: /etc/pki/tls/certs/ca-bundle.crt` in it's default environment.
As soon as this environment parameter is passed, the vmware modules try to validate the SSL-Certs, no matter what `validate_certs` is set to.

I think, this is still a bug, as you don't always have control over whats in the environment the presenc

[2021-01-08 15:09] Akasurde commented on #601
@phgogo Great. This is known and is documented in https://docs.ansible.com/ansible/devel/scenario_guides/vmware_scenarios/vmware_requirements.html#using-custom-path-for-ssl-certificates. I think this is more of a `vSphere Automation SDK` bug rather than Ansible.

[2021-01-08 15:18] phgogo commented on #601
Can you point out, where in the documentation below, it is stated that `REQUESTS_CA_BUNDLE` does override `validate_certs`?

https://docs.ansible.com/ansible/devel/scenario_guides/vmware_scenarios/vmware_requirements.html#using-custom-path-for-ssl-certificates

I can understand this behaviour in python, as there the environment-vars are the major way of controlling the behaviour. Nevertheless i th

[2021-01-08 15:35] Akasurde commented on #601
@phgogo VMware modules use the `requests` library to [set sessions](https://github.com/ansible-collections/community.vmware/blob/2239833f9e335a22515cc526edfe484c7c7671a8/plugins/module_utils/vmware_rest_client.py#L126). `requests` internally uses `REQUESTS_CA_BUNDLE` - https://2.python-requests.org/en/master/user/advanced/#ssl-cert-verification. We don't have control over the environment variable

[2021-01-08 15:39] rmx-it opened #602 "vmware_guest: Error when trying to set customvalue"
##### SUMMARY

When trying to clone/change a VM with a cusom setting I get an error.

##### ISSUE TYPE
- Bug Report
[code]
##### COMPONENT NAME

community.vmware.vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux release 8.2 (Ootpa)
VMWare 7

##### STEPS TO REPRODUCE

use a playbook with defined customvalues.

[code]

##### EX

[2021-01-08 16:09] Akasurde commented on #602
@rmx-it Thanks for reporting this issue. `vmware_guest` uses `customvalues` parameter to set `extraConfig` rather than `CustomValues` of VM. This change was added due to confusion but to maintain backward compatibility we never replaced it. There is a PR https://github.com/ansible-collections/community.vmware/pull/179 which changes this behavior.

Since this is a breaking change we would like to w

[2021-01-08 16:15] Akasurde commented on #215
Duplicate of https://github.com/ansible-collections/community.vmware/issues/602

[2021-01-08 16:15] #215 closed

[2021-01-08 16:20] Akasurde commented on #261
vmware_vm_inventory supports filtering - https://docs.ansible.com/ansible/devel/scenario_guides/vmware_scenarios/vmware_inventory_filters.html

[2021-01-08 16:20] #261 closed

[2021-01-08 16:34] Akasurde commented on #549
@MallocArray @sky-joker What is the end result of the discussion?

[2021-01-08 17:12] hojerst commented on #602
@Akasurde Hm I can't understand your argumentation for the delay to a 2.x release. The behaviour was working in the ansible 2.9 bundled release. in 2.10 it changed (with the bundled vmware community collection). So there IS already a incompatible change in these versions. Waiting to fix this with a major release is kind of odd.

[2021-01-08 19:16] beezel opened #603 "vmware_host_iscsi does not allow you to configure IQN"
##### SUMMARY

The ability to manually configure iSCSI IQN should be added as it is a basic function of iSCSI configuration and required in many shops to match prescribed naming conventions.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

community.vmware.vmware_host_iscsi
##### ADDITIONAL INFORMATION

initiator_iqn option should be added to configuration of HBA to allow shops to conform wi

[2021-01-09 19:57] mariolenz commented on #555
Could you please try PR #595 and tell me if this fixes your issue?

[2021-01-11 06:07] Akasurde opened #604 "vmware_host_iscsi_info: disable tests"
##### SUMMARY
Disable vmware_host_iscsi_info tests

https://dashboard.zuul.ansible.com/t/ansible/build/efd62f939f034eb0aa4936b936f69065/console

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_host_iscsi_info

##### ANSIBLE VERSION

devel

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ALL

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2021-01-11 06:08] Akasurde commented on #604
Please re-enable once the issue is resolved.

[2021-01-11 06:09] Akasurde commented on #604
Tests disabled via PR - https://github.com/ansible-collections/community.vmware/pull/605

[2021-01-11 06:24] sky-joker commented on #604
@Akasurde

When did this problem start to occur?
Does this problem always occur?

[2021-01-11 07:11] sky-joker commented on #604
Upon confirming CI log, an error has occurred in a connection to VCSA in vmware_host_iscsi_info module integration test.
The following is that error.

[code]

I wonder why the error started occurring...
I look that it doesn't appear to be the integration test issue.

[2021-01-11 07:57] Akasurde commented on #604
ok.

[2021-01-11 08:09] sky-joker commented on #604
Just in case, I also try if the test correctly works in my homelab.

[2021-01-11 08:11] Akasurde commented on #604
I am pretty sure that this login failure is due to low memory. cc @goneri

[2021-01-11 08:13] sky-joker commented on #604
ok, thanks reply!

[2021-01-11 10:03] sky-joker commented on #549
[code]

I have been thinking that to close this issue the above needs to resolve.
But in the current community.vmware modules, I thought that it doesn't resolve, so I did a suggestion for using the dynamic inventory script.
Please let me know if I'm interpreting your question incorrectly.

[2021-01-11 15:36] goneri commented on #604
yes, or an ESXi crash.

[2021-01-11 17:05] mariolenz commented on #593
resolved_by_pr #595

[2021-01-11 17:09] mariolenz commented on #593
@Iwifia We closed #596 and try to fix this in #595 Could you please test the latter and let us know if it fixes your issue? Thanks.

[2021-01-12 21:27] laidbackware commented on #579
@Akasurde sorry for the slow response.

Through the process of elimination by creating a category and seeing is it is available for use in a VM Storage Polocy I've found that urn:vim25 has to be prepended to Cluster, Datastore, Datastore Cluster and Host. I also found that urn:vmomi has to be prepended to Host and Library Item. Strangely Content Library works as is and breaks if prepending anythin

[2021-01-13 04:52] Akasurde commented on #579
@laidbackware Thanks for providing this information. We need to keep changes backward compatible  (without namespace in older releases).

I will search for API to find the namespace of objects.

@anusha94 @Tomorrow9 might have additional information about this.