[2020-03-03 12:31] Udayendu opened #19 "VMware: Need a module called "vmware_datacenter_info" to collect datacenter into in vCenter"
##### SUMMARY
There is no `vmware_datacenter_info` module available which cal list all available datacenters in a vCenter. And also its associated components if no cluster present like network/storages/folders(vm_template) etc.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_datacenter_info

[2020-03-03 12:34] Udayendu commented on #19
Currently we have `vmware_cluster_info`  which is collecting cluster name and its associated properties. We need a similar module for datacenter as well.

[2020-03-04 08:25] Akasurde commented on #19
resolved_by_pr #23

[2020-03-04 08:25] Akasurde commented on #19
@Udayendu, Could you please check PR #23 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2020-03-04 11:42] Akasurde opened #24 "VMware: vmware_content_deploy_template only supports vm_template"
##### SUMMARY
`vmware_content_deploy_template` only support `vm_template` and not `ovf`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/cloud/vmware/vmware_content_deploy_template.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
NA

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Try deploying OVF library item from content library. Module fails with

[code]

#####

[2020-03-04 11:42] Akasurde commented on #24
cc @pgbidkar

[2020-03-04 11:42] Akasurde commented on #24
cc @Tomorrow9 @goneri @lparkes @warthog9
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2020-03-04 11:42] Akasurde commented on #24
Hi @Akasurde ,
Thanks for reporting this. Yes! OVF is not supported. OVF deploy would be separate module. I will work on creating new module for the same.
Thanks

[2020-03-04 11:42] Akasurde commented on #24
@pgbidkar Thanks for info.

[2020-03-04 11:42] Akasurde commented on #24
Why a separate module? It might be a bit more complex to implement, but for a user deploying a VM from a content library it shouldn't matter if it's a template or an OVF. If possible, I'd prefer a unified approach- a module that can do both.

On the other hand: Having two modules is still better than not being able to deploy OVFs from a content library at all.

[2020-03-04 11:42] Akasurde commented on #24
This is migrated from ansible/ansible to this repo

[2020-03-04 11:42] Akasurde commented on #24
cc @Akasurde

[2020-03-04 11:58] Akasurde opened #25 "vmware_guest_network: fails with a backtrace if static MAC starts with '00:50:56'"
##### SUMMARY

hi @pgbidkar and @Tomorrow9.

If I use the following task:

[code]
I get the following error: [add_nic.txt](https://github.com/ansible/ansible/files/3709181/add_nic.txt)

If I remove the `manual_mac` keys, everything works fine.

I create the Fedora 30 VM with:

[code]
I've tried several hardware.version/guest_id combination, without any difference. My lab is set-up as described her

[2020-03-04 11:58] Akasurde commented on #25
@goneri said - <br> It's not a problem with the module. I get exactly the same error if I the same operation manually using vcenter web UI.

[2020-03-04 11:58] Akasurde commented on #25
@goneri said - <br> Ah! The problem comes from the 00:50:56 prefix (VMware), If I use another one, everything just works as expected!

[2020-03-04 11:58] Akasurde commented on #25
@goneri said - <br> https://github.com/ansible/ansible/issues/51221 seems to be the the same problem. MAC starts with 00:50:56 too.

[2020-03-04 11:58] Akasurde commented on #25
Migrated from https://github.com/ansible/ansible/issues/63302 to this repo

[2020-03-04 11:58] Akasurde commented on #25
cc @goneri

[2020-03-04 12:20] Akasurde opened #27 "vmware_rest_client does not support HTTP Proxy"
##### SUMMARY

`module_utils/vmware_rest_client.py` and the associated modules don't support HTTP Proxy.

The modules:

- _vmware_category_facts
- vmware_category_info
- vmware_category
- vmware_cluster_info
- vmware_content_deploy_template
- vmware_content_library_info
- vmware_content_library_manager
- vmware_guest_info
- vmware_host_facts
- vmware_tag_info
- vmware_tag_manager
- vmware_tag
- vm

[2020-03-04 12:20] Akasurde commented on #27
Migrated from https://github.com/ansible/ansible/issues/62446 to this repo

[2020-03-04 12:20] Akasurde commented on #27
cc @goneri

[2020-03-04 12:21] Akasurde opened #28 "vmware: module without any functional test"
##### SUMMARY

The following modules don't have any test coverage:

- [ ] `vmware_guest_boot_manager`
- [ ] `vmware_guest_video`
- [ ] `vmware_guest_file_operation`
- [ ] `vmware_vmkernel_ip_config`
- [ ] `vmware_vsan_cluster`
- [ ] `vmware_cfg_backup`
- [ ] `vmware_dvs_host`
- [ ] `vmware_dns_config`
- [ ] `vmware_guest_tools_upgrade`
- [ ] `vmware_host_lockdown`
- [ ] `vmware_vmotion`
- [ ] `vmw

[2020-03-04 12:21] Akasurde commented on #28
@Tomorrow9 said - <br> Functional test for "vmware_export_ovf" module in PR #60265.

[2020-03-04 12:21] Akasurde commented on #28
Migrated from https://github.com/ansible/ansible/issues/59635

[2020-03-04 12:21] Akasurde commented on #28
cc @goneri

[2020-03-04 12:44] Akasurde opened #30 "vmware_host: folder parameter is not consistent"
##### SUMMARY

Hi!

I create a `Staging` folder in my dc1 datacenter with the following tasK

[code]

![vsphere](https://user-images.githubusercontent.com/49379/55260298-648e2d00-523e-11e9-9193-27e7694e2ce7.png)

Then I try to create a host in it:

[code]

I get the following error: `fatal: [localhost]: FAILED! => {"changed": false, "msg": "Folder '/dc1/Staging' not found"}`

I also tried:

- Stag

[2020-03-04 12:44] Akasurde commented on #30
@Akasurde said - <br> @goneri Thanks for reporting this issue. `folder` parameter should include absolute path when you have multiple level of folder. So this value for you will be - `folder: /dc1/host/Staging`

needs_info

[2020-03-04 12:44] Akasurde commented on #30
@goneri said - <br> Thanks, `vcenter_folder` does not have this limitation. The two modules use both a parameter called `folder` but the format is different.

[2020-03-04 12:44] Akasurde commented on #30
@Akasurde said - <br> @goneri `vcenter_folder` creates directory in a generic way so these two modules are using folder parameter differently. We can improve documentation and examples to identify this difference. Let me know if it makes sense. Thanks.

[2020-03-04 12:44] Akasurde commented on #30
@Akasurde said - <br> needs_info

[2020-03-04 12:44] Akasurde commented on #30
@goneri said - <br> Thank you @Akasurde for the clarification. I did the following change to get the full path of the new folders: https://github.com/goneri/ansible/commit/4670e41b3aa04a273326f959afcebb42a4cee7d0

If you like the idea, I will prepare a PR with that.

[2020-03-04 12:44] Akasurde commented on #30
@goneri said - <br> I  refreshed the patch and pushed it for review: https://github.com/ansible/ansible/pull/55237

[2020-03-04 12:44] Akasurde commented on #30
@bhundven said - <br> This seems to be in devel https://github.com/ansible/ansible/commit/5005c353ef1c64a5a224a074eeed02bd7f8eddff

[2020-03-04 12:44] Akasurde commented on #30
@bhundven said - <br> :( and it didn't make it into 2.8.1

[2020-03-04 12:44] Akasurde commented on #30
@goneri said - <br> @bhundven, the change is not a bug fix and since the result format of the module has changed, it can break existing playbook. This is the reason why it's not a good candidate for a stable update. It will be shipped with 2.9.

[2020-03-04 12:44] Akasurde commented on #30
@bhundven said - <br> It broke from 2.7 to 2.8. I am unable to migrate current deployments to 2.8

[2020-03-04 12:45] Akasurde commented on #30
@goneri said - <br> Hi @bhundven, this bug report is about a consistency issue, not a bug. If you've notified a regression between 2.7 and 2.8 that breaks your playbook, can you please open a new issue, this way we will be able to handle it properly.

[2020-03-04 12:45] Akasurde commented on #30
Migrated from https://github.com/ansible/ansible/issues/54621

[2020-03-04 12:45] Akasurde commented on #30
cc @goneri

[2020-03-04 13:17] Tomorrow9 commented on #25
@Akasurde, yeah, I can reproduce the issue using "vmware_guest_network" module with MAC address prefix "00:50:56", but not reproduce on web UI on vSphere 6.7U3 manually even set with the same MAC address as the existing network adapter. I'm not quite sure about if "VMware Organizationally Unique Identifier (OUI) 00:50:56" can be set manually, but I'll confirm that later. Thanks.

[2020-03-04 14:56] fragpit opened #31 "vmware modules not support similar tag names"
##### SUMMARY
Looks like some of the python submodules of the  ansible vmware modules can't support  similar vmware tag name in different categories. And it's not producing an error.
For example vmware_tag_info module is returning list  which has tag_name as a key, and a category as a subkey. So if I have similar tag names, it returns only one of them.

I'd checked the code. Looks like `search_svc

[2020-03-04 15:33] fragpit commented on #31
So, I made a pull request, but as I seen you guys already aware of this problem. Will wait for the fixes in future ansible versions.

[2020-03-04 16:51] Akasurde commented on #31
@fragpit Thanks for reporting this issue. Did you check this https://github.com/ansible/ansible/pull/66465? Let me know if it works for you. Also, check this https://github.com/ansible-collections/vmware/pull/10 which is related to same issue.

needs_info

[2020-03-04 17:14] Akasurde opened #32 "Ansible: vmware_guest_network fails to support multiple distributed virtual switches with identical port group names"
##### SUMMARY
I have a system with 2 datacenters each have their own set of DVS.  These DVS have different names but the port groups defined in each DVS are identical.

i.e.
Datacenter1 has DVSwitch0 that has Portgroup: portgroup1
Datacenter2 has Other_DVSwitch0 that has Portgroup: portgroup1

if I pass vmware_guest_network the network name portgroup1 and the subvar dvswitch_name: Other_DVSwitch0

[2020-03-04 17:14] Akasurde commented on #32
Migrated from https://github.com/ansible/ansible/issues/68009

[2020-03-04 17:14] Akasurde commented on #32
cc @doctrewho

[2020-03-04 17:17] Akasurde opened #33 "vmware_guest_info: Failed to gather information with vSphere Schema"
##### SUMMARY
While working with the New Ansible Module: "vmware_guest_info" with Ansible Version
While trying to get the Mac Address or the IP Address from the guest_info

[code]

[code]

JSON File:

[code]
##### ISSUE TYPE
I'm getting the following Error :

[code]

[2020-03-04 17:17] Akasurde commented on #33
Migrated from https://github.com/ansible/ansible/issues/68010

[2020-03-04 17:17] Akasurde commented on #33
cc @dfoley84

[2020-03-04 20:27] dmpe opened #34 "vmware_vm_info should return VMs that are accessible to the user"
`vmware_vm_info` normally returns all information about all VMs available on the ESXi datacenter. This is nice; however, in the corporate environment I do not have access to such information. Therefore, what I would expect is to `vmware_vm_info` return all information about (only) those VMs that i have access to and can normally query with other ansible tasks.

Otherwise one has to resolve to some

[2020-03-05 07:01] Akasurde commented on #33
resolved_by_pr #36

[2020-03-05 07:01] Akasurde commented on #33
@Akasurde, Could you please check PR #36 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2020-03-05 20:12] fklucas82 opened #40 "vmware_host_datastore - option to resignature"
#### SUMMARY
Currently, if the VMFS datastore is cloned from a snapshot, the module automatically formats the datastore when mounting. I'd like to be able to re-signature and mount the datastore so that I can use the module for disaster recovery operations.

#### ISSUE TYPE
Feature Idea
#### COMPONENT NAME
vmware_host_datastore

#### ADDITIONAL INFORMATION
Creating cloned datastores for file recov

[2020-03-06 07:41] JoschuaA4 opened #41 "VMware: connecting via Proxy seems to be broken"
SUMMARY

vmware_vmkernel_info and vmware_host_firewall_manager fails when connect to the vCenter should be established via proxy. I would suggest that other vmware modules have the same issue.
I've sniffed the network connection between the host where the playbook runs and the proxy while running the playbook but the was zero packets between those node. A curl from the host where the playbook runs

[2020-03-06 07:59] JoschuaA4 commented on #41
curl -k https://10.20.30.40 works if i set the export variable https_proxy, but i think i simplifed the 'ACTUAL RESULTS' a little. Our proxy need auth and the value from https_proxy looks like user:password@50.60.70.80:3128

[2020-03-06 08:59] xenlo opened #43 "Document `vmware_cluster` parameters that will deprecated and removed in 2.12"
##### SUMMARY
Since 2.9 (I think), we face a deprecated message when using the `vmware_cluster` module.

[code]

As far as I understand the messages and the discussion ansible/ansible#58023 and associated PR ansible/ansible#58468, it's not the entire module `vmware_cluster` that will become deprecated but only the arguments used to configure the HA, DRS and vSAN.
Like it's done for [`ip_address` p

[2020-03-06 09:02] xenlo commented on #43
Moved from ansible/ansible ([#68041](https://github.com/ansible/ansible/issues/68041)) to ansible-collections/vmware.

[2020-03-06 10:23] Akasurde commented on #43
@xenlo Thanks for providing information and providing your concern. AFAIK, `enable_[ha|drs|vsan]` will also deprecate with the other options (Since they are related). I think @mariolenz would be the right person to comment on this.

Thanks.

[2020-03-06 11:11] Akasurde opened #44 "VM ip is not set using ansible vmware_guest"
##### SUMMARY
I created a vm using ansible and installed RHEL 7.6. I am trying to set the ipv4 address of the vm, but it is not getting set, even though the playbook successfully runs.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest networks

##### ANSIBLE VERSION
ansible 2.9.0
  config file = path/ansible/ansible.cfg
  configured module search path = ['path/plugins/modules', '/u

[2020-03-06 11:11] Akasurde commented on #44
Migrated from https://github.com/ansible/ansible/issues/68063

[2020-03-06 11:11] Akasurde commented on #44
cc @ChavaliShr

[2020-03-06 11:13] Akasurde commented on #44
@ChavaliShr I see, `"guest_tools_status": "guestToolsNotRunning",` in console log. Please try restarting `vmware-tools` or `openvm-tools` service and re-try.

cc @Tomorrow9

[2020-03-08 16:49] mariolenz commented on #43
I'll have a look at this.

[2020-03-09 23:53] #33 closed

[2020-03-10 02:51] CosmoMyzrailGorynych opened #48 "vmware_guest cannot remove 2 CDROMs, adds 1 CDROM with state: absent"
**Transferred from https://github.com/ansible/ansible/issues/67952**

##### SUMMARY

The module `vmware_guest` cannot remove CDROMs.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

* vSphere Client version: 6.5.0.13000
* Hypervisor: VMware ESXi, 6.5.0
* VM Compatibility: ESXi 6.5 and later (VM v

[2020-03-10 14:25] Akasurde opened #49 "vmware_tag_manager - certificate validation fails"
##### SUMMARY

If `validate_certs: yes` is set for the module vmware_tag_manager, the task fails.

[code]

OpenSSL itself and other modules like vmware_guest_disk, do validate the certificate succenfully.

If `validate_certs: no` is set for the module vmware_tag_manager, the task executes successfully.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_tag_manager

/lib/ansible/modules/c

[2020-03-10 14:25] Akasurde commented on #49
@mycloudrevolution said - <br> I did some additional Investigation on TLS Level (`tcpdump -w /extras/dump -ni ens192 -p -s 65535 -c 300 "tcp port 443"`):
- Used TLS Version is fine (TLS 1.2)
- TLS Error: TLSv1.2 Record Layer: Alert (Level: Fatal, Description: Unknown CA)
- Verification via `openssl s_client -connect` looks fine:
[code]

[2020-03-10 14:25] Akasurde commented on #49
@goneri said - <br> Hi @mycloudrevolution,

Thank you for your bug report. Could you retry with release 2.9.6, https://github.com/ansible/ansible/commit/34a8594c91c should have resolved the problem.

Since March 2, 2020, the Ansible team does not accept any new changes on the VMware modules on the core ansible/ansible repository.
The development continue but in the new VMware collection repository

[2020-03-10 14:25] Akasurde commented on #49
@mycloudrevolution said - <br> I get the same error with ansible 2.9.6.

W00t? Did not notice the publication of the community.vmware collection.

[2020-03-10 14:25] Akasurde commented on #49
Migrated from https://github.com/ansible/ansible/issues/68128

[2020-03-10 14:25] Akasurde commented on #49
cc @mycloudrevolution

[2020-03-10 18:11] mariolenz commented on #43
@Akasurde I don't think that this issue deserves the `needs_triage` label. After all, @goneri already agreed in [#68041](https://github.com/ansible/ansible/issues/68041#issuecomment-595297395) that there is "indeed a lack of clarity of the documentation".

I, too, think that this is a valid issue. That's why I've created PR #47.

[2020-03-10 20:52] #43 closed

[2020-03-11 03:48] Akasurde opened #50 "copy parameters in vmware_guest_file_operation module does not work"
The running results to the copy parameters of the vmware_guest_file_operation module keep popping up a failure message source file not found below.

[code]

I am sure that the file exists in the control node, is this a bug or am I missing some configs?

[2020-03-11 03:48] Akasurde commented on #50
Migrated from https://github.com/ansible/ansible/issues/68157

[2020-03-11 03:48] Akasurde commented on #50
cc @linlung985

[2020-03-11 09:07] Akasurde commented on #50
@linlung985 Could you please provide the playbook used? and also confirm location of `/var/lib/awx/.ssh/id_rsa.pub`

[2020-03-12 15:09] gundalow opened #51 "Check for missing commits vs devel vs migration process"
##### SUMMARY
The "Big Migration" has now taken place.

As this collection already exists, we need to carefully check to see if any further commits went into devel since this repo was created. Also to see if there are any parts of the migration.py rewrite to existing code that need applying to this repo

Please check the contents of https://github.com/ansible-collection-migration/community.vmware

[2020-03-12 18:36] mariolenz commented on #51
These files exist in `ansible-collection-migration/community.vmware` but not in `ansible-collections/vmware`:
[code]
And these files are different between `ansible-collection-migration/community.vmware` and `ansible-collections/vmware`:
[code]
I hope this helps to narrow down what files we need to look at.

[2020-03-13 12:02] Akasurde commented on #49
@mycloudrevolution My initial RCA is - `certificate verify failed` error is raised when your Ansible controller does not trust vCenter certificate. Refer this troubleshooting note - https://github.com/vmware/vsphere-automation-sdk-python/wiki/Troubleshooting#certificate-verification-failed-when-making-api-calls

`vmware_guest_disk` works since the module is based upon Pyvmomi. But, `vmware_tag_man

[2020-03-13 13:17] pradeeprepati opened #53 "in ansible while doing user configuration step "ssh-copy-id <nodeip>" 'permission denied(publickey)'. it is getting error like this,how to solve this"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-03-14 02:13] Akasurde commented on #53
@pradeeprepati Could you please provide additional details such as console output, stdout log, operating systems used, vSphere version, module name, ansible version and other information? Also, provide debugging steps that you have taken to resolve the issue.

Without this vital information, it is very difficult to debug the issue just by reading the title.

Thanks,

[2020-03-16 05:27] Akasurde commented on #31
@fragpit Any news?

[2020-03-17 09:19] Akasurde opened #57 "vmware_category: RecursionError: maximum recursion depth exceeded while calling a Python object"
_From @goneri on Jan 14, 2020 16:12_

##### SUMMARY

`vmware_category` functonal test-suite fails ( https://github.com/ansible/ansible/blob/devel/test/integration/targets/vmware_category/tasks/associable_obj_types.yml#L5 ) randomely with the following backtrace:

e.g: https://object-storage-ca-ymq-1.vexxhost.net/v1/a0b4156a37f9453eb4ec7db5422272df/ansible_64e/66364/46bc0553c1234315607a295791592fcf

[2020-03-17 09:19] Akasurde commented on #57
_From @goneri on Jan 14, 2020 16:15_

![](https://github.trello.services/images/mini-trello-icon.png) [vmware_category: RecursionError: maximum recursion depth exceeded while calling a Python object](https://trello.com/c/SESxaV7R/16-vmwarecategory-recursionerror-maximum-recursion-depth-exceeded-while-calling-a-python-object)

[2020-03-17 18:23] mariolenz opened #59 "vmware_host_active_directory: Problems with corner cases"
##### SUMMARY
When there's a problem with the domain membership of a host, the module always reports a `change` but doesn't do anything (lines 160ff).

We ran into this issue when we accidentally removed the computer account of an existing ESXi host. Our playbook reported changing the AD membership over and over again which was a bit weird. After all, after the first change I'd expect an `OK` on a

[2020-03-17 20:44] JRNC opened #60 "Please Allow User Input to Customize Variable Assignments and Filters with the VMware Inventory Plugin"
@Akasurde

There are obstacles preventing folks from moving to the VMware dynamic inventory plugin from the old VMware inventory script. These obstacles include the lack of customization that was provided via options like alias_pattern, host_pattern, groupby_patterns, and host_filters that were available for the old inventory script (https://github.com/ansible/ansible/blob/devel/contrib/inventory/

[2020-03-18 05:39] Akasurde commented on #53
Since user has not provided required information, closing this issue. Please feel free to open a new issue with required information. Thanks.

[2020-03-18 05:39] #53 closed

[2020-03-19 07:57] Akasurde commented on #60
@JRNC Thanks for providing feedback. I understand there is definitely space for improvement. I will see if I can prioritize these requirements. PRs are welcomed.

[2020-03-20 20:22] MaartenMol opened #61 "vmware_tools connection plugin should encode when using Powershell"
##### SUMMARY

When using the vmware_tools connection plugin with Windows (set shell method to Powershell) some Windows modules don't work properly.

WinRM plugin does some encoding to always use Powershell, no issues with any Windows Modules. See this issue for more information on the bugs when working with Windows and vmware_tools: https://github.com/ansible-collections/ansible.windows/issues/36

[2020-03-20 20:24] MaartenMol commented on #61
Moved from old issue at https://github.com/ansible/ansible/issues/68349

[2020-03-23 12:01] Akasurde opened #62 "Unsupported parameters for (vmware_guest_boot_manager) module: boot_firmware, secure_boot_enabled"
_From @tanguy-legressus on Mar 23, 2020 11:21_

##### SUMMARY
Trying to add some features for Windows deployment, with the module "vmware_guest_boot_manager". Following the docs https://docs.ansible.com/ansible/latest/modules/vmware_guest_boot_manager_module.html.
Want to boot windows on EFI and with boot secure enabled.

Even if parameters are listed in the documentation, they seem to not be foun

[2020-03-23 12:22] Akasurde commented on #62
@tanguy-legressus I am not able to reproduce this. Could you please provide the source of `vmware_guest_boot_manager` that you are using?

Thanks,

needs_info

[2020-03-23 12:58] tanguy-legressus commented on #62
Hi, what do you mean by providing the source ?
To use this module i've just refered to the official documentation https://docs.ansible.com/ansible/latest/modules/vmware_guest_boot_manager_module.html

Thanks,

[2020-03-23 14:55] Akasurde commented on #62
I mean to say - did you copy this module from some other repo or something? Since I am not able to reproduce this.

[code]

[code]

[2020-03-23 15:51] tanguy-legressus commented on #62
I just added this module to an existing block to create VM, following the Ansible documentation.
It is needed in the context of improving some features for Windows deployment.
The need is, boot on efi and with secure boot enabled.

Yet, using these 2 parameters, i'm still getting this error:
[code]

[2020-03-23 16:28] goneri commented on #59
I agree with you @mariolenz. This should not happen.

[2020-03-23 17:00] Akasurde commented on #62
@tanguy-legressus Could you please ping me (akasurde) on #ansible-vmware irc channel on freenode.net? I think there is something wrong with your Ansible setup.

[2020-03-23 17:01] Akasurde commented on #62
Also, could you please provide full playbook yaml and console log with `-vvvv` output?

[2020-03-24 08:06] tanguy-legressus commented on #62
Hi,
So the full playbook, is in the role that consist in creating / reading / updating / deleting a VM (for all OS). We just want an exception for Windows deployment, to boot on efi/bootsecure:

_>role-vm

[code]

vars are defined in: (using brut value for parameters that we're looking at in these examples)
_>role-vm

**>main.yml*_*

Choosen parameters for this VM creation, are:
[code]
Here, the J

[2020-03-24 08:20] Akasurde commented on #62
@tanguy-legressus Thanks for the logs. Could you please provide content of this file - /var/lib/jenkins/<my_path>/role-vm/library/vmware_guest_boot_manager.py ?

[2020-03-24 08:39] tanguy-legressus commented on #62
@Akasurde Hi, thanks for the quick answer and support.

Here is the content of: /var/lib/jenkins/<my_path>/role-vm/library/vmware_guest_boot_manager.py

[code]

[2020-03-24 08:56] Akasurde commented on #62
@tanguy-legressus You are using out-of-sync copy of `vmware_guest_boot_manager.py`, see the following diff against latest copy of `vmware_guest_boot_manager.py`

[code]

Could you please copy latest `vmware_guest_boot_manager` from here - https://raw.githubusercontent.com/ansible/ansible/stable-2.9/lib/ansible/modules/cloud/vmware/vmware_guest_boot_manager.py

[2020-03-24 09:24] tanguy-legressus commented on #62
Thanks for update, will try that.
The module that we are using is the **official** one though. Which is coming with _Ansible 2.9.6_

[2020-03-24 10:26] Akasurde commented on #62
I will mark this as resolved. Please feel free to re-open if problem persists.

[2020-03-24 10:26] #62 closed

[2020-03-24 10:33] tanguy-legressus commented on #62
Ok thanks a lot for your help.
Fact is, we noticed that we had the module used and integrated in our code (here: <my_path>/role-vm/library/vmware_guest_boot_manager.py) ... Didn't see that to be honest.
So yes indeed it wasn't updated as it should be.

[2020-03-24 10:37] Akasurde commented on #49
@mycloudrevolution Any news?

[2020-03-24 11:36] Akasurde opened #63 "Unable to deploy VM, ESX hosts in maintenance"
_From @fkempers on Mar 24, 2020 11:27_

##### SUMMARY
VMs are being deployed on a datastore that is on a host in maintenance.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware-guest

##### ANSIBLE VERSION
$ ansible --version
ansible 2.8.4
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/username/.ansible/plugins/modules', u'/usr/share/ansible/plugins/mo

[2020-03-24 11:36] Akasurde opened #64 "vmware_guest not setting boot firmware"
_From @rolling1000ton on Mar 24, 2020 09:03_

##### SUMMARY

The vmware_guest module doesn't set the boot firmware to EFI when VM is created from template or when the boot firmware is set to EFI after the creation of the VM. If the VM is created without a template the boot firmware is set just fine.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

[2020-03-24 11:36] Akasurde commented on #64
_From @rolling1000ton on Mar 24, 2020 09:20_

!component =vmware_guest

[2020-03-24 12:14] fkempers commented on #63
Workaround: delete from inventory for the hosts in maintenance

[2020-03-24 14:38] Akasurde commented on #60
@JRNC Do you know how you can get FQDN of the guest from VMware API?

[2020-03-24 19:39] JRNC commented on #60
@Akasurde I believe that it is stored in the host_name attribute referred to here: http://vmware.github.io/vsphere-automation-sdk-python/vsphere/6.7.0/com.vmware.vcenter.vm.html#module-com.vmware.vcenter.vm.guest_client

[2020-03-25 05:35] Akasurde opened #71 "vmware_vm_shell does not successfully run nmcli commands"
_From @kobaltfox on Mar 24, 2020 15:15_

##### SUMMARY
In a playbook to clone a VM guest, the final task is to use vmware_vm_shell to run three commands to update the DNS, add search domain, take down the interface and then bring it back up to allow NetworkManager to update resolv.conf. The command work fine directing on the target VM guest. However, then the task runs, no failures are returned, b

[2020-03-25 20:39] goneri opened #73 "vmware_host_powermgmt_policy: final state not always consistent"
##### SUMMARY

Time to time, `vmware_host_powermgmt_policy` returns inconsistent value, this may
be a problem with the ESXi itself. e.g: https://dashboard.zuul.ansible.com/t/ansible/build/f7e8dd896d234b50b675e4c924d43562

[code]

[2020-03-25 21:01] mariolenz opened #74 "Missing documentation"
##### SUMMARY
In `galaxy.yml` there's a link to the documentation:

`documentation: https://github.com/ansible-collections/vmware/tree/master/docs`

But https://github.com/ansible-collections/vmware/tree/master/docs doesn't exist at the moment.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
galaxy.yml

[2020-03-26 08:28] Akasurde opened #75 "VMWare tools sets vm.guest.guestFamily as None for any Windows newer than Windows 7"
_From @AlexDaciuk on Sep 02, 2019 17:46_

### SUMMARY
I'm trying to upgrade VMWare Tools on our Windows guests using vmware_guest_tools_upgrade and it fails with the error  `msg: Guest Operating System is other than Linux and Windows.`

This just happens with guests with outdated tools because of the way the python code is written

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- vmware_vm_in

[2020-03-26 08:28] Akasurde commented on #75
_From @AlexDaciuk on Jan 13, 2020 19:48_

Still not working  @Akasurde

[code]

[2020-03-26 08:30] Akasurde commented on #75
@AlexDaciuk Thanks for reporting this. GuestFamily is not set by VMware inventory but it is set by VMware tools installed in the guest operating system.

We can add a parameter in the module called `force_upgrade` to override the operating system check and upgrade the VMware tools.

let me know your views on this.

[2020-03-26 09:32] Akasurde commented on #75
resolved_by_pr #76

[2020-03-26 09:32] Akasurde commented on #75
@Akasurde, Could you please check PR #76 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2020-03-26 11:57] Akasurde opened #77 "vmware_guest_find slow"
_From @markatdxb on Mar 26, 2020 08:19_

##### SUMMARY

running vmware_guest_find takes extensive long time - in out environment with 4000+ VMs it takes around 7 minutes to get the results. Running for example PowerCLI query takes a second to get the result. Is there any way to improve the performance of this module for large environments?

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vm

[2020-03-26 11:57] Akasurde commented on #77
_From @sky-joker on Mar 26, 2020 09:28_

Hi @markatdxb

Thank you for this reporting!
The Ansible VMware modules have moved into Collections.
Could you please re-create this issue the following repo.

https://github.com/ansible-collections/vmware

[2020-03-27 06:03] markatdxb commented on #77
Hello, just wrote this test playbook - first time i use collections so hope syntax is OK. Result in terms of the module performance is the same :(
`---
- name: VMware test playbook
  hosts: localhost
  gather_facts: no
  collections:
   - community.vmware

  vars:
    vm_name: 'TESTVM'
    vcenter_hostname: xxxx
    vcenter_username: 'xxxx'
    vcenter_password: 'xxxx'

  tasks:
    - name: Find V

[2020-03-27 06:10] Akasurde commented on #77
@markatdxb I am naive in PowerShell, so can't say about its performance over `Pyvmomi`. But, I definitely agree that there is a lot of room for performance improvement in `vmware_guest_find`.

[2020-03-27 06:28] Akasurde commented on #77
@markatdxb Can you please suggest something which you think will improve the performance? also, could you please provide the mentioned powershell that you use which provides the exact result?

[2020-03-27 06:44] markatdxb commented on #77
@Akasurde  - honestly i dont know how the Pyvmomi is written, im not a programmer on that level but rather active Ansible user so i cant suggest what can be improved here.  In terms of Powershell.
With installed PowerCLI - command look like this
`$cred = Get-Credential
Connect-VIServer -Server vCentername -Credential $cred -Force
Get-VM -Name VMNAME`

This one basically returns the information abo

[2020-03-27 13:37] vMarkusK opened #81 "vmware_drs_group - Add VM to DRS Group"
Currently only a new Group von be created or overwritten. If you want to add a single VM, a workarounds needs to be applied.

[code]

This is verry complex and not pretty stable.

[2020-03-28 01:14] #74 closed

[2020-03-30 13:11] Akasurde commented on #71
@kobaltfox Could you please provide logs `-vvvv`?

[2020-03-30 16:06] mariolenz commented on #81
For the record: [vmware_drs_group does not update group - it overwrites](https://github.com/ansible/ansible/issues/67087)

[2020-03-31 16:47] mariolenz commented on #59
@goneri I've issued PR #66 to address this, maybe you can have a look and tell me what you think.

[2020-03-31 23:39] #59 closed

[2020-04-01 11:42] StratosSamouilidis opened #88 "vmware_guest_network: Add network adapter to vm"
I want to add a new network adapter in a vm i have in my vSphere Client. The vm's OS is centos 7. When i run my ansible script the adapter is added successfully but it's state is not connected and when i try to connect it manually, it does not allow me to do it. I use ansible 2.9.6 and i found out that the same script works with ansible 2.8. My python version is 3. Is there any suggestion on how t

[2020-04-02 07:53] Akasurde opened #89 "vmware_guest: virt_based_security switch does not work as expected"
_From @benjaminrein on Apr 01, 2020 12:34_

##### SUMMARY

virt_based_security: False does not work as expected, because it enabled Virtualization Based Security (VBS). Disabling VBS on a vm already present is not possible.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7.7, vCenter 6.7 U1

[2020-04-03 05:32] Akasurde opened #92 "vmware_tag_manager module fails -"
_From @dexterc on Apr 03, 2020 04:36_

Yes

Not tested

##### SUMMARY
I have a Ansible Tower v 3.5.4 and vcentre v 6.7.  I have a playbook to create and tag a VM using module" vm_tag_manager" . Vsphere Automation SDK-python is installed on ansible machine. along with other python libraries. playbook fails w/ error described.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_tag_manager

[2020-04-03 05:42] Akasurde commented on #92
@dexterc You installed vSphere automation SDK for Python for `/var/lib/awx/venv/ansible/bin/python` and your playbook using `/usr/bin/python2`. This is clearly indicated by error message. You may want to specify `ansible_python_interpreter` at playbook level.

[code]

Let me know if you have questions.

[2020-04-03 06:04] dexterc commented on #92
@Abhijeet
Thanks for the quick response. 

In my template / playbook I specified extra vars. ansible_python_interpreter:var/lib/awx/venv/ansible/bin/python

Sent from Yahoo7 Mail on Android

  On Fri., 3 Apr. 2020 at 4:43 pm, Abhijeet Kasurde<notifications@github.com> wrote:

@dexterc You installed vSphere automation SDK for Python for /var/lib/awx/venv/ansible/bin/python and your playbook using /

[2020-04-06 05:39] AlexDaciuk commented on #75
Hello!

Sorry for the late response, I'm not working in that company anymore and I don't have access to a VMWare cluster now

But if the problem is only outdated VMWare Tools, a one time force upgrade should fix it, so it looks good to me

Cheers
Alex

[2020-04-06 21:52] dexterc commented on #92
This case has been resolved and can now be closed.

[2020-04-07 04:06] #92 closed

[2020-04-07 04:06] Akasurde commented on #92
Closing as per https://github.com/ansible-collections/vmware/issues/92#issuecomment-610056268

[2020-04-07 04:43] Akasurde opened #98 "VMware_guest does not support hardware version 15"
_From @qadv on Apr 06, 2020 21:04_

##### SUMMARY
Logic in VMware_guest needs to be updated to include Esxi 6.7U2 Virtual Machine Hardware Version 15.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

_Copied

[2020-04-07 04:53] qadv commented on #98
@Akasurde -> I have resolved this on my current machine -> Not sure if it was already slated for the 2.10 release but do I need to create a PR to put forward the solution - It is very simple?

[2020-04-07 05:45] Akasurde commented on #98
@qadv Could you please proceed by creating a PR and provide you fix? You can check this guide to check ansible development process - https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_general.html.

Let me know if you need some help.

[2020-04-07 12:44] qadv commented on #98
Done – Not sure who I went but I think It should be submitted for review.

NK

From: Abhijeet Kasurde <notifications@github.com>
Reply to: ansible-collections/vmware <reply@reply.github.com>
Date: Tuesday, 7 April 2020 at 3:46 pm
To: ansible-collections/vmware <vmware@noreply.github.com>
Cc: Noel Kelly <noel.kelly@qadv.com.au>, Mention <mention@noreply.github.com>
Subject: Re: [ansible-collections

[2020-04-07 13:10] Akasurde commented on #98
@qadv Thanks for the contribution.

[2020-04-07 13:10] Akasurde commented on #98
resolved_by_pr https://github.com/ansible-collections/vmware/pull/99

[2020-04-07 13:56] BlackestDawn opened #100 "vmware_guest: Not idempotent when state: absent"
##### SUMMARY

Removes VM in another datacenters and/or clusters  when not found in specified datacenter and cluster.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Create a VM and then remove it but specify a different (or even non existent) datacenter, cluster, and/o

[2020-04-07 14:36] goneri opened #101 "vmware_host_service_manager test-suite fails in CI"
`vmware_host_service_manager`fails consistently. I open the issue to track that.

- https://dashboard.zuul.ansible.com/t/ansible/build/9cf6473b0e4242e9ab8ce63167d85362
- https://dashboard.zuul.ansible.com/t/ansible/build/6a4f594154d043cd9e63522b37b891d5
- https://dashboard.zuul.ansible.com/t/ansible/build/b4df670440f248bab1513f89c890ac34
- https://dashboard.zuul.ansible.com/t/ansible/build/ab43781

[2020-04-07 15:53] goneri opened #103 "CI: authentication failure"
Time to time, the tests fail because of some auth failure:

[code]

This seems to be related to the amount of memory available:

[code]

[2020-04-07 19:50] ChrisAHolland opened #104 "_vcd_login refactoring"
##### SUMMARY

https://github.com/ansible-collections/vmware/blob/master/plugins/module_utils/vca.py#L273 states:
[code]
The comment is slightly vague, but I would like to tackle refactoring this. Any suggestions on the issue or what the comment is referring to in particular?
#### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`/vmware/blob/master/plugins/module_utils/vca.py`

[2020-04-08 10:07] markatdxb commented on #75
hello i just tested force_upgrade option in playbook but getting error
`- name: Upgrade VMWare Tools
  vmware_guest_tools_upgrade:
    datacenter: "{{ vdi_vm_site }}"
    name: '{{ vdi_vm_name }}'
    force_upgrade: yes
  delegate_to: localhost
  register: vm_tool_upg
  ignore_errors: yes`

error is - "msg": "Unsupported parameters for

[2020-04-08 10:58] Akasurde commented on #75
@markatdxb Could you please copy-paste the whole error message? Are you using the patched version of `vmware_guest_tools_upgrade`?

Thanks.

[2020-04-08 13:22] Akasurde commented on #98
Closing this issue since the PR #99 is merged. Thanks for the contribution @qadv.

[2020-04-08 13:22] #98 closed

[2020-04-09 01:11] markatdxb commented on #75
{
    "msg": "Unsupported parameters for (vmware_guest_tools_upgrade) module: force_upgrade Supported parameters include: datacenter, folder, hostname, moid, name, name_match, password, port, proxy_host, proxy_port, username, uuid, validate_certs",
    "invocation": {
        "module_args": {
            "datacenter": "DC",
            "name": "TEST",
            "force_upgrade": true,

[2020-04-09 12:43] Akasurde opened #106 "VMware: vmware_content_deploy_template use resourcepool_id for cluster_id"
_From @ultral on Apr 09, 2020 10:13_

##### SUMMARY
I'm trying to create a VM from the template from the content library. but it fails with the error `id='com.vmware.vdcs.core-services-helper.invalid_cluster_id_format', default_message='The provided cluster ID resgroup-478:3919714f-4f54-4fbe-8086-e09eef3cef3a is invalid.'`

it's happening because there is the error in the `ansible/module_utils/vmw

[2020-04-09 12:43] Akasurde commented on #106
_From @ultral on Apr 09, 2020 10:22_

relates https://github.com/ansible/ansible/pull/65715

[2020-04-09 13:21] Akasurde commented on #106
Backport 2.9 - https://github.com/ansible/ansible/pull/68815

[2020-04-09 13:22] Akasurde commented on #106
@ultral I created a backport PR https://github.com/ansible/ansible/pull/68815 for Ansible 2.9, could you please try and let me know if it works for you?

Thanks.

[2020-04-09 16:17] tkelkermans opened #107 "Add module to configure TCPIP stack"
##### SUMMARY
On ESXi it is possible to have multiple TCPIP stacks (default, provisioning,vmotion,vxlan...). Unfortunately I don't see any module to configure these settings, like the default gateway of each stack.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_host_tcpip_stacks

##### ADDITIONAL INFORMATION

An example would be :
[code]

[2020-04-09 16:52] mariolenz commented on #77
I've tried to have a look into this issue but can't reproduce it. We don't have 4000+ VMs, but I've tested with a vCenter that manages between 1300 and 1400 VMs and the module takes around 5 seconds. I would be really surprised if going from 1300+ to 4000+ VMs would increase the time from seconds to minutes.

@Akasurde You say that you `definitely agree that there is a lot of room for performance

[2020-04-09 20:46] #19 closed

[2020-04-10 01:20] markatdxb commented on #77
@mariolenz  - we added ignore_errors as when we do search, we basically dont know if the VM exists or not in our environment,  This part of our server decommission process where we test if server is VM or Physical HW, and pull VM location

[2020-04-10 07:01] ultral commented on #106
many thanks for so fast fix. It works. However there is the over error related https://github.com/ansible/ansible/issues/66030

[code]

[2020-04-10 15:14] #75 closed

[2020-04-12 04:05] Akasurde commented on #106
Yes, ansible/ansible#66030 is migrated to this repo and will be tracked here - https://github.com/ansible-collections/vmware/issues/24.

I suppose @pgbidkar is working on that.

Thanks,

[2020-04-13 12:30] Akasurde opened #111 "vmware_dvswitch_lacp: not supported between instances of 'str' and 'int'"
_From @Aglidic on Apr 09, 2020 13:21_

SUMMARY

Module vmware_dvswitch_lacp failed

ISSUE TYPE

    Bug

COMPONENT NAME

vmware_dvswitch_lacp

ANSIBLE VERSION
2.9.5

Here is my role:
[code]

Here is my vars¨:
[code]

Here is the error:

[code]

_Copied from original issue: ansible/ansible#68816_

[2020-04-13 12:30] Akasurde opened #112 "vmware_dvswitch_lacp, map vmnic to lag"
_From @Aglidic on Apr 09, 2020 20:26_

SUMMARY

Really would like to be able to map vmnic to lag memeber during creation of dvswitch.

ISSUE TYPE

    Feature Idea

COMPONENT NAME

vmware_dvswitch_lacp

ADDITIONAL INFORMATION

If we enable the enhanced vmotion and create a lag we have no possibility to map our vmnic to this lag so we need to do it manually. Would be helpful to add option in the mo

[2020-04-13 13:38] ultral opened #113 "vmware_content_deploy_template doesn't support creating VM from OVF templates"
##### SUMMARY
vmware_content_deploy_template doesn't support creating VM from OVF templates

##### ISSUE TYPE
- Feature Idea

##### ADDITIONAL INFORMATION
[code]

[2020-04-13 13:54] ultral commented on #113
@pgbidkar @Akasurde I've created the PR https://github.com/ansible-collections/vmware/pull/114 according issue mentioned in the https://github.com/ansible-collections/vmware/issues/106#issuecomment-611908410

[2020-04-14 10:21] Akasurde opened #115 "Show_tag returns empty array. Module: vware_vm_info"
_From @DavidSanchezGracia on Apr 14, 2020 10:08_

##### SUMMARY

When trying to return all vm machines with their corresponding tags, the tags array is returned empty.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

The module used is: vmare_vm_info

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

UBUNTU 18.04

##### STEPS TO REPRODUCE

[code]

##### EXPEC

[2020-04-14 11:02] DavidSanchezGracia commented on #115
I have checked the file vmware_vm_info.py and it is exactly as the last version of it.

[2020-04-14 11:39] Akasurde commented on #115
@DavidSanchezGracia Could you please try - https://github.com/ansible/ansible/pull/68360 and let me know? Thanks.

[2020-04-14 18:42] goneri opened #116 "vmware_host_capability_facts: AttributeError: 'vim.host.Capability' object has no attribute 'checkpointFtSupported'"
`vmware_host_capability_facts` fails with error in $subject:

[code]

See: https://dashboard.zuul.ansible.com/t/ansible/build/9f4d284f116f4ad491cd1288e4af97b5

[2020-04-15 04:56] Akasurde commented on #106
https://github.com/ansible/ansible/pull/68815 is merged. Closing this issue.

[2020-04-15 04:56] #106 closed

[2020-04-15 10:13] dfoley84 opened #117 "Multiple DataCenter Names"
Currently; our Environment Setup that has two Datacenter with the same name within two locations within vCenter. When trying to deploy to a Cluster Cluster-A I'm faced with the following Issue:

[code]

ansible 2.9.4

[code]
    - name: Running Create Virtual Machine Playbook
      hosts: localhost
      gather_facts: false
      connection: local
      tasks:
      - name: Virtual Machine and cus

[2020-04-15 17:19] #113 closed

[2020-04-16 02:32] Akasurde commented on #24
resolved_by_pr https://github.com/ansible-collections/vmware/pull/114

[2020-04-16 02:32] #24 closed

[2020-04-16 19:46] goneri commented on #116
Reproduced several times recently:

- https://dashboard.zuul.ansible.com/t/ansible/build/0330ba48f35741209a090a080313c550
- https://dashboard.zuul.ansible.com/t/ansible/build/ef37e4dcdfd941ab8a6fbafe69bc12f1
- https://dashboard.zuul.ansible.com/t/ansible/build/f5ce63092ee246e6b8810988c1878691

[2020-04-16 20:01] goneri commented on #116
bug opened upstream: https://github.com/vmware/pyvmomi/issues/893

[2020-04-16 20:17] goneri commented on #116
Better fix: https://github.com/ansible-collections/vmware/pull/120

[2020-04-17 02:41] Akasurde opened #123 "vmware_guest_disk: Add support for floating point for disk size"
_From @deepakramanath on Apr 17, 2020 01:54_

##### SUMMARY

The current module does not support floating point for disk size specification, in particular for `size_tb`, where in a value of `1.5` would translate to `1500` GB

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

/usr/lib/python2.7/site-packages/ansible/modules/cloud/vmware/vmware_guest_disk.py

##### ANSIBLE VERSION

[code]

[2020-04-17 16:35] xenlo opened #125 "`vmware_vmotion` with VM that does not exist ends fatally with "IndexError: list index out of range""
##### SUMMARY
When trying a vmotion with `vmware_vmotion` module with a VM name that does not exist as `vm_name` value, it ends with fatal error in place of a failed VM not found.

I think that the module should first chech if the value provided as `vm_name` is an existing VM on the cluster.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- module: `vmware_vmotion`

##### ANSIBLE VERSION
[cod

[2020-04-17 21:44] #117 closed

[2020-04-17 21:57] dfoley84 opened #127 "Deployment of Virtual Machines: Using Datacenter_id"
##### SUMMARY
Allow the Ability for Users to Deploy to a Data centre using the Data centre ID element

##### ISSUE TYPE
While Some Environments may have multiple Data centres set with the Same Name, it appears that Ansible just returns back the Data centre it's seeing: this may be the wrong one that the user wishes to deploy to.

##### COMPONENT NAME

Similar to the Cluster feature users have the

[2020-04-20 09:04] xenlo commented on #127
I assume you mean:

##### ISSUE TYPE
 - Feature request

##### COMPONENT NAME
- module: `vmware_guest`
And maybe other modules too…

[2020-04-20 11:27] dfoley84 commented on #127
Hi @xenlo

I have edited the comment..

[2020-04-21 08:33] Akasurde opened #133 "Re-enable test for Category and Tags"
##### SUMMARY
Due to the update, there are some failures in Category and Tag test, this is a tracking bug for re-enabling these tests.

tl;dr Revert - https://github.com/ansible-collections/vmware/pull/130

##### ISSUE TYPE
- Bug Report

[2020-04-22 10:45] xenlo opened #142 "Address vCenter Access Control Roles with vmware_local_role_[info|manager] modules"
##### SUMMARY
The modules `vmware_local_role_info` and `vmware_local_role_manager` can be used to manage the Access Control Roles on the vCenter (and not only the local roles on the ESXi). This should be described in the documentation.

A quick list of changes I think about:
- Update the title
- Update the Synopsis
- Add a sample with a task playing against a vCenter.

(Actually the parameter `hos

[2020-04-22 10:57] xenlo commented on #142
Nevertheless I think this Doc issue 2 further questions. Those need some VMware expertise with the Access Control Roles (which I don't have).
- Does it make sense those 2 modules have `local` in there name?
- Is there differences of behavior between playing against a ESXi host or the vCenter? or any limitations? This should be documented as well.

[2020-04-22 10:58] xenlo commented on #142
Cc.: @goneri, @mariolenz

(As we chat about this together)

[2020-04-22 11:30] paecker opened #143 "vmware_dvs_portgroup_find TypeError: '<' not supported between instances of 'str' and 'int'"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_dvs_portgroup_find

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

docker -> ansible/awx_task:11

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]
##### POSSIBLE SOLLUTION?
cast as integer

[code]

[2020-04-22 14:24] goneri commented on #142
@xenlo, Could you push a PR to clarify the documentation?

[2020-04-22 14:35] goneri opened #144 "esxcli system hostname set --fqdn=esxi1.test non-zero return code"
See: https://dashboard.zuul.ansible.com/t/ansible/build/aafc6b56897549298bb783d492668cce

[code]
msg: `non-zero return code`
Rc: `1`
Stdout: `IO error: [Errno 97] Address family not supported by protocol`

[2020-04-22 14:43] goneri commented on #144
Seems to be related to IPv6.

[2020-04-24 08:16] senilio opened #150 "vmware_guest - allow specifying OU when joining Windows guest to a domain"
##### SUMMARY

When using the joindomain directive in vmware_guest, any computer automatically joins into a default directory path, which is usually CN=Computers in the directory root.

A new directive like joindomain_ou / joindomain_path could be implemented the be able to specify the directory path a computer will be joined into.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

- joindoma

[2020-04-24 09:30] gundalow opened #151 "Rename repo: community.vmware"
##### SUMMARY

Hi, can I rename this repo to be `community.vmware` so it's consistent with other repos under ansible-collection.

GitHub will add redirects for git-remote.

Once done the readme may need updating

##### ISSUE TYPE
- Bug Report

[2020-04-24 12:56] Akasurde commented on #150
pyvmomi does not have any API to specify `OU`. You may want to use `vmware_vm_shell` module to run command which joins the OU.

[2020-04-25 05:13] Udayendu opened #152 "VMware: No State parameter for 'vmware_deploy_ovf' module"
##### SUMMARY
No State parameter for 'vmware_deploy_ovf' module.

##### ISSUE TYPE
- Allow state for 'vmware_deploy_ovf' module so that if the template is available, playbook can continue using the same template.

##### COMPONENT NAME
- vmware_deploy_ovf

##### ADDITIONAL INFORMATION
If a playbook is having four plays:
    - Create a folder for VM & Templates
    - Create a template using 'vmware_

[2020-04-26 07:21] Tomorrow9 commented on #89
Hi @benjaminrein, I have tried using this parameter "virt_based_security" when creating a VM on vSphere 6.7GA using the same playbook you provided,  the testing result is:
[code]
What's the error messages you got when you creating a new VM and reconfigure it? Thanks.

[2020-04-26 20:28] mariolenz commented on #151
I don't have any private branches on my fork at the moment, so in the worst case I'd just throw it away and fork again. So no objections from my side.

[2020-04-26 20:47] mariolenz opened #154 "Document dependencies in README.md"
##### SUMMARY
`ansible-galaxy` [doesn't resolve PyPI dependencies](https://github.com/ansible/ansible/issues/69174). I think we should add a "Pre-Requisites" part to "Installation and Usage" in the Readme. `ansible-galaxy collection install community.vmware` will install the collection and the modules, but not pyVmomi. People should know the libraries they need for this collection to work.

#####

[2020-04-27 13:40] goneri commented on #144
A similar problem today: https://object-storage-ca-ymq-1.vexxhost.net/v1/a0b4156a37f9453eb4ec7db5422272df/ansible_periodic-1hr/github.com/ansible-collections/vmware/master/ansible-test-cloud-integration-vcenter_1esxi_with_nested-python36/c12487c/ara-report/

- rc: `1`
- stderr: `Connection failed`

[2020-04-27 13:53] sky-joker commented on #125
Hi @xenlo

Thank you for reporting this issue!
I have confirmed that this problem occurs in Ansible 2.9.x.
This problem is caused by the absence of the following conditional statement.

[code]

This problem has been fixed in collections.

[2020-04-27 14:19] tomasodehnal commented on #152
Missing that one too. If the destination VM/template already exists, the vmware_deploy_ovf task fails with error:
[code]

Complete trace:
[code]

[2020-04-27 14:20] #143 closed

[2020-04-27 14:33] srivaa31 opened #156 "Cloning template to create VM fails with "msg": "Failed to create a virtual machine : The name 'test0' already exists."}"
##### SUMMARY

Deploying a VM from a cent OS 7/8 template fails with VM already exists error message. The datastore where the VM template is present is a shared datastore and is created through one of the corporate internal deployment and orchestration software.
Noticed that there was a similar issue in the past . reference here : #28250
I tried the work around mentioned in comments by different f

[2020-04-27 14:48] gundalow commented on #151
Your forks would continue to work

[2020-04-27 14:48] gundalow commented on #151
@Akasurde @jillr can we rename this repo to `community.vmware`?

[2020-04-27 14:49] srivaa31 commented on #156
**One of the delete vm ansible script that fails with below stack trace in jenkins --

it actually deletes the VM in vcenter but gives this error on console--**

TASK [delete_vms : Delete VMs] *************************************************
failed: [192.168.105.238 -> localhost] (item={'test_vm0': None, 'name': 'test_vm0', 'template': 'CentOS-fio-template', 'esxi_host': 'vxflex-node-11.rack.lab'

[2020-04-27 16:26] jillr commented on #151
I don't have any issue with that, we should also hear from @goneri - he'd need to update the CI bits.

[2020-04-27 17:37] goneri commented on #151
I feel like we end up with a rather long name, and it's a duplicated information that is also in the `galaxy.yml`. This is said, I won't block any decision.

[2020-04-28 12:01] xenlo commented on #125
Thanks!

[2020-04-28 12:15] xenlo commented on #125
Indeed I see the correction [here](https://github.com/ansible-collections/vmware/blob/master/plugins/modules/vmware_vmotion.py#L338), —> Closing this issue.

[2020-04-28 12:15] #125 closed

[2020-04-29 16:49] zetas1982 opened #157 "Problem deploy with vmware_content_deploy_template:"
##### SUMMARY
I have a problem with executing this ansible-playbook:

[code]

##### ISSUE TYPE
- Bug report

The error result is:

The full traceback is:

[code]

##### COMPONENT NAME

Component: vmware_content_deploy_template

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Red Hat 7.4
Vcenter Version: 6.0
vSphere Automation SDK: https://github.com/vmware/vsphere-automation-sdk-python

####

[2020-04-30 14:11] xenlo commented on #142
@goneri, I give it a try. But I'm not able to do it as I don't master the difference (if there is one) of behavior of creating Access Control Roles on a vCenter VS on an ESXi host.

For instance: «*short_description: Gather info about local roles on an ESXi host*», I would just add: «* or vCenter*». But if there is no difference of behavior,… well we should not add the vCenter but just drop the «*

[2020-04-30 15:15] alexsuppanz commented on #81
Hi
ran into the same issue. Since this module seems to work as expected (which I do not agree, anyway), maybe it would be a solution to create a new module which will **add** vms to existing DRS groups?
As @mycloudrevolution mentioned, any workaround is pretty unstable and error prone

[2020-05-01 17:07] benjaminrein commented on #89
Thanks @Tomorrow9 for testing this. Unfortunately I don't get an error message, when creating or reconfigurering the VM. The VM is created just fine except the wrong setting for virt_based_security if the switch is present.

I know this is not much to track down the problem. I will try to get some more debug output. At least we know now, that it's working with 6.7 GA.

[2020-05-02 12:35] Akasurde opened #158 "vmware_deploy_ovf - enableMPTSupport"
_From @ba31 on May 01, 2020 18:12_

[code]

When I disable the "fail_on_spec_warnings" it does not fail although do not deploy any VM

**ISSUE TYPE**
Bug Report

**COMPONENT NAME**
vmware_deploy_ovf

**ANSIBLE VERSION**

[code]

**OS / ENVIRONMENT**
vSphere 6.7.0.30000

[code]
**STEPS TO REPRODUCE**

[code]

**ACTUAL RESULTS**
[code]

_Copied from original issue: ansible/ansible#69281_

[2020-05-02 19:34] benjaminrein commented on #89
Thanks @Tomorrow9 for testing this. Unfortunately I don't get an error message, when creating or reconfigurering the VM. The VM is created just fine except the wrong setting for virt_based_security if the switch is present.

I know this is not much to track down the problem. I will try to get some more debug output. At least we know now, that it's working with 6.7 GA.

[2020-05-03 09:11] Akasurde opened #159 "vmware esxi software iscsi"
_From @1115787971 on May 02, 2020 16:01_

I am seeking the ansible vmware host modules about the software iscsi,I want to manage it,but I can't fount it.I have scanned the ansible document about vmware all modules.Which modules I can use?or have any way I can do.To turn on software iscsi，change the IQN and add static storage IP address and port

_Copied from original issue: ansible/ansible#69290_

[2020-05-04 01:19] MrBones757 opened #160 "vmware_inventory tag -> group support"
##### SUMMARY
Add support for importing tags as groups from vmware virtual machines

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_inventory.py

##### ADDITIONAL INFORMATION
This was covered as  PR to the ansible repo.
Please See: https://github.com/ansible/ansible/pull/43776

Is this somethign that would be integrated into this repo?
This is a key functionality requirement for me w

[2020-05-04 01:24] MrBones757 commented on #160
I would be happy to make necessary changes to migrate from the PR above to a PR for this repo.

[2020-05-04 11:39] alexsuppanz commented on #81
What would be the proper way to resolve this issue?
Create a new module which will add VMs to existring groups, or change the current one to add the new VM to the group?

[2020-05-04 12:42] mycloudrevolution commented on #81
I would prefer a single module with three different methods.

Set, add, remove

Set method should be the current behavior.

[2020-05-04 13:08] sethbeauchamp opened #161 "Add feature to set active uplinks in vmware_dvs_portgroup"
### SUMMARY
Add feature to set active uplinks.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_dvs_portgroup

##### ADDITIONAL INFORMATION
I would like to be able to set which uplinks are active for the portgroup.

![Screen Shot 2020-05-04 at 9 01 44 AM](https://user-images.githubusercontent.com/20799856/80968410-e6f40380-8de5-11ea-84b3-5e33cce30c78.png)

[2020-05-04 13:57] alexsuppanz commented on #81
Maybe we should do the following:
`state: present` will add the provided VM names to the group
`state: replace` will overwrite the group with the provided VM names (as it is currently the case)
`state: absent` will remove the group

So the states are alligned to the Ansible convention. I also think that current plays which use any kind of workaround will be not affected by this change.

[2020-05-04 17:24] ansibleusersili opened #162 ""msg": "Failure validating OVF import spec: Host did not have any virtual network defined.""
##### SUMMARY

Hello everyboby, i have a problem with automatic OVF/OVA deployement with Ansible on vmware. I had this error message 'Failure validating OVF import spec: Host did not have any virtual defined'
I tried multiple combination and following issue that were referenced on github, but nothing worked.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_deploy_ovf

##### ANSIBLE VER

[2020-05-04 21:04] ddiguru opened #163 "vmware_content_deploy_ovf_template fails requiring resource_pool_id"
##### SUMMARY
Attempting to create a VM using the vmware_content_deploy_ovf_template module. It's failing with:

[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_content_deploy_ovf_template module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE

[code]

[code]

NOTE: when i created a Resource Pool called "test_rp"

[2020-05-04 21:10] ddiguru commented on #163
Current Python modules installed include:
[code]

[2020-05-05 10:11] anusha94 commented on #161
@Akasurde  can I take this up?

[2020-05-05 16:14] owwweiha opened #164 "vmware_deploy_ovf - Failure validating OVF import spec: The provided network mapping between OVF networks and the system network is not supported by any host"
##### SUMMARY
I have a vCenter with 3 clusters configured and NSX-T on networking layer. The network is visible in all three clusters and deploying an ovf template in vCenter works just fine. But when using the vmware_deploy_ovf module an error "Failure validating OVF import spec: The provided network mapping between OVF networks and the system network is not supported by any host" is thrown.

###

[2020-05-05 17:07] mariolenz commented on #81
This would break the current behavior of the module... never a good idea. Anyway, you missed a use case: If we provide a way to **add** a VM to a DRS group, we also should provide a way to **remove** a VM.

I think it would be better to leave `state: present` and `state: absent` as is. The module is named `vmware_drs_group` and it makes sense that `present` means the DRS group should be present as

[2020-05-05 17:40] alexsuppanz commented on #81
@mariolenz You are absolutely right, thanks for pointing it out. I missed these cases and forgot how this module is intended to work. Maybe it would be better to create a new module, as already suggested by @mycloudrevolution called something like `vmware_drs_group_member`
So we can leave the module vmware_drs_group as it is (and we won't break stuff, even by accident) and keep the modules simple.

[2020-05-05 17:57] sky-joker commented on #152
resolved_by_pr https://github.com/ansible-collections/vmware/pull/166

[2020-05-05 17:57] sky-joker commented on #152
@Udayendu @tomasodehnal

Thank you for reporting this issue.
Could you please check PR https://github.com/ansible-collections/vmware/pull/166 and let us know if it works for you?

[2020-05-05 19:52] mycloudrevolution commented on #81
I fully agree with @mariolenz point to make sure not to break existing playbooks with a new module version.

I also see the need for the four types of behavior: Create Group (with a list of VMs), remove group add VM, remove VM.

If the dedicated modules for Group and VM operations are created (which is likely), I would like to see that a specific workflow is possible without much fuss:

- Add VM t

[2020-05-05 23:46] Bahu2016 opened #167 "Fetch files from datastore"
Not sure if any vmware module available for fetching files from datastore

##### SUMMARY
Fetch files from datastore

##### COMPONENT NAME
vsphere_fetch

[2020-05-06 06:35] alexsuppanz commented on #81
@mycloudrevolution I totally see the use case for the workflow you mentioned, but we do have a problem.  We can create a group with **vmware_drs_group** and add members to a group with the new module **vmware_drs_group_member**. So a play with the mentioned workflow will look like this:

[code]
But the problem is, **vmware_drs_group** requires either the parameter `vms` or `hosts` to be set, which

[2020-05-06 07:26] tomasodehnal commented on #152
@sky-joker Thanks a lot, works for me.
One thing to consider maybe - there is this parameter power_on in the module which is true by default. If the VM already exists, is powered off and you try to deploy again, the play succeeds with no change and doesn't power up the VM, which it probably should.

[2020-05-06 14:36] goneri commented on #167
Hi @Bahu2016,

You can actually just use the regular modules (`fetch` and `uri`), the datastore content is exposed here: `https://{hostname}/folder`.

[2020-05-06 15:35] sky-joker commented on #152
Thank you @tomasodehnal for confirming module and feedback!
I have made a fixing to the module to take into account the power condition of the VM, could you please re-check the module to see if it works?

[2020-05-06 17:24] mycloudrevolution commented on #81
For my opinion the new modules should work like that:

- The original module works as before (for Hosts and VMs)
**NOTE:** Creating empty Groups in not allowed
[code]
- A new Module for add and remove of VMs should be created
**NOTE:** force_create switch should create the Group if it does not exist
[code]

[2020-05-06 23:41] Bahu2016 commented on #167
hostname is esxi host or vcenter? can you better example?

below is my code.

    - name: Download file
      uri:
        url: 'https://vcenter/foldername/file1'
        method: GET
        dest: '/folder'
        user: 'abc'
        password: 'edf'
        validate_certs: no
        force_basic_auth: yes

[2020-05-07 06:56] tomasodehnal commented on #152
Thanks for the quick response @sky-joker .
When testing the latest changes I get error:
[code]
The play works fine with the original module file. Could you please check why that should happen?

[2020-05-07 09:15] sky-joker commented on #152
Thank you @tomasodehnal for quick reply.
I think that error occur factor is module can't find `PyVmomi` or `module_utils/vmware` library.
Could you please try the following procedure?

**test environment**

|component|version|
|--------|--------|
|ansible|2.10.0.dev0|
|vmware collection|latest|

[code]

Create the following playbook.
Please change the variables and OVA names to suit your environme

[2020-05-07 12:39] tomasodehnal commented on #152
@sky-joker Thanks for the detailed instructions, this works as expected including turning on the VM.

However I still don't understand, why it doesn't find the required modules when the collections directory is removed. Again - when I replace the modified vmware_deploy.ovf.py file with the original ansible 2.9.7 version, it works fine and I can deploy a new VM. With the modified file it ends with

[2020-05-07 13:34] sky-joker commented on #152
The path to `vmware.py` that this module reads is as follows.

https://github.com/ansible-collections/vmware/blob/9ac1922da79da7a2d4620001030fb2ce73f10095/plugins/modules/vmware_deploy_ovf.py#L185

To load the `PyVmomi` class from `vmware.py`, need this vmware collection.
For example, if a modified module is added to the library directory and runs it without the collections directory, get a simila

[2020-05-07 13:55] tomasodehnal commented on #152
Ok, I understand that. The problem is I have no library directory where the playbook file is, I replaced the module in it's default directory /usr/lib/python2.7/dist-packages/ansible/modules/cloud/vmware/vmware_deploy_ovf.py. When testing the first change it worked.

[2020-05-07 14:03] sky-joker commented on #152
Thank you @tomasodehnal for confirming module operation.

[2020-05-07 14:40] tomasodehnal commented on #152
Thanks for the fix!

[2020-05-07 15:55] tezzigator opened #169 "vmware_deploy_ovf: fails with url timeout"
##### SUMMARY
Cannot deploy a Cisco CUCM OVA with Ansible (can deploy it easily with VCenter webinterface)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_deploy_ovf

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
linux with python3 in venv

##### STEPS TO REPRODUCE
just a single run attempt of the OVA.

[code]

##### EXPECTED RESULTS
The OVA should h

[2020-05-08 02:57] Tomorrow9 opened #170 "New module for getting vCenter settings"
##### SUMMARY

There is a module "vmware_vcenter_settings" to configure vCenter settings, but no module to get specific settings value.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_vcenter_settings_info

##### ADDITIONAL INFORMATION

[code]

[2020-05-08 20:40] rnldl opened #172 "vmware_guest: CPU/memory reservation changes ignored if state is changed"
##### SUMMARY
When using the vmware_guest module, if the power state of the VM is changed, CPU/memory reservations are unchanged.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
- Ubuntu 18.04
- vCenter 6.7 Build 15129973 with ESXi 6.7.0 Build 15160138

##### STEPS TO REPRODUCE
`test_vm` is a pow

[2020-05-10 03:59] Akasurde opened #173 "VMWare : vmware_content_deploy_template module don't create VM on Datastore Cluster"
_From @xander-sh on May 09, 2020 14:51_

##### SUMMARY

Please synchronize the creation parameters need to create VM from vmware_guest module:
cluster
hosts (esxi_hostname)
datastore

##### ISSUE TYPE
- Feature Idea
I want to create VM in vCenter Cluster, not on a specific esxi_host, but **hosts** parameters are required in vmware_content_deploy_template module.
On vmware_guest module i can and th

[2020-05-11 01:07] Tomorrow9 commented on #64
Hi @rolling1000ton, changing the firmware of existing VM is not recommended, it may cause unbootable.
<img width="817" alt="Screen Shot 2020-05-11 at 9 02 53 AM" src="https://user-images.githubusercontent.com/41371902/81515448-b6bcdf80-9366-11ea-9ae6-a43c9f65b775.png">

[2020-05-11 03:53] rolling1000ton commented on #64
Hello @Tomorrow9, I am aware of that, but we are currently in the migration of VM's from Hyper-V to VMWare. And the latest version of Hyper-V VM's sets the VM's to EFI, so to make sure these VM's boot on VMWare we have to change the firmware flag to EFI.

[2020-05-11 04:08] Tomorrow9 commented on #64
Ok, I see, @rolling1000ton, I did not try this module before, but you can have a try to use this module "vmware_guest_boot_manager" by setting "boot_firmware" parameter to see if it works.
And "vmware_guest" module does not reconfigure existing VM's firmware:
[code]

[2020-05-11 04:41] rolling1000ton commented on #64
@Tomorrow9, ah I was not aware of that, I did to a test run just now, and it does work, it changes the flag of existing VM's, thanks for pointing that out. The only thing that doesn't work is the firmware change if the VM is created from a template, I don't know if that is by design. But this way we can create VM's from templates and then change the firmware boot flag to BIOS or EFI if the VM on H

[2020-05-11 06:07] Tomorrow9 commented on #64
@rolling1000ton, yeah, at least in "vmware_guest" module, when working on existing VM, or deploy  a new VM from the template, the "boot_firmware" set will not take effect. I'm not very clear about your usage scenario, do you convert Hyper-V VM to VMware VM template and deploy it on ESXi host? To make sure the deployed VM's firmware is EFI, you want to use "some" module to do this "if EFI, then do

[2020-05-11 06:20] rolling1000ton commented on #64
@Tomorrow9, most of our VM's on Hyper-V have the same specifications, so the plan was to create and use a template on VMWare to deploy a new VM, check what generation the Hyper-V VM is and set the boot firmware to EFI in the deployment if generation 2, convert and copy the disk from Hyper-V to VMWare and boot up the new VM on VMWare. If by design its not possible to change the boot flag when creat

[2020-05-11 06:28] Tomorrow9 commented on #64
@rolling1000ton, ok, glad to know that there is workaround for you. Thanks.

[2020-05-11 06:30] rolling1000ton commented on #64
@Tomorrow9 Ah yes, well thank you for the help.

[2020-05-11 07:43] Udayendu commented on #152
@sky-joker

Thanks alot for fixing #166
I have applied the patch and I must say vm existence check is a smart move. That solved the purpose of this BUG.  I am closing this request.

But one this for sure is that I also faced the same module error as @tomasodehnal and then installed the vmware collection again using `ansible-galaxy collection install community.vmware` and that fixed the issue.

[2020-05-11 07:45] #152 closed

[2020-05-11 08:05] RogerCage opened #174 "vmware_content_deploy_template: very slow to find folder in destination"
##### SUMMARY
The vmware_content_deploy_template take a very long time to find the folder specified in "folder" parameter.

##### ISSUE TYPE
Sometimes it take few seconds to find the destination folder, sometimes it take ages. We tested to lookup directly with esxcli and it take few ms to give us the correct folder.

##### COMPONENT NAME
vmware_content_deploy_template

##### ANSIBLE VERSION
[code]

[2020-05-11 14:03] goneri commented on #167
Yes, it's the vcenter, you can use your browser to discover the file structure.

[2020-05-11 15:21] Qu3uk commented on #32
Believe I have run in to the same issue with 6.7. Happy to provide any further details.

[2020-05-11 15:37] Qu3uk commented on #32
Looking at the code it looks like dvswitch_name variable was never implemented to be used to get the portgroup on the provided switch although mentioned in the docs.

https://github.com/ansible-collections/vmware/blob/7377548d4e3ae0b417a98b8f71a236601585fe15/plugins/modules/vmware_guest_network.py#L109

If I read this right its just using the first result here after searching the port groups.

htt

[2020-05-12 00:46] MrBones757 commented on #160
Closing this as in the latest version of AWX it now uses the vmware_vm_inventory plugin.
by modifying this file as follows:

sed -i 's/self.with_tags = with_tags/self.with_tags = True/g' /var/lib/awx/vendor/inventory_collections/ansible_collections/community/vmware/plugins/inventory/vmware_vm_inventory.py

tagging functionality works when combined with:
groupby_patterns"{{ tags | lower }}" since a

[2020-05-12 00:46] #160 closed

[2020-05-12 13:09] tezzigator opened #175 "Cannot deploy OVA that has VM connected to a portgroup that is on a VDS"
##### SUMMARY
For a playbook, instead of connecting the VMs nic to my VMWare VDS-based DPG that is named CUST-302, my VM's nic gets connected to a different (non-VDS) VMWare network that is called SHARED

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_deploy_ovf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
$ uname -a
Linux wat-utl-jmp 3.10.0-1127.

[2020-05-14 20:12] kclinden commented on #151
I would say keep it as is...

[2020-05-14 20:50] adarobin opened #178 "vmware_host_firewall_manager: #63567 breaks existing rules"
##### SUMMARY

The fix in https://github.com/ansible/ansible/pull/63567 allows rules to be created/managed again without setting allowed_hosts. The way this was implemented seems to break the way the previous functionality worked.

For example, on Ansible 2.8 this code would enable the firewall rule for outbound syslog with allowed_hosts set to any.

On Ansible 2.9 this enables the syslog rule, bu

[2020-05-14 20:52] adarobin commented on #178
@alongchamps had some good ideas in https://github.com/ansible/ansible/issues/67219#issuecomment-585427682

[2020-05-15 18:57] mariolenz opened #180 "Too many requirements for unit tests"
##### SUMMARY
There are far too many requirements defined for the unit tests, imho.

##### ISSUE TYPE
- Bug Report

I'm not sure if this is really a bug... but the other issue types didn't feel right, either.

##### COMPONENT NAME
tests/unit/requirements.txt

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Irrelevant, this is a independent of a special OS or environment.

##### STEPS TO REPRO

[2020-05-15 21:30] dfoley84 opened #182 "vmware_content_deploy_template fails with error "Cannot find service 'com.vmware.vcenter.vm_template.library_items'""
##### SUMMARY

I'm Trying to Deploy a Virtual Machine on a Test Cluster from a Template which is hosted on VMware Content Library

##### ISSUE TYPE
Cannot find service 'com.vmware.vcenter.vm_template.library_items

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT
Linux Ubunutu 18.04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Expected "Success"
{'msg': "Depl

[2020-05-16 13:00] Akasurde commented on #182
@dfoley84 What is the version of vCenter used in the playbook? Since this VMware feature is vCenter version-specific.

needs_info

[2020-05-16 16:42] dfoley84 commented on #182
Version of vCenter is 6.5

[2020-05-17 12:00] sky-joker commented on #167
Hi @Bahu2016

I tried is succeeded to file download from datastore with the following playbook.

[code]

[2020-05-17 13:35] Akasurde opened #183 "vmware_host_facts: TypeError: unsupported operand type(s) for -: 'int' and 'NoneType'"
_From @anxstj on May 16, 2020 20:48_

##### SUMMARY

Gathering vmware host facts failed with `TypeError: unsupported operand type(s) for -: 'int' and 'NoneType'`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_host_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

vSphere Client Version 6.5.0.32000

ESXi:
[code]

##### STEPS TO REPRODUCE

[code

[2020-05-17 13:35] Akasurde opened #184 "vmware_host_facts: A general system error occurred"
_From @anxstj on May 16, 2020 20:37_

##### SUMMARY
Gathering vmware host facts fails and returns a traceback.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_host_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

vSphere Client Version 6.5.0.32000

ESXi:
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The module should return

[2020-05-17 14:44] nemethloci opened #185 "Set vmnics attribute to be optional"
##### SUMMARY
Setting vnics is mandatory when adding hosts to a dvs. While this is good in most cases, there are some in which you deliberately not willing to assign any physical uplinks to the dvs (ie: when there will be and agent VM handling the uplink traffic)
Note: this is the very same issue as #62643 on ansible/ansible

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_dvs_host

###

[2020-05-17 15:10] sky-joker commented on #183
Thank you @anxstj for reporting this issue.
This problem occurs happen is when ESXi power is off.

Could you please check your ESXi power state?

[2020-05-18 06:09] anxstj commented on #183
Yes, you're right. The machine is powered off (or at least not reachable from the vcenter).

[2020-05-18 10:43] Akasurde opened #187 "not able to specify custom cpu shares for vmware_resource_pool"
_From @bjordanov4 on May 18, 2020 09:03_

##### SUMMARY

not able to specify custom cpu shares for vmware_resource_pool

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_resource_pool.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

Suggested code change

[code]

[2020-05-18 14:16] sethbeauchamp commented on #161
I added a quick fix to this for myself, I will leave the official code to you but I will post what I did in case if helps give you a starting point.

in create_port_group():
<pre>#Teaming Policy
        teamingPolicy.uplinkPortOrder = vim.dvs.VmwareDistributedVirtualSwitch.UplinkPortOrderPolicy(
            activeUplinkPort=self.module.params['teaming_policy']['active_uplinks'],
            standb

[2020-05-18 18:39] mehmoodkha commented on #164
Any update on this ? I am also facing same issue.

[2020-05-18 18:56] mehmoodkha commented on #162
I am also facing same issue. Host did not have any virtual network defined

      - name: Deploy OVA when its VMC
        vmware_deploy_ovf:
          hostname: '{{ host }}'
          username: '{{ user }}'
          password: "{{ password }}"
          datacenter: "{{ datacenter }}"
          cluster: "{{ cluster }}"
          datastore: "{{ datastore }}"
          name: "{{ ova }}"
          net

[2020-05-19 07:25] Onke commented on #164
@mehmoodkha I wasn't able to resolve the issue with the vmware_deploy_ovf module. But I guess it's because we don't use a resource pool.
As a workaround, I switched to [govc](https://github.com/vmware/govmomi/tree/master/govc) using an explicit host. Now, the deployment of OVA/OVF works again.

[2020-05-19 16:09] sky-joker commented on #184
I think this issue is  https://github.com/ansible-collections/vmware/issues/183 the same cause.

[2020-05-19 16:58] anxstj commented on #184
Yes, the system is powered-off (or not reachable).

But I would expect a response without error. Something like:

[code]

[2020-05-20 16:18] mariolenz opened #193 "galaxy.yml: 'license' and 'license_file' are mutually exclusive"
##### SUMMARY
[CI jobs](https://dashboard.zuul.ansible.com/t/ansible/build/2569393b988c4c85a4f6864ff010dfe4) fail because the 'license' and 'license_file' keys are [mutually exclusive](https://docs.ansible.com/ansible/2.9/dev_guide/collections_galaxy_meta.html#collections-galaxy-meta) in galaxy.yml.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
galaxy.yml

##### ANSIBLE VERSION
I don't know

[2020-05-20 16:39] mariolenz commented on #193
Sorry, havn't seen there's already #192 to fix this.

[2020-05-20 16:39] #193 closed

[2020-05-20 21:38] #180 closed

[2020-05-21 03:57] Tomorrow9 opened #196 "vmware_guest_disk: add support for NVME and SATA disk controller type"
##### SUMMARY

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_guest_disk

##### ADDITIONAL INFORMATION

We want to configure disks attached to other controller types using vmware_guest_disk module.

[code]

[2020-05-21 03:58] Tomorrow9 commented on #196
Hi @Akasurde, I want to make some changes on "vmware_guest_disk" module to support NVME and SATA controllers. What do you think? Thanks.

[2020-05-21 10:32] ImranJMughal opened #197 "vmware_category - tag category creation doesnt associate category types in 6.7"
##### SUMMARY
associable_object_types are incorrect for 6.7 VC.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_category in 0.4.1-dev8

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

associable_object_types=dict(
             type='list',
             choices=[
                 'All objects', 'Folder', 'Cluster',

[2020-05-21 10:37] ImranJMughal commented on #197
as a test i've altered "Virtual Machine" to "VirtualMachine" and "Cluster" to "ClusterComputeResource" and this has worked on the tag category creation doing this

``
- hosts: localhost
  connection: local
  tasks:
   - include_vars:
       dir: 'vars/'
   - name: Create Cluster Tag Category
     vmware_category:
       hostname: "{{ vcenter_hostname }}"
       username: "{{ vcenter_username }}"

[2020-05-21 19:47] ChevyNovaLN opened #199 "VMware: vmware_guest_disk - Datastore Cluster adding multiple disks results in insufficient space (selects same underlying datastore)"
##### SUMMARY
When using the vmware_guest_disk module to add additional disks to a VM, if you specify a datastore cluster, as opposed to a specific datastore, all of the disk you attempt to add try to be added to the same underlying datastore within that datastore cluster. If one of the datastores in the datastore cluster specified had the most free space available when starting, every disk you at

[2020-05-22 00:12] #154 closed

[2020-05-22 10:21] mehmoodkha commented on #164
Thanks @Onke .
My issue was on VMC.

I was able to get proper details from VMC. Once I did modification it did worked.
-------
networks: "{u'nat':u'mynet'}"
-------
Its working for me now.

[2020-05-22 10:22] mehmoodkha commented on #162
Update 👍 Thanks @Onke .

I was unable to get portgroup details from vmc. It took some manual efforts to get details. I was able to get proper details from VMC. Once I did modification it did worked.
-------
networks: "{u'nat':u'mynet'}"
-------
Its working for me now.

[2020-05-22 10:27] mehmoodkha commented on #169
Any update/sugessions on this?

I am getting same error while deploying OVA.  Tested with small 600mb ova still failing.

[2020-05-22 14:36] sjwk opened #203 "Teaming and security on vswitch"
##### SUMMARY

vmware_vswitch should allow setting of teaming and security parameters
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware/vswitch
##### ADDITIONAL INFORMATION

The vmware_vswitch module allows adding NICs to vswitches, but currently there is no way to configure how those nics are set up for teaming or resilience.  Similarly there is no way to set the security functions on

[2020-05-25 06:16] Akasurde commented on #49
@mycloudrevolution Any news?

[2020-05-26 05:43] Akasurde opened #204 "vmware_guest_network does not allow to change DVPG within same DVS"
_From @adealdag on May 25, 2020 17:33_

#27831

### SUMMARY
When modifying VM network configuration and changing the attached portgroup, it does not work when the new DVPG is in the same DVS as the current one. It doesn't fail either, just returns as changed but the change is not made.

For example, VM-1 has network adapter 1 in DVS-TEST/myDVPG. The following task will not fail but the VM will rem

[2020-05-26 06:26] Akasurde opened #205 "vmware_guest_network does not allow to change DVPG within same DVS"
_From @adealdag on May 25, 2020 17:33_

#27831

### SUMMARY
When modifying VM network configuration and changing the attached portgroup, it does not work when the new DVPG is in the same DVS as the current one. It doesn't fail either, just returns as changed but the change is not made.

For example, VM-1 has network adapter 1 in DVS-TEST/myDVPG. The following task will not fail but the VM will rem

[2020-05-26 09:24] #205 closed

[2020-05-26 09:32] Akasurde commented on #197
resolved_by_pr #206

[2020-05-26 09:42] Akasurde commented on #197
@ImranJMughal This issue is partly due to vCenter/vSphere Automation SDK bug. Since both of them does not restrict any string other than VMware resource object type.

here, I am creating an object `ThisisVMwareObject` and still, it accepts this associable type.

<img width="1440" alt="Screenshot 2020-05-26 at 3 08 33 PM" src="https://user-images.githubusercontent.com/633765/82885758-2fc15700-9f63-

[2020-05-26 11:13] markatdxb opened #207 "vmware_guest error creating VM when cluster host in maint mode"
##### SUMMARY

Hello,  bumping into the issue creating new VM in 4 hosts cluster where 2 hosts are in maintenance mode
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

This playbook works fine with clusters with all hosts online

[code]

##### EXPECTED RESULTS

create new

[2020-05-26 13:31] Akasurde commented on #182
@dfoley84 Module `vmware_content_deploy_template` does not support [`6.5`](https://github.com/ansible-collections/vmware/blob/a2dd32462bbfcf56c4cd51d653765623dc0955eb/plugins/modules/vmware_content_deploy_template.py#L19). Please update vCenter version to 6.7U3 or latest.

[2020-05-26 13:33] Akasurde commented on #182
@dfoley84 I added stub to handle the exception raised in this scenario - https://github.com/ansible-collections/vmware/pull/209.

[2020-05-26 16:17] #183 closed

[2020-05-27 06:38] Akasurde commented on #157
@zetas1982 Thanks for reporting this issue. This module is supported for vCenter version 6.7U3 and newer - [`doc link`](https://github.com/ansible-collections/vmware/blob/072c1f2573808be08dd6fcb4deca0244d1a8940b/plugins/modules/vmware_content_deploy_template.py#L19). You are running vCenter 6 as per bug report. Please upgrade to the latest version of vCenter and re-try.

FYI, I added exception han

[2020-05-27 06:38] #157 closed

[2020-05-27 06:43] Akasurde commented on #31
Closing this since PR #10 is merged.

[2020-05-27 06:43] #31 closed

[2020-05-27 06:46] Akasurde commented on #50
@linlung985 Could you please provide the required details?

[2020-05-27 06:55] Akasurde commented on #60
@JRNC

Hostnames configuration added via https://github.com/ansible-collections/vmware/pull/129

YAML file for this looks like -

[code]

Filters configuration added via https://github.com/ansible-collections/vmware/pull/137

YAML file for this looks like -
[code]

Closing this as PR #129 and #137 is merged. Please feel free to open a new issue if you face any problem.

[2020-05-27 06:55] #60 closed

[2020-05-27 07:08] Akasurde commented on #115
@DavidSanchezGracia Any news?

[2020-05-27 07:09] Akasurde commented on #116
Closing this issue since PR #120 is merged.

[2020-05-27 07:09] #116 closed

[2020-05-27 07:11] Akasurde commented on #150
Closing as per above.

[2020-05-27 07:11] #150 closed

[2020-05-27 07:15] Akasurde commented on #163
cc @pgbidkar @anusha94

[2020-05-27 07:24] Akasurde commented on #187
@bjordanov4 Would you be interested in raising PR with your findings? Thanks.

[2020-05-27 19:35] mariolenz commented on #28
There's PR #186 that will add an (initial) integration test for `vmware_dvs_host`.

[2020-05-27 20:16] mariolenz commented on #28
It looks like `vmware_vmotion`, `vmware_category`, `vmware_tag_info` and `vmware_tag_manager` do have integration tests meanwhile.

@Akasurde Can you please check this? And, if I'm right, tick them off in your list?

[2020-05-28 14:07] goneri commented on #144
https://dashboard.zuul.ansible.com/t/ansible/build/f70b8aec453d462fa760edaf9d04c246

[2020-05-29 01:18] cspeidel opened #212 "vmware_guest_disk: add support for setting the sharing mode of virtual disks"
##### SUMMARY

This feature should allow setting the sharing mode of the virtual disk.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
plugins/modules/vmware_guest_disk.py

##### ADDITIONAL INFORMATION

Setting the sharing to multi writer means that multiple virtual machines can write to the virtual disk. This sharing mode is allowed only for eagerly zeroed thick virtual disks[1].

Referenc

[2020-05-29 18:57] mariolenz commented on #185
@nemethloci
Now that #186 is merged, I think you should close this issue. It's fixed, isn't it?

[2020-05-30 06:52] nemethloci commented on #185
Hi,sure, i just didn't know I'm the one who should close it. LociOn May 29, 2020 20:57, Mario Lenz <notifications@github.com> wrote:
@nemethloci
Now that #186 is merged, I think you should close this issue. It's fixed, isn't it?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-05-30 19:54] cspeidel commented on #212
+label feature

[2020-05-31 14:01] anusha94 commented on #163
cc @ngp-star

[2020-05-31 17:56] #185 closed

[2020-06-01 05:10] Akasurde opened #215 "vmware_guest: customvalues not applied to pre-existing VM"
_From @PrymalInstynct on May 31, 2020 21:40_

##### SUMMARY

I am attempting to apply custom values (Advanced Options -> Configuration Parameters) using the vmware_guest module to an VM that already exists. The VM will power off per playbook task but the customvalues are not applied.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATI

[2020-06-01 17:31] mariolenz commented on #185
I think the problem was that the PR wasn't linked to this issue somehow. If the PR would have contained a line `Fixes #185`, I think it would have been closed automatically.

Thanks for closing this issue manually. And thanks for contributing to this collection!

[2020-06-01 17:43] nemethloci commented on #185
You're welcome. One comment thought: It should be easier to contribute to the collection. The test env doesn't seem to be documented in a way it would be easy to understand for someone willing to contribute only a couple of lines. Also a container with all build/test prerequisites for local testing could help this situation partly and offload the CI env.

[2020-06-02 13:12] Akasurde opened #216 "vmware_guest creates VM on wrong esxi"
_From @IvanBayan on Jun 02, 2020 11:17_

##### SUMMARY

**vmware_guest** ignores **esxi_hostname** and places VM on other esxis in cluster.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

vSphere Client version 6.7.0.40000

##### STEPS TO REPRODUCE

Inventory entry:
[code]
Task:

[code]

##### EXP

[2020-06-02 20:26] scottd018 opened #217 "vmware_tag_manager: allow tags to datastores"
##### SUMMARY
vmware_tag_manager: allow tags to be applied to datastores much like they can to switches, vms, etc.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_tag_manager

##### ADDITIONAL INFORMATION
It is common to need to apply tags to datastores in VMware in order to create necessary storage policies for managing the environment.

Vars:
[code]

[code]

[2020-06-03 19:12] mariolenz commented on #196
@Akasurde didn't object, so I'd say he agreed implicitly. Go ahead! Personally, I think it would be great if you would implement this.

[2020-06-04 14:41] #212 closed

[2020-06-05 16:24] bradlane opened #222 "vmware_guest_disk will not increase VMDK size if VM has RDM attached"
##### SUMMARY

When attempting to resize a VMDK disk using the vmware_guest_disk module on a VM with both a VMDK and an RDM disk attached, an error is thrown.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest_disk

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

VMDK disk size is increase

[2020-06-05 16:31] RogerCage opened #223 "vmware_guest_disk: add option to change only the scsi_type"
##### SUMMARY

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_guest_disk

##### ADDITIONAL INFORMATION
We want to only change the scsi type of an allready present scsi_controller with disks.

[code]

[2020-06-05 16:52] #174 closed

[2020-06-05 20:30] #197 closed

[2020-06-06 12:14] sky-joker commented on #159
Hi @1115787971

Thank you for reporting this issue.
I have created a [vmware_host_iscsi](https://github.com/ansible-collections/vmware/pull/224) module :)
Could you please check this module work in your environment and let me know the results?

Thanks

[2020-06-06 12:16] sky-joker commented on #159
resolved_by_pr https://github.com/ansible-collections/vmware/pull/224

[2020-06-09 11:37] dfoley84 opened #227 "Ansible Module: vmware_host_firewall_manager"
##### SUMMARY
Currently Trying to use the Ansible vmware_host_firewall_manger to Update Firewall Rules

##### ISSUE TYPE
PLAY [localhost] **********************************************************************************************************************************************************************************************************************************************************************

[2020-06-09 12:57] 1115787971 commented on #159
HI，sky-joker

I'm sorry，I can't do this check in my company,My boss told me if this plugin update in later ansible version,we will use.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"sky-joker"<notifications@github.com&gt;;
发送时间:&nbsp;2020年6月6日(星期六) 晚上8:15
收件人:&nbsp;"ansible-collections/vmware"<vmware@noreply.github.com&gt;;
抄送:&nbsp;"龙龙龙ai"<1115787971@qq.com&gt;;"Mention"<mentio

[2020-06-09 13:18] scottd018 opened #228 "vmware_tag_manager: allow add tags to resource pools"
##### SUMMARY
In vCenter environments, it is common to tag components to track things about them.  Resource Pools are currently not allowed to be tagged via the vmware_tag_manager component and it would be nice to allow those tags via the pyVmomi python library.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_tag_manager

##### ADDITIONAL INFORMATION
[code]

[2020-06-09 13:21] scottd018 opened #229 "vmware_tag_manager: allow tags to folders"
##### SUMMARY
vmware_tag_manager: allow tags to be applied to folders much like they can to switches, vms, etc.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_tag_manager

##### ADDITIONAL INFORMATION
As a VI Admin, it is common to need to apply tags to all items in VMware in order to track information about those items.

[code]

[code]

[2020-06-09 13:24] scottd018 opened #230 "vmware_tag_manager: allow tags to datastore clusters"
##### SUMMARY
vmware_tag_manager: allow tags to be applied to datastore clusters much like they can to switches, vms, etc.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_tag_manager

##### ADDITIONAL INFORMATION
As a VI Admin, it is common to need to apply tags to all items in VMware in order to track information about those items.  Additionally, in the instance of datastore cluster

[2020-06-09 13:33] sky-joker commented on #159
Thank you for your reply.

Okay :)

[2020-06-09 16:44] mariolenz commented on #227
This issue looks familiar... it's possible the the root cause was already fixed with [PR 67394](https://github.com/ansible/ansible/pull/67394) in 2.9.6. Could you please try ansible 2.9.6 or later?

[2020-06-09 20:24] scottd018 commented on #230
/assign

[2020-06-10 09:47] xander-sh commented on #32
The same problem.
Datacenter1 has
Standard vSwitch has Portgroup: portgroup1
DVSwitch0 that has Portgroup: portgroup1
DVSwitch1 that has Portgroup: portgroup1

And when we create VM
[code]
[code]
VM will start with portgroup1 in "Standard vSwitch", but it must be in "DVSwitch0"

[2020-06-11 11:59] saravananoff opened #233 "VMware: vmware_guest module does not set network for RHEL 8 template"
##### SUMMARY

While using vmware_guest to clone RHEL 8 from template the network configuration is being ignored. Same parameters input works for RHEL 7. Even hostname as well not getting renamed.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Cloning VM from template using ansible vmware_gues

[2020-06-12 14:24] ChevyNovaLN commented on #199
Am I the only one running into this issue?

[2020-06-12 14:29] ChevyNovaLN commented on #233
We are not experiencing the issues with RHEL8,  however the difference in our template likely compared to yours,  is the fact that our template has a Vmxnet3 NIC as part of the template so it doesn't need to be created.   It merely changes the settings on it after deployment.  Our 'networks' section of code is as simple as this and works on RHEL7 and RHEL8:

`networks:
      - name: "{{ vm_port_gr

[2020-06-14 12:29] saravananoff commented on #233
Hi ChevyNovaLN - Thanks for your response. Even in our template we have "VMXNET3" adaptor, we used "type" parameter in playbook to use that card(we just have only one card). Let me try without "Type"parameter and let you know.

[2020-06-14 17:43] acalm commented on #204
@adealdag Is this bug still present in the latest version of the module? The if conditions, variable  and line references doesn't match the current version.

[2020-06-14 17:51] acalm commented on #32
@xander-sh does this issue persists in the latest version of the module?

[2020-06-15 19:08] mariolenz commented on #196
@Tomorrow9 Now that #201 is merged, I think you should close this issue. Or is there anything left to be implemented?

[2020-06-16 05:25] Akasurde commented on #228
resolved_by_pr https://github.com/ansible-collections/vmware/pull/218

[2020-06-16 05:25] Akasurde commented on #229
resolved_by_pr https://github.com/ansible-collections/vmware/pull/218

[2020-06-16 05:26] Akasurde commented on #230
resolved_by_pr https://github.com/ansible-collections/vmware/pull/218

[2020-06-16 08:48] xander-sh commented on #32
Yes, still persist :(
vmware_guest.py and vmware_guest_network.py add network from vSwitch, not from DVSwitch.

[2020-06-16 13:11] goneri commented on #144
Should be resolved by: https://github.com/ansible/ansible-zuul-jobs/pull/527

[2020-06-16 16:14] scottd018 opened #236 "Add support for vmware_vm_storage_policy"
##### SUMMARY
Add support to allow creation of VMware storage policies in vCenter.  These policies allow the VI Admin to enforce placement of virtual machines based on their storage requirements.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_vm_storage_policy (non-existent currently)

##### ADDITIONAL INFORMATION
This is a common item that VI Admins typically control within vCenter

[2020-06-16 17:41] #217 closed

[2020-06-16 17:46] mariolenz commented on #230
Now that #218 is merged, can this issue be closed?

[2020-06-16 17:47] mariolenz commented on #229
Now that #218 is merged, can this issue be closed?

[2020-06-16 17:47] mariolenz commented on #228
Now that #218 is merged, can this issue be closed?

[2020-06-16 17:50] scottd018 commented on #230
Thanks!  Closing.  Apologies for leaving the proper message off to auto-close this issue.

[2020-06-16 17:50] #230 closed

[2020-06-16 17:50] scottd018 commented on #229
Thanks!  Closing.  Apologies for leaving the proper message off to auto-close this issue.

[2020-06-16 17:50] #229 closed

[2020-06-16 17:50] scottd018 commented on #228
Thanks!  Closing.  Apologies for leaving the proper message off to auto-close this issue.

[2020-06-16 17:50] #228 closed

[2020-06-16 18:14] mariolenz commented on #228
No problem, especially since I've been very quick to ask you to close this issue after the PR was merged... no apologies needed here :-)

Actually, I thought `resolved_by_pr #218` from @Akasurde would lead to this issue being closed automatically but obviously it didnt :-/

[2020-06-17 10:02] Tomorrow9 commented on #196
@mariolenz I think this module should handle SATA and NVMe disks as well. And vmware_guest can not remove disks, it can add and reconfigure disks.

[2020-06-17 11:17] Akasurde opened #243 "vmware_guest_snapshot_info documentation is outdated on website, as folder is now a required parameter"
_From @NeverUsedID on Jun 17, 2020 08:57_

##### SUMMARY
Like in https://github.com/ansible/ansible/issues/22644 for vmware_guest_snapshot,  the documentation for vmware_guest_snapshot_info is outdated, as the folder parameter is now REQUIRED.

The "Edit on Github Button" does not work, as it throws a 404

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

vmware_guest_snapshot_info

#

[2020-06-17 16:52] mariolenz commented on #196
Sorry, my mistake... I've just realized that this issue is about vmware_guest **_disk** but the PR implemented SATA and NVME disk controller types for **vmware_guest**. I've overlooked that they are both about SATA and NVME, but address different modules.

You're absolutely right, there's no reason to close this issue. Sorry again :-/

[2020-06-18 05:30] Tomorrow9 commented on #196
No need to be sorry:), there are some functions in these two modules duplicated, I also had the same concern, but considering new VM creation in "vmware_guest" module also need other types of disk controllers, so add this support in it firstly. Thanks.

[2020-06-18 20:57] fortinetps commented on #204
I ran into similar issue, and vmware_guest_network module is basically not very useful for now, here are few issues I have observed,

1. Not able to change from one DVPG to another DVPG, I think this is the same issue reported by Akasurde.
2. Not able to change from regular PG to DVPG, for this one, even though the vmware_guest_network module returns no error, but after you power on the VM, the co

[2020-06-19 07:36] Akasurde opened #247 "VMware: Support VMware SPBM Disk and VM Placement"
_From @vMarkusK on Apr 24, 2019 10:24_

##### SUMMARY

The VMware vmware_guest Module should support SPBM Disk and VM Placement. An override should also be possible per disk.

##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME

vmware_guest

##### ADDITIONAL INFORMATION

[code]

_Copied from original issue: ansible/ansible#55703_

[2020-06-19 07:36] Akasurde commented on #247
_From @gitjon2015 on Apr 24, 2019 13:30_

I've been looking for the same exact functionality.   Following this thread.

[2020-06-19 07:36] Akasurde commented on #247
_From @Akasurde on May 09, 2019 11:31_

- [x] List of Existing SPBM policy - https://github.com/ansible/ansible/pull/56263
- [ ] Update SPBM policy related to VM -

[2020-06-19 07:36] Akasurde commented on #247
_From @lparkes on Jun 03, 2019 00:26_

I have code for this although it only supports storage containers. Supporting storage policies in datastore clusters requires quite a bit of extra code and rework of current code to use new API calls for creating the VM. I _might_ also have code for datastore clusters knocking around somewhere although it will be unrelated to my code for storage containers.

[2020-06-19 07:36] Akasurde commented on #247
_From @lparkes on Jun 03, 2019 00:33_

My code for storage polices is at https://github.com/lparkes/ansible/tree/feature-storage_policies. It does require https://github.com/lparkes/ansible/tree/feature-device_keys because even though the API contains no references to device keys, if you haven't set any then the storage policy API simply doesn't work.

[2020-06-19 07:36] Akasurde commented on #247
_From @DE110283 on Nov 28, 2019 14:29_

 @Akasurde do you have an idea, by when vmware_guest will be updated to be able to specify storage policy?

[2020-06-19 07:37] Akasurde commented on #247
@scottd018 Would you like to create a new module to apply Storage Policy to a specific VM? Thanks in advance.

[2020-06-19 10:14] Akasurde opened #249 "VMware: Add support for GSSAPI token"
_From @Akasurde on Feb 13, 2019 17:16_

##### SUMMARY

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
lib/ansible/module_utils/vmware.py

##### ADDITIONAL INFORMATION

Just like FreeIPA add support for GSSAPI for vmware_* modules.

https://github.com/ansible/ansible/pull/52031

[code]

_Copied from original issue: ansible/ansible#52180_

[2020-06-19 10:15] Akasurde commented on #249
_From @JAORMX on Feb 13, 2019 17:23_

I authored #52031 which added support for GSSAPI to the FreeIPA modules. So feel free to add me as a reviewer to PR when it comes up.

[2020-06-19 10:15] Akasurde commented on #249
_From @Akasurde on Feb 13, 2019 17:27_

@JAORMX Yes, definitely.

[2020-06-19 10:15] Akasurde commented on #249
_From @Akasurde on Dec 12, 2019 03:35_

cc @pgbidkar This is aligned with the requirement, you suggested me in the IRC conversation.

[2020-06-19 13:00] vMarkusK commented on #247
Ich would like to see the ability to apply the policy at the time of the creation of a VM (like my initial example) and the ability to change the policy for the whole vm and / or dedicated disks.

[2020-06-19 19:01] MarcoM65 commented on #48
I was able to delete cdrom with the below syntax.

[code]

That was able to remove my extra cdroms.

[2020-06-19 19:14] mariolenz commented on #249
[Integrated Windows Authentication (IWA) is deprecated in vSphere 7](https://blogs.vmware.com/vsphere/2020/05/vsphere-7-integrated-windows-authentication-iwa-ldap.html).

As far as I understand, you want to use a Kerberos ticket to authenticate to a vCenter or to an ESXi host. But you can't do that if the vCenter or the ESXi host isn't a member of the AD (Kerberos) domain if I understand AD / Kerb

[2020-06-19 20:15] scottd018 commented on #247
@Akasurde I don't have time within the next few weeks to dedicate to that, but I could eventually get around to it, yes.  However, I agree with @DE110283 in that it belongs in the `vmware_guest` module and not it's own module, as that is a specific state to apply to a VM either upon creation, or during it's lifetime as @vMarkusK has suggested.

[2020-06-20 03:04] Akasurde commented on #249
@mariolenz Thanks for the valuable information. I think it is better to shelve the idea for now. Thanks.

[2020-06-20 03:04] #249 closed

[2020-06-20 03:10] Akasurde commented on #247
@scottd018 It is OK, as there is no timeline.

`vmware_guest` is already full of features. In the community IRC meeting, we decided not to add a new feature to `vmware_guest` and add any new feature as a new module (that's how vmware_guest_disk and vmware_guest_network module got introduced). I agree that applying policy at time creation is a valid requirement. Let us discuss this more here.

[2020-06-22 14:21] scottd018 commented on #247
@Akasurde Noted.  That does make sense.  So, in the context of this we would:

1) Introduce `vmware_guest_vm_storage_policy` as a way to apply storage policies to existing VMs.
2) Introduce a parameter to apply the storage policy at creation time (assuming this is possible...haven't tried to provision and apply a storage policy at the same time).

[2020-06-23 03:20] magick93 opened #258 "vmware_guest_info - gets info about all VMs - ignores inventory"
##### SUMMARY
When I run the below task it returns info for all VMs.

I expected it would respect the in-use inventory and look up VMs based on the inventory.

The [docs](https://docs.ansible.com/ansible/latest/modules/vmware_guest_info_module.html#vmware-guest-info-module) also indicates that this module is for a single VM:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`vmware_vm_i

[2020-06-23 03:31] magick93 commented on #258
Ah, this is confusing. What is the difference between `  vmware_vm_info ` and `vmware_guest_info`?

[2020-06-23 20:53] #243 closed

[2020-06-24 11:11] lupa95 opened #260 "vmware_cluster_vsan - add support for advanced parameters"
##### SUMMARY
While configuring vsan clusters, setting the advanced parameters for the vsan service (Object repair timer, Thin Swap, Large Cluster Support etc.) should be possible.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_cluster_vsan

##### ADDITIONAL INFORMATION

These parameters often need to be tweaked while configuring vsan clusters.

[code]

[2020-06-25 05:15] Akasurde opened #261 "vmware_vm_inventory add ability to filter returned inventory and inventory groups based on tags"
_From @kendrickluong on Jun 25, 2020 05:14_

##### SUMMARY
The bundled vmware_vm_inventory plugin does not support features such as filtering vms returned from vmware or dynamically creating inventory groups based on tags.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_vm_inventory

##### ADDITIONAL INFORMATION
The ansible community seems to have a newer version of this plugin (not

[2020-06-25 05:16] Akasurde commented on #261
Hi @kendrickluong What is Ansible version you are using?

[2020-06-26 02:19] Akasurde opened #262 "Add a scenario guide for newly added VMware inventory parameters"
_From @FF186 on Jun 25, 2020 14:39_

##### SUMMARY

I'm so happy to finally find that it's been pushed a fix for hostnames when using VMware plugin, but I feel like some docs for usage is missing: ansible/ansible#63939

I don't quite get the given example:

[code]

What is `config.name` in this case? Where does this value come from and how do I access it?
When running `ansible-inventory -i inv.vmw

[2020-06-26 02:32] Akasurde commented on #262
@FF186 Thanks for reporting this issue.

`config.name` - comes from Virtual machines properties that are defined in `properties`. These values are directly mapped to virtual machine properties from vCenter. You can check the documentation of all properties [here](https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_inventory_vm_attributes.rst). So

[2020-06-26 08:09] FF186 commented on #262
Yes, exactly what I want! Getting rid of the `uuid`.

Though the config.name + "_" + config.uuid is still used to identify the virtual machine? So then again I don't see how it solves my problem, haha... since it cannot be used as `- hosts: ` variable...

(I want to create a host_vars for `vm_8046`, but then the folder name must be: `vm_8046_421d120a-b061-f71f-7d2b-e158cb82573e`.)

Anyways, thank

[2020-06-26 08:19] Akasurde commented on #262
No, if you set `config.name` as hostname then the host will be identified as `config.name` (provided that VM IP or FQDN is populated in `ansible_host` vars). So technically you can do

[code]

[2020-06-26 08:28] FF186 commented on #262
Using the inventory you provided with the exact `properties` and the `hostnames`:
[code]

I get `No hosts matched, nothing to do`, though if I wildcard this:
[code]
Then it works.

[2020-06-26 08:44] FF186 commented on #262
@Akasurde Well... I'm using `vmware_vm_inventory` instead of `community.vmware.vmware_vm_inventory`... so that's on me.

[2020-06-26 10:52] FF186 commented on #262
Solved using: #261 https://github.com/ansible-collections/vmware/issues/261

Thanks.

[2020-06-26 15:39] Akasurde opened #263 "Feature: Assign user permissions based on roles in vmware/vCenter"
_From @uberjew666 on Aug 23, 2018 13:56_

##### SUMMARY
It would great if we could add permissions to users (ideally, local AND Active Directory). There is a module available to creates users and another to create roles but nothing to add the permissions.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
vmware_global_permissions ?

_Copied from original issue: ansible/ansible#44570_

[2020-06-26 15:39] Akasurde commented on #263
_From @Akasurde on Aug 24, 2018 04:12_

@uberjew666 Thanks for reporting this feature. Definitely, a value addition to the existing modules.

[2020-06-26 15:39] Akasurde commented on #263
_From @Akasurde on Dec 07, 2018 21:09_

@uberjew666 Could you please check https://github.com/ansible/ansible/pull/47866 and https://github.com/ansible/ansible/pull/47870 and let us know if solves your purpose? Thanks

[2020-06-26 15:40] Akasurde commented on #263
_From @samdoran on Jun 26, 2020 15:25_

This module was moved to https://github.com/ansible-collections/vmware. If this is still an issue, please open a new issue there.

[2020-06-26 17:35] mariolenz commented on #263
@Akasurde @uberjew666 Doesn't vmware_object_role_permission do just this?

[2020-06-27 22:11] DiscoStud commented on #32
I'm having the same issue with the vmware_guest module. I'm trying to deploy a VM into a portgroup on a dvswitch which has the same name as a portgroup on standard switch.

It does come down to `find_network_by_name` vmware_guest_network, or `get_network` in vmware_guest.

These do a lookup on `[vim.Network]` which only returns one network. If multiple networks exist with the same name it'll alway

[2020-06-28 03:17] acalm commented on #32
In the latest version of this module, do you get the expected results when
setting the `switch` parameter to the dvswitch name?

On Sun, 28 Jun 2020, 00:11 DiscoStud, <notifications@github.com> wrote:

[2020-06-28 08:54] DiscoStud commented on #32
No, behavior is the still same.

[2020-06-28 13:27] sky-joker commented on #258
Hi @magick93

The `vmware_vm_info` module returns all VM information.
So how about using the `vmware_guest_info` module?
For example, it is something like the following.

**inventory**

[code]

**playbook**

[code]

https://docs.ansible.com/ansible/latest/modules/vmware_guest_info_module.html#vmware-guest-info-module

[2020-06-28 21:18] magick93 commented on #258
Thanks

[2020-06-28 21:18] #258 closed

[2020-06-29 16:02] #159 closed

[2020-06-29 19:00] mariolenz commented on #260
I'd like to work on this but don't have much time at the moment. For the record: I think `object_repair_timer`, `site_read_locality`, `large_cluster_support ` and maybe `thin_swap` can be controlled through [VsanExtendedConfig](https://vdc-download.vmware.com/vmwb-repository/dcr-public/b525fb12-61bb-4ede-b9e3-c4a1f8171510/99ba073a-60e9-4933-8690-149860ce8754/doc/vim.vsan.VsanExtendedConfig.html).

[2020-06-29 20:10] lupa95 commented on #260
In my use case i only had to tweak `object_repair_timer` and `thin_swap` but i thought implementing them all might make sense while someone is at it.

I stumbled across the problem that the `VsanExtendedConfig` is part of the vsan api, and i had to use additional modules from VMware(`vsanmgmtObjects.py`). Only the stuff from the vSphere Webservices API is available in `pyvmomi` if i understand tha

[2020-06-29 20:22] razbag opened #266 "vmware_guest_disk: cannot choose between two datastores with parameter autoselect_datastore: True"
##### SUMMARY

Trying to Deploy VM from template and  I want to use
autoselect_datastore: True paramter only for  specific datastores
for example I have three datastores ds-r1 ds-r5 and ds-r10

I want to use autoselect_datastore only for this two datastores  ds-r5 and ds-r10 and I want that system automatically choose with less used datastore
But I can't
I try with list items it is not working

If

[2020-06-29 22:40] kendrickluong commented on #261
@Akasurde

We're using ansible 2.9.9 but dont have access to ansible-galaxy which is why i was wondering if it was possible to have it merged back into the main ansible

[2020-06-30 04:08] Tomorrow9 commented on #266
Hi @razbag the logic is if you specify the parameter "autoselect_datastore" and set it to true, it will get all the VMFS datastores of ESXi host specified or the "cluster" specified, then check if these datastores' name contains the "datastore" parameter value. Here you set the "datastore" to "['ds-r5', 'ds-r10']", I think there is no matched datastore name. So it will use the template disk file d

[2020-06-30 06:54] razbag commented on #266
Hi @Tomorrow9 ,

I am agree with logic but it doesn't work also but when I set only one datastore it is working fine
for example
cluster: HA cluster
folder: /
disk:
    - size_gb: 25 # System
       datastore: ds-r5
       autoselect_datastore: True

or

cluster: HA cluster
folder: /
disk:
    - size_gb: 25 # System
       datastore: ds-r10
       autoselect_datastore: True

it is working fine.

T

[2020-06-30 12:58] Tomorrow9 commented on #266
Hi @razbag is the result of your examples above is: it selects datastore "ds-r5" and "ds-r10" to deploy VM separately?

If you want it to select one datastore in the configured two datastores, then that must be a feature request for "vmware_guest" to support selecting one datastore in specified datastore list instead of all datastores available.

[2020-06-30 14:41] Medalibi opened #268 "vmware_guest_vgpu: adding shared PCI devices (vGPU) to vmware guests"
##### SUMMARY
Adding the possibility to add, remove and change a shared PCI device like a vGPU into a guest VM running on a VMware cluster.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_guest_vgpu

##### ADDITIONAL INFORMATION

The feature idea is to create an Ansible module that uses a VM id or name to then change the status of its vGPU configuration. This module will only work fo

[2020-06-30 16:28] razbag commented on #266
Hi @Tomorrow9 ,
This is just an example with individuals datastore it works fine example is this one

cluster: HA cluster
folder: /
disk:
- size_gb: 25 # System
datastore: ds-r5
autoselect_datastore: True

but what I want is  use both datastores in one command with autoselect_datastore:
example is
[code]
and autoselect_datastore with value true can find and select  less used between this listed da

[2020-07-01 01:16] Tomorrow9 commented on #266
@razbag now selecting from a specified datastore list is not supported as I know. But I think this is a use case that user don't want to deploy VM to all available datastores just some of them.

A way to let it work is set the datastores' names to "ds-r1", "ds-r5-test", "ds-r10-test", and write as below, I think it can work to find datastores with keyword "test" in the name.
[code]

[2020-07-01 02:20] entertvl opened #269 "vmware_vm_inventory: Unable to get inventory for a ESXi 7.0 host"
##### SUMMARY
I get some error and not creating inventory hosts when setting my ESXi 7.0 host as a target.

BTW, I was taught the workaround in Japanese QA and it's working well.
If that's OK, I'll send a PR.

<details><summary>Workaround</summary>
<p>

https://github.com/ansible-collections/vmware/blob/e2c847dfe274a76ce6f5ab7703e987848a723324/plugins/inventory/vmware_vm_inventory.py#L674

[Workar

[2020-07-01 06:42] Akasurde commented on #269
resolved_by_pr #270

[2020-07-01 06:42] Akasurde commented on #269
@entertvl, Could you please check PR #270 and let us know if it works for you ? <br><br>Thanks. <br><br> needs_info

[2020-07-01 06:44] Akasurde commented on #263
@mariolenz Yes, Thanks. I will mark this as closed.

[2020-07-01 06:44] #263 closed

[2020-07-01 06:46] Akasurde commented on #261
Filters and Group by Tags are new features and can not be backported to 2.9 release. I am not sure what you mean by "dont have access to ansible-galaxy". Thanks.

[2020-07-01 13:59] goneri opened #272 "vmware_host_logbundle: 'NoneType' object has no attribute 'read'"
[code]
See: https://f89d326eaadae777999c-7705fcdeba92eee1a386f41ecfaacb90.ssl.cf1.rackcdn.com/270/f4ee8c8edd15cc5ef4769e029030e6c61fd50b67/check/ansible-test-cloud-integration-vcenter_1esxi_without_nested-python36_2_of_2/0665873/job-output.html

[2020-07-01 14:10] sky-joker commented on #272
Thank you @goneri for reporting this issue.
Does this error occur frequently?

[2020-07-01 14:18] goneri commented on #272
You're welcome @sky-joker. It's the first time i see it.

[2020-07-01 14:22] sky-joker commented on #272
Thank you for your response.
It may be a temporary error.

[2020-07-01 20:45] mariolenz commented on #260
Yes, I can imagine use cases where you want to tweak `object_repair_timer` and `thin_swap`. And I agree that, when implementing these two, it makes sense to implement the other advanced settings as well.

Well... yes... wants to... I really do, it's just a question of finding the time. At the end of the day, I _use_ these modules and fix bugs or implement features that affect us. Everything else,

[2020-07-02 01:24] entertvl commented on #269
@Akasurde

Thank you, It works for me.

[2020-07-02 10:54] Champcut opened #273 "vmware_cluster_info Utilization"
#####SUMMARY

Current cluster utilization script that gives output of RAM / CPU / DISK usage of a cluster. As I have reviewed all modules here, only found something similar for virtual machines, but not for clusters.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
add extra features to vmware_cluster_info or a new one

[2020-07-02 12:58] #269 closed

[2020-07-02 19:45] razbag commented on #266
Hi @Tomorrow9

It is really for with change naming of datastores and put test
Thanks for this workaround.
but let me ask you my latest question :)
are you planning to implement  selecting from a specified datastore list I think it is very useful

Thanks in advance,
Razmik

[2020-07-03 14:34] Tomorrow9 opened #274 "vmware_guest: parameter like controller_type or unit_number should convert to int firstly"
##### SUMMARY

Parameters' values with "int" type should be converted to int firstly using "integer_value" function. Or it will pass string type of value when setting it to a variable.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

When

[2020-07-04 15:35] sky-joker commented on #170
resolved_by_pr https://github.com/ansible-collections/vmware/pull/275

[2020-07-04 15:37] sky-joker commented on #170
Hi @Tomorrow9, Could you please check PR https://github.com/ansible-collections/vmware/pull/275 and let us know if it works for you?

Thank you in advance.

[2020-07-06 15:38] mariolenz commented on #260
Bad news: It looks like pyVmomi doesn't know about these advanced VSAN options, you need to install the [vSAN Management SDK for Python](https://storagehub.vmware.com/t/vsan-api-cookbook-for-python/virtual-san-sdks/) first. I have a really bad feeling introducing this as a dependency... @Akasurde @goneri Or do you think differently?

Btw: Feel free to kick VMware for not providing this SDK in an e

[2020-07-06 16:14] goneri commented on #260
Hi @lupa95 and @mariolenz,

`vmware_vsan_health_info` already depends on the vsan sdk (a.ka vSAN Management SDK for Python). The extra dependency is mentioned in the requirements of the module. We cannot properly test the module in the CI, since we cannot easily pip install the depency.
I was also reluctant to include the module, but at this time, they were no real alternative. I don't know if the

[2020-07-06 16:38] mariolenz commented on #260
Didn't know this, but that means I'm not introducing a new dependency. OK, then I'll give it a try.

To the best of my knowledge the situation hasn't changed... unfortunately :-(

[2020-07-06 19:01] mariolenz commented on #260
@lupa95 @goneri fyi: vmware/pyvmomi#909

[2020-07-07 08:35] Stogrammus opened #278 "Disk type always is "Lazy zeroed thick disks" and it doesn't change"
##### SUMMARY
When I create a virtual machine from a VMware template and change the disk size The disk always changes its type to "Lazy zeroed thick disks". An ansible playbook disc type is "Eager zeroed thick disks".
I tried to use an option "convert: eagerzeroedthick", but the disk type remains "Lazy zeroed thick disks" after the virtual machine was created.
I tried to use in playbook:
type: eag

[2020-07-07 13:01] eschek87 opened #279 "vmware_host_service_manager ssh service"
Try to stop ssh service on esxi hosts does not stop the service:

tasks:
   - name: Ensure SSH is turned off
     vmware_host_service_manager:
       esxi_hostname: "{{ inventory_hostname }}"
       hostname: "{{ lookup('env', 'VMWARE_HOST') }}"
       username: "{{ lookup('env', 'VMWARE_USER') }}"
       password: "{{ lookup('env', 'VMWARE_PASSWORD') }}"
       service_name: TSM-SSH
       state:

[2020-07-07 13:05] eschek87 opened #280 "vmware_host_service_manager ssh service not stopped"
##### SUMMARY
I wrote a task to stop ssh and set policy to "off"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_host_service_manager

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
SSH Service on esxi stopped

##### ACTUAL RESULTS
SSH service still "running"

[code]

[2020-07-07 13:05] eschek87 commented on #279
Duplicate

[2020-07-07 13:05] #279 closed

[2020-07-07 14:18] sky-joker commented on #280
Hi @eschek87

Thank you for reporting this issue.

Can you please let me know the used vCenter and ESXi version in your environment?
And please try the following playbook and let me know the results.

**playbook**

[code]

**command**

[code]

Thanks

[2020-07-07 15:23] goneri commented on #280
This may be a dup with https://github.com/ansible-collections/vmware/issues/101. We had to turn off its integration test because the module was misbehaving. The module needs a bit of refactoring.

[2020-07-08 07:37] eschek87 commented on #280
Hi @sky-joker
your playbook worked. So I checked again my playbook and have seen that I had configured awx to run this template with job type "check". So it's clear why nothing happend.

Thanks and regards!

[2020-07-08 07:37] #280 closed

[2020-07-08 08:07] eschek87 commented on #260
Hi,
maybe we can extend the features request for the following settings:
- claim unused disk
- configure stretched cluster and fault domains

Regards,
Stephan

[2020-07-08 11:59] Akasurde opened #283 "Number of virtual devices exceeds the maximum for a given controller while changing adapter settings for a VM"
_From @srivaa31 on Jul 08, 2020 11:40_

##### SUMMARY

pyVmomi.VmomiSupport.TooManyDevices exception while configuring four adapter settings on the target VM
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest_network
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

esxi: 6.7
OS: CentOS Linux release 8.1.1911 (Core)

##### STEPS TO REPRODUCE

[code]

[2020-07-08 11:59] Akasurde commented on #283
_From @mkrizek on Jul 08, 2020 11:56_

Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/vmware.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https:

[2020-07-08 15:28] sky-joker commented on #280
Hi @eschek87

I'm glad the problem was solved :)

[2020-07-08 16:19] mariolenz commented on #260
Isn't auto-claiming deprecated? I'm sure I've read something about it...

This might be a bit too much for a single PR, but I can't tell at the moment. I'm still trying to understand the vSAN Management SDK for Python and it kind of keeps fighting back... but since this afternoon, it looks like I'm winning :-)=)

I'll have a look at it and will let you know whether I think it's a good idea to impl

[2020-07-08 16:48] jamesmarshall24 opened #284 "Allow Host Filtering to Work with Lowercase for vmware_vm_inventory like vmware_inventory.py"
##### SUMMARY

In the previous dynamic inventory script for vmware (vmware_inventory.py), host_filters and groupby_patterns could correctly filter the JSON returned from vCenter as the keys were all set to lower(). In the latest introduction of host filtering from #137 , filters requires the exact casing returned which breaks filtering previously used with vmware_inventory.py

##### ISSUE TYPE
- F

[2020-07-08 17:05] jamesmarshall24 commented on #284
It also might be a good idea to make this configurable as I assume the current filtering has been adopted by some users. If there was a flag to set this, then users migrating their filters from vmware_inventory.py could drop in place while users matching keys with the correct casing could continue with their filters as usual.

[2020-07-08 17:14] eschek87 commented on #260
Yes you are right, but there must we another way to do this because the vmware webclient allow to do this more or less automatically. Maybe this doc helps: https://vdc-download.vmware.com/vmwb-repository/dcr-public/424d010b-c80e-40de-b1a3-25f6e9861e6a/3b934f51-98b6-4ea1-9336-b1bac1f23403/vsan-sdk-67.pdf **"Claiming and Managing Disks"**

Thanks and regards,
Stephan

[2020-07-08 19:55] fbiering commented on #163
is there a solution to the problem? @ultral @anusha94 @pgbidkar

[2020-07-08 21:30] srivaa31 commented on #283
The OVF through which these test vms are being cloned through already has 10 network adapters.
Before proceeding to re-test , I deleted 5 unused adapters namely (Network adapter 6 to Network adapter 10)

With above change , I am able to see that  vmware_guest_network module is being run without previous exception message.

The problem now is that it creates two more interface namely Network adapte

[2020-07-10 06:31] srivaa31 commented on #283
I have figured out workaround through a powershell script which does the adapter settings for VM network interface temporarily. However ,I expected ansible to work seamlessly in the given scenario.

[2020-07-10 12:30] aleksandar-kinanov opened #286 "vmware_cluster_(ha|drs) - Addition of Advanced Options to HA vCenter cluster throws errors due to incompatible types"
##### SUMMARY

Unable to add Advanced Options to vCenter HA Enabled cluster due to incompatible types being sent to the API

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_cluster_ha
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

**OS**: Photon OS
**vCenter version**: 6.7

##### STEPS TO REPRODUCE

Simply copy/paste the example of vmware_cluster_ha

[2020-07-10 12:34] aleksandar-kinanov commented on #286
The problem comes from https://github.com/ansible-collections/vmware/blob/main/plugins/module_utils/vmware.py#L864.
It tries to parse it to boolean type, but the API only accepts String values.

We have monkey patched it the following way in order to suit our case:
[code]

I.e. since we are only passing boolean values, we only changed this line, but it will probably throw the same error for other

[2020-07-10 12:35] digifuchsi commented on #286
@Akasurde @goneri  may you have a look at it, please?

[2020-07-10 15:06] Bahu2016 opened #288 "The error was: AttributeError: 'module' object has no attribute 'templateOf' when using "moid" with vmware_guest_info"
##### SUMMARY
The error was: AttributeError: 'module' object has no attribute 'templateOf'

Failed when i use "moid" with community.vmware.vmware_guest_info

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.vmware.vmware_guest_info

##### ANSIBLE VERSION
ansible 2.9.10

##### CONFIGURATION
ansible 2.9.10
  config file = ~/.ansible.cfg
  configured module search path = [u'~/.ansible/pl

[2020-07-10 16:13] mariolenz commented on #260
@eschek87

The module has a parameter `vsan_auto_claim_storage`, isn't that what you want? Or do you want to explicitly claim a special disk?

I'd prefer another issue / PR for this. [VsanVcClusterConfigSystem](https://vdc-download.vmware.com/vmwb-repository/dcr-public/b525fb12-61bb-4ede-b9e3-c4a1f8171510/99ba073a-60e9-4933-8690-149860ce8754/doc/vim.cluster.VsanVcClusterConfigSystem.html) doesn't

[2020-07-11 03:36] Akasurde opened #290 "Using is_template flag in vmware_guest module does not convert template into virtual machine"
_From @Aech1977 on Jul 10, 2020 19:15_

##### SUMMARY
I want to convert a template into a Virtual machine to run updates and then turn back into a template so I dont have to do this manually

##### ISSUE TYPE
Either on instantiation the template is cloned or it complains about wanting extra variables set like datastore, cpu, etc

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

'2.9'

###

[2020-07-11 17:03] mariolenz commented on #286
The problem I see here is that if someone wants to set `das.includeFTcomplianceChecks` that expects a string `false`, and also `das.someOtherSetting` that expects a boolean `false` your solution would set a string value although `das.someOtherSetting` requires a bool. I can't think of a solution for this at the moment.

For ESXi hosts, we can query the API for supported advanced settings including

[2020-07-11 17:15] #170 closed

[2020-07-13 06:27] eschek87 commented on #260
Hi mariolenz,

as you has written auto claim is deprecated and doesn't work anymore. I will open a new pr for this.

Thanks and regards,
Stephan

[2020-07-13 06:35] eschek87 opened #292 "vSAN: Claiming and Managing Disks"
##### SUMMARY

After adding hosts to vcenter, the next step is to create a cluster object and add hosts to that cluster. A lot's of companies use vSAN as a storage layer. Currently there is no plugin to configure/claim the vSAN disk. Auto-claiming from vmware_cluster_vsan_module is deprecated.
In the vmware webclient it is possible to do this more or less automatically. Maybe this doc helps for im

[2020-07-13 16:05] #236 closed

[2020-07-14 04:27] Akasurde opened #296 "is_template doesn't turn Template into a Virtual Machine"
_From @Aech1977 on Jul 14, 2020 00:36_

##### SUMMARY
is_template flag doesnt convert template into a virtual machine with previous versions of ansible, now it either complains dis and memory isnt set (and when set it clones the template and powers that up instead of converting template).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGU

[2020-07-14 14:02] goneri opened #301 "CI fails with: Cannot find service 'com.vmware.cis.tagging.category'."
[code]

[2020-07-14 14:02] goneri commented on #301
e.g: https://dashboard.zuul.ansible.com/t/ansible/build/c9043878510a4ee79c76f5609feb4e80

[2020-07-14 14:17] goneri commented on #144
IPv6 is now re-enabled and this resolve the last problematical situation.

[2020-07-14 14:17] #144 closed

[2020-07-15 14:54] sky-joker commented on #288
Hi @Bahu2016

Thank you for reporting this issue.
This problem occurs in the pyvmomi version 6.7.1 or less.
The `templateOf` was implemented from pyvmomi version `6.7.1.2018.12`.

see: https://github.com/vmware/pyvmomi/pull/732

So, please upgrade to the pyvmomi `6.7.1.2018.12` or more.

[2020-07-15 15:06] goneri opened #303 "CI fails with: "Unable to log on to vCenter or ESXi API at vcenter.test:443 as administrator@vsphere.local: Cannot complete login due to an incorrect user name or password.""
https://284af0dc315d595f0074-640c85e6077796724ffeb90828e2d91f.ssl.cf5.rackcdn.com/302/774df209becfe43016c802bb1a0e18c5cff0cd2c/check/ansible-test-cloud-integration-vcenter_2esxi_without_nested-python36/66a1353/job-output.html#l15824

[2020-07-15 22:25] #274 closed

[2020-07-16 14:59] Bahu2016 commented on #288
@sky-joker Thanks for the help. it worked after update pyvmomi

[2020-07-16 15:28] sky-joker commented on #288
Thank you @Bahu2016 for checking that the module works after the pyvmomi update.

[2020-07-16 17:32] mdinwoodie opened #307 "[RFE] Add a guests_only field to VMware plugin"
##### SUMMARY
Add a `guests_only` field to the VMware Inventory plugin.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
VMware Inventory plugin

##### ADDITIONAL INFORMATION
If added, this would allow for importing of ESXi hosts during an inventory sync by setting it to `False`.

[2020-07-17 02:48] Udayendu opened #308 "vmware_guest: Unable to remove cdrom from virtual machine"
##### SUMMARY
**vmware_guest** module is unable to remove the cd-rom from the virtual machine

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
- Ubuntu 20.04 LTS

##### STEPS TO REPRODUCE
1. Install an windows VM from OVA
2. CD-ROM will be attached at the time of deployment
3. Post installation kee

[2020-07-17 04:34] Akasurde commented on #307
@mdinwoodie Thanks for reporting this feature. I didn't understand what is requirement. Could please rephrase and add example of expected thing?

needs_info

[2020-07-17 04:48] Akasurde commented on #288
Closing as per above comment.

[2020-07-17 04:48] #288 closed

[2020-07-17 10:56] how2vm commented on #161
Any progress on this? I have seen similar feature request opened since 2018, but it was never implemented.

[2020-07-20 08:50] Akasurde commented on #296
@Aech1977 Thanks for this issue. I am not able to reproduce this error.

I am using the following playbook -

[code]

[2020-07-20 08:52] Akasurde commented on #290
Duplicate of https://github.com/ansible-collections/vmware/issues/296

[2020-07-20 08:52] #290 closed

[2020-07-20 08:56] Akasurde commented on #308
@Udayendu In your `configure_cdrom_list` debug output, there is no devices (notice `device = (int) []`). This means that CDROM is not attached to IDE controllers and connected to SATA controller. Can you please check once and let me know if that is the case. Thanks.

needs_info

[2020-07-20 08:57] Akasurde commented on #307
@mdinwoodie Could you please provide required information? Thanks.

[2020-07-20 09:36] Akasurde commented on #261
@kendrickluong Could you please provide required information? Thanks.

[2020-07-20 13:54] mdinwoodie commented on #307
@Akasurde Sorry for the delay here. From what I understand, the VMware Inventory plugin doesn't parse the `guests_only` variable, so users can't pass `guests_only: False` as an extra var to import ESXi hosts along with their guest VMs. This RFE was to add that option.

[2020-07-20 15:56] ReinerNippes opened #315 "vmware_guest task creates only 5 guest at a time"
##### SUMMARY
when i want create, let's say, 10 vmware guest only 5 guests are create before another bunch of 5 guests are created.

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### ADDITIONAL INFORMATION
is that a limitation of the ansible module vmware_guest or a vmware vcenter feature.

where can change this number? how to create 10 guests parallel?

[2020-07-20 18:33] mariolenz commented on #315
5 rings a bell: By default, Ansible runs each task on all hosts affected by a play before starting the next task on any host, **using 5 forks.** ([Controlling playbook execution: strategies and more](https://docs.ansible.com/ansible/2.9/user_guide/playbooks_strategies.html))

I think this is the default ansible behavior and has nothing to do with `vmware_guest`. Can you please try if running ansib

[2020-07-20 19:21] Aech1977 commented on #296
I'll try again using what you posted

[2020-07-20 19:22] ReinerNippes commented on #315
jeppp. "-f 30" did the trick.
thanks.

[2020-07-20 19:22] #315 closed

[2020-07-20 20:56] Aech1977 commented on #296
So it works using the syntax you provided.  I wasnt calling the ansible collections during the play but at this point I'm not gonna argue.  Thanks for the verification.  I'll incorporate it into the production automation (and may get the updating of the templates automated again

[2020-07-21 06:08] Udayendu commented on #308
Yes, thats mapped as a SATA device.

[2020-07-21 06:39] Akasurde commented on #308
I would suggest using `cdrom` as list instead of dict for now. I am going to mark specifying `cdrom` as dict deprecated since it is not supporting all options that are supported by `cdrom` in list.

[code]

[2020-07-21 08:59] Akasurde commented on #308
@Udayendu I started deprecation of CDROM as dict. Please let me know if you find any problem in removing CDROM using list.

[2020-07-21 09:00] Akasurde commented on #48
@CosmoMyzrailGorynych  I started the deprecation process for CDROM as dict (Since providing CDROM as a list makes more sense and provides additional parameter over a dict). Please let me know if you find any problem in removing CDROM using the list.

[2020-07-21 09:03] Akasurde commented on #296
@Aech1977 Thanks for the information. I will mark this as closed for now. If you find any issue with above, please feel free to open a new issue. Thanks.

[2020-07-21 09:03] #296 closed

[2020-07-21 09:59] Akasurde commented on #286
@aleksandar-kinanov @mariolenz Do you think we can add an extra parameter to override boolean check-in `option_diff` function?

From VMware documentation - https://pubs.vmware.com/vi3/sdk/ReferenceGuide/vim.option.OptionValue.html -

[code]

Let me know.

[2020-07-21 10:05] Akasurde commented on #284
@dacrystal Would you like to work on this? Thanks.

[2020-07-21 10:50] dacrystal commented on #284
This have been discussed before:

https://github.com/ansible-collections/vmware/pull/80#issuecomment-613511792

I have drafted that feature in my fork [topic/vmware-inventory-plugin-property-format]( https://github.com/dacrystal/ansible-collections-vmware/tree/topic/vmware-inventory-plugin-property-format). I just need to rebase it or something.

https://github.com/ansible-collections/vmware/blob/

[2020-07-22 10:38] tingtingq commented on #169
Any suggestions on this? Got same error while deploying ova.

[2020-07-22 19:52] mariolenz commented on #286
The problem is: How do we distinguish between advanced settings that require a string `true` / `false` and those that require a boolean `true` / `false`? Anyway, I think we should give it a try and hope HA advanced settings always work with strings and never with booleans. I'll work on a PR and then we'll just see what happens, OK?

Personally, I think this is a case of bad API design. If it's a q

[2020-07-23 08:12] Udayendu commented on #308
In my provision server I am using ansible 2.9.10. Using a list should I be able to test on the same version or I need to apply any patch ? I think earlier I have tried as a list but that didn't work. So dont think that directly it will work without any patch.

[2020-07-23 12:00] mehmoodkha commented on #169
In my case it was issue with  network parameter: corrected as following and its working
`networks: "{u'nat':u'test'}"`

[2020-07-23 22:06] CosmoMyzrailGorynych commented on #48
Nice! Though I'm not sure when I will need baking Windows VMs en masse again :D

[2020-07-24 17:01] mark19632 opened #322 "vmware_guest Module - VM deployment fails if more than 1 extra disk is added"
##### SUMMARY
Since updating vSphere to 7.0.0, we are unable to deploy VM's from a template if the vm configuration has more than 2 extra disks than the template, for example, if the tempalte has 1 disk  then

VM with 1 extra disk - Deploys with out issue
VM with 2 Extra disks - Error reported

ansible 2.9.9
vSphere 7.0.0

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANS

[2020-07-24 18:12] sky-joker commented on #273
Hi @Champcut

Thank you for reporting this issue :)
I added the getting of clusters resource information processing to the vmware_cluster_info module.

https://github.com/ansible-collections/vmware/pull/321

Can you please check the module works in your environment and let me know?

[2020-07-24 18:15] sky-joker commented on #273
resolved_by_pr https://github.com/ansible-collections/vmware/pull/321

[2020-07-24 20:12] mark19632 commented on #199
I've also seen this issue.

I think it's because it requests the DS selection in parallel so vSPhere doesn't update to choose a new one.

We work round this by limiting the deployments to a couple of vms at once

[2020-07-24 20:40] ChevyNovaLN commented on #199
I wish it were that easy.   Our problem is not the number of simultaneous deployments, but rather the fact that we want to add more than one disk to a single VM.   We already separate the tasks for adding disks to the VM when we need more than 2 additional disks that will be on the same datastore cluster...   I just can't think of a great way to handle adding lets say... 5 disks, that together won

[2020-07-24 21:17] imareporter opened #323 "vmware_vm_inventory - Filtering Guests by Folder Association Does Not Work"
##### SUMMARY

In `vmware_inventory`, I was able to filter guests by folder using the following:

[code]

Now, when using `vmware_vm_inventory`, I can't filter guests using folder name. When fetching via `vmware_inventory`, I can see the associated data:

[code]

However, in `vmware_vm_inventory`, I don't:

[code]

The `parent` dict is no longer there. I tried the following, but it failed:

[code]

[2020-07-26 08:41] Akasurde opened #324 "vmware_host_vmhba_facts and vmware_host_vmhba_info returns wrong node_wwn and port_wwn"
_From @Rocking80 on Jul 26, 2020 08:00_

##### SUMMARY
When running `vmware_host_vmhba_facts` or `vmware_host_vmhba_info` module to get HBA information of a host. Wrong node_wwn and port_wwn are returned.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
 - vmware_host_vmhba_facts
 - vmware_host_vmhba_info

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

No change

##### OS / ENVIRONMENT

VM

[2020-07-26 10:44] sky-joker commented on #324
Hi @Rocking80

Thank you for reporting this issue.
This error is a known issue that occurs the ansible 2.9 or less.
In Collections fixed this issue.

see: https://github.com/ansible/ansible/pull/66692

Can you please try the using VMware collections again?

[2020-07-27 07:11] Akasurde commented on #323
@imareporter Thanks for reporting this issue. `vmware_inventory` inventory script and `vmware_vm_inventory` inventory plugin are totally different from each other in terms of implementation. But use the same vCenter APIs.

We introduced `resources` so that you can do server-side resource filtering instead of client-side filtering which is better than `filters`. `filters` are client-side filtering.

[2020-07-27 07:36] Akasurde commented on #323
btw, property `parent` specified in `properties` does return information about parent of the virtual machine but it is in the form of `moid` or managed object id. So you can use filters like this -

[code]

<details>
<summary>console log</summary>
<pre>
{
    "_meta": {
        "hostvars": {
            "ubuntu_20_04_empty": {
                "ansible_host": "",
                "config.guestId": "

[2020-07-30 05:21] Akasurde opened #327 "Potential logic issue in TaskExecutor with undefined loop and false conditional"
_From @sivel on Jul 29, 2020 21:33_

##### SUMMARY
While looking to remove the `incidental_postgresql_user` target, I found a situation that was only covered by those tests.

See https://github.com/ansible/ansible/pull/70506/files#diff-8004bc1613f5bb4139ae0810c5490cba

The code flow:

https://github.com/ansible/ansible/blob/5e1a9689837d404fd9d2db3429acf499cf1a3d2b/lib/ansible/executor/task_executo

[2020-07-30 05:21] Akasurde commented on #327
_From @sivel on Jul 29, 2020 21:35_

Based on the referenced issue (https://github.com/ansible/ansible/issues/45189) I find history that I was concerned about this previously.

I understand that we cannot change the behavior at this point it seems.

Maybe we just close this.  Looking for opinions.

FWIW, this is the code I was trying to cover, that seems to have likely been added just for this cas

[2020-07-30 05:24] #327 closed

[2020-07-30 05:25] Akasurde opened #328 "Ansible adding extra disk on vmware_guest"
_From @amitbhadra on Jul 29, 2020 21:35_

##### SUMMARY
I'm trying to create a VM from a template using the vmware_guest functionality. It works fine for all conditions except one where it is adding an extra disk.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
CentOS7 and MAC OS X

##### STEPS TO REPRODUCE
The first step is t

[2020-07-31 06:27] #273 closed

[2020-08-01 14:11] sky-joker commented on #175
Hi @tezzigator

Thank you for reporting this issue.
I think that this issue occurs cause is the wrong specified value to the networks param.
The networks param specify portgroup name that not a network device name.

[code]

Is the eth0 in your ovf configuration it portgroup name?
In that case, for example, the networks param is the following.

[code]

[2020-08-02 08:52] #48 closed

[2020-08-02 08:52] #308 closed

[2020-08-04 05:45] Akasurde commented on #324
@sky-joker Thanks for the feedback.

[2020-08-04 05:45] Akasurde commented on #323
@imareporter Any news?

[2020-08-04 05:48] Akasurde commented on #286
@mariolenz Are you working on this?

[2020-08-04 16:22] mariolenz commented on #286
@Akasurde

Sorry, I nearly forgot... I've started to work on this just now.

[2020-08-04 16:50] Akasurde opened #333 "vmware_tag_manager on multiple Managed Nodes causes HTTP 503 response from API"
_From @herpus-derpus on Nov 08, 2019 15:09_

Not reported.

Exists in:
stable-2.8
stable-2.9
devel

##### SUMMARY
When I use vmware_tag_manager to set the state of VMware Tags on an Inventory of two Managed Nodes, execution fails with the API responding with HTTP code 503 Service Unavailable.

If I use the throttle Task keyword to limit execution to one at a time, the Task completes for both Nodes

[2020-08-04 16:50] Akasurde commented on #333
_From @herpus-derpus on Nov 08, 2019 15:11_

Workaround is to use ansible 2.9 or greater and specify:
`throttle: 1`
at the Task level, in line, e.g. :
[code]

[2020-08-04 16:59] Akasurde opened #334 "VMware: vmware_guest multiple CDROM implementation breaks backwards compatibility and other issues"
_From @oatakan on Nov 01, 2019 21:25_

##### SUMMARY
There are a couple of issues with the new multiple CD-ROM implementation:

1. **breaks compatibility**, controller_number was assumed to be 0 (default) if not specified in previous releases, now it's mandatory attribute so existing playbooks with vmware_guest and cdrom attribute specified will fail unless updated with controller_number and unit_

[2020-08-04 16:59] Akasurde opened #335 "VMware: Unable to create vSphere Cluster in idempotent manner"
_From @kclinden on Nov 03, 2019 01:58_

##### SUMMARY
Playbook fails on create vSphere Cluster when running second time

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_cluster

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu on Windows 2019 WSL
[code]
##### STEPS TO REPRODUCE

Run playbook a second time on an empty vCenter instance.

[code]

#

[2020-08-04 16:59] Akasurde commented on #335
_From @Akasurde on Nov 15, 2019 11:21_

@kclinden Thanks for reporting this issue. Could you please provide `-vvvv` output for cluster task for second run ?

Thanks

needs_info

[2020-08-04 16:59] Akasurde commented on #335
_From @kclinden on Nov 21, 2019 17:32_

I will try to get more verbosity for you in the next week.

[2020-08-04 16:59] Akasurde commented on #335
_From @Akasurde on Jan 19, 2020 05:25_

@kclinden Any news?

[2020-08-04 16:59] Akasurde commented on #335
_From @kclinden on Jan 19, 2020 05:44_

Unfortunately I haven’t had any time to dive back into this and have since started to focus on terraform instead.

[2020-08-05 01:47] Tomorrow9 opened #337 "vmware_guest_powerstate: TypeError: argument of type 'NoneType' is not iterable"
##### SUMMARY

Use "vmware_guest_powerstate" module to shutdown VM, got "NoneType" error. This issue occurred once can not be reproduced every time.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest_powerstate

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible controller is Ubuntu 18.04 LTS.
vCenter and ESXi 7.0, target VM is Windows 10.

[2020-08-05 01:58] Tomorrow9 commented on #334
Hi @Akasurde, for issue 3:
"3. user is forced to know the controller_number and unit_number which shouldn't be the case"

is introduced with adding CDROM attaching to SATA controller support, the same as disks without these new parameters then don't know attach to which IDE/SATA controller.

[2020-08-05 20:02] imareporter commented on #323
Thanks @Akasurde

[2020-08-05 20:02] #323 closed

[2020-08-05 20:46] felixfontein opened #338 "Inclusion of community.vmware in Ansible 2.10"
This collection will be included in Ansible 2.10 because it contains modules and/or plugins that were included in Ansible 2.9. Please review:

* The list of requirements for inclusion in Ansible: https://github.com/ansible-collections/overview/blob/master/collection_requirements.rst
* The roadmap with all important dates for Ansible 2.10: https://github.com/ansible/ansible/blob/devel/docs/docsite/

[2020-08-06 07:36] vivekanand552 opened #339 "vmware_guest_network module not working as expected, it is not able to change a Live vm Network adapter settings"
Hello Team,

I am trying to automate the OVA/VM Template deployment using ansible and I have a use case to change the network adapter settings of a live vm from one VM Portgroup to another VM portgroup.

I am using "vmware_guest_network" module to achieve the same but somehow the network adapter is not getting changed as expected.

Ansible version: 2.9.5.

the module code is as below
[code]
When i

[2020-08-06 22:27] automateyournetwork opened #341 "vmware_host_facts - "ESXi 'host' not found"
##### SUMMARY
I am trying to connect and use the vmware_host_facts module based on the documentation but get an error that the ESXi host is not found

I can see the vCenter authenticate my user / python request in the logs but I am not able to get the host facts because it never finds the hosts.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_host_facts

##### ANSIBLE VERSION

[code]

[2020-08-07 11:01] Akasurde opened #342 "failed to find folder issue for vmware_content_deploy_template ansible module"
_From @Shweta217 on Aug 07, 2020 10:15_

##### SUMMARY

Failed to find folder for vmware_content_deploy_template module when trying to provision new server from template using content library.
I am using correct folder path which I have double checked using vmware_guest_find module as well to get the folder path for other existing vm's.

Note:
I have installed vsphere-automation-sdk-python.git, us

[2020-08-07 12:26] antbridle opened #343 "vmware_guest_serial_port not idempotent"
##### SUMMARY

Module correctly applies a serial port to guest VM when the guest VM doesn't have an existing serial port configured. Running the same code again results in a an error.

FAILED! => {"changed": false, "msg": "Unable to find the specified serial port: {'type': 'device', 'device_name': '/dev/char/serial/uart0'}"}

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest_serial_

[2020-08-09 21:45] jameshixon opened #345 "vmware_guest module provision from template NIC start_connected reporting FALSE"
##### SUMMARY

Provisioning VM from Windows Server 2008r2 template in vSphere Client version 7.0.0.10400 with start_connected set as TRUE in vmware_guest module actually provisions server with start_connected set as FALSE.
Cloning from same template manually in vSphere, the network adapter starts in connected state.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE

[2020-08-10 01:47] #345 closed

[2020-08-10 01:48] jameshixon commented on #345
Issue resolved by following VMWare KB: https://kb.vmware.com/s/article/66765

[2020-08-10 06:02] #260 closed

[2020-08-10 10:05] sbraz commented on #161
FWIW @ckotte opened a PR (https://github.com/ansible/ansible/pull/48719) that covered this in 2018 but it was never merged. I think it may be possible to reuse his code for this repo as long as he is credited.

[2020-08-10 15:14] kaizenlpi opened #346 "“Unable to connect to vCenter or ESXi API at 192.11.11.111 on TCP/443: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:618)” #71154"
##### SUMMARY
I'm running a playbook against a host and getting this error: ` "msg": "Unable to connect to vCenter or ESXi API at 192.11.11.111 on TCP/443: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:618)"

We are using vcenter 6.5. I have a playbook that should let ansible controller talk to the vsphere vcenter. I exported the trusted root SSL certificates from the vsphere

[2020-08-11 05:01] Akasurde commented on #346
@kaizenlpi Thanks for the issue. Could you please check if you followed [this](https://docs.ansible.com/ansible/devel/scenario_guides/vmware_scenarios/vmware_requirements.html#installing-ssl-certificates) doc?

[2020-08-11 14:10] kaizenlpi commented on #346
Yes I followed that doc.

[2020-08-12 07:25] Akasurde opened #347 "vmware_guest_pci: support adding pci devices to vmware guests"
_From @gardar on Feb 20, 2020 16:48_

##### SUMMARY

It would be good if it would be possible to add pci devices for vmware guests, both shared pci devices and passthrough.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_guest

##### ADDITIONAL INFORMATION

My use case is adding nvidia grid vgpus in a vdi environment, the vgpus are added as shared pci devices as per the following in

[2020-08-12 07:25] Akasurde commented on #347
_From @Akasurde on Feb 21, 2020 06:12_

@gardar Thanks for reporting this feature request. We are not adding any new feature in `vmware_guest` but instead adding a new module. Would you be interested to create a new generic module with your requirements?

Let me know. Thanks.

needs_info

[2020-08-12 07:25] Akasurde commented on #347
_From @gardar on Feb 21, 2020 10:47_

@Akasurde I'm not sure if I'm qualified to do it but I might give it a whirl... Do you think I could base it on any of the existing vmware modules with minor adjustments or is this something totally different from anything else?

[2020-08-12 07:25] Akasurde commented on #347
_From @Akasurde on Feb 21, 2020 11:40_

Yes, you can take look at [`vmware_guest_disk`](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vmware_guest_disk.py) or [`vmware_guest_network`](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vmware_guest_network.py) which are based on this concept (instead of adding new feature in vmware_guest,

[2020-08-12 07:25] Akasurde commented on #347
_From @earlruby on Mar 25, 2020 17:43_

@gardar Are you actively working on this? I'm also looking for a solution that uses Ansible. I found https://github.com/vmware/vhpc-toolkit which is a stand-alone tool that does this. It makes calls to pyvmomi to make these changes, the same as other Ansible modules.

[2020-08-12 07:25] Akasurde commented on #347
_From @goneri on Mar 25, 2020 18:48_

Hi,

Thank you for your issue report. Since March 2, 2020, the Ansible team does not accept any new changes on the VMware modules on the core ansible/ansible repository.
The development continue but in the new VMware collection repository: https://github.com/ansible-collections/vmware
We have no way to properly migrate a Github issue between the two projects.

[2020-08-12 07:25] Akasurde commented on #347
_From @gardar on Mar 26, 2020 19:01_

@earlruby I haven't had the time to look at this yet and I'm unsure when I will..  So feel free to give it a shot if you have the opportunity to do so.

Have you managed to trace the functionality in vhpc toolkit to see if it would be of any use?
I'm not sure if you saw the snippet I linked above, but I think it might be worth looking at.

Calling the vhpc too

[2020-08-12 07:25] Akasurde commented on #347
_From @Medalibi on Jun 30, 2020 14:33_

Hi, any updates on creatign this new module please?

[2020-08-12 08:04] Medalibi commented on #347
Hi, No, not really. I have just done a work around as a quick fix. I have been very busy with other projects.

[2020-08-12 16:52] kaizenlpi commented on #346
I resolved the issue. I had to use validate_certs: no. Shortened playbook to isolate issue and using    vmware_vm_info module.

- name: Gather all registered virtual machines 
  hosts: all 
  vars: 
    ansible_python_interpreter: "/usr/bin/env python3" 
  
  tasks: 
    - name: Login into vCenter and get cookies 
      uri: 
        url: https://{{ vcenter_hostname }}/rest/com/vmware/cis/session 

[2020-08-13 17:18] mariolenz commented on #286
@Akasurde
Did you have a look at PR #332 yet? Is it OK?

[2020-08-13 17:35] mariolenz commented on #338
@Akasurde @goneri

Are there any issues you'd _really_ like to be solved or PRs included in 2.10? I won't promise anything (it's 5 days until the deadline) but please let me know if you think I could be helpful somewhere.

[2020-08-13 17:39] mariolenz commented on #346
In other words: This issue can be closed...?

[2020-08-13 17:58] mariolenz commented on #341
I suppose that `vmware_hostname ` is you vCenter, rigth? Do you _have_ a `vhost01` in your vCenter? I generally see FQDNs (vhost01.example.com) or sometimes, in test environments, IP addresses (1.2.3.4).

If the ESXi host is added in vCenter as `vhost01.example.com`, you'll need to use this in your inventory instead of just `vhost01`.

[2020-08-13 20:28] mariolenz commented on #335
@Akasurde

Please close this issue. I neither see an expected nor an actual result, and anyway @kclinden moved to Terraform and therefor won't work with us on this.

I don't even understand the problem. The issue is called "Unable to create vSphere Cluster in idempotent manner", but this doesn't make any sense if the steps to reproduce are "run playbook a second time on an empty vCenter instance".

[2020-08-13 23:40] kclinden commented on #335
So the issue that I was seeing was that when I tried to run the same playbook to create a vSphere Cluster with name "Foo" it would error the second time cause the cluster already existed. I would think that I could run the same playbook over and over. If a cluster with the name "Foo" already existed then it would have no changes.

[2020-08-14 17:11] mariolenz commented on #335
@kclinden

I wanted to have a look into this today but, unfortunately, didn't find the time. I hope I will next week.

You ran into this problem with ansible 2.9.0, correct? This is quite old, the latest stable release is 2.9.12. Do you run into the same problem with this version?

Anyway, seeing your actually results would be quite helpful.

I'll try to have a closer look at this next week, but I

[2020-08-15 12:28] #341 closed

[2020-08-17 04:46] Akasurde commented on #338
@mariolenz We are shipping 1.1.0 stable release of VMware collection with 2.10. So I think we are good on that side. Thanks for asking.

[2020-08-17 05:31] Udayendu commented on #169
Issue seems to be in the network section. You should not provide the network thats needed for eth0 directly. Instead it should be something like below:

[code]

If you OVA required one nic whose name is APPS in your dvs/standardvSwitch, it should be able to map it.
Where "VM Network" is the interface recolonization at VMware end and "APPS" is the switch you want to map to the OVA.

If its having s

[2020-08-17 05:48] Udayendu opened #349 "vmware_deploy_ovf: Allow URL as template source"
##### SUMMARY
No option to specify URL based http link to OVA in vmware_deploy_ovf module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- vmware_deploy_ovf

##### ADDITIONAL INFORMATION
- Currently only Path to OVF or OVA file to deploy is supported
- But VMware supports both absolute path and URL based deployment. Hence some option should be there to pass the URL for the deployment. So

[2020-08-17 05:49] Udayendu commented on #349
Old RFE that was open for this required is [#42666](https://github.com/ansible/ansible/issues/42666)

[2020-08-17 16:04] harrymitchinson opened #350 "vmware_vm_inventory: support fetching tag category"
##### SUMMARY
In vmware_vm_inventory we can fetch tags from Virtual Machines however we cannot fetch the categories which these tags belong to, this leads to tags with missing context as to what they actually belong to and how they should be grouped.

The `tags` returned by the inventory plugin are in the form of an array like:
[code]
This would be more useful if the `tags` were a dictionary/map,

[2020-08-18 15:39] DevFinGitGovSecChatOps opened #351 "vmware_guest: error when creating vm with enabled virtualization based security"
##### SUMMARY

When trying to create a new vm with `virt_based_security: true`, the task will fail.
Removing the `virt_based_security` option successfully creates a vm - without virtualization based security though
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]
vmware collection version: 1.1.0
Also tested with ansible 2.9.12

##### OS / ENVIRONMENT

[2020-08-18 15:45] DevFinGovSecOps commented on #351
Maybe relevant: https://github.com/ansible-collections/vmware/issues/89

[2020-08-18 17:39] mariolenz commented on #338
@Akasurde

Since you're quite happy to ship the 1.1.0 version of this collection with ansible 2.10 and, anyway, we have 2020-08-18 today (the deadline) I think this issue should be closed. In the long run, it doesn't pay to have open issues where nothing can be done ;-)

Don't mention it.

[2020-08-19 15:34] sky-joker opened #352 "occur error when change port group with vmwre_guest_network module"
##### SUMMARY

The following error occurred when a VM port group changes from dvPorgGroup to PortGroup after clone from a VM template with dvPortGroup configured.

[code]

This error only occurs when cloning from a VM template with dvPortGroup configured.
Not occur when a VM template with PortGroup configured.

##### COMPONENT NAME

plugins/modules/vmware_guest_network.py

##### ANSIBLE VERSION

[

[2020-08-19 23:46] saito-hideki opened #353 "Unable to create a 2-disks vm on different datastores"
##### SUMMARY
The summary of the original issue(ansible/ansible#26095) is below:

*When you try to create a 2-disks vm with each disk on a different datastore, both are created on the datastore specified as the first one.*

I have moved the original issue from ansible/ansible to ansible-collections/vmware along to the following suggestion in the original issue:

Original issue: ansible/ansible#260

[2020-08-20 06:04] ultral commented on #163
@ddiguru @fbiering as I can see according the vmware [docs](https://vdc-repo.vmware.com/vmwb-repository/dcr-public/1cd28284-3b72-4885-9e31-d1c6d9e26686/71ef7304-a6c9-43b3-a3cd-868b2c236c81/doc/operations/com/vmware/vcenter/ovf/library_item.deploy-operation.html) resource pool id ir obligatory param, so I created the pool request https://github.com/ansible-collections/vmware/pull/354

[2020-08-20 10:49] Medalibi commented on #268
There is no files to identified as the solution module does not exist and there was a strong push against updating an existing module to incorporate this feature.

[2020-08-20 18:12] #286 closed

[2020-08-21 05:08] vivekanand552 commented on #339
Hello Ansibullbot team,

Please find the details below

Component name: ansible version 2.9.5
module name: vmware_guest_network

issue: vm portgroup name not able to change for a vm.

Thanks and Regards
Vivekanand

[2020-08-21 07:24] vivekanand552 opened #355 "vmware_deploy_ovf networks unable to configure ip address and ovf customisation on the OVA appliance"
Hello All,

I am trying to deploy an ova appliance on vcenter 6.5 esxi host, i am able to deploy the OVA applaince but I am not able to configure the IP address for appliance.

I am not able to find any suitable ansible playbook on internet/github for the same.

Ansible version: 2.9.5
module: vmware_deploy_ovf

Kindly help.

Thanks and Regards
Vivekanand

[2020-08-21 10:30] johnnnnnnnnnnnnnn opened #356 "Configure resource shares on a per vm basis in vmware_guest"
##### SUMMARY
Be able to specify resource shares on a per vm basis in the vmware_guest module. Currently one can only specify limits and/or reservations.

##### ISSUE TYPE
Add new choices to hardware parameter in vmware_guest module.

`cpu_shares` (string): low, normal, high, custom (DEFAULT: normal)
`memory_shares` (string): low, normal, high, custom, (DEFAULT: normal)

##### COMPONENT NAME
vmwar

[2020-08-24 09:26] xenlo opened #359 "Provision VM on a prefered ESXi Host with `vmware_guest`"
##### SUMMARY
According to the [documentation](https://docs.ansible.com/ansible/latest/modules/vmware_guest_module.html#parameter-esxi_hostname), `esxi_hostname` attribute define on which ESXi host the virtual machine will run. But actually it doesn't behave like that.

As far as I use the `vmware_guest` against the vcenter I din't found a way to define a prefered ESXi host where my VM have to run

[2020-08-24 09:35] xenlo commented on #359
I had some investigations with @goneri already.

He created a PR #357 to test some changes (having the set of `self.relospec.host` independent if we use template or not).

And from my side I tried to force some `RelocateVM_Task(…)` after the `CreateVM_Task(…)` but without any success.

[2020-08-24 12:52] schneif2 opened #360 "customization_info vcenter 6.7 no attribute hostName"
##### SUMMARY
Requesting information about Policies and Profiles > VM Customization Specifications with module vmware_guest_customization_info raises error Failed to gather information with exception : 'vim.vm.customization.Sysprep' object has no attribute 'hostName'.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest_customization_info

##### ANSIBLE VERSION
[code]

##### CONFIGURA

[2020-08-24 13:35] vivekanand552 commented on #355
Hello Team,

Please find the component name and ansible version

component name/module name: vmware_deploy_ovf
ansible version: 2.9.5

issue: unable to set ip address for the ova appliance.

Thanks for your help in advance!

Regards
Vivekanand

[2020-08-24 13:55] schneif2 commented on #360
When i comment out the if statement it also breaks at attributes:

domain=current_spec.spec.identity.domain,
time_zone=current_spec.spec.identity.timeZone,
hw_clock_utc=current_spec.spec.identity.hwClockUTC,

The Attribute timeZone i have found maybe here:
time_zone=current_spec.spec.identity.guiUnattended.timeZone,

[2020-08-24 16:14] antbridle commented on #343
Hi @sky-joker,

Unfortunately didn’t get a chance to look at this today - planning to try it tomorrow

[2020-08-25 07:16] antbridle commented on #343
Hi @sky-joker,

I tested this fix this morning and confirm my playbook no longer fails when running my playbook to instantiate a new VM multiple times against the same VM. I will admit I have only tested the one-use case of attaching a physical serial device.

Thanks for your work on this

[2020-08-25 08:05] NeverUsedID opened #361 "vmware_* modules should allow for case insensitive name"
SUMMARY
All the vmware_* modules that take a name (machine) parameter appears to be case sensitive. It is very common to have casing differences between the inventory and whats in vmware, which then requires use of the vmware powershell module to find the exact name for every machine before using any vmware ansible module. At the minimum there should be parameter that allows override to be case in

[2020-08-25 14:11] sky-joker commented on #343
Thank you for taking the time out of checking the module work.
I'm glad the module worked :)

[2020-08-25 14:35] mmcgilly opened #362 "vmware_vmkernel: incorrectly handles idempotence for Repl and Repl_NFC services"
---
name: 🐛 Bug report
about: Create a report to help us improve
---

##### SUMMARY

vmware_vmkernel incorrectly handles Repl and Repl_NFC services

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Module: vmware_vmkernel

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

VMware vCenter 6.7
ESXi 6.7

##### STEPS TO REPRODUCE

Playbook that enables replication

[2020-08-25 14:38] mmcgilly commented on #362
Issue appears to be with the following code block
[code]
Should be
[code]

[2020-08-25 17:35] goneri commented on #163
@ddiguru does https://github.com/ansible-collections/vmware/pull/354 resolve your problem?

[2020-08-26 18:05] #362 closed

[2020-08-27 15:40] #343 closed

[2020-08-27 16:17] #163 closed

[2020-08-27 20:55] RudneiBertolJr opened #365 "vmware_cluster_info: Is not getting the correct VMware cluster name when the cluster name has '/' on the name."
### SUMMARY

This issue was raised, during the test for the BZ https://bugzilla.redhat.com/show_bug.cgi?id=1872477, where the cluster name is being collected and encoded as URL.

i.e: Cluster name is 'Cluster DEV/QA'.
Instead of the VMware cluster being present as 'Cluster DEV/QA' it is present as 'Cluster DEV%2fQA'

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_cluster_info

##### A

[2020-08-28 14:44] sky-joker commented on #365
resolved_by_pr https://github.com/ansible-collections/vmware/pull/366

[2020-08-29 12:24] sky-joker commented on #360
resolved_by_pr https://github.com/ansible-collections/vmware/pull/368

[2020-08-29 12:25] sky-joker commented on #360
Hi @schneif2

Thank you for reporting this issue.
I fixed this issue(https://github.com/ansible-collections/vmware/pull/368), so can you please try the fixed module work at your environment, and please let me know the result?

[2020-08-31 04:26] Akasurde opened #369 "VMware: vmware_guest module does not set network for RHEL 8 images"
_From @jxu6619 on Aug 29, 2020 14:14_

It looks somebody mentioned the same issue, but it sounds we can't find the solution.
Here is playbook. It sounds the issue is on "wait_for_ip_address: yes". The result is that there is not any IP configuration and IP's up.
    - name: "Provision new VM using VMWare Template"
      vmware_guest:
        hostname: "{{ vCenterHostname }}"
        username: "{{

[2020-08-31 05:43] FF186 commented on #262
**UPDATE:**

Not able to use the `guest` properties as hostname.
[code]

Inventory:

plugin: community.vmware.vmware_vm_inventory
strict: False
hostname: 10.65.223.31
username: administrator@vsphere.local
password: Esxi@123$%
validate_certs: False
with_tags: False
properties:
- 'name'
- 'config.name'
- 'guest.toolsStatus'
- 'guest.toolsRunningStatus'
- 'guest.guestFullName'
hostnames:
- 'guest.gue

[2020-08-31 11:23] FF186 commented on #262
Example shown [https://github.com/ansible-collections/vmware/blob/aee551dc1d1f8a57f58f2da47bef7678b2461973/plugins/inventory/vmware_vm_inventory.py#L150-L159](url), does not work.
[code]

[2020-08-31 12:05] Akasurde commented on #262
`guest.guestFullName` is an optional property (refer https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_inventory_vm_attributes.rst#guestfullname-str-optional), so it is not populated in hostvars of host. This results in the error presented.
 You can use `config.guestFullName` instead -

[code]

Which results -

[code]

[2020-08-31 12:06] Akasurde commented on #262
I agree. We need to change the documentation.

[2020-08-31 12:20] zeph-rpulse opened #370 "Cannot relocate VM to a different datastore"
##### SUMMARY
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE

[code]

[code]
or

[code]
[code]

##### EXPECTED RESULTS
- Disk will be migrated to other datastore.

##### ACTUAL RESULTS
- Disk remains on the initial datastore, no attempts to relocate VM disk and files.

[code]

[2020-08-31 13:02] FF186 commented on #262
`config.guestFullName` is not the one I want. All that gives me is the "OS", e.g. `Ubuntu Linux`.
I want the `guest.hostName`/`summary.config.hostName` which gives me the `config.name`+`domain`

[2020-08-31 15:23] mariolenz commented on #335
@kclinden Is this really correct: `cluster_name: '{{ cluster_name }} '`? I think we have a problem with the trailing space, can you please remove it (`cluster_name: '{{ cluster_name }}'`) and try again?

You see, I think the module searchs for 'Cluster-01 ' (literally, that is with a trailing space) and doesn't find it, but when trying to create the cluster the vCenter trims this to 'Cluster-01' a

[2020-08-31 19:33] goneri commented on #335
Thank you @mariolenz for raising this point. vCenter indeed silently removes the trailing whitespace. So we must do the same operation ourselves if we want to do a resource look up.

I agree, the `vim.fault.DuplicateName` exception should not ignore.

[2020-09-01 06:58] markatdxb commented on #207
Hello, can you pls let me know if anyone is working on this issue ? Thanks

[2020-09-01 11:13] schneif2 commented on #360
Hey @sky-joker

Thank you for your fast action. Yes your PR solves this issue also on our environment. Works well on vCenter 6.7.
Great information about the difference with LnuxPrep and SysPrep.

Great job!

[2020-09-01 11:13] #360 closed

[2020-09-01 13:11] jpgrall opened #373 "vmware_guest_disk fails to add multiple disks on vCenter 7"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest_disk
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

vCenter 7.0
Ansible Environment Redhat 7.8

##### STEPS TO REPRODUCE

Attempt to add two or greater disks to a vm with vmware_guest_disk

[code]

##### EXPECTED RESULTS

Disks are added to VM

##### ACTUAL RESULTS

[code]

[2020-09-01 14:06] sky-joker commented on #360
Thank you @schneif2 for taking the time out of checking the module work.
I’m glad to be for your help :)

[2020-09-01 14:35] jpgrall commented on #373
Was able to workaround using with_items
[code]

[2020-09-01 16:13] DevFinGovSecOps commented on #351
Just adding a second task with `virt_based_security: true` seems to work!
It doesn't solve the issue though, since a person reading the official doc would expect it to work in one task (as I did)

[code]

[2020-09-01 16:48] mariolenz commented on #351
I think the module crashes here:

https://github.com/ansible-collections/vmware/blob/aee551dc1d1f8a57f58f2da47bef7678b2461973/plugins/modules/vmware_guest.py#L1828-L1829

The module tries to make sure that the chosen hardware version supports virtualization based security, but `self.configspec.version` seems to be `None` when creating a new VM without explicitly setting the version. I'll have to h

[2020-09-02 11:13] DevFinGovSecOps commented on #351
I can confirm it! The following playbook is working as intended.
The issue still shouldn't be considered solved, since version is an optional parameter.

[code]

[2020-09-02 17:22] mariolenz commented on #346
@Akasurde @kaizenlpi

Can someone please close this issue?

[2020-09-02 17:47] mariolenz opened #375 "vmware_cluster: Stop eating exceptions"
##### SUMMARY
vmware_cluster ignores a `vim.fault.DuplicateName` which is never a good idea:

https://github.com/ansible-collections/vmware/blob/aee551dc1d1f8a57f58f2da47bef7678b2461973/plugins/modules/vmware_cluster.py#L414-L416

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_cluster

##### ANSIBLE VERSION
[code]

##### EXPECTED RESULTS
The module should fail instead of crashing.

###

[2020-09-02 18:03] mariolenz commented on #335
@goneri

The problem is that I'm not sure where to do it. I see three possibilities:

1. trim the parameter in the module: quick'n'dirty, but this doesn't prevent us from running into similar issues with other modules
2. trim in module_utils/vmware.py: tricky; might avoid similar problems with other modules in the future, but might also introduce new ones
3. ansible-base could optionally trim (a p

[2020-09-02 19:13] goneri commented on #335
I would go with Option 2. But I agree, this can also be address at the `argument_spec` level.

[2020-09-03 04:10] Akasurde commented on #346
@mariolenz Thanks for the information. Marking as closed for now.

[2020-09-03 04:10] #346 closed

[2020-09-03 08:17] DevFinGovSecOps commented on #351
According to the new module documentation `10` is the default for `version` (https://github.com/ansible-collections/vmware/blob/main/docs/community.vmware.vmware_guest_module.rst).
But `latest` is also a supported value, which should be supported by `virt_based_security: true`, which it doesn't at the moment.

[2020-09-03 14:20] #375 closed

[2020-09-03 16:25] rbriancollins commented on #32
Having same issue here.  Network team has same VLAN in two different dv-switches: 1 for Windows, 1 for Linux.  Ansible finds the Windows switch first and bombs with:
`'A specified parameter was not correct: spec.deviceChange.device.port.switchUuid', None)`
I was hoping to to a datacenter migration using Ansible to re-IP a few hundred boxes.

[2020-09-04 17:50] mariolenz opened #378 "vmware_guest_network looks seriously broken"
##### SUMMARY
`vmware_guest_network` looks seriously broken, there are a lot of issues:

- [x] #25
- [ ] #32
- [X] #88
- [x] #204
- [x] #339
- [X] #352
- [x] #443

Additionally, @DevFinGitGovSecChatOps told me there are problems removing vNICs (we don't have an issue for this yet but I'm quite sure `vmware_guest_network` has a problem with dvSwitches here).

I'm afraid there are some fundamental p

[2020-09-04 18:29] DevFinGitGovSecChatOps opened #379 "vmware_content_deploy_ovf_template/vmware_guest: no customization possible"
##### SUMMARY

When using the `vmware_guest` module, the `customization` flag is usable in order to customize different parts of a deployed operating system.
The same behaviour is not possible, when using the `vmware_content_deploy_ovf_template`.
In order for the `vmware_content_deploy_ovf_template` module to be useful, the customization of the target virtual machine should be possible.

There are

[2020-09-04 18:31] DevFinGitGovSecChatOps commented on #379
Maybe relevant: Another person on reddit trying to do the same thing (therefore in need of the same functionality):
https://www.reddit.com/r/ansible/comments/ghyqlc/ansible_module_vmware_content_library/

[2020-09-04 20:10] pokepoke81 commented on #49
@Akasurde I am running into this problem currently. I'm running Ansible on Ubuntu 18.04 and I've installed my trusted root CA (and vCenter's sub CA for good measure) into Ubuntu's ca-certificates.crt bundle. vcenter_folder and vmware_guest do not have this problem, so I'm assuming they are not using the SDK?

[2020-09-04 20:12] pokepoke81 commented on #49
I literally hit send, and got it working. My ansible build is in Docker. "export REQUESTS_CA_BUNDLE=/path/" doesn't work, but "ENV export REQUESTS_CA_BUNDLE /path/" does. I'll leave this here for others.

[2020-09-05 10:46] #365 closed

[2020-09-05 17:08] mariolenz commented on #352
@sky-joker When trying to remove a vNIC connected to a dvSwitch from a VM, I run into the same issue. It looks like the problem lies here:

https://github.com/ansible-collections/vmware/blob/10310e77f270e0ac47a2309e87e71b184b5ef41b/plugins/modules/vmware_guest_network.py#L434

I'm not sure, but it looks like the device backing for a vNIC connected to a vSwitch differs from one connected to a dvSwi

[2020-09-06 13:45] sky-joker commented on #352
@mariolenz

Sure, you are right.
The error occurs because that line is the cause.

[2020-09-06 21:11] nevdull77 commented on #379
We're currently deploying this way and customizations are working. Can you try 2 things;
1. Set "existing_vm: True" under the customization section
2. Set "state: present" under vmware_guest

[2020-09-06 21:19] nevdull77 commented on #369
@Akasurde have you tried installing the Perl and net-tools packages on the template?

[2020-09-07 02:21] jxu6619 commented on #369
Thank you Akasurde,

ya, Perl and net-tools is installed on REHL8's image.
But it looks that the issue is still there.
And it looks there is a bug between vmware-guest and REHL8's image.

Thanks,

John

On Sun, Sep 6, 2020 at 3:20 PM nevdull77 <notifications@github.com> wrote:

[2020-09-07 03:53] nevdull77 commented on #369
@jxu6619 we had issues with customizations when setting the state to "poweredon", in our case the vm's were existing as they were already deployed from a OVF template. Switching the state from "poweredon" to "present" solved it for us.

[2020-09-07 04:29] jxu6619 commented on #369
@nevdull77, thank you. we'll try this approach.

On Sun, Sep 6, 2020 at 9:53 PM nevdull77 <notifications@github.com> wrote:

[2020-09-07 07:38] Akasurde commented on #378
@sky-joker Would you be interested in taking a look? Let me know. Thanks.

[2020-09-07 07:58] Tomorrow9 opened #381 "vmware_guest: TypeError when create a VM with NVMe disk controller and hw version set to 'latest'"
##### SUMMARY

When creating a new VM with disk controller type set to "nvme" and version set to "latest", then there is TypeError, since comparing "latest" with 13.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[c

[2020-09-07 16:27] DevFinGitGovSecChatOps commented on #379
Thank you for your reply!
Using the suggested parameter is not idempotent, but it works!

[2020-09-07 17:53] mariolenz commented on #335
@goneri

In that case, I think `find_object_by_name` is the right place to do this: #383

[2020-09-08 08:00] vivekanand552 commented on #162
Hello Team,

I am also facing similar issue while deploying the OVA

COMPONENT NAME
vmware_deploy_ovf

ANSIBLE VERSION
Ansible 2.8.5

ansible 2.8.5
  config file = /home/ssh_user/Qualys/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable loca

[2020-09-08 08:01] camrossi commented on #88
I am having the identical issue:

If I run this play:
[code]

The result is that I end up with a new port-group created nowhere really

![image](https://user-images.githubusercontent.com/16535101/92449121-eb4d8480-f1fc-11ea-846d-cbbd206444be.png)

As you can see in the picture the is now a PG Webinar|StretchApp1|EPG1 at the datacenter level not connected to any switch. It will be delete when I del

[2020-09-08 14:47] sky-joker commented on #378
@Akasurde

I think that I'll try to resolve this issue but it might take some time.
If someone else wants to do a PR, please do a PR :)

[2020-09-08 15:30] jxu6619 commented on #369
@nevdull77, it sounds it doesn't work for us after changing "poweron" into
"present".

On Sun, Sep 6, 2020 at 10:26 PM John Xu <jxu6619@gmail.com> wrote:

[2020-09-08 16:26] wells commented on #203
!component =vmware/plugins/modules/vmware_vswitch.py

##### ADDITIONAL INFORMATION
This feature will enable a group level adjustment for every port group in a vSwitch that defaults to the vSwitch policies.

Tumble down the vSphere Web Services API rabbit hole with me:
- https://code.vmware.com/apis/704/vsphere/vim.host.NetworkSystem.html#addVirtualSwitch
- https://code.vmware.com/apis/704/vsphere/

[2020-09-09 05:50] Akasurde opened #385 "vmware_vm_shell reports an issue "VMwareTools is not installed or is not running in the guest. VMware Tools are necessary to run this module.""
_From @jxu6619 on Sep 08, 2020 23:40_

##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

_Copied from original issue: ansible/ansible#71676_

[2020-09-09 05:50] Akasurde commented on #385
_From @jxu6619 on Sep 08, 2020 23:41_

The guest is VM with RHEL8.2

[2020-09-09 05:50] Akasurde commented on #385
_From @jxu6619 on Sep 08, 2020 23:45_

And open-vm-tools-11.0.0-4.el8.x86_64 is installed.
vmtoolksd is also running. Why vmware_vm_shell repots this error? thanks
]# systemctl status vmtoolsd
● vmtoolsd.service - Service for virtual machines hosted on VMware
   Loaded: loaded (/usr/lib/systemd/system/vmtoolsd.service; enabled; vendor preset: enabled)
   Active: active (running) since Tue 2020-09-

[2020-09-09 05:51] Akasurde commented on #385
@jxu6619 Please fill the required template for the issue. This will help us to debug the issue. Thanks.

[2020-09-09 06:17] Tomorrow9 commented on #351
I'll take a look at this issue, thanks for reporting and debugging.

[2020-09-09 14:29] sky-joker commented on #385
Thank you @jxu6619 for reporting this issue.
Can you please run the following playbook too, because I want to confirm the vmware-tools activated on vSphere API?
And please let me know the results.

[code]

[2020-09-09 18:49] mariolenz commented on #338
@felixfontein @Akasurde @goneri

Any reason to _not_ close this issue?

[2020-09-09 18:54] felixfontein commented on #338
@mariolenz if everything in https://github.com/ansible-collections/overview/blob/main/collection_requirements.rst is satisfied, no.

[2020-09-09 18:56] goneri commented on #338
Thanks :-)

[2020-09-09 18:56] #338 closed

[2020-09-10 02:21] jxu6619 commented on #385
Thank you Sans,

Here is output from the playbook you provided:
ok: [localhost] => {
"check_vmware_tools_status_result.instance.guest_tools_status":
"guestToolsNotRunning"
}

On Wed, Sep 9, 2020 at 8:30 AM sky-joker <notifications@github.com> wrote:

[2020-09-10 03:05] jxu6619 commented on #385
+VM is on RHEL8.2, which is created by RHEL8.2's image. We are sure
open-vm-tools is installed and it is started by systemctl when VM is up.
And we are using AWX. Here is entire output from the playbook. How to fix
the issue? thanks a lot.
ansible-playbook 2.9.7
  config file = /etc/ansible/ansible.cfg
  configured module search path =
[u'/var/lib/awx/.ansible/plugins/modules',
u'/usr/share/ansibl

[2020-09-10 08:13] jonaz opened #386 "vmware_content_deploy_ovf_template not included in ansible?"
Not sure what the process are to get it in there? But almost 5 months since the module landed here.
I guess it needs to be patched here? https://github.com/ansible/ansible/blob/devel/lib/ansible/config/ansible_builtin_runtime.yml

[2020-09-10 15:12] sky-joker commented on #385
Thank you for taking the time out of the playbook to execute.
Immediately after the VM is started, the vmware-tools don't start right away.
You need to check until the vmware-tools started using the vmware_guest_info module.
For example, `Check the vmware-tools status until it started` in the following playbook.

[code]

[2020-09-10 18:17] mariolenz commented on #386
I think it'll be included in ansible 2.10 (which isn't released yet) but didn't make it into 2.9. I'm not sure if ansible would accept a backport of this module to 2.9... I think not because it's a new module, but I'm not sure. @goneri @Akasurde Can you please clarify this?

[2020-09-10 19:06] jxu6619 commented on #385
cool, thank you Sky,

I'll try and give updates.

Thanks,

John

On Thu, Sep 10, 2020 at 9:12 AM sky-joker <notifications@github.com> wrote:

[2020-09-10 22:20] jxu6619 commented on #385
+awesome, it's work.
But now there is a new issue when running a shell command ifconfig to set
up network.
It mentioned "Permission to perform this operation was denied".
Summary info and detail info is below, have you any suggestions? thanks a
lot.

Summary:
{
    "exception": "WARNING: The below traceback may *not* be related to the
actual failure.\n  File
\"/tmp/ansible_vmware_vm_shell_payload_

[2020-09-11 06:41] Akasurde commented on #386
Ansible 2.10 is not yet released (still in beta release). We can not backport new modules or new features so `vmware_content_deploy_ovf_template` will not be backported to 2.9.

You can use collection with Ansible 2.9.10 and onwards, so I think you can install collection.

[code]

Thanks.

[2020-09-11 06:41] #386 closed

[2020-09-11 16:52] jxu6619 commented on #385
+thank you, it is fixed. The issue is from the impact between two similar
functions on the playbook.
Thanks again

On Thu, Sep 10, 2020 at 4:16 PM John Xu <jxu6619@gmail.com> wrote:

[2020-09-12 17:50] mariolenz commented on #351
@Tomorrow9 shared some interesting information on this in PR #384:

[2020-09-13 22:07] fdervisi commented on #349
I agree this should be a “basic” feature to store the OVA on Datastore and deploy from there. Current solution is not scalable and OVFTool support this as well.

[2020-09-14 05:41] Akasurde commented on #385
@sky-joker @jxu6619 Can we close this issue?

[2020-09-14 13:18] jxu6619 commented on #385
yes, it can be closed. thanks again.

On Sun, Sep 13, 2020 at 11:41 PM Abhijeet Kasurde <notifications@github.com>
wrote:

[2020-09-14 13:27] #385 closed

[2020-09-14 14:22] dfoley84 commented on #379
Hi Nevdull ;

Are you stating that the Customization block is working but not documented?

[code]

[2020-09-14 14:33] nevdull77 commented on #379
@dfoley84 no, my comment was on the second task above for the vmware_guest module.

[2020-09-14 18:53] MallocArray opened #389 "Links in Read Me on Ansible Galaxy are not valid"
##### SUMMARY
On the Ansible Galaxy page for community.vmware, under the Read Me button there are links for each module and plugin.  All have vmware.git as part of the URL, but this does not exist when viewing the links with Chrome and results in a 404 error.  Changing it to just vmware loads the proper page
Not working:
https://github.com/ansible-collections/vmware.git/blob/main/docs/community.vm

[2020-09-14 19:08] alongchamps commented on #203
I am actually actively working on this for our own internal usage, so I'm interested in working on this issue. We're most interested in routing policy and security settings.

@wells, have you done anything with this code yet? I see you have a sample playbook above, but wasn't sure if there was any code to go with it yet.

I'm also considering adding check mode, but that itself might add lots of co

[2020-09-14 19:30] mariolenz commented on #151
@gundalow

It looks like me, @jillr and @goneri don't think this necessary but we didn't really object, either.

@kclinden thinks we should keep it as it is, but without giving any reasons.

Rename this repo or don't rename it, I couldn't care less... but please close this issue one way or the other. After nearly 6 months, you should decide what you want to do.

@Akasurde You didn't share your opi

[2020-09-14 20:04] kclinden commented on #151
I think renaming it makes sense now.

[2020-09-14 20:25] goneri commented on #151
Ok works for me. I will rename this repository and ansible-collections/vmware_rest at the same time.

[2020-09-15 06:10] Akasurde commented on #389
Fixed via - https://github.com/ansible-collections/vmware/pull/377

[2020-09-15 10:44] dfoley84 opened #390 "Missing Required Arguments community.vmware.vmware_content_deploy_ovf_template"
##### SUMMARY

Trying to Deploy an OVF From a Content Libary;  To a Cluster that doesn't have a Resource Pool Enabled.
##### ISSUE TYPE
Unable to Deploy to a Cluster without a Resource pool, Would it be possible to have the ability to deploy without the need for a Resource Pool

##### COMPONENT NAME

community.vmware.vmware_content_deploy_ovf_template

##### ANSIBLE VERSION

[code]

##### CONFIGUR

[2020-09-15 17:55] mariolenz commented on #28
@Akasurde

We don't have a directory `lib/ansible/modules/cloud/vmware/`. Our modules are under `plugins/modules/`. I've changed your script a bit to work with this repo:

[code]

And I get the following result:

[code]

Can you please close this issue? Or a t least update the list of modules without integration tests?

[2020-09-15 18:06] goneri commented on #28
I've just updated the list.

[2020-09-15 19:34] #335 closed

[2020-09-16 13:29] goneri commented on #151
Issue resolved.

[2020-09-16 13:29] #151 closed

[2020-09-17 08:20] RobVerduijn opened #391 "Documentation on the use of the vmware_tools connection plugin"
##### SUMMARY

There is no documentation for the httpapi plugin.
Especially there is no explanation on how to use it.

The current documentation of httpapi contains an index, a meager description, the author and a hint that does not make sense at all.

Please provide a complete and working example.

The vmware_tools connection method also is missing examples on the use of the plugin.

##### ISSUE