[2021-05-14 10:20] lvlie commented on #819
Thanks for your answer. You are right, this would be more in line with other modules.

However, I get this error when I specify "key" as a variable, like:
[code]

The error:
[code]

[2021-05-14 12:58] mariolenz commented on #819
You're right, this doesn't work! Sorry, I was sure it would... but it seems this is a [a conscious decision from the ansible developers](https://github.com/ansible/ansible/issues/17324#issuecomment-685102595).

[code]

[2021-05-14 13:07] abikouo commented on #843
Hi @nsbender
Thanks for taking the time to report this issue.
The ``vmware_content_deploy_ovf_template`` use the ``vmware.vapi.vsphere.client.create_vsphere_client`` to interact with the vsphere using a ``requests.Session`` object which is not update yet with proxies parameters. This will need a fix.

[2021-05-14 13:51] lvlie commented on #819
Ah, right, putting it in json should work then.
Thanks, will check in my env, but need to rebuild it first :-)

[2021-05-14 14:30] lvlie commented on #819
This works like a charm 👍
Might need an addition to the readme maybe, with an example like this?

[2021-05-14 18:54] timvy commented on #535
Has there been any update? we have this issue too. We are using 3 vcenters as source for an inventory, and 2 out of 3 are putting a '_' in the beginning of keyed groups.

[2021-05-15 10:06] #833 closed

[2021-05-15 10:06] #839 closed

[2021-05-17 09:55] MalfuncEddie opened #846 "The ability to detect if the hardware version of a vm could be upgraded (eg: not running latest)"
##### SUMMARY

Currently I have a playbook that shutdowns a guest, upgrades the hardware version and boots the vm. This works but requires the vm to shutdown even in no update of the hardware.

It would be nice if there is a module that allows you to check the current hardware version of a vm and be abel to get the latest supported version that is possible.
getting the current vm info should be ea

[2021-05-17 11:48] cultcom opened #847 "vmware_guest state: absent stopped working on names"
##### SUMMARY

I had a task to destroy VMs like this:
[code]
Last week I upgraded all modules and software to the latest versions and it simply stopped doing anything. It just says "ok" and does not delete any VM any more.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guets

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Linux Mint 20
vSphere 6.7U2

[2021-05-17 14:35] abikouo commented on #843
@nsbender could you test the proxy connection using PR #848 ?

[2021-05-17 16:35] nsbender commented on #843
@abikouo, we have tested the pull request version by specifying the proxy host and port using both VMWARE_PROXY_HOST/PORT and proxy_host/port and they both resulted in

``` The error was: AttributeError: 'dict' object has no attribute 'proxy_port' ``` (Full error at bottom)

Here is the playbook:

[code]

Full error:

[code]

[2021-05-17 17:05] nsbender commented on #843
@abikouo I believe we fixed the issue. On line 137 of vmware_rest_client.py:

Should:
`if self.params.get('protocol') and self.params.get('proxy_host') and self.params.proxy_port:`

be:
`self.params.get('protocol') and self.params.get('proxy_host') and self.params.get('proxy_port'):` ?

We were able to get it working with the latter.

[2021-05-17 19:31] abikouo commented on #843
yes you are right, I was in a rush

[2021-05-17 20:17] nsbender commented on #843
When that pull request gets merged with this change, this issue will be resolved. Thanks for all your help!

[2021-05-18 08:46] htaudah opened #849 "ISO-backed cdrom devices are not idempotent"
##### SUMMARY
When attaching an ISO cdrom device to a VM, the ISO path stored in the VM includes a GUID for the root folder (the first part of the path). This causes the path in the VM's configuration to differ from that in the playbook and ansible will always try to re-mount the cdrom, breaking idempotence.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[

[2021-05-18 08:50] htaudah commented on #849
I've tried to implement a fix for this by getting the folder GUID for the first folder in the path of the ISO (basically replicating what vCenter seems to be storing in the VM configuration) and comparing that with the path in the playbook. But I'm unable to do that in pyvmomi. The datastorebrowser functions don't return this GUID for folders. I'd be willing to create a PR for this if someone can

[2021-05-18 17:05] Rylon commented on #498
I have this exact same issue. Always the `portKey` and `connectionCookie` are changed.

In my case every time I run the playbook the port key alternates between two values, but it is always changed.

[2021-05-18 17:42] Rylon commented on #498
Update: I've pinpointed the problem to the check on line 1985 of `vmware_guest.py`: https://github.com/ansible-collections/community.vmware/blob/main/plugins/modules/vmware_guest.py#L1985-L1987

I added some debug logging to this section to figure out exactly what comparison was being made, and I can see that the value of `nic.device.deviceInfo.summary` is `DVSwitch: d5 6e 22 50 dd f2 94 7b-a6 1f

[2021-05-18 22:58] aspeer06 commented on #278
I can confirm guest disk thick provisioning works but template cloning does not.

[2021-05-19 13:41] benjdudas opened #850 "vmware_vm_inventory: Apply filtering before templating hostnames"
##### SUMMARY

Currently hostnames are being templated before filtering is applied. This creates a failure if you are templating hostnames to a property that is not present for all hosts.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_vm_inventory

##### ANSIBLE VERSION

[code]
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### ACTUAL

[2021-05-20 08:21] sricht opened #852 "vmware_content_deploy_ovf_template cannot deploy to different resource_pools with the same name"
##### SUMMARY

The issue is similar to #688 but this time related to resource_pools. In my case I do not use resource pools at all. So I reference the default root resource pool of an ESXi host, which by default is named "Resources". I have 9 hosts in my datacenter, no cluster. I allways get the "Resources" resource_pool of the last added ESXi host, dispite I name a different hostname for the temp

[2021-05-20 10:15] Rylon commented on #498
I haven't made much progress, from what I can tell the name  just isn't available from the network devices attached to the VM. I think we'd need to see if what looks like the DVSwitch ID we do get back can be matched to the ID of all DVSwitches, and use that to lookup the name to see if it is correct.

[2021-05-20 15:55] #669 closed

[2021-05-20 16:13] mariolenz commented on #112
@Aglidic I'm not sure I understand this issue. Could you please explain what exactly you have to do manually?

@noesberger

I'm not sure since I don't understand the problem here. But I agree with you, assigning physical NICs of an ESXi hosts to LAG uplinks looks like a job for `vmware_dvs_host` to me. For example, you might want (or have) to use vmnic0 and vmnic2 for lag-0 and lag-1 on one host,

[2021-05-22 05:19] mzlumin commented on #839
I can confirm that this one works in my LAB <3
Using the checkout of the PR llike described did the trick for me, so yes this overrules the globals.

[code]

[2021-05-22 06:52] #819 closed

[2021-05-22 13:07] mzlumin commented on #793
I have had the same issue here lately, vsan get enabled, as well as an empty disk group created. However no disks are claimed.

Running collection 1.9.0

[2021-05-24 02:12] Tomorrow9 opened #853 "[New Feature] Add support for virtual NVDIMM device of VM"
##### SUMMARY

PMem was introduced on ESXi 6.7, refer to this page for more info: https://docs.vmware.com/en/VMware-vSphere/7.0/com.vmware.vsphere.resmgmt.doc/GUID-EB72D358-9C2C-4FBD-81A9-A145E155CE31.html

So request to add the feature support in community.vmware collection, add new vPMem disk, add new NVDIMM device for VM.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_guest_disk

[2021-05-24 15:22] usscarter opened #854 "Allow encrypted variables in dynamic inventory configuraiton"
##### SUMMARY

Support ansible vault variables for username and password
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_vm_inventory
##### ADDITIONAL INFORMATION

Currently, you can not use encrypted variables in the inventory file. You receive the following error.

I was attempting to encrypt just the username and password for the inventory, but that was unable to function. If you

[2021-05-24 15:29] Akasurde commented on #854
@usscarter Thanks for reporting this issue. `password` is supported as encrypted variables - https://github.com/ansible-collections/community.vmware/blob/bbd98e5e182b6b965f52eedc4a112370872d55eb/plugins/inventory/vmware_vm_inventory.py#L721

[2021-05-24 15:32] usscarter commented on #854
Well, that is good to know atleast.

We also prefer to encrypt the username field as we use a service account so that would also be preferable in the future as well 👍

[2021-05-24 15:37] Akasurde commented on #854
ok. On it.

[2021-05-24 16:54] usscarter commented on #854
I took a stab at this, and submitted a PR #855. I am new to python and after looking at the code it seemed simple enough to do.

[2021-05-24 17:23] mariolenz commented on #854
I'm sorry, but encrypting the username sounds like security theater to me.

If someone is able to find out the password from the encrypted one, I don't see why this wouldn't be possible for the username. On the other hand, if we consider the encryption secure we don't need to encrypt the username: Without the password, an attacker won't get anywhere.

[2021-05-24 17:28] usscarter commented on #854
Preventing a harvest of useful usernames as part of scanning of repositories is a good thing. Having a username with a vaulted password is far more useful for malicious actors than a vaulted username and vaulted password. Just because you could break one of the vault passwords doesn't necessarily mean you could break both.

[2021-05-24 18:59] mariolenz commented on #854
I still don't get it. If you think it's a good idea to keep the service account secret (and I don't) why only in this specific module? Why not in all the other modules in this collection? And if it's a generally good idea for all the modules in this collection, why not in all the other collections and ansible-core, too?

Feels like security through obscurity to me.

[2021-05-24 19:07] mzlumin commented on #428
I was able to install Tanzu with NSX-T 3.1 based on this Api.

However i am far away from good, but wanted to share my playbook used. I added the variables by hand for now and have not had time to look into parsing them.

`---
- hosts: localhost
  name: Create vSphere tag-based storage policy for TKG
  gather_facts: false
  vars_files: ../answerfile.yml

  tasks:

    - name: Login to get Session

[2021-05-24 19:08] usscarter commented on #854
Well, I use the modules differently.

In the other modules they grab the credentials from a vaulted yaml. However, due to the nature of how inventory files work, you can't have a vaulted file on the side to my knowledge. I have tried it before with no avail.

Here are some points

1. There is little harm by encrypting the username.
2. Having the username, and password stored right next to each oth

[2021-05-25 04:12] sg1970 opened #856 "vmware_guest_snapshot works even if the folder parameter points to a non-existant folder."
##### SUMMARY

https://docs.ansible.com/ansible/latest/collections/community/vmware/vmware_guest_snapshot_module.html

according to the cryptic document linked above the "Folder" parameter of the **vmware_guest_snapshot** module says that it is "Destination folder, absolute or relative path to find an existing guest". What does that really mean ?  I ask this because I can get away by specifying an

[2021-05-25 05:58] Udayendu opened #857 "vmware_content_deploy_ovf_template: No vApp properties support available"
##### SUMMARY
Missing support for vApp properties in `vmware_content_deploy_ovf_template` module

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- vmware_content_deploy_ovf_template

##### ANSIBLE VERSION
[code]

##### ADDITIONAL INFORMATION
- This is an important feature for any OVA thats having vApp properties. Without the support for vApp properties, this module is incomplete.

[2021-05-25 06:39] Akasurde commented on #854
Yes, other modules by default use encrypted string. The inventory plugin does not process encrypted string as other modules do. I think there is no harm in having a vaulted username, it just that I never thought about the use-case that @usscarter mentioned.

btw, you can encrypt the whole inventory configuration file as mentioned in doc - https://docs.ansible.com/ansible/devel/scenario_guides/vmwa

[2021-05-25 12:40] gkarakou opened #858 "community.vmware.vmware_vmotion storage vmotion fails when datastores are shared across datacenters"
##### SUMMARY

When trying to do a storage vmotion targeting a datastore that is shared across datacenters (all datastores mounted successfully on the host) the migration fails with:

"msg": "Destination datastore provided is not associated with destination host system hypervisor.example.com Please specify datastore value [list of datastores ] associated with the given host system."

NOTE 1 : I so

[2021-05-25 16:11] mariolenz commented on #858
Well, if you've already solved this feel free to open a PR. We _like_ PRs :-P

Please remember to add a [changelog fragment](https://docs.ansible.com/ansible/4/community/development_process.html#creating-a-changelog-fragment). If you don't, this will probably be one of the first things someone will ask you to do.

[2021-05-25 16:32] mariolenz commented on #854
@usscarter I'm sorry, I _completely_  misunderstood you. I'm sorry for this. Of course this is a valid feature request.

[2021-05-25 16:44] usscarter commented on #854
Quite alright sir. Tis not the first time someone misunderstood another on the internet. Also.. probably not the last, haha.

[2021-05-25 19:10] jmgilman commented on #536
Is this the only way to migrate a vmnic to a DVS? It appears the module for adding a host to a DVS does not attempt to remove the vmnic from an existing VSS if it's attached. So, I believe this feature is necessary in order to first remove the vmnic from the switch before attempting to join to the DVS.

[2021-05-26 11:31] gkarakou commented on #858
Hello Mario and thanks for replying.

I created a PR:
https://github.com/ansible-collections/community.vmware/pull/859

that besides the changelog fragment also includes the built docs. I wasn't sure if this was required or the ci builds the docs after a pr is merged but the contribution guidelines mentions to build them so i included them in the commits.

[2021-05-26 14:38] shivak-sudo commented on #158
Hi Team,
Do we have any fix/work around for the above issue.
i m able to recreate it now.

"msg": "Failure validating OVF import spec: Line 76: Unable to parse 'enableMPTSupport' for attribute 'key' on element 'Config'."

FYR, Below is my ansible version.

ansible [core 2.11.1]
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/home/blr/.ansible/plugins/modules', '/usr/s

[2021-05-27 02:58] teamosceola opened #860 "vmware_guest_network - Adding NICS to VM Fails if VM has never been powered on"
https://github.com/ansible-collections/community.vmware/blob/70d752bc4419e6f1c74d9faee21793376f9899b8/plugins/modules/vmware_guest_network.py#L470
This fails if the VM has never been powered on before (i.e you deployed a VM from an OVA and want to add nics before powering on for the first time)

[2021-05-27 15:56] mariolenz commented on #860
It looks like this has been introduced with PR #29. @acalm do you remember why you've sorted the NICs on the MAC address? Did you just want to have a nicely sorted list somewhere or is this needed for the module to work?

[2021-05-27 17:12] mixgbl opened #861 "vmware_object_role_permission - A specified parameter was not correct: entity"
##### SUMMARY

When I tried to add a user to a role in an ESXi host I'm getting this message:
`"msg": "A specified parameter was not correct: entity"`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_object_role_permission

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7
ESXi 6.7 U3

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2021-05-27 19:04] acalm commented on #860
@mariolenz I have some vague memory it's done due the diff looking messed up, but I can't remember really, it may just been me imagining some weird edge case where order mattered. From the exception it looks as if `nic.macAddress` is `None` in a deployed not-yet-powered-on OVA(?) I guess it would be possible to do something like `getattr(nic, 'macAddress', 'not_initialized')` [here](https://github

[2021-05-27 23:53] jamesmarshall24 opened #862 "Some Compose Variables Lost with vmware_vm_inventory Plugin"
##### SUMMARY

Not all compose variables are available to the inventory at run-time of the `vmware_vm_inventory` plugin

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_vm_inventory.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

All compose variables are listed for the host

##### ACTUAL RESULTS

[code]

[2021-05-28 12:39] mixgbl commented on #861
Problem solved guys, I was using the wrong object_name :).

I assume I was using the correct one because when I execute object_role_permission_info brings me the exact information I want to change.

Thanks guys :+1:

[2021-05-28 12:39] #861 closed

[2021-05-28 15:33] mariolenz opened #864 "Do we have a CI problem?"
##### SUMMARY
Do we have a CI problem at the moment? I see a lot of jobs failing with `Failed to add host to vCenter 'vcenter.test' : ('License not available to perform the operation.', None)`, for example [here](https://d872aa24a6158c6e4916-7376d171f651e5326e232ef4acd52231.ssl.cf5.rackcdn.com/855/b2958c38cdf4ebb8a5c4383fcf7c510c22a1922e/check/ansible-test-cloud-integration-vcenter7_1esxi_with_nes

[2021-05-30 04:21] #854 closed

[2021-05-30 04:32] mariolenz commented on #864
Seems to be working again :-)

[2021-05-30 04:32] #864 closed

[2021-05-31 11:40] sky-joker commented on #856
Hi @sg1970

Folder parameter is a path for VM you’d like to create a snapshot.
When an absolute path should begin a datacenter name.

**Absolute Path Example**

/DC01/vm

The vm is a standard path that is stored VMs.

**Relative path Example**

/DC01/vm/demo

You can write the following like for a relative path based the above path.

/demo

or

demo

or

vm/demo

and so on

By the way, the module

[2021-05-31 13:39] sky-joker opened #866 "vmware_guest_snapshot: An object error occurs when specifing not existing moId"
##### SUMMARY

The following error occurred when specifying not existing moId.

[code]

The cause of the error is that the return value hasn't None.
If you specified moId, a managed object is generated with VmomiSupport.templateOf method in [vmware.py](https://github.com/ansible-collections/community.vmware/blob/5f3d5fc37b311c7598fd708343f0d9f2c8f17fca/plugins/module_utils/vmware.py#L1129).
If you

[2021-05-31 14:09] sky-joker commented on #866
resolved_by_pr https://github.com/ansible-collections/community.vmware/pull/867

[2021-05-31 16:35] mariolenz commented on #858
resolved_by_pr #859

[2021-05-31 16:35] #858 closed

[2021-05-31 21:08] sg1970 commented on #856
@sky-joker Thanks for taking the time to answer. But unfortunately I don't think it answers my question. My main point is I can put in any junk value for the **folder:** parameter and it will work ( BTW this junk folder is not visible on vcenter). However if I leave out the **folder** parameter it throws an error ( error msg = need folder if name is specified). It does not make any sense.

I hope

[2021-06-01 05:07] Akasurde commented on #856
@sg1970 Folder is required as an additional value to determine the uniqueness of VM since VMware allows multiple objects with the same name (under different folder structures).

Historically, the folder value was optional and due to which a different set of problems were introduced. So, we made it required with `name` parameter.

I hope this answers your question.

[2021-06-01 11:19] n3pjk commented on #707
This should be resolved by PR #747. Could you re-test?

[2021-06-01 11:21] n3pjk commented on #685
This issue should be resolved by PR #747. Can you re-test?

[2021-06-01 12:55] n3pjk opened #868 "vmware_object_role_permission_info - principal permissions"
##### SUMMARY
When a principal is provided, return that principal's permissions on the object, instead of roles.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_object_role_permission_info

##### ADDITIONAL INFORMATION

[code]

[2021-06-01 16:10] sg1970 commented on #856
@Akasurde thanks for the reply. So the folder param is required but is not used by the vmware_guest_snapshot module ? If so are there any un-intended consequences of specifying a bogus non existent folder name when using vmware_guest_snapshot to create snapshots and delete them ?

[2021-06-01 16:22] Akasurde commented on #856
It is not like `folder` parameter not used entirely. Basically, when we encounter two virtual machines with the same name we use `folder` value to determine which VM the user wants.

There are no un-intended consequences of specifying a bogus folder value that I know of (unless you have duplicate VM names).

[2021-06-01 16:53] mariolenz commented on #856
@Akasurde

Nevertheless, this is quite a weird behavior. If you specify a VM A in folder B _without having_ a folder B, I think the module should crash. Everything else doesn't make sense to me. It just feels wrong.

And as you say yourself, there are un-intended consequences when you do have duplicate VM names.

[2021-06-01 17:52] sg1970 commented on #856
@mariolenz  Agree with you. If a foldername is required then the module (vmware_guest_snapshot) should first check if the folder exists and if so only act if the VM specified in the name parameter is present under that folder only and not go looking for it elsewhere.

slightly offtopic:
Also are there other modules that have the similar behavior !! ?

[2021-06-01 19:40] Poly1305 commented on #707
I've moved away from using this module in my deployment. I have no test cases anymore to test the PR

[2021-06-01 20:19] Prodian0013 opened #869 "vmware_guest_tools_wait KeyError: 'datacenter'"
##### SUMMARY
vmware_guest_tools_wait throwing a KeyError: 'datacenter' because multiple vms with the same name are returned but datacenter is not being passed in from the vmware_guest_tools_wait module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest_tools_wait

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
1. C

[2021-06-01 20:27] Prodian0013 commented on #869
!component

[2021-06-02 14:14] ElioLopez opened #871 "community.vmware.vmware_vm_inventory not working with AWX"
##### SUMMARY
I'm trying to update my inventory dinamically using the inventory plugin but doesn't seem to work properly.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.vmware.vmware_vm_inventory on AWX

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Tower 3.8.1 , Ansible 2.9.16 running in Openshift 4.7.9

##### STEPS TO REPRODUCE

I've created

[2021-06-02 17:57] mariolenz commented on #871
@ElioLopez I'm afraid this doesn't look like a bug in `vmware_vm_inventory` to me. I think you're just using it wrong.

I don't know much about dynamic inventory plugins since we don't use them. But as far as I understand, you don't use these plugins in a playbook or a role like you would use "normal" modules.

Can you please have a look at  ansible/ansible#50189 or [Ansible for VMwary Using vmwar

[2021-06-03 06:15] ElioLopez commented on #871
Hello @mariolenz, thanks for taking a look at this one.
As I suspect it was a layer 8 problem ;)
I'll take a look to the examples you provided and try to configure ir in AWX, and will try to get back with findings.
Regards,
Elio

[2021-06-03 06:33] Akasurde commented on #871
@ElioLopez Thanks for reporting this issue. Like @mariolenz suggested this is not `vmware_vm_inventory` problem. You are passing an inventory configuration file inside the role which is not how it is used.

You may want to use inventory as -

[code]

[code]
or

[code]

`ubuntu64Guest` is a hostgroup returned by inventory.

[2021-06-03 07:27] ElioLopez commented on #871
@akasurde you are the man, thanks for the example, I think I'm on my way now.
You can close this one out, will get back if something else arises.

[2021-06-03 08:31] Akasurde commented on #871
@ElioLopez Thanks for the praise. @mariolenz Thanks for commenting.

[2021-06-03 08:31] #871 closed

[2021-06-03 12:19] yabb85 commented on #727
I think this issue is the same as #156

[2021-06-05 07:10] sky-joker opened #875 "CI errors are occurring which the govsim or vmware_content_library_manager module"
##### SUMMARY

CI errors are occurring which the govsim or vmware_content_library_manager module.
The error rate of content library manager errors is particularly high.

We can't merge the patches because errors always occurring.

**govsim error log url**

https://github.com/ansible-collections/community.vmware/pull/867/checks?check_run_id=2738544646

**content library manager log url**

https://d

[2021-06-05 07:11] sky-joker commented on #875
@goneri @Akasurde

Could you please look at this one?

[2021-06-05 07:18] sky-joker commented on #875
By the way, I tried that I tested the vmware_content_manager module the code of the error part in my lab, the test result was successful.

[2021-06-05 07:30] sky-joker commented on #875
I thought the error cause is the fingerprint wrong, but it seems it is correct.

[code]

[2021-06-05 08:54] sky-joker commented on #875
I found another error.

[code]

[2021-06-05 09:13] sky-joker commented on #875
I confirmed vsphere-automation-sdk-python has been updated the version 5 days ago.
https://github.com/vmware/vsphere-automation-sdk-python/releases/tag/v7.0.2.00100

The cause of the issue could be related to it.

[2021-06-05 13:50] mariolenz commented on #875
Thanks for opening this issue. I've seen a lot of CI failures in the last days, too.

Maybe we should disable the `vmware_content_library_manager` integration tests temporally. This would allow us to merge some PRs while investigating this CI problem.

@Akasurde @goneri @sky-joker What do you think about this suggestion?

[2021-06-06 02:09] sky-joker commented on #875
Thanks, @mariolenz for making PR for disabling the test.

I seem that the latest vsphere-automation-sdk-python hasn't a problem because the errors don't occur that I tested the tests in my lab with it.
Maybe the issue could be environmental dependence.

I personally think it's good to disable the test of content_library_manager temporally until we can know the cause of the issue.
But, I'd like to

[2021-06-07 12:54] #866 closed

[2021-06-07 18:01] mariolenz commented on #875
@Akasurde @goneri @sky-joker I guess you think the same, but just to make this clear: I think we should keep this issue open. My PR is just a workaround and not a fix. Agreed?

[2021-06-07 18:39] goneri commented on #875
I've also hit a problem caused by a recent Photon Linux update. Basically the REST auth is broken. I will try to turn this update off.

[2021-06-07 19:24] mariolenz commented on #875
@goneri

Did you find out what PhotonOS update caused this? Would be interesting to know.

[2021-06-07 20:06] goneri commented on #875
No, I tried to reverse the PostgreSQL update because of some suspicious new pg errors. But this was not enough. I think the 2021-06-01 was the last time everything was working fine: https://packages.vmware.com/photon/3.0/photon_updates_3.0_x86_64/x86_64/

[2021-06-07 21:26] aspeer06 opened #880 "Allow storage vmotion to change disk type"
##### SUMMARY
Allow a storage vmotion to modify the disk type. This would help alleviate fallout from the thicklazyzero bug.

##### ISSUE TYPE
Modify community.vmware.vmware_vmotion to accept a disk provisioning type of thin, thick, or thickeagerzeroed

##### COMPONENT NAME
community.vmware.vmware_vmotion

##### ADDITIONAL INFORMATION
It would be nice to be able to script changing thin disks to th

[2021-06-08 03:18] sky-joker commented on #875
I agree with you.
I will not close this one until the issue to resolve.

[2021-06-08 19:53] necouchman opened #881 "vmware_vmotion: Cross-vCenter vMotion"
##### SUMMARY
Support cross-vCenter vMotion with the vmware_vmotion plugin.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_vmotion

##### ADDITIONAL INFORMATION
I'm working on a project where I have a large number of VMs to move from one vCenter to another, including both Storage vMotion and Compute vMotion. The vmware_vmotion module works great for both Compute and Storage vMotion

[2021-06-09 00:34] nicko2n commented on #156
I encountered this today with 3.2.0 and in my case, traced it down to the trailing / in the folder setting. The playbook worked with 2.3.

In ansible_collections/community/vmware/plugins/module_utils/vmware.py, this test line 1112
    elif self.params['folder'] in actual_vm_folder_path in get_vm()
failed because actual_vm_folder_path was /some/absolute/path/directory and self.params['folder'] was

[2021-06-09 09:13] Akasurde commented on #862
Please enclose variables with quotes in `compose` as -

[code]

Output will be -

[code]

Closing as per above.

[2021-06-09 09:13] #862 closed

[2021-06-09 16:38] gred7 opened #883 "vmware_vm_inventory is too slow"
##### SUMMARY
$ time ansible-inventory -vvvv --graph -i vmware.yaml
ansible-inventory 2.9.22
config file = /etc/ansible/ansible.cfg
configured module search path = ['/home/greg/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
ansible python module location = /usr/local/lib/python3.8/site-packages/ansible
executable location = /usr/local/bin/ansible-inventory
python version = 3.8.8

[2021-06-10 12:06] ElioLopez opened #885 "community.vmware.vmware_vm_inventory not filtering properly with AWX tower"
##### SUMMARY
Hello,
I'm fetching our VM from our vcenter using the plugin.
However,  the filtering is not working properly.
The ideal solution will be using tags, but I think that a partially matching name on the VM will suffice.
I've configured an inventory named "vmware filter" using a VMware source (INVENTORIES/vmware filter/SOURCES/vmware) in ansible tower

I've followed a documentation from

[2021-06-10 12:27] einhirn commented on #349
Perhaps this could even use "Deploy from Library" feature - there's already an ansible role for that but as far as I can see, it doesn't take a customization spec: https://docs.ansible.com/ansible/latest/collections/community/vmware/vmware_content_deploy_template_module.html

[2021-06-10 20:24] lebonez commented on #278
I have figured out why this happens. Pretty much throughout the VMWare community modules disk specs are being set to eagerlyScrub even though just changing this flag does nothing. When creating a new disk, this is fine because the specs are respected. Unfortunately, when editing a cloned or previous disk just setting **disk_spec.device.backing.eagerlyScrub = True** does not take effect. What is ne

[2021-06-11 01:54] washburnjoe opened #886 "vmware_cluster_vsan: Failed to import the required Python library (vSAN Management SDK for Python)"
##### SUMMARY
Trying to use a playbook using community.vmware.vmware_cluster_vsan give error that it cant find module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.vmware.vmware_cluster_vsan

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Install pyvmomi

There is no install for vSAN Management SDK so I copy the files

[2021-06-11 08:01] gred7 opened #887 "vmware_guest does not connect networks"
##### SUMMARY
ansible 2.9.22

  vmware_guest:
      hostname: "some"
      username: "someone"
      password: "somepass"
      template: "{{ vmtemplate }}"
      validate_certs: false
      folder: ""
      datacenter: qarea
      name: "{{ tempname }}"
      state: poweredon
      guest_id: ubuntu64Guest
      cluster: "DRS"
      disk:
        - size_gb: "{{ disksize }}"
          type: thin

[2021-06-11 10:33] gred7 commented on #887
also I do not see the case of two networks in your tests

[2021-06-11 11:07] Akasurde commented on #885
@ElioLopez Thanks for reporting this issue. Could you please update the Ansible Tower version?

[2021-06-11 11:12] Akasurde commented on #885
If I understand your problem correctly, you are able to filter using the command line
[code]

But you are not able to filter using Ansible tower with

[code]

[2021-06-11 12:13] Akasurde commented on #886
@washburnjoe Thanks for reporting this issue. Please copy `samplecode/vsanapiutils.py` and `bindings/vsanmgmtObjects.py` inside the PYTHONPATH of your Ansible Controller.

[code]

[2021-06-11 12:13] Akasurde commented on #886
cc @mariolenz

[2021-06-11 13:10] lebonez commented on #880
There are only two options that I can see for this.
First is to specify **destination_disk_type** (requiring **destination_datastore** set as well) that applies the user specified type to every disk on the VM. This is not ideal since some VMs might have multiple disk i.e. swap, bulk, and OS where they might not want all disks moved to the same type and datastore. This doesn't change current functi

[2021-06-11 13:22] washburnjoe commented on #886
That worked, thanks.  Is this something that is going to be  modified, or is this the correct design?  The reason I am asking is ultimately this is going to be running in AWX inside a Kubernetes cluster where its a little harder to tweak things

[2021-06-11 13:31] Akasurde commented on #886
@washburnjoe I agree. `vSAN Management SDK for Python` is managed by VMware. We do not have control over how it is installed. I would recommend you automate the SDK installation in Ansible.

[2021-06-11 13:31] Akasurde commented on #886
I close this as resolved.

[2021-06-11 13:31] #886 closed

[2021-06-11 14:55] ElioLopez commented on #885
Hello @Akasurde, will try to upgrade the tower and give it another try, but you last message is correct, that's what I'm trying to achieve, maybe I'm not getting the syntax right.
Thanks,

[2021-06-11 16:47] mariolenz commented on #886
@washburnjoe

As @Akasurde already pointed out, the `vSAN Management SDK for Python` is managed by VMware. I don't like how this SDK is "installed" and have opened vmware/pyvmomi#909 but it doesn't look to me like anyone is working on this :cry:

[2021-06-12 02:36] darksoul42 opened #891 "vmware_vmkernel has inconsistent behavior with multiple vSAN interfaces"
##### SUMMARY
When using vmware_vmkernel to configure several vmk interfaces in a loop, it is extremely hard to keep a consistent set of configuration across runs :
- It is not possible to define two interfaces (say, vmk0 or vmk3) with `enable_vsan: True`, only the last one (vmk3) defined is reflected
- Not specifying the argument enable_vsan results in `enable_vsan: False` being processed, which

[2021-06-13 17:20] mariolenz commented on #883
Do you use `vmware_vm_inventory`  from ansible 2.9.22 or from this collection? And if you use the collection, what version?

The inventory plugin in ansible 2.9 is quite old. But it looks like there have been some performance improvements with PR #441 which was released with version 1.4.0 of the collection.

I think these improvements are also part of ansible 2.10.4, 3 and 4. So if you're using `v

[2021-06-14 07:22] gred7 commented on #883
yes, it's from ansible 2.9.22,  not from collection. nice to know it's possibly resolved. will upgrade at earliest convenience.
thank  you.

[2021-06-14 07:22] #883 closed

[2021-06-14 13:50] Akasurde commented on #850
@benjdudas Could you please try #893 and let me know if it works for you? Thanks.

needs_info

[2021-06-14 13:50] Akasurde commented on #850
resolved_by_pr #893

[2021-06-14 15:39] dmsimard opened #894 "[test] Allow storage vmotion to change disk type"
##### SUMMARY
Allow a storage vmotion to modify the disk type. This would help alleviate fallout from the thicklazyzero bug.
ansible version: 2.9.18

##### ISSUE TYPE
Modify community.vmware.vmware_vmotion to accept a disk provisioning type of thin, thick, or thickeagerzeroed

##### COMPONENT NAME
vmware_vmotion.py

##### ADDITIONAL INFORMATION
It would be nice to be able to script changing thin d

[2021-06-14 15:39] #894 closed

[2021-06-14 15:39] dmsimard commented on #894
Sorry for the noise, testing ansibullbot things.

[2021-06-14 15:42] dmsimard opened #895 "[test] Allow storage vmotion to change disk type"
##### SUMMARY
Allow a storage vmotion to modify the disk type. This would help alleviate fallout from the thicklazyzero bug.
ansible version: 2.9.18

##### ISSUE TYPE
Modify community.vmware.vmware_vmotion to accept a disk provisioning type of thin, thick, or thickeagerzeroed

##### COMPONENT NAME
vmware_vmotion.py

##### ADDITIONAL INFORMATION
It would be nice to be able to script changing thin d

[2021-06-14 15:42] dmsimard commented on #895
Files identified in the description:
* [`plugins/modules/vmware_vmotion.py`](https://github.com/ansible-collections/community.vmware/blob/devel/plugins/modules/vmware_vmotion.py)

If these files are incorrect, please update the `component name` section of the description or use the `!component` bot command.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md

[2021-06-14 15:42] dmsimard commented on #895
@dmsimard: Greetings! Thanks for taking the time to open this issue. In order for the community to handle your issue effectively, we need a bit more information.

Here are the items we could not find in your description:
- ansible version

Please set the description of this issue with an appropriate template from:
https://github.com/ansible/ansible/tree/devel/.github/ISSUE_TEMPLATE

[click here fo

[2021-06-14 15:42] #895 closed

[2021-06-14 15:42] dmsimard commented on #895
Sorry for the noise, testing ansibullbot things.

[2021-06-14 19:36] syth3 opened #896 "vmware_vm_shell: Return command stdout"
##### SUMMARY
It would be incredibly helpful if vmware_vm_shell returned the output of the command it ran. For instance, if a `cat` command is run this new feature would return the results printed to stdout/stderr after running the `cat` command.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
N/A

##### ADDITIONAL INFORMATION
This feature would be used when using the vmware_vm_shell plugin

[2021-06-15 12:09] ElioLopez commented on #885
Hello @Akasurde, I've upgrade to 3.8.3, but got the same results: the inventory is not properly filtered and all the available hosts on vcenter are retrieved.
It's documented on how actually the "source variables" should be used in tower? it doesn't seem to make a difference which value I put on there (used another examples available on the documentation and with same results)
Maybe we need to twe

[2021-06-15 14:27] miguelgmedina commented on #112
Hi, I am also interested in this. It is exactly as @mariolenz  explained. When using 'community.vmware.vmware_dvs_host' module to add host vmnics to DVSwitch, they are added as plain uplink ports. There is no possibility to add them to a already created LAG uplink port. This would be perfect:
[code]

[2021-06-15 17:32] mariolenz commented on #883
@gred7

If you still face performance problems after upgrading, don't hesitate to let us know. Either by re-opening this issue or by opening a new one.

[2021-06-15 20:13] goneri commented on #795
Hi @timblaktu,

Does @walterrowe comment answer your question? Can we close this issue?

[2021-06-16 13:12] mariolenz commented on #112
Sorry @miguelgmedina but this turned out to be trickier to implement than I originally expected. I think I'm making some progress, but only slowly.

[2021-06-16 13:47] benjdudas commented on #850
@Akasurde still running some tests but so far this is looking good. Thanks

[2021-06-16 17:05] APolts opened #899 "vmware_guest fails when attempting to modify disks with unit or controller number of 0"
##### SUMMARY
When using vmware_guest.py, supplying values of 0 for disk:controller_number and disk:unit_number causes the playbook to erroneously trip an if statement on line 2481, as values of 0 pass the conditional of (if not <variable>).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu 2

[2021-06-17 05:46] Akasurde commented on #896
@syth3 Thanks for reporting this issue. `vmware_vm_shell` uses [startProgramInGuest](https://www.vmware.com/support/orchestrator/doc/vro-vsphere60-api/html/VcGuestProcessManager.html#startProgramInGuest) API, as you can see in the documentation API does not return anything except PID of the process. So I am afraid we can't do anything about it.

Let me know if you know any other way or other API.

[2021-06-17 06:28] #655 closed

[2021-06-17 08:27] samsam-rolon commented on #162
Hello,

Our team is facing the same issue. We are trying to deploy an OVF like this :
[code]

Deployement throught a vCenter with multiple VC, multiple DC, etc...

[2021-06-17 09:27] mariolenz commented on #112
For the record: vmware/pyvmomi-community-samples#457

[2021-06-17 11:57] samsam-rolon commented on #162
Solving using `networks: "{u'Network 1':u'{{ NetworkVar}}' }"` instead of  `networks: "{u'VM Network':u'{{ NetworkVar}}' }"`

[2021-06-17 15:37] mariolenz commented on #899
You're ansible version doesn't contain... the version of ansible you're using :-P

This looks a bit like a duplicate of #703 which should have been fixed with #705. Does the problem still exist with a _current_ version of ansible / this collection?

[2021-06-17 15:48] APolts commented on #899
My apologies - I was using version 2.10.8.

I updated to the most recent version of this collection and the bug is no longer present. Thank you!

[2021-06-17 15:48] #899 closed

[2021-06-17 16:58] pnikies opened #901 "How to create empty vApp"
Hello,
I can't find how to simply create an empty vApp with community.vmware ansible collection ?
It seems this feature does not exist ?
Could you add the possibility to create a vapp please ?
Thanks for your great work.

[2021-06-17 20:43] fvahid opened #902 "vmware_vm_inventory: ansible_host value"
My VM have multiple IP address after inventory sync on AWX , ansible_host value is not match to my need, is any solution exist to fix the problem and filter one desire ip?

I used compose var like this
ansible_host: net.guest | json_parser (...)
but did not works

Thanks

[2021-06-18 03:55] TakaseNochi commented on #164
I hit this issue on vCenter Server with two datacenters. Are there any updates?

[2021-06-18 05:48] Akasurde commented on #738
PR #747 is merged. Closing this issue.

[2021-06-18 05:48] #738 closed

[2021-06-18 06:01] Akasurde commented on #707
PR #747 is merged. I close this issue as resolved. Please feel free to open a new issue if the problem perists.

[2021-06-18 06:01] #707 closed

[2021-06-18 06:02] Akasurde commented on #700
PR #747 is merged. Closing as resolved. Please feel free to open a new issue if the problem persists. Thanks.

[2021-06-18 06:02] #700 closed

[2021-06-18 06:03] Akasurde commented on #688
@MalfuncEddie Could you please check if PR #747 works for you? and let us know. Thanks in advance.

needs_info

[2021-06-18 06:04] Akasurde commented on #685
needs_info

[2021-06-18 06:05] Akasurde commented on #685
@nfoley84 Could you please check #747 and let us know if it works for you? Thanks.

[2021-06-18 06:06] Akasurde commented on #420
@daverstam @DevFinGitGovSecChatOps Could you please check if #747 works for you and let us know? Thanks in advance.

needs_info

[2021-06-18 06:48] Akasurde commented on #902
!component =plugins/inventory/vmware_vm_inventory.py

[2021-06-18 06:49] TakaseNochi commented on #164
This module calls `find_network_by_name` function at L389 but I think this function cannot find a network object when there are same network names.
This issue may be resolved if this function find network object according to Cluster, Host or vSwitch name, I think.

[2021-06-18 06:51] Akasurde commented on #902
@fvahid Thanks for reporting this issue.

What is `net.guest`? This is not a valid value. You may want to refer https://docs.ansible.com/ansible/latest/scenario_guides/vmware_scenarios/vmware_inventory_vm_attributes.html#ipaddress-str-optional for a valid value.

needs_info

[2021-06-18 07:43] Akasurde commented on #846
@MalfuncEddie Thanks for reporting this issue. I think you can do like this -

[code]

needs_info

[2021-06-18 12:19] fvahid commented on #902
Thanks @Akasurde
I use this document https://docs.ansible.com/ansible/latest/scenario_guides/vmware_scenarios/vmware_inventory_vm_attributes.html#ipaddress-str-optional
but ipAddress (str, optional) return only first ip in vmware , I need to get second IP for example, when my vmware quest have got multiple IP address problem occurred

[2021-06-18 12:30] fvahid commented on #902
if you see this picture
![image_2021_06_13T08_54_06_532Z](https://user-images.githubusercontent.com/929807/122561033-9164cf80-d056-11eb-9f6e-dd0646ee222e.png)
I need to get 100.0.0.71 and put to ansible_host vars

[2021-06-18 14:00] Akasurde commented on #902
@fvahid you can do like this

[code]
for me -

[code]

<img width="640" alt="Screenshot 2021-06-18 at 19 22 11" src="https://user-images.githubusercontent.com/633765/122571578-7f8d2780-d06a-11eb-91f0-b70ad2adad60.png">

But this is **NOT RECOMMENDED** since not every VM has a valid IP address at `net[1]` and `ipAddress[0]`.

needs_info

[2021-06-18 14:33] mariolenz commented on #112
@noesberger @miguelgmedina #903 is still labeled as work in progress because I want to add an example and test cases, and I also have to update the documentation. But feel free to test it, I'm quite sure the code works.

[2021-06-19 05:01] fvahid commented on #902
maybe some vm have 'guest.net[0].ipAddress[1]' or 'guest.net[2].ipAddress[1]' valid IP address how can I filter correct ip, I teste json_parser I did not work something like this
ansible_host: "guest.net | json_parser(json_query.....)"

[2021-06-19 12:49] alex1989hu commented on #887
I can verify the behaviour what @gred7  reported: `networks are added but left unconnected`. Additionally, `Connect At Power On` option is also not checked. In my case, I faced that issue after upgrading Ansible from `2.9.13` to `4.1.0` - and there was only one network card.

[2021-06-19 13:55] phreakocious commented on #887
This happens when vmware tools does not report that guest OS customization completed successfully.  Unfortunately, it seems to even happen when customization is not requested.  Also fairly confident that I started seeing this behavior after a recent upgrade.

[2021-06-19 15:29] mariolenz commented on #112
@Aglidic @noesberger @miguelgmedina @tkelkermans Now that I added an example and test cases (and also tried to improve the quality of my code a bit) I don't consider #903 work in progress any more. Would be great if you could test this PR and tell me if it works for you :-)

[2021-06-19 18:44] mariolenz commented on #161
@sethbeauchamp I'll close this issue because I think we've implemented this with #743. If this PR didn't fix your problem, please let us know. Either by re-opening this issue or by opening a new one.

[2021-06-19 18:44] #161 closed

[2021-06-19 22:28] #671 closed

[2021-06-20 08:08] fvahid commented on #902
any update @Akasurde

[2021-06-21 09:55] Tomorrow9 opened #905 "Some improvements on vmware_guest_disk module"
##### SUMMARY

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_guest_disk

##### ADDITIONAL INFORMATION

In current implementation, the new disk controllers and new disks are handled/configured separately as below, disk controllers will be added first, then new disks will be added. (There is error when add them at the same time when I tried to implement this way before.)
[code]
Norma

[2021-06-21 12:23] Tomorrow9 commented on #905
So that we can cover all the scenarios:
1. use `vmware_guest_controller` to add new controller,
2. use `vmware_guest_disk` to add new disk to existing disk controller added in 1.,
3. use `vmware_guest_disk` to add new disk controller and new disk at the same time.

Usage of `vmware_guest_disk` can be like this:
[code]
Or only one disk controller with one disk one time:
[code]

[2021-06-21 12:31] Tomorrow9 commented on #905
@Akasurde @goneri @mariolenz @sky-joker what do you think about this proposal? Thanks.

[2021-06-21 13:13] mariolenz opened #906 "vmware_dvswitch: Inconsistent result"
##### SUMMARY
The result from `vmware_dvswitch` is inconsistent.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_dvswitch

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Photon

##### STEPS TO REPRODUCE
Run this playbook twice:

[code]

##### EXPECTED RESULTS
More or less the same result both times.

##### ACTUAL RESULTS
[code]
[code]

[2021-06-21 16:00] mariolenz commented on #905
To tell you the truth, I'm not really sure... if I understand your proposal correct, this would fix one special case: If you add _only_ one disk. It sounds like we'll run into the problem that Linux doesn't recognize disks 2+ if users want to add more than one.

Actually, I think it would be more important to move the handling of storage controllers and disks to a library (`plugins/module_utils/vm

[2021-06-22 02:01] Tomorrow9 commented on #905
Yeah, you are right about this, it only work for the first time adding the controller and disk at the same time, but when add disk to the exiting controller, there is still the problem.

This is really a good suggestion, I think this can reduce the duplicated code in many modules and easy for adding new supported parameters.

Yeah, I'll use this module to see if can fulfill our requirement. Thanks

[2021-06-22 07:52] Tomorrow9 commented on #905
Maybe we can start with this new feature request in #853, since `vmware_guest` and `vmware_guest_disk` or maybe a new module for NVDIMM device are all required to add this.

[2021-06-22 08:12] BryanEaay commented on #906
Hi, i've also encoutered the same output results while trying to debug the register variable.

[2021-06-22 08:20] BryanEaay opened #907 "vmware_dvswitch: Network Policy added in 1.11.0 is not working"
##### SUMMARY

Hi there, i'm re-openning the case in some sort (I'm the contributor of #833  ),

Since the release of the 1.11.0 collection, i've tried to use the implemented Network Policy from the dvswitch module.
But the result is clearly not what's supposed to be.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

[community.vmware.vmware_dvswitch](https://github.com/ansible-collections/co

[2021-06-22 09:13] TakaseNochi opened #908 "vapp_properties of vmware_guest don't work correctly when there are same ids with different classId or InstanceId."
##### SUMMARY
vapp_properties of vmware_guest don't work correctly when there are same ids with different classId or InstanceId.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
ubuntu20.04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

can change value of vapp property in vm with same

[2021-06-22 09:14] TakaseNochi commented on #908
I think the following codes are wrong.
https://github.com/ansible-collections/community.vmware/blob/1702eada65cdbd1cb0a90669b1ac5c1fc00e3b7d/plugins/modules/vmware_guest.py#L2119-L2120

[2021-06-22 10:35] TakaseNochi commented on #908
`orig_spec` has vapp properties with same key but vapp_properties_current don't have.

[2021-06-22 17:32] mariolenz commented on #905
Personally, I think we should move

https://github.com/ansible-collections/community.vmware/blob/99eef38130f23be53d0d8577c9e8b62c223371f2/plugins/modules/vmware_guest.py#L1011

to module_utils and, as a second step, make `vmware_guest_disk` use this. _Then_ we can try to implement NVDIMM devices there. This way, both `vmware_guest` and `vmware_guest_disk` could make use of NVDIMM devices.

You see

[2021-06-22 18:42] MalfuncEddie commented on #688
I'll test it tomorrow morning

[2021-06-23 05:14] mcarpendale opened #910 "vmware_host_datastore: Increase capacity"
##### SUMMARY
Currently, I can't see an option to increase the datastore capacity after the underlying volume has been increased

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_host_datastore:

##### ADDITIONAL INFORMATION
Create extend/increase datastore capacity

  state:
    description:
    - "present: Mount datastore on host if datastore is absent else do nothing."
    - "absent

[2021-06-23 06:07] MalfuncEddie commented on #688
@Akasurde just tested it and the deploy now goes to the correct folder.

[2021-06-23 06:08] MalfuncEddie commented on #688
I do now get another error

`"msg": "The number of network adapter settings in the customization specification: 0 does not match the number of network adapters present in the virtual machine: 1.",
    "op": "customize_exist"`

will look in to this

[2021-06-23 06:10] Akasurde commented on #688
@MalfuncEddie Great. I think this is the error coming from `vmware_guest` and not from `vmware_content_deploy_ovf_template`.

[2021-06-23 06:17] MalfuncEddie commented on #688
@Akasurde you are correct my test playbook had some missing variables. (shame on me). Everything looks good when I use the correct test playbook.

[2021-06-23 06:22] Akasurde commented on #688
no problem. Can we mark this as closed then? Thanks.

needs_info

[2021-06-23 06:53] MalfuncEddie commented on #688
Solved by PR #747

[2021-06-23 06:53] #688 closed

[2021-06-23 07:55] Akasurde commented on #688
@MalfuncEddie Thanks for updating.

[2021-06-23 10:58] Udayendu commented on #887
I am using ansible 4.1.0 and not facing this atall. Deploying more than 100+ OVA and templates in my vCenter. If the customization wont work then it wont attach the interface.

[code]

- For windows, here is what I am using:
[code]

- For linux, here is what I am using:
[code]

Hope this may help you.

[2021-06-23 14:58] sky-joker commented on #910
Thanks, @mcarpendale for requesting the feature!
I'll try to examine how to implement it.

[2021-06-23 20:07] mcarpendale commented on #910
Thanks @sky-joker - please let me know if this capability exists in other modules and I'll close the FR.

[2021-06-24 00:37] TakaseNochi commented on #908
The following works as expected for me.
[code]

[2021-06-24 07:16] GreyArea765 commented on #887
Also seeing the same issue on vSphere 6.7 deploying Linux machines, let me know if any debug output is required.

Ansible version
[code]

Workstation OS
[code]

[2021-06-24 10:11] GreyArea765 commented on #887
As an aside, I worked around this issue by adding an arbitrary wait timeout and then applying the connected states again, thought it might be useful for anyone finding this issue like I did.

[code]

[2021-06-24 10:18] Udayendu commented on #887
wait_for is usually not needed if you will use "connected: yes" in the main play as I have mentioned earlier.

[2021-06-24 10:32] GreyArea765 commented on #887
@Udayendu not for me, I have `connected` and `start_connected` both set to yes in the initial Play and still the interface doesn't get connected.  Perhaps that's a difference between your 4.1.0 and my 2.10.11?

[code]

[2021-06-24 10:43] bendwyer opened #911 "use_extra_vars in community.vmware.vmware_vm_inventory"
##### SUMMARY

I'm looking for some clarification on the `use_extra_vars` setting in `community.vmware.vmware_vm_inventory`. According to the [description](https://docs.ansible.com/ansible/latest/collections/community/vmware/vmware_vm_inventory_inventory.html#parameter-use_extra_vars):

I assumed that I could use this to set the `hostname:`, `username:`, and `password:` fields using this approach,

[2021-06-24 10:51] Udayendu commented on #887
Ok. That should not be the case because my code is working well since 2.9.
You are facing this issue only with Ubuntu or other linux OS as well ?

[2021-06-24 11:14] GreyArea765 commented on #887
Honestly I haven't tried running it from another OS, I ran into the issue a couple days ago which led me to the OPs post and thought I'd add the +1 to it.  I don't really have the bandwidth right now to test but if I can provide any debug from what I have, I'd be happy to help.

[2021-06-24 12:51] Akasurde commented on #911
@bendwyer Thanks for reporting this issue. `use_extra_vars` is valid for parameters that allow composing for example, `hostnames`, `keyed_groups` and `compose`. I am afraid that this will not work with `hostname`, `username`, or `password`.

needs_info

[2021-06-24 14:08] bendwyer commented on #911
Hi @Akasurde, understood. Thanks for the clarification.

[2021-06-24 15:33] sky-joker commented on #910
Unfortunately, there isn't a module to resize a datastore now.
By the way, I found out how to expand a datastore size, so I'll work on making a patch to resolve the issue.

[2021-06-24 15:57] #112 closed

[2021-06-24 16:37] yakhatape commented on #544
Define the Host destination when we want only make a vmotion of the storage that make no sense ...
The code should be understand that we want only make a vmotion to a different datastore without speaking of the host destination when this one still the same.

[2021-06-24 20:05] walterrowe commented on #741
Error still persists.

ansible playbook
[code]

extracted error message
[code]

full traceback
[code]

[2021-06-25 09:12] Zgurgar opened #912 "Playbook aborts when execution command via vmware_tools connection plugin"
##### SUMMARY

When running a command via the vmware_tools connection plugin the execution fails

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.vmware
ansible.posix

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 20.04.2 with Python 3
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

SSH

[2021-06-25 11:31] walterrowe commented on #741
@Akasurde .. please review this .. I believe this is a bug but unsure how to fix it.

production code:
[code]

I tried the following and it also failed to define a value for vm_id even though I clearly specify name in playbook.

[code]

This ends up with a value of None for vm_id.

The line `vm_id = self.vm_uuid or self.vm_name or self.moid` does not produce the desired behavior in current Python.

[2021-06-25 11:52] walterrowe commented on #741
Following up ... this appears to work ...

[code]

[2021-06-25 11:57] Akasurde commented on #741
Let me check and get back to you for the above comment. I am not sure about the permission issue though.

[2021-06-25 11:59] walterrowe commented on #741
@Akasurde .. the permission issue I am now seeing is the network associated with the source template does not exist on the target vcenter and it says I don't have permission to create a network there. I just want to clone a template from one vcenter to another. Does it clone the template from source vcenter to a VM on destination vcenter, then converts that destination VM to a template?

[2021-06-25 14:55] pnikies commented on #901
SUMMARY
I can't find how to simply create an empty vApp with community.vmware ansible collection ?
It seems this feature does not exist ?
Could you add the possibility to create a vapp please ?
ISSUE TYPE
Feature Idea
COMPONENT NAME
community.vmware
ADDITIONAL INFORMATION

[2021-06-25 23:02] sugitk commented on #887
I also faced the similar issue for cloning RHEL 7.9/8.4 VMs.  I found error log at /var/log/vmware-imc/toolsDeployPkg.log as below for example.

[code]

It indicates that the script was not able to find /usr/bin/cloud-init and /usr/bin/perl.  Are these packages required for the current vmware_guest module?

[2021-06-26 10:51] walterrowe commented on #741
Let me explain the bigger picture. We are using packer to create updated VM templates on a periodic basis. We want to do that on one vcenter, then clone those templates to the other vcenters so we can use them for automated provisioning of new VMs. By definition, the source vcenter and destination vcenters will have different networks associated with them.

Is this the correct module to use to pro

[2021-06-26 16:02] sky-joker commented on #910
resolved_by_pr https://github.com/ansible-collections/community.vmware/pull/913

[2021-06-26 16:11] sky-joker commented on #910
Hi @mcarpendale

I made a new module to resize the datastore capacity.
Can you please the module works well in your environment?
And let me know the result.

You can confirmed the following procedure whether the new module works well.

[code]

[code]

[2021-06-27 23:26] mcarpendale commented on #910
Thank you very much @sky-joker it's working!

[2021-06-27 23:26] #910 closed

[2021-06-28 13:26] BryanEaay commented on #907
@mariolenz

[2021-06-28 15:15] tomasodehnal opened #916 "Change service startup policy with vmware_host_service_manager without defining service state"
##### SUMMARY

When setting up the service in vSphere Client, the actions to set startup policy or service state are independent. However, when setting the service startup policy using the `vmware_host_service_manager` module, you have to specify the service state if you don't want to start the service, which is the default behavior.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

`vmware_

[2021-06-28 15:46] tomasodehnal commented on #916
##### ANSIBLE VERSION

[code]

[2021-06-28 15:54] tomasodehnal commented on #916
##### ISSUE TYPE
- Feature Idea

[2021-06-28 16:12] a-stoyanov opened #917 "vmware_tools pyVmomi.VmomiSupport.vim.fault.InvalidState: (vim.fault.InvalidState) 'The operation is not allowed in the current state.'"
##### SUMMARY
Executing a task using ansible.windows.win_updates module over a vmware_tools connection results in a failure.
Note: I have seen test runs of the same task complete a few times, however during my testing there's been over 90% failure with same error code running on different test VMs.
Running the same task over a winrm connection completes without issues.
There seems to be some sort

[2021-06-28 18:56] BrunoTeixeira1996 opened #918 "ansible cant create a SATA controller in ESXi"
##### SUMMARY
Hey, i am trying to create a VM in ESXi with ansible but everytime i create a SATA controller and try to add the ISO nothing happens. The VM is created but without the SATA controller and without ISO.

I tried with IDE and it works, but i cant make it work with sata

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[2021-06-28 19:08] mariolenz commented on #916
I agree that it's a bit weird that you need to know the current state just to change the startup policy. But I don't like your example playbook:

Personally, I don't like `unchanged` as a new `state`. I think it would be better to make `state` optional. This way, if you don't care about the current state you could just drop this parameter instead of explicitly stating that you don't want to change

[2021-06-28 19:20] tomasodehnal commented on #916
Thanks for the response. You are right, I don't like it either, but exactly as you say, I was considering the breaking change.
I don't know how far 2.0 is. If it's not near, it would be great if `unchanged` could be first introduced as an option and later changed to default.

[2021-06-29 00:36] Nightreaver opened #919 "vmware_guest_shell executing. exit with 0 but nothing changed"
##### SUMMARY
Im currently using molecule to provision a windows machine ( win server 2016).
2 parts of the create process molecule is using is enabling winrm, second is disable windows firewall.
I cannot see anything special with these two commands [see here](https://github.com/sky-joker/molecule-vmware/blob/master/molecule_vmware/cookiecutter/%7B%7Bcookiecutter.molecule_directory%7D%7D/%7B%7Bcoo

[2021-06-29 15:34] mariolenz commented on #907
I'm sorry, but I can't reproduce this in our environment. Might be a bit hard to troubleshoot this.

Although... I've created a new switch. Your task is called "Create dvswitch" but, actually, you want to set `network_policy` on an _existing_ dvswich, correct? Otherwise, I don't understand why the result is `"changed": false` but your PowerCLI command finds the switch.

[2021-06-29 16:15] mariolenz commented on #916
Good point. Maybe we should introduce a new state `unchanged` and, at the same time, announce that this state is deprecated and that the `state` parameter itself won't have a default in a future release.

[2021-06-29 18:14] mariolenz commented on #853
Now that #909 and #914 are merged, I'd like to work on making vmware_guest_disk use module_utils.vm_device_helper to create disks. Then we could implement vPMem disk / NVDIMM devices there, thus making it available to both vmware_guest_disk and vmware_guest.

Btw: Do you want to implement this because you have a real use case for this, or just because it's possible? When I hear [NVDIMM](https://en

[2021-06-29 20:07] goneri commented on #860
Thanks @teamosceola for reporting this. This issue is indeed pretty annoying. Should we revert #29 until we've got this fixed?

[2021-06-29 20:17] gravesm commented on #868
Closing since #874 has been merged.

[2021-06-29 20:17] #868 closed

[2021-06-30 03:25] Tomorrow9 commented on #853
I don't have data about how many customers are using vPMem disk or NVDIMM device of VM on vSphere in real world, and there are some limitations for VM with NVDIMM device or vPMem disk, might be one of the reasons users not use it.

This request comes from the project we started using Ansible to automate the GOS certification testing [here](https://github.com/vmware/ansible-vsphere-gos-validation).

[2021-06-30 06:17] mariolenz commented on #860
It looks like it was possible to compare `None` in Python 2, but [Python 3.0 changed the rules for ordering comparisons](https://docs.python.org/3/whatsnew/3.0.html#ordering-comparisons).

I thought we could fix this by changeing the lambda function to:

[code]

but I'm not sure if we don't run into another problem somewhere else if we have more than one new NIC without a MAC address. We could giv

[2021-06-30 06:37] BryanEaay commented on #907
Hi @mariolenz,
Thank you for your answer !

I had to re-launch the task in order to get the output i paste on the thread yes, because at first run, when the dvswitch is actually created, the output is pretty useless ... :

[code]

That's why the results was `"changed": false` above.

[2021-06-30 10:40] mariolenz commented on #907
Sorry, I can't reproduce this in our environment (vSphere 7U2a).

Ansible version:
[code]

Collection version:
[code]

My playbook:
[code]

Result:
[code]

Could you show me the results from this PowerCLI code:
[code]

[2021-06-30 10:58] TakaseNochi commented on #908
What shoud I do for fixing this?

[2021-06-30 13:12] sky-joker commented on #919
Hi @Nightreaver

If we can know the result(stdout and stderr) of executed command, we might know the cause.
But, unfortunately, the module can't get results(stdout and stderr) via vSphere API because vSphere API doesn’t support getting the executed command result in guest os.
https://vdc-download.vmware.com/vmwb-repository/dcr-public/b50dcbbf-051d-4204-a3e7-e1b618c1e384/538cf2ec-b34f-4bae-a332-382

[2021-06-30 13:42] mariolenz commented on #853
@Tomorrow9 I'd like to move some more code from `vmware_guest_disk` to `vm_device_helper` first.

However, what would we need to implement for vPMem disks / NVDIMM devices? I guess we need a function in `vm_device_helper` to create a [VirtualNVDIMMController](https://vdc-download.vmware.com/vmwb-repository/dcr-public/8946c1b6-2861-4c12-a45f-f14ae0d3b1b9/a5b8094c-c222-4307-9399-3b606a04af55/vim.vm.

[2021-07-01 02:25] Tomorrow9 commented on #853
Yeah, you are right, we need to add creating these 2 "VirtualNVDIMMController", "VirtualNVDIMM" new device types, and a new "VirtualDisk" with "VirtualDiskLocalPMemBackingInfo".

[2021-07-01 03:33] markcwalters opened #920 "vmware_guest disk index improperly incrementing when iterating through the list of disks."
##### SUMMARY

When 8 or more disks are defined, configure_disks() in vmware_guest.py does not properly iterate through this list of disks

disk_index is used both for iterating through disks, ie: disks[disk_index] and is used with create_hard_disk(scsi_ctl, disk_index).  The issues is that when the disk_index equals 7, it is incremented by 1 for the SCSI controller.  However, that causes it to mi

[2021-07-01 04:57] borch84 opened #921 "vmware_guest_powerstate get_vm KeyError: 'datacenter'"
##### SUMMARY
Power a vm on gives keyError: datacenter

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.vmware.vmware_guest_poweron

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian WSL1 $ uname -a
Linux SJSMWG684P0020 4.4.0-18362-Microsoft #1049-Microsoft Thu Aug 14 12:01:00 PST 2020 x86_64 GNU/Linux

#####

[2021-07-01 09:08] vivekanand553 opened #922 "Require a sample playbook for vmware host profile,no single playbook available for host profile on internet"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)

Require a sample playbook for vmware host profile,no single playbook available for host profile on internet

[2021-07-01 09:12] Akasurde commented on #922
@vivekanand553 Please fill in the required template.

[2021-07-01 09:38] sky-joker commented on #921
Thanks, @borch84 for reporting the issue.

I also confirmed the same error.
The error has been occurring when the same VM name is existing in VCSA.

I'll make a patch to resolve the issue.

[2021-07-01 12:49] #843 closed

[2021-07-01 14:29] dsmaugy opened #923 "vmware_deploy_ovf creates VM on wrong ESXi"
##### SUMMARY

vmware_deploy_ovf module ignores the *esxi_hostname* property and places VM on other esxis in cluster. Practically the same issue with https://github.com/ansible-collections/community.vmware/issues/216 but with the deploy_ovf module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.vmware.vmware_deploy_ovf

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[cod

[2021-07-01 15:12] sky-joker commented on #921
resolved_by_pr https://github.com/ansible-collections/community.vmware/pull/924

[2021-07-01 15:19] sky-joker commented on #921
Hi @borch84

I made a patch to fix the issue.
Could you please check whether the issue-fixed module works well in your environment?
And let me know the result.

You can test the module with the following procedure.

[code]

[code]

[2021-07-01 18:32] borch84 commented on #921
Thanks for the update @sky-joker.

I updated the collection and ran the test playbook.

However, it failed: "msg": "Unable to set power state for non-existing virtual machine : 'rmavmrsoe8013'"

This is the example task:

[code]

[code]

[2021-07-01 22:42] borch84 commented on #921
Hi @sky-joker, I made some changes to the playbook and now it worked.

But I added the datacenter parameter and changed the name of the module to community.vmware.vmware_guest

[code]

[code]

[2021-07-02 02:41] sky-joker opened #927 "CI: iscsi module has been occurring an error in CI test"
##### SUMMARY

The following error is begun occurring in CI test.

[code]

https://dashboard.zuul.ansible.com/t/ansible/build/07da58a7ee274ad69974c7f387d03dbc

It seems that vmhba doesn't find.
I'll examine about the cause of the error.

By the way, have you changed anything in CI environment? @goneri

[2021-07-02 03:21] sky-joker commented on #921
Thanks, @borch84 for taking time to test the module.

Yes, as you say, the module requires the datacenter parameter if the same VM name detected in VCSA.
Please see the below.

https://github.com/ansible-collections/community.vmware/blob/ddb7bc3425b091d1861b4bffd196d35724583340/plugins/module_utils/vmware.py#L1179

https://github.com/ansible-collections/community.vmware/blob/ddb7bc3425b091d1861b4b

[2021-07-02 13:24] BryanEaay commented on #907
Hi @mariolenz ,
I don't understand why i can't have the same result,

Here's the result you asked me from PowerCLI :

[code]

My playbook :

[code]

Playbook output :

[code]

Ansible version :

[code]

Collections versions :

[code]

[2021-07-02 14:21] borch84 commented on #921
@sky-joker I guess this issue can be closed now ? or should be closed once this change is merged to prod branch? Thanks!

[2021-07-02 14:37] sky-joker commented on #921
@borch84
This issue automatically close after merging the patch :-)
So I think it is ok as it is.

[2021-07-02 16:38] mariolenz commented on #927
I've `recheck`ed a PR from me which ran into the same issue. But the CI still fails with the same error.

[2021-07-02 16:43] mariolenz commented on #927
@goneri @Akasurde Any ideas? I don't think this is caused by a change in this collection, at least I didn't find one that looks like it would make the CI fail in this way.

[2021-07-02 20:44] goneri commented on #927
It looks like the loop that is used to set `vmhba_name` (https://github.com/ansible-collections/community.vmware/blob/main/tests/integration/targets/vmware_host_iscsi/tasks/main.yml#L50-L51) ignores all the entries.

[code]

[2021-07-03 15:05] mariolenz commented on #927
@goneri @sky-joker There have been a couple of changes during the last days. I don't think that the ones from me (#903, #909 and #914) could be the cause for this... of course, I might be wrong there ;-)

But what about #818? It _did_ change some things in module utils that might be relevant. And it looks like this PR hasn't been tested against `ansible-test-cloud-integration-vcenter7_1esxi-python

[2021-07-03 17:08] mariolenz commented on #927
Nope, reverting #818 doesn't help... #929 fails with the same error :-/

[2021-07-03 17:43] mariolenz commented on #907
You didn't get any output for this? Did you run this as a PowerShell _script_ or in a PowerSehll _shell_? If you've copy&pasted the code to a shell, I'd have expected either `True`or `False`. But not nothing.

[2021-07-04 14:33] sidroy7139317 opened #931 "Add support for multiple datastores in vmware_guest.py"
This issue is an extrapolation from that mentioned in https://github.com/ansible/ansible/pull/50923#issue-244733165

Trying to attach disk sizes from different datastores during VM creation but all the disks are taken from the first datastore in the disk list only.

The vmware_guest task executed is as follows:

  - name: Create a virtual machine on given ESXi hostname
    vmware_guest:
      host

[2021-07-05 06:26] mariolenz commented on #927
For the record: The integration test creates an iSCSI device and then tries to find it like this:

https://github.com/ansible-collections/community.vmware/blob/ddb7bc3425b091d1861b4bffd196d35724583340/tests/integration/targets/vmware_host_iscsi/tasks/main.yml#L33-L51

The device is created but not discovered:

[code]
[click](https://1ea6c0a30d7759c20889-c232525a413a09e918dd391e7274402d.ssl.cf2.rac

[2021-07-05 07:42] BryanEaay commented on #907
Exactly, i copy/pasted it in PS Admin session, not in a script.

[2021-07-05 09:17] xenlo opened #932 "vmware_guest_file_operation - copy: does not look in the files directory of role"
##### SUMMARY
It seems that the `src` argument of `copy` in `vmware_guest_file_operation` don't look into the `files` directory of the current role to find the file to push on the VM. It's a comment way to work for the other `copy` modules, so it will be great to implement the same behaviour here.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- `community.vmware.vmware_guest_file_operatio

[2021-07-05 09:21] vivekanand553 commented on #922
Hello @Akasurde,

I tried to fill in the template but getting a page not found error 404 while trying to do the same.

Please find the details below

Component: VMware hots profile playbook
Ansible version: 2.9.13

Issue: Require a sample playbook for vmware host profile creation and configuration.

Regards
Vivekanand

[2021-07-07 14:44] sirhc-chris opened #934 "vmware_portgroup incorrectly configures active_adapters on creation"
##### SUMMARY
The `vmware_portgroup` module does not correctly configure `active_adapters` on the initial creation of the portgroup if `active_adapters` and `standby_adapters` are not defined, yet a different option in the `teaming` dictionary is defined.
vmnics should be inherited from the failover order on the vSwitch if these params are not defined.
A subsequent re-run when the portgroup alread

[2021-07-07 16:14] #927 closed

[2021-07-07 19:27] mariolenz commented on #853
@Tomorrow9

I'm sorry, but I don't understand how to implement vPMem disks / NVDIMM devices. If you do, feel free to give it a try. But please wait until #926 is merged so we don't run into any merge conflicts.

Btw: It would be great if you implemented the things that could be useful for several modules (like `vmware_guest` and `vmware_guest_disk`) in `module_utils/vm_device_helper.py`

[2021-07-08 06:11] BryanEaay commented on #544
I'm subscribing to this thread since i have the exact same problem.

I'm trying to do a storage vmotion only, and i'm not able because the module is asking for a "Destination resource pool object"

[2021-07-08 15:12] mariolenz opened #939 "CI: Aborting, target uses selinux but python bindings (libselinux-python) aren't installed!"
My last two PRs fail in the CI:

[code]

[log](https://7f74cc93ba5fc077347b-90f6f8805c04a3a5ca4521cc61ed9b3b.ssl.cf2.rackcdn.com/938/388bf93de8000f1d9e1271800265e3b763465f53/check/ansible-test-cloud-integration-vcenter7_1esxi-python36-stable210/5a41d7b/job-output.txt)

@goneri Any idea? This doesn't look like it has something to do with my PRs.

[2021-07-08 15:26] goneri commented on #939
I switched from CentOS8 to Fedora-34. It's probably related. Lets me take a look.

[2021-07-08 15:32] mariolenz commented on #939
Yep, I've seen this :-)

I'm not 100% sure if the log extract I've posted is really the root cause. But if it is, it might be fixed by installing `libselinux-python`.

[2021-07-08 15:37] goneri commented on #939
Can you `Depends-On:` this: https://github.com/ansible/ansible-zuul-jobs/pull/983

[2021-07-08 15:43] mariolenz commented on #939
I did on both #936 and #938. I'm not sure if they'll succeed (that's why I've labeled them as work in progress) but maybe we'll get rid of this specific problem.

[2021-07-08 18:38] mariolenz commented on #939
@goneri Could you please have a look at #936 and #938? Looks to me that they're still running into this issue.

[2021-07-09 05:02] Akasurde opened #942 "We are looking for new contributors and maintainers."
##### SUMMARY
Hi everyone!

This collection is a part of the Ansible package and is looking for new maintainers and contributors.

This collection is made by good people like you.
If you are interested in becoming a maintainer, feel free to create an issue in this repository!

[2021-07-09 08:06] mariolenz commented on #939
@goneri The CI still fails with

[code]

[log](https://e0d296997b2b7aa288fe-844a19372381201f4a449a8242fcdc37.ssl.cf5.rackcdn.com/936/600d12c78240b0dc6e85bb1ad23d07a5483f9297/check/ansible-test-cloud-integration-vcenter7_1esxi-python36-stable210/7246b13/job-output.txt)

@Akasurde disables the tests for now #943

[2021-07-09 08:32] goneri commented on #939
Thanks, I will take a look Monday.

[2021-07-09 08:50] geralexgr opened #944 "disk loop over nested dictionary not working as expected"
##### SUMMARY
I am trying to create multiple disks with a single yml list. In order to accomplish that I use the below variables file:

[code]

##### ISSUE TYPE
When looping over the nested list, I get only the first disk created. The second loop is marked as ok and not changed.

##### COMPONENT NAME
vmware_guest --> disk

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

CentOS Linux release

[2021-07-09 09:24] Akasurde commented on #942
# Contributing

Refer to the [Ansible Contributing guidelines](https://github.com/ansible/community-docs/blob/main/contributing.rst) to learn how to contribute to this collection.

[2021-07-09 19:34] mariolenz commented on #939
For your information, it looks like there's also a problem with the integration tests for `vmware_host_service_manager`. I've opened (and merged) #945 and closed #943 from @Akasurde.

I've also opened #946 to re-enable the tests again. We can use this PR to test any ansible/ansible-zuul-jobs PRs you might come up with to fix this.

[2021-07-09 20:15] necouchman opened #947 "vmware_export_ovf frequently times out"
##### SUMMARY
When trying to use the vmware_export_ovf plugin to export OVFs of a VM, anything over a certain size (or amount of time?) generates an error: get exception: The read operation timed out. Exporting the exact same VM with ovftool works perfectly fine.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.vmware.vmware_export_ovf

##### ANSIBLE VERSION
[code]

##### COLLECTION

[2021-07-09 21:31] thehammeredone opened #948 "Cannot use "resourcePool" in "properties" of vm_inventory plugin"
##### SUMMARY
In wanting to use the latest AWX version (19.2.2), with the latest VMware inventory plugin, I cannot use "resourcePool.*" in properties.

If you place "resourcePool" itself as a property, what is returned is the object's string representation itself.

It would appear that the vim.ResourcePool object is not being teased apart into a hash so that it is usable for inventory variables.

[2021-07-10 15:49] mariolenz commented on #944
Do you use `vmware_guest` from this collection or the one from ansible 2.9.11?

[2021-07-11 04:09] mariolenz commented on #939
resolved_by #949

[2021-07-11 04:09] #939 closed

[2021-07-11 16:55] #921 closed

[2021-07-11 18:04] mariolenz opened #952 "Improve prepare_vmware_tests/tasks/teardown_with_esxi.yml"
@Akasurde @goneri @sky-joker
I've seen problems in the CI pipeline with this:

https://github.com/ansible-collections/community.vmware/blob/418b090f528aed924c685ce963e5de17e2082328/tests/integration/targets/prepare_vmware_tests/tasks/teardown_with_esxi.yml#L90-L110

If removing the ESXi host succeeds, exiting maintenance mode fails because the host isn't known to vCenter any more. But I'm not sure

[2021-07-12 03:45] Tomorrow9 commented on #853
@mariolenz sure, I'm working on adding/removing new NVDIMM device in `vmware_guest` module firstly. After that, will consider adding vPmem disk support in `vmware_guest` module and `vmware_guest_disk` module. But common virtual device operations will be added in `module_utils/vm_device_helper.py`. Thanks.

[2021-07-12 04:23] Akasurde commented on #939
@mariolenz @sky-joker @goneri Thanks for all your efforts to make CI green.

[2021-07-12 04:32] Akasurde commented on #952
@mariolenz Do you think we should move the `vmware_maintenancemode` before host deletion?

[2021-07-12 07:13] goneri commented on #952
Indeed, the way we clean up our resources make little sense. The `delegate_to: localhost` are also unnecessary. @mariolenz would you like to patch this?

[2021-07-12 07:24] geralexgr commented on #944
I use the one downloaded with ansible-galaxy

`ansible-galaxy collection install community.vmware`

[2021-07-12 07:41] mariolenz commented on #952
@goneri

I'm not sure what we really need here. But I'll give it a try.

[2021-07-12 08:22] XDavidT commented on #562
add as a pull request

[2021-07-12 08:23] XDavidT commented on #544
Same here, any solution found? We are stuck on that.

[2021-07-12 10:30] agowa338 opened #953 "vmware_guest multiple ips for a single interface"
##### SUMMARY

Allow multiple ips for a single interface.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_guest

##### ADDITIONAL INFORMATION

Currently a network is described as:
[code]

This however has the issue that only one IP can be assigned on that interface. I however need two one IPv4 and one IPv6 as well as (for clusters) two IPv4 and two IPv6 addresses (where one is a mult

[2021-07-12 11:48] MalfuncEddie commented on #562
I think this is resolved in https://github.com/ansible-collections/community.vmware/pull/683
(I didn't know how github worked back then so @alinabuzachis was so kind to do this :) )

[2021-07-12 11:58] MalfuncEddie commented on #562
resolved in #683

[2021-07-12 11:58] #562 closed

[2021-07-12 12:45] Akasurde commented on #948
@thehammeredone Thanks for reporting this issue.

When code calls VM properties - for `config` it returns

[code]
and
for `resourcePool` it returns

[code]

This is the reason, you can access `config` as a dict whereas `resourcePool` is failing.

I totally agree with your findings. I am still trying to find a way to represent `resourcePool` name.

[2021-07-12 13:39] thehammeredone commented on #948
If it helps with the investigation, when I was playing around with PowerShell to see what objects I could get a hold of, I ran across this:

[code]

Seems that whereas with other objects you get MORE data by referencing them through the "ExtensionData" portion of the VM object returned by a `Get-VM` call, the resource pool object is the opposite, only containing the string represetntation of the o

[2021-07-12 13:44] Akasurde commented on #948
@thehammeredone Yes, this is the same case with [`Pyvmomi API`](https://github.com/ansible-collections/community.vmware/blob/c38a49d5db3f49f22e94e69cb5e56d37b0b68334/plugins/inventory/vmware_vm_inventory.py#L574). API is returning `string` instead of the object itself.

[2021-07-12 18:22] earlruby opened #955 "vmware_portgroup throws an error when disabling traffic_shaping"
##### SUMMARY

If I use the vmware_portgroup plugin to disable traffic_shaping like so:

[code]

The plugin throws the error:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_portgroup

##### ANSIBLE VERSION
[code]

##### COLLECTION VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Target OS:
VMware ESXi, 7.0.1, 17551050
vCenter 7.0.2, 17958471

##### STEPS TO RE

[2021-07-12 19:47] mariolenz opened #956 "CI doesn't run all integration tests"
It looks like the CI pipeline doesn't (always?) run all integration tests.

See [here](https://github.com/ansible-collections/community.vmware/pull/926#discussion_r667662158) and [here](https://github.com/ansible-collections/community.vmware/pull/936#issuecomment-878010002) for example.

I thought that ansible/ansible-zuul-jobs#984 might fix this but I still don't see the `vmware_guest_controller`

[2021-07-13 20:05] goneri commented on #956
It's a miss-configuration. None of these jobs are splitted but `ansible_test_split_in` was set to 2.

[2021-07-14 03:41] markatdxb opened #959 "vmware_content_deploy_template - VCS permissions"
##### SUMMARY

Get information on missing permissions in VCS

##### ISSUE TYPE
- Feature Idea
We run VM deployments using accounts with the least permissions policy. With the old modules like vmware_guest, when certain VCS permissions were missing, the module would throw error saying what permission is missing. Testing the  vmware_content_deploy_template, im getting error related to permissions bu

[2021-07-14 08:53] #959 closed

[2021-07-14 12:52] ashkuren commented on #887
I have a similar issue. In my case I wanted to do a vm clone without any modifications. This should not involve any custom specs.
[code]

After launching ansible playbook with debug `-vvvvv`, I have noticed this part:
[code]

This play resulted in vm deployed but all networks interfaces were in disconnected state. Doing some research on VMware side, I have come across this event message:
[code]
So

[2021-07-14 13:51] mariolenz commented on #956
Thanks @goneri! I think it's working now. Should we close this with `resolved_by ansible/ansible-zuul-jobs#987`?

[2021-07-15 02:09] meihui opened #963 "Parallel execution + Unexpected failure during module execution + The operation is not allowed in the current state"
##### SUMMARY

parallel ansible-playbook execution onto same vmware VM intermittently interfere with each other. Trigger the issues with signature (Unexpected failure during module execution + The operation is not allowed in the current state)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible_connection vmware_tools

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

####

[2021-07-15 10:36] goneri commented on #956
Thank you @mariolenz :-). Yes you can do that even if I'm not sure we've got the Antibull bot running on this repo.

[2021-07-15 12:04] mariolenz commented on #956
resolved_by ansible/ansible-zuul-jobs#987

[2021-07-15 12:04] #956 closed

[2021-07-16 06:19] Tomorrow9 commented on #931
Yes, right, I can reproduce this issue in my environment. Will fix this later. Thanks.

[2021-07-16 06:29] Tomorrow9 commented on #905
Since PyVmomiDeviceHelper has been moved to module_utils, I'll close this issue.

[2021-07-16 06:29] #905 closed

[2021-07-16 06:36] Tomorrow9 commented on #918
Hi @BrunoTeixeira1996 thanks for reporting this issue, can you upgrade the Ansible version to the latest, or above 2.10 and have a try? SATA support was added in this PR https://github.com/ansible-collections/community.vmware/pull/65

[2021-07-16 08:52] daverstam commented on #420
@Akasurde
I have now tested this using ubuntu 20.04.2 image and it works like a charm! I'm able to deploy using the cluster variable 👍

One thing to note, after I deployed the image using vmware_content_deploy_ovf_template I customized the vm (setting ip to static and changing DNS, memory, disk etc...) using the vmware_guest module and that did not work at all. On the vm I did not even get the `/v

[2021-07-16 10:13] BrunoTeixeira1996 commented on #918
Hi @Tomorrow9 ,

Currently my ansible version is

[code]
And my playbook is like this

[code]
But i am still facing the same issue. When i create the VM, CD/DVD Drive1 does not start connected. Is there a way to start connected? If not the machine cant start

![image](https://user-images.githubusercontent.com/12052283/125932239-5ac56a5c-af5d-4ea8-8717-724370726e28.png)

[2021-07-16 13:31] Damianca commented on #458
Hey team,
Seems to be that parent_folder can't take several levels, it works for me using only one folder, ansible vmware community 1.12.0 and vcenter 6.7 and ansible 2.9.20.
Thanks, Damian

[2021-07-18 16:48] mariolenz commented on #952
@goneri While working on this, I found another weird thing. The integration test for `vmware_resource_pool` removes the ESXi hosts from the cluster:

https://github.com/ansible-collections/community.vmware/blob/455cbcf01ed52eadc350aa6d4fe60f8b46ea50fa/tests/integration/targets/vmware_resource_pool/tasks/main.yml#L5-L11

I'm working on making sure that the ESXi hosts are _really_ removed from the c

[2021-07-18 17:25] mariolenz commented on #956
@goneri For your information, I think there's a [collection_bot](https://github.com/ansible-community/collection_bot) running on this repo. But I don't know if it understands `resolved_by`.

[2021-07-19 00:58] TakaseNochi commented on #908
Hello, @goneri @Akasurde @sky-joker @mariolenz @Tomorrow9
Could you fix this?

[2021-07-19 08:54] goneri commented on #952
Thank you @mariolenz for your investigation.

[2021-07-19 14:47] davvo84 commented on #881
I follow with interest, I have same problem with linked vCenter

[2021-07-20 09:26] #952 closed

[2021-07-21 15:56] zanattabruno commented on #544
Same here too, any solution found?

[2021-07-21 17:54] mariolenz commented on #544
I'm afraid I didn't find the time to work on this. And I don't think I'll do this too soon.

You see, I stumbled upon some problems with our CI pipeline. I've seen both PRs that didn't fail the CI although they turned out to be buggy an PRs that failed in the CI although they ran fine in my environment. At the moment, my prio 1 is to fix the CI.

I'm afraid bug fixes and feature requests have to w

[2021-07-21 18:06] jdranchman commented on #429
Basically the same problem here. When with_path is no, it works. With it on it fails.

ansible-inventory [core 2.11.3]
  config file = /opt/ansible/ansible.cfg
  configured module search path = ['/opt/ansible/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python3.8/dist-packages/ansible
  ansible collection location = /opt/ansible

[2021-07-22 18:01] lpereira1 commented on #156
I appear to be having this issue as well. I did some poking and what I am seeing is that ansible is sending the vm creation command twice in the task. I even tried to put a "pause" hoping that would be a good work around but that didnt work either. I used

`export ANSIBLE_KEEP_REMOTE_FILES=1 `

to keep the temp files and I see in the output two files are created and run at the same time:
[code]
Bo

[2021-07-22 19:20] jdranchman opened #975 "vmware_vm_inventory plugin fails on powered off vm or template"
##### SUMMARY

The default action of setting the ansible_host to guest.ipAddress fails on powered off vm's, templates that are never powered on or partially configured guests (for whatever reason). My temp workaround is to force ansible_host to config.name via a compose. I'd rather have ansible_host left as null if there isn't an assigned IP on the guest and have the plugin finish without an error

[2021-07-22 20:18] jdranchman commented on #975
Let me add that the following lines of code:
[code]
Is not completely true. We audit the whole vcenter with ansible and things that are out of place per our desired state will get flagged. The lack of certain attributes shouldn't completely fail the inventory generation. There are many things that can put a vm guest in a strange state but that doesn't make the inventory all "bad".

[2021-07-22 20:50] lpereira1 commented on #156
I have found a duct tape work around. What I have been successfully able to do it make the first VM in the loop be a dummy(configured but a throwaway). If I do this all the other vms work fine. It looks like the first run of the module is pushing twice but all subsequent items in the loop run with a single run.

First item in loop:

[code]

second and third item loop I tested:

[code]

[2021-07-23 15:49] jdranchman commented on #429
Question @Akasurde  - looking at your code you mentioned before in data.py... if the ansible config has force_valid_group_names enabled, shouldn't it be converting unknown chars, spaces or whatever to underscores to make valid group names? We have many folder names with spaces in them. Running an inventory using the old vmware_vm_inventory.py script parses this OK. Each VM has an object with the f

[2021-07-23 16:24] walterrowe commented on #887
We are also experiencing this. Ansible Tower 3.7.5 / Ansible 2.9.18. Create new VM from template and include 'connected: yes' and `start_connected: yes` in the module network params and it fails to set them. We added a follow-on step to run the vmware_guest_network module to force these to be set after the VM is successfully created.

[code]

[2021-07-26 02:29] Tomorrow9 commented on #918
Hi @BrunoTeixeira1996, it must be the UI difference between vCenter UI and ESXi host client UI, I can also see that on my ESXi host client, this "Connect" is not checked after VM deploy as in your screenshot, but you can still power on the VM, if the mounted ISO is correct, this "Connect" will be checked then. Thanks.

[2021-07-26 10:45] mariolenz opened #979 "prepare_vmware_tests: Add ESXi Hosts to vCenter fails"
##### SUMMARY
At the moment, I see the `Add ESXi Hosts to vCenter` task in `prepare_vmware_tests` failing with "Failed to add host to vCenter 'vcenter.test' : ('License not available to perform the operation.', None)". [log](https://d1faf5431f3de47567af-382d9768e2b4662f0f5f7e3457a7990c.ssl.cf2.rackcdn.com/978/fdf14f40c7f7137fdb0cb2e75f81d9f137bf3239/check/ansible-test-cloud-integration-vcenter7_1e

[2021-07-26 15:11] sky-joker opened #980 "vmware_vcenter_settings: The module can't enable a configuration with a value is bool"
##### SUMMARY

The following error has been occurring if the playbook executes.

[code]

or

[code]

**Error**

[code]

The cause of the error is that the bool value converts to an integer by the option_diff method.

https://github.com/ansible-collections/community.vmware/blob/634ec3b9862e07cf7b390a6c1680d15348af0c33/plugins/module_utils/vmware.py#L1042

##### ISSUE TYPE

- Bug Report

##### COMPO

[2021-07-26 15:39] BrunoTeixeira1996 commented on #918
Hi @Tomorrow9 i dont think its the UI difference because i know that the mounted ISO is correct and every time i try to connect this image appears

![image](https://user-images.githubusercontent.com/12052283/127017050-eb7aeece-8229-49aa-a767-d64267ff3b3a.png)

And i am not able to hit the connect button even after shutdown the machine ... do you find any error on my playbook?

[2021-07-26 16:10] BrunoTeixeira1996 commented on #918
well i fixed it ... it was a typo com iso_path
i had 2 spaces instead of one

[2021-07-26 16:10] #918 closed

[2021-07-26 17:17] mariolenz commented on #979
@goneri Do you remember this error? I'm quite sure we ran into this in the past and you fixed it in the CI (by rebuilding the images used for the ESXi hosts?) but I can't find it at the moment :-/

[2021-07-26 18:26] goneri commented on #979
I need to rebuild the vcsa every 60 days to benefit from a new test period. I switch to a new image this morning: https://github.com/ansible-network/windmill-config/commit/5d9e749f98b0a401872dc5f47a46c5937b8d33ec

[2021-07-26 19:32] goneri commented on #979
I'm reverting the last upgrade https://github.com/ansible-network/windmill-config/pull/869 until I figure out what happened.

[2021-07-26 19:33] mariolenz commented on #979
So it's the vCSA you have to rebuild and not the ESXi hosts. Well, I was pretty close... give me that :-)

I'd really like to help you there, but I have to admit that I'm loosing track. I thought that [ansible/ansible-zuul-jobs](https://github.com/ansible/ansible-zuul-jobs) is the important repo for our CI pipeline, but now you say you have to change something in [ansible-network/windmill-config](

[2021-07-26 21:19] goneri commented on #979
Yes, this step is done locally on my machine. Here I give an overview of the process https://goneri.lebouder.net/2020/12/14/ansible-how-we-prepare-the-vsphere-instance-for-the-vmware-ci/

Basically, I just call https://github.com/virt-lightning/vcsa_to_qcow2/ with the right ISO image, wait, upload the image in OpenStack, wait, and reconfigure Zuul's nodepool to use the new image.

[2021-07-26 22:55] cscal commented on #902
I have the same issue, using ansible 2.9.23. Our datacenter has servers with multiple NICs on different networks, and only one of those NICs can connect with our Ansible nodes, and it's usually not the first one. So I want to be able to select the IP address from the list of dicts in guest.net.

I have tried this:
`compose:
   ansible_host: "{{ guest.net|select('ipAddress', 'contains', '10.177.')

[2021-07-27 12:30] Udayendu opened #982 "vmware_vm_shell: Failed to execute powershell script with "The operation is not allowed in the current state." error message."
##### SUMMARY
**vmware_vm_shell** failed to execute powershell script with ``FAILED! => {"changed": false, "msg": "The operation is not allowed in the current state."}`` error message.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- vmware_vm_shell

##### ANSIBLE VERSION
[code]

##### COLLECTION VERSION
[code]

##### CONFIGURATION
- No specific configuration

##### OS / ENVIRONMENT
- Ubuntu

[2021-07-27 13:37] sky-joker commented on #980
I have examined the difference between `vgpu.hotmigrate.enabled` and `config.vcls.clusters.domain-c8.enabled`.
The value is registered as a bool type in `vgpu.hotmigrate.enabled`, but in `config.vcls.clusters.domain-c9.enabled`, it is registered as a string type, not bool.

[code]

[code]

It seems the value has a different type between already the registered parameter and adding the parameter as

[2021-07-27 15:11] mariolenz commented on #979
Thanks @goneri, now I remember! This one is still on my ToDo list but I forgot about it. Mea culpa, mea maxima culpa... :-/

Can you let me know when you've done this so I can test it? Or, alternatively, `recheck` #977 when you're done? It should fail (I've written a test case for the behavior I havn't implemented yet; I thought I'd try out TDD for a change) but it _shouldn't_ fail with 'License n

[2021-07-27 15:32] goneri commented on #979
ahah, np :-) I'm merging my PR right away. I actually thought it was already done.

[2021-07-27 15:42] sky-joker commented on #980
resolved_by_pr https://github.com/ansible-collections/community.vmware/pull/983

[2021-07-28 04:48] mariolenz commented on #979
Thanks @goneri! It looks like the CI pipeline is working again!

[2021-07-28 04:48] #979 closed

[2021-07-28 10:51] Akasurde commented on #982
@Udayendu Thanks for reporting this issue. Are you performing multiple parallel operations which might result in this error message?

[2021-07-28 10:55] Udayendu commented on #982
No. I am performing multiple tasks but one by one. Here is what I am doing:
- Start a shutdown system
- Copy a powershell script
- Execute it

And its breaking at the execution steps, before that its working well for the other tasks.
You can see the play as I have already mentioned in the case description as well.

If I will run the same task 20 time, I am able to reproduce it 3-4 times.

[2021-07-28 10:57] Akasurde commented on #975
@jdranchman Thanks for reporting and debugging this issue. I agree with you.

[2021-07-28 11:04] Akasurde commented on #975
@jdranchman Can you please check if PR #984 works for you and let me know? Thanks.

[2021-07-28 11:04] Akasurde commented on #975
needs_info

[2021-07-28 11:06] Akasurde commented on #955
@earlruby Thanks for reporting this issue. Can you please check if #977 works for you and let us know? Thanks.

[2021-07-28 11:08] Akasurde commented on #948
@thehammeredone I am not sure how to solve this issue. Either we can write our own logic to retrieve the information about the resource pool associate with the VM or ask `Pyvmomi` to return the object instead of the string value of the resource pool.

@sky-joker @mariolenz @goneri What do you think? Thanks in advance.

[2021-07-28 12:24] #850 closed

[2021-07-28 14:42] jdranchman commented on #975
Per your pull for me to test the problem still exists. The code fails trying to set ansible_host to a non-existent attribute (ipAddress):

[code]

Would another option to fix this be to set ansible_host to config.name if there isn't an ipAddress to use? This makes a BIG assumption that the vm name is the same as the OS hostname inside the vm. Setting it to something reasonable that exists in all c

[2021-07-29 16:02] mariolenz opened #986 "Document how to create documentation"
##### SUMMARY
@sky-joker [commented](https://github.com/ansible-collections/community.vmware/pull/888#issuecomment-889223046) on a PR:

I usually struggle with generating (updated) documentation myself. Maybe we should document how to do it in [Guidelines for VMware module development](https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/dev_guide/platforms/vmware_guidelines.rst). Or, al

[2021-07-29 21:27] jdranchman commented on #429
I've built up a new clean 7.0.2 vcenter with two vms and one set of folders - three deep. I can connect but NOT see any folder paths in the output when asking for "all" properties. This is with "with_path: yes" set.

I do not think this is a specific problem with one of my prod vcenters as I already get valid folder paths with the older vmware_vm_inventory.py script.

[2021-07-30 14:36] jdranchman opened #987 "vmware_vm_inventory with_path set to a "string" doesn't replace "Datacenters" with "string" per doc"
##### SUMMARY

Setting this to a "string"  in the plugin config doesn't replace "Datacenters" with "string" in the group names per the doc.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_vm_inventory.py
##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 20.04 control node. VMware VCenter 7.0.2

##### STEPS TO RE

[2021-07-31 06:41] sky-joker commented on #986
Thanks, @mariolenz for making the issue.

I also have been thinking the same thing.

I'm not sure, whether the collection_prep is a standard tool in ansible collections community, but I look that the tool has been often used around the collections community.
If it is a standard tool, we might need a discussion on the ansible side. (whether the tool should be put on the developer guide)
However, fi

[2021-08-01 11:13] sky-joker opened #989 "vmware_category: An error occurs when set 'All objects' to associable_object_types"
##### SUMMARY

The following error has occurred when the playbook executes after set 'All objects' to associable_object_types parameter.

[code]

I tried making a patch to fix the issue, so I will make a new PR later.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

vmware_category

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

community.vmware is the latest

##### CONFIGURATION

[2021-08-01 12:05] sky-joker commented on #989
resolved_by_pr https://github.com/ansible-collections/community.vmware/pull/990

[2021-08-02 06:39] Akasurde commented on #986
@Andersson007 @felixfontein Do you know how documentation from the community collection will be integrated with `docs.ansible.com`? Let us know about it.

[2021-08-02 07:02] felixfontein commented on #986
@Akasurde see https://docs.ansible.com/ansible/devel/dev_guide/developing_collections_structure.html#docs-directory

[2021-08-02 14:39] #955 closed

[2021-08-02 14:51] #980 closed

[2021-08-03 09:49] rongz609 commented on #953
Sorry, vmware guest OS customization only supports configuring one static IPv4 address for one NIC.
So you can't configure multiple ips for a single interface by customization.
But it's OK to configure multiple IPv6 static IP addresses to one NIC.
Usually people would use multiple NICs when they need multiple static IP addresses.
Is there any special reason that you want to configure multiple IPv4

[2021-08-03 12:20] agowa338 commented on #953
Provision of the floating IP on one of the cluster nodes. This would just have been the easiest solution...

[2021-08-03 15:43] mariolenz commented on #986
@felixfontein

This only describes the docs directory in general. What I'm looking for is a documentation to generate these files from the docstrings we put into the modules.

We can document this in [Guidelines for VMware module development](https://docs.ansible.com/ansible/4/dev_guide/platforms/vmware_guidelines.html), but shouldn't this be documented under [Developing collections](https://docs.

[2021-08-04 06:44] felixfontein commented on #986
I was only talking about docs included in docs.ansible.com. The `.rst` files for plugins are automatically created during the docs build process (by [antsibull-docs](https://pypi.org/project/antsibull/)). There's no need to include them in the collection for the docs build, and the `.rst` files some of the collections include will be ignored. The only files in `docs/` used for the docs build on do

[2021-08-04 07:04] Akasurde commented on #986
Migrate VMware scenario guide from ansible/ansible repo - https://github.com/ansible-collections/community.vmware/pull/992

[2021-08-04 07:04] Tomorrow9 opened #993 "Add a new module for retrieving supported GOS list and recommended VM config"
##### SUMMARY

A new module is used for below 2 cases:
1. Get the supported guest OS ID list on ESXi host for the most recent hardware version supported.
2. Get the recommended VM configurations for specified guest ID, e.g., CPU number, memory size, boot disk controller type, firmware, secure boot supported, etc.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_vm_config_option

####

[2021-08-04 07:46] jainn22 opened #994 "DVportgroup name not retrieved"
##### SUMMARY

DVportgroup name not retrieved when using module vmware_host_facts or vmware_vmkernel_info
It could be the case with other modules as well

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_host_facts
vmware_vmkernel_info

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 20.04.2 LTS
RHEL 8.4

#####

[2021-08-04 09:04] SipSeb commented on #856
I just stumbled upon this bug when searching an explanation for a strange behavior of my playbook. And yes, other modules have this problem, too.

In my case, I want to check for an existing machine before setting up a new one, using the `vmware_guest_info` module. And I have the same machine name in different folders. So I specify `DC1/cloud/test` as folder, and it finds the machine in `DC1/cloud

[2021-08-04 12:48] markuszeiter opened #995 "Manage Alarm Definitions"
##### SUMMARY
Manage (Create/Delete/Change) Alarm Definitions in vCenter

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
not existing -> suggestion community.vmware.vcenter_alarm

##### ADDITIONAL INFORMATION
Requirement as per current situation: the vCenter build in Alarm "Cannot connect to storage" is not configured properly and it does not get triggered when there are APDs on NFS storage

[2021-08-04 17:01] mariolenz commented on #986
Thx @felixfontein! I'll have a look at [antsibull-docs](https://pypi.org/project/antsibull/). I think this would be the best way to create the documentation.

Yes and no. _Ansible_ might ignore the documentation for the modules in `docs` because `antsibull` re-creates them, anyway. But we're trying to have an up-to-date documentation for this collection. You see, if we release version x.y which is

[2021-08-04 18:32] mariolenz commented on #986
Naturally, my point of view is from this collection. But getting _your_ opinion from the ansible point of view is very valuable for me. It helps me to think about this collection as a more or less independent project vs being included in ansible. Your input is very much appreciated :-)

Although this collection is part of ansible, it's an independent project. So I think we need an independent docu

[2021-08-04 19:15] felixfontein commented on #986
It's a common problem to most collections though :) I'm publishing up-to-date docs on a few collections I'm working on on my personal docsite (https://ansible.fontein.de/); that's not the best solution though since this is usually a development snapshot (in the state the collections have in the git checkouts on my disk).

It's relatively new anyway :) Right now, the devel docs are probably the bes

[2021-08-05 08:39] Akasurde commented on #986
@felixfontein @mariolenz For providing this information. I think can document both collection docs + extra_docs and resolve this issue.

[2021-08-06 07:55] tobiicerb commented on #504
@Akasurde This issue still exists and I luckily found it here. Setting  REQUESTS_CA_BUNDLE to the correct value helps, for Ubuntu this would be `/etc/ssl/certs/ca-certificates.crt`. It would be great if this could be mentioned in the guide as it is quite confusing to run into this problem. I ran into this error when using a virtual environment for python.

[2021-08-08 23:35] Nightreaver opened #997 "Inventory output gets censored with ******** (cross-post)"
# Issue Type

- Bug report ?

# Molecule and Ansible details

[code]

Molecule installation method (one of):

- pip

Ansible installation method (one of):

- pip

Detail any linters or test runners used:

# Desired Behavior

print uncensored values

# Actual Behaviour

Im running molecule with molecule vmware on vsphere esx 6.7
I have different roles which are linux and windows ones.
Surprisingly,

[2021-08-10 04:46] #853 closed

[2021-08-10 12:37] Akasurde commented on #997
@Nightreaver Thanks for reporting this issue. This seems to be related to molecule-vmware rather than vmware_guest module. I will try to reproduce without molecule role and check if it is true.

[2021-08-10 19:43] Kennochas commented on #802
I believe this is related or atleast similar to https://github.com/ansible/ansible/issues/50299

You are met with: Property guestinfo.cis.deployment.autoconfig is not user configurable on vSphere 7.0+

You can edit the OVA to allow that to be edited, and it does appear to work.

[2021-08-11 14:11] sky-joker commented on #944
Hi @geralexgr
Coudl you please execute the commands and provide the following information?

[code]

[2021-08-11 15:44] vstoppe commented on #44
I am also fighting with this issue

- Ansible 2.10.12
- Ansible 3.4.0
- Guest: Debian 10 & open-vm-tools
- ESXi 6.7

[2021-08-12 04:31] Kennochas commented on #802
I can also confirm that https://github.com/ansible-collections/community.vmware/pull/845 resolves this issue.

[2021-08-13 01:01] Nightreaver commented on #997
I've been checking the source of the molecule-vmware plugin, but its just a few lines of code and there isnt really any hidden magic. So I kind of doubt it can be related to only the molecule plugin

[2021-08-13 10:52] markatdxb opened #1000 "vmware_object_role_permission - assign admin permissions to AD group"
##### SUMMARY

Hi, this might be a lame issue, im just trying to figure out how to use this module to Add AD group as an Admin on my ESXi host

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.vmware.vmware_object_role_permission

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

###

[2021-08-13 17:56] mariolenz commented on #1000
The ESXi host is already a member of the domain and you want to give an AD group _full_ admin access to this host locally? I'm quite sure we're already doing this, but I'm out of office at the moment and can't check how we do it. I could give you an answer next week, though.

The one thing I remember and can tell you without having to look at our playbook: I'm quite sure you have to use an additio

[2021-08-13 19:34] mariolenz commented on #860
@teamosceola Would it be possible for you test PR #1001 if it works for you? I'm out of office at the moment and don't have access to the environment I usually test with. But I hope it'll fix your issue.

[2021-08-14 09:02] markatdxb commented on #1000
Yes thats right, i want to additional AD groups to ESXi with local Admin role. I did test it with \\ but getting the same result. Its just that im not sure what parameters to select for this module to achieve this.

[2021-08-16 15:13] goneri opened #1003 "`tox -e add_docs` remove the scenario guides"
##### SUMMARY

We use `tox -e add_docs` during the release workflow to regenerate the documentation. The comment refreshes the content of the docs/ directory. Since https://github.com/ansible-collections/community.vmware/pull/992 we've got also the guides in this directory. Since add_docs does not know about these files and just remove them.

See: https://github.com/ansible-collections/community.v

[2021-08-16 15:27] mariolenz commented on #1003
@goneri

Is this documented? I usually struggle with generating or updating documentation. That's why I've opened issue #986. Would be great if you could add a comment to this issue and share your opinion with us!

[2021-08-16 18:42] goneri opened #1004 "automatically prepare the monthly release with a playbook"
##### SUMMARY

It would be nice to have a playbook that prepare the monthly release PR. Ideally, we should integrate it with the CI and call it from a periodical job every month.

See: https://github.com/ansible-collections/community.vmware/pull/1002#issuecomment-899599975

##### ISSUE TYPE
- Feature Idea

[2021-08-16 19:10] goneri commented on #1003
The workflow is documented here: https://github.com/ansible-collections/community.vmware/#publishing-new-version

[2021-08-17 05:32] mariolenz commented on #1000
@markatdxb I'm sorry, but now that I'm back at work and have a look at our playbook I see we're nor using `vmware_object_role_permission` to manage our permissions. We use an advanced setting:

[code]

`vmware_admins` is just the group in the AD that the host is part of. Just `Foo` instead of `Foo@Domain` or `Domain\Foo`.

It looks like we're not using `vmware_object_role_permission` at all at the

[2021-08-17 10:22] mariolenz commented on #1004
Maybe something like this:

[code]

We could run this with `ansible-playbook release.yml --extra-vars "version=1.14.0"`.

If we want to release automatically, we can also add tasks for pushing and tagging. What do you think @goneri?

[2021-08-17 11:54] markatdxb commented on #1000
@mariolenz thanks this works like a charm

[2021-08-17 11:54] #1000 closed

[2021-08-17 13:20] goneri commented on #1004
Thank you @mariolenz. This is pretty cool. We can build the next version with: `git tag --sort=-creatordate|head -n1|perl -pe 's/(\d+\.)(\d+)\.\d+/"$1" . ($2+1) . ".0"/eg'`

I suggest you use your playbook to prepare the September release in 2 weeks :-).

[2021-08-17 15:48] mariolenz commented on #1004
Cool! We can use this in the playbook, too:

[code]

Sure, I'll give it a try. And if it works, I'll open a PR to add this as a playbook `prepare_release.yml` or similar.

[2021-08-18 11:11] pugnacity opened #1005 "Support for vSphere Lifecycle Manager-Images"
##### SUMMARY
Since vSphere 7 VMware has a new feature called vSphere Lifecycle Manager-Images, those images are cluster specific. This feature replaces more or less the old VMware Update Manager.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_cluster.py

##### ADDITIONAL INFORMATION
[Create Cluster PowerCLI Reference](https://developer.vmware.com/docs/powercli/latest/vmware.vimauto

[2021-08-18 11:36] gardar commented on #347
@Medalibi & @matancarmeli7

Any chance you will be submitting your modules to be a part of the upstream community.vmware collection?

[2021-08-18 14:48] MallocArray commented on #424
Any update on getting "Predictive DRS" support in this module?  Right now there isn't an option to configure it, but if the feature is already enabled on the cluster and then this module is ran against it, it will disable Predictive DRS.

[2021-08-18 19:23] mariolenz commented on #1003
This looks like a problem. `tox -e add_docs` seems to run `collection_prep_add_docs -p .` which I think removes everything in `docs` before re-creating the documentation from the modules.

I see these possible solutions:

- revert #992
- having the content of `docs/docsite` somewhere else and copy it to the docs directory after running `tox -e add_docs`
- make `collection_prep_add_docs` ignore `do

[2021-08-19 07:47] Medalibi commented on #347
@gardar I honestly have no idea. I still add the module manually within my production environment as I have tried to merge it to the main but I still get errors that I have no idea how to fix as they have nothing to do with the functional code itself. The module works fine within my environment with no issues(using 24 Nvidia Tesla M10 on 12 HPE blades).

[2021-08-19 09:11] matancarmeli7 commented on #347
@gardar I will check if the module works with vGPUs PCI devices soon if it will I will open PR

[2021-08-19 12:29] eschek87 opened #1006 "vmware_content_deploy_ovf_template.py failed if vm exist"
##### SUMMARY
If the vm already exist, the module throws a failed. In an older version it just return a "OK"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_content_deploy_ovf_template.py

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Just return "OK" if vm

[2021-08-19 13:46] gardar commented on #347
@Medalibi perhaps if you open a PR to upstream then someone knowledgeable would be willing to take a look at the errors, but I'm not sure if it's considered bad practice to do so.

@matancarmeli7, awesome, I think it would make a lot of sense to combine the vgpu and pci modules. Not sure how one would go about creating tests though without having the actual hardware...

[2021-08-19 18:01] mariolenz commented on #916
@tomasodehnal Would it be possible for you to test in PR #1007 works for you?

[2021-08-19 21:20] goneri commented on #1003
Ideally, `collection_prep_add_docs` (https://github.com/ansible-network/collection_prep) should not remove existing file. I would go with option 3.

[2021-08-20 08:44] tomasodehnal commented on #916
@mariolenz Verified that setting the state to `unchanged` allowed me to change the service policy without touching its state. Thanks!

[2021-08-20 19:19] mariolenz commented on #1003
I'm not so sure about this. At least, if you mean that `collection_prep_add_docs` should _never_ remove existing files. You see, if we remove a (deprecated) module, we would have to remove the documentation manually. If `collection_prep_add_docs` doesn't and we forget to do this, we'll end up with a documented module that doesn't exist.

Of course, instead of `collection_prep_add_docs` removing th

[2021-08-20 20:24] cscal opened #1008 "VMware Inventory Plugin does not select correct IP address on hosts with multiple NICs"
##### SUMMARY
My goal is to have the VMware inventory plugin set "ansible_host" as a specific IP address that matches a RegEx expression. Our servers have multiple NICs on different subnets and only one of those subnets has connectivity with our Ansible Tower cluster. The default network interfaces do not connect with Tower, hence the need for this custom Jinja expression in the plugin. I have tri

[2021-08-21 00:28] markatdxb opened #1009 "vmware_object_rename - doesnt rename VM using moid"
##### SUMMARY

Trying to rename the VM using the moid - getting error

TypeConverter.convert_to_python(method_result.error,  # pylint: disable=E0702\ncom.vmware.vapi.std.errors_client.UnableToAllocateResource: {messages : [LocalizableMessage(id='com.vmware.api.vcenter.vm.too_many_matches', default_message='Too many virtual machines. Add more filter criteria to reduce the number.', args=[], params=

[2021-08-21 15:15] mariolenz commented on #975
@jdranchman could you please test again? I don't really understand your stack trace:

The inventory plugin doesn't have a line 912 any more. I think an update to the plugin, a rebase of the PR and your test have been 24 days ago. So it's quite possible that you've tested _just_ before the latest change to the plugin has been merged / the PR has been rebased.

Don't get me wrong, I'm not saying say

[2021-08-22 07:10] sky-joker commented on #1009
Thanks, @markatdxb for reporting this issue.

As far as I'm looking at API documentation, list method seems that can be got only max 1,000 vm.
https://vmware.github.io/vsphere-automation-sdk-python/vsphere/6.7.1/com.vmware.html#com.vmware.vcenter_client.VM.list

To solve this issue, I think that should add a filter option as a new one.
I will try to examine whether can add a new filter option to t

[2021-08-23 12:03] sky-joker commented on #1009
Hi @markatdxb

I made a patch to fix this issue.  https://github.com/ansible-collections/community.vmware/pull/1010

So could you please check the patched module whether it works well in your environment?
And let me know the result.

[2021-08-23 12:03] sky-joker commented on #1009
resolved_by_pr https://github.com/ansible-collections/community.vmware/pull/1010

[2021-08-23 12:48] shafiyal opened #1011 "vmware_guest_powerstate got the error "Unable to set power state for non-existing virtual machine : 'MyVM'" when the multiple VM's have same name"
##### SUMMARY

Unable to perform powerred-on, powerred-off, restart operation on VM if Multiple virtual machines with same name found.
I have updated ansible version to 2.11.4, community.vmware version to community.vmware:1.13.0
When I am trying powerstate operation by passing datacenter name, module works fine and updating the state to the vm, but when I dont pass datacenter and execute the scrip

[2021-08-23 12:58] Akasurde commented on #1003
+1 for option 3 but that requires changes in collection_prep source code.

[2021-08-23 16:12] mariolenz commented on #1003
@Akasurde @goneri I've opened ansible-network/collection_prep#64, let's see what they'll say to this.

[2021-08-24 01:17] markatdxb commented on #1009
@sky-joker could you pls advice how can i test this patched module? Sorry im not familiar with this process

[2021-08-24 02:58] sky-joker commented on #1009
@markatdxb

Sorry, I should have provided how to test.
Please see the following link.

https://github.com/ansible-collections/community.vmware/issues/921#issuecomment-872334602

Please replace PR number, haed, and a branch name to checkout, the following like.

[code]

[2021-08-24 04:48] markatdxb commented on #1009
@sky-joker i tried to follow #921 but still getting the same error. i think its something on my side - looks like the playbook still use the original collection instead of the cloned version :( sorry im not that proficient with this process
i did the following:
[code]
after that i copied my simple playbook to /tmp/vm_test
[code]
still getting error:

fatal: [localhost -> localhost]: FAILED! => {"c

[2021-08-24 05:09] #916 closed

[2021-08-24 10:56] sky-joker commented on #1009
Thanks, @markatdxb for taking the time to check the module works.

Could you please use the filter option I added it?

**For example, when filtering virtual machine with names**

[code]

**For example, when filtering virtual machine with folders**

[code]

In the above example is filtering with folder, and look for the target virtual machine based on moid from the specified folder.

[2021-08-24 10:59] offlinejke opened #1012 "Can not unmount CDROMs from vm community.vmware.vmware_guest"
##### SUMMARY

I try to eject CDROMs from vm. Observing the rules, I turn off the vm, disconnect the CDROMs and turn on the vm. I even pause between tasks to be sure. The CDROMs are not detached.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.vmware.vmware_guest

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Di

[2021-08-24 12:25] offlinejke commented on #1012
What should i do?

[2021-08-24 17:10] MalfuncEddie commented on #1006
I can confirm this.

[2021-08-25 06:41] MalfuncEddie commented on #1006
It is due to https://github.com/ansible-collections/community.vmware/pull/747
line 214

[code]

I am open for discussion on what needs to happen if a vm already exists.

Use case: playbook that deploys vm and add a disk in the next step

vm exists -> module gives OK --> risk that you inadvertently alter an existing  vm by adding a disk. (but normally that module should stop you from doing anythin

[2021-08-25 06:45] MalfuncEddie commented on #1006
Or make it an option in the module

overide: true/false that determines the what to do if a vm exists

[2021-08-25 06:45] eschek87 commented on #1006
I prefer option 1, because the module is to deploy vm's from ovf template and not for adding disk or modifiy a existing vm.

[2021-08-26 09:43] ankushanubhav opened #1014 "vmware_tag_manager module fails while tagging a VM"
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: ModuleNotFoundError: No module named 'com'
fatal: [localhost]: FAILED! => {"changed": false, "msg": "Failed to import the required Python library (vSphere Automation SDK) on AnsibleVM's Python /usr/bin/python3.6. See https://code.vmware.com/web/sdk/7.0/vsphere-automation-python for more info. Please re

[2021-08-26 20:10] #1014 closed, assigned to nobody

[2021-08-27 20:32] russest3 opened #1015 "vmware_guest specifying vlan (standard network - non VDS) call to ESXi api implies name (VDS portgroup)"
##### SUMMARY
vmware_guest specifying vlan (standard network - non VDS) call to ESXi api implies name (VDS portgroup) and results in error 'Failed to create a virtual machine : A specified parameter was not correct: spec.deviceChange.device.port.switchUuid'

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONF

[2021-08-28 18:18] juergenschubert opened #1016 "community.vmware.vmware_deploy_ovf properties like hostname or ipAddress ignoring"
##### SUMMARY
I do have an ansible playbook
ansible-playbook deploy-ddve-vcenter-stack.yml
is causing the VM to be imported but the vCenter 7.0 U2 is telling me a DNS Name (1)
localhost.vlab.local while the value behind the variable is ddve1.
I am running on a Ubuntu 20.04 with wsl. Same is happening for the IP addresses, ignoring them.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- name:

[2021-08-28 18:54] mariolenz commented on #1015
As far as I know, ansible 2.9 [will get security fixes only but no bugfixes](https://docs.ansible.com/ansible/devel/reference_appendices/release_and_maintenance.html#ansible-core-release-cycle).

Would it be possible for you to use a newer ansible version? Updating to ansible 2.9.10+ and installing this collection with `ansible-galaxy` might help, too.

I'll close this issue for now since there wo

[2021-08-28 18:54] #1015 closed

[2021-08-29 14:53] boliu83 commented on #44
@vstoppe do you have perl installed in your vm template?  I got the same problem fixed by updating the vm template with perl installed.

[2021-08-29 14:59] #44 closed

[2021-08-29 15:41] mariolenz commented on #891
That's quite an old version. Actually, 2.9 is so old that it will only get _security_ fixes. Could you please try with a more current ansible version? Or, as an alternative, update to 2.9.10 or later and install this collection?

[2021-08-30 02:53] Tomorrow9 commented on #532
Yeah, `vsphere_copy` module works, thanks.

[2021-08-30 02:53] #532 closed

[2021-08-30 02:58] Tomorrow9 commented on #164
Sorry for the late update, I'll take a look at this. Thanks.

[2021-08-30 05:45] #989 closed

[2021-08-30 09:24] BryanEaay commented on #907
UP

Any news on this ?

[2021-08-30 16:39] mariolenz commented on #907
Not from me. I still can't reproduce the issue in our environment and that makes it a bit hard to debug.

@sky-joker or @Tomorrow9, can you reproduce the issue?

[2021-08-30 19:29] darksoul42 commented on #891
I am in an airgapped environment where I only have in production what is available on the RedHat release DVDs as a matter of policy. I did build a test lab where it was possible to at least download ansible via pip, and upgraded to ansible 4.2.0 and ansible-2.11.2 (as available via pip), but this did not fix the issue.

I acknowledge your point regarding configuration management and interference,

[2021-08-31 09:41] tomasodehnal opened #1017 "Windows customization resets Administrator password to 'None' when not specified"
##### SUMMARY

When customizing a Windows VM, if you don't specify the `customization.password` field, the Administrator user password in the resulting VM is set to 'None'.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest.py

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 20.04 WSL on Windows 10

##### S

[2021-08-31 13:54] tzago opened #1018 "vmware_host_datastore: Increase capacity by adding multiple vmfs_device_name"
##### SUMMARY
Currently, I can't see an option to increase the datastore capacity by adding multiples vmfs iscsi lun disks to the same DATASTORE.

##### ISSUE TYPE
- Feature needed for my personal project

##### COMPONENT NAME

vmware_host_datastore

##### ADDITIONAL INFORMATION

Create extend/increase datastore capacity

Increase Datastore Capacity by allowing to add additional vmfs iscsi lun's i

[2021-08-31 14:05] tzago commented on #1018
The ticket I mentioned above is https://github.com/ansible-collections/community.vmware/issues/910

[2021-08-31 19:36] mariolenz commented on #1004
@goneri Is it OK to prepare a new release? Or should I still wait?

[2021-08-31 21:05] mariolenz commented on #1004
Nope, not yet. At the moment, it's still August (for an hour or so)... although it feels a bit like November :-/

There are one or two points where I'd like to work on the playbook. But I wasn't sure if it's really the time for the next release. Now that you've confirmed that it is, I'll work on it.

[2021-09-01 04:40] Akasurde commented on #1017
@tomasodehnal Thanks for reporting this issue. Would you be interested in opening a PR against this issue with your findings? I will help you if required.

Thanks

[2021-09-01 17:06] mariolenz commented on #1004
@goneri could you please have a look at #1019? It includes both the playbook to create a new minor release (`prepare_minor_release.yml`) and its result. I haven’t documented this in the README yet because I think we should use it two or three times and test it a bit before we do.

[2021-09-01 19:39] #1004 closed

[2021-09-02 04:24] Tomorrow9 commented on #164
Hi @TakaseNochi @owwweiha @mehmoodkha @rolando-anton would you please have a try on this fix #1020? If there is still a failure, please describe the DC structure of your test environment. I'll try to reproduce then. Thanks.

[2021-09-02 05:57] markatdxb opened #1021 "community.vmware.vmware_vswitch - add CDP configuration"
##### SUMMARY

Would be great if you could add the module parameter to set the Link discovery configuration on the vSwitch

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

community.vmware.vmware_vswitch

##### ADDITIONAL INFORMATION

As far as i know currently there is no way to set the CDP settings via API or any other module ?
I have to use following PS code

[code]

[2021-09-02 09:01] Tomorrow9 commented on #162
Hi @ansibleusersili @mehmoodkha @samsam-rolon @vivekanand552 would you please refer to the latest comments in issue #164 and have a try on the fix in #1020? Thanks.

[2021-09-02 09:49] nicolaibaralmueller opened #1022 "AWX and community.vmware requirements"
##### SUMMARY

Recently started migrating from AWX docker to AWX kubernetes. I can find no documentation on how to prepare AWX (pods) to support community.vmware modules.

How do I install below modules?

Pyvmomi
vSphere Automation SDK for Python
vSAN Management SDK for Python

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest_info

##### COLLECTION VERSION

[code]

##### OS / ENVI

[2021-09-02 17:09] jdranchman commented on #975
I can test this tomorrow with a fresh dl.

[2021-09-02 20:16] #891 closed

[2021-09-03 01:45] markatdxb commented on #1009
@sky-joker sorry for late reply. I haven't had a chance to test the above but just thinking here about the proposed concept.
If i understand correctly the MOID is a unique object identifier within the vCenter. In example if i take VMware API to get info about the single VM -
`https://vcenter/rest/vcenter/vm/vm-463458`  - i get info only about this VM and there is no 1000 results etc...
Basically I

[2021-09-03 08:14] nicolaibaralmueller commented on #1022
This was solved by adding below to the localhost inventory. AWX was using the wrong python interpreter.

[code]

[2021-09-03 08:14] #1022 closed

[2021-09-03 10:46] sky-joker commented on #1009
Thanks,  @markatdxb for your feedback.

Ok, I'll examine how-to that doesn't use the filter.

[2021-09-03 14:40] tomasodehnal commented on #1017
@Akasurde I'll be happy to look into it. I'm thinking of making the field mandatory to mimic the vSphere functionality. It can potentially influence the historic usage in playbooks but if anyone is now using the customization without specifying the password, he is relying on an undefined and undocumented value to be filled there anyway. I wouldn't call this a breaking change. What do you think?

[2021-09-03 18:52] jdranchman commented on #975
This change works for me. I now have all my vm's listed - even those that are powered off and those that are partially configured (and not powered on)

[2021-09-05 08:34] sky-joker commented on #1009
Hi @markatdxb

Could you please test try again?
I fixed that the module works well even not using the filter parameter.

[2021-09-05 09:08] markatdxb commented on #1009
@sky-joker - shall i still use this link or is there a new one ?
`cd collections/ansible_collections/community/vmware && git fetch origin pull/1010/head:fix_issue1009 && git checkout fix_issue1009 && cd ../../../../ ?
`

[2021-09-05 09:21] markatdxb commented on #1009
@sky-joker --  tested and looks OK to me :). VM was renamed as expected
[code]
I just tested the VM rename though. Hope it will work the same way for all other objects

[2021-09-05 15:26] sky-joker commented on #1009
Thanks, @markatdxb for checking the module works.

[2021-09-07 09:13] BellePheraya opened #1026 "community.vmware.vmware_guest_cross_vc_clone - Cannot find destination folder"
##### SUMMARY

I try to clone template across vCenter using **community.vmware.vmware_guest_cross_vc_clone** in order to replace previous template in destination vCenter with latest one from source vCenter.

But always get error "msg": "Destination folder does not exist. Please refer to the documentation to correctly specify the folder."

To confirm that I input correct folder/format in this modul

[2021-09-07 13:36] SpeedBlack commented on #216
Hello all,
I have the same problem with the "vmware_content_deploy_ovf_template" component.
Do you know if this bug is fixed or will be fixed soon? I did not find exactly the information.

Thanks & regards

[2021-09-07 16:13] #975 closed

[2021-09-07 19:55] AaronJaegerVA opened #1027 "Despite "controller_number and unit_number are mandatory attributes" no error is thrown when omitting both of these parameters"
Despite "controller_number and unit_number are mandatory attributes" in [the docs](https://docs.ansible.com/ansible/latest/collections/community/vmware/vmware_guest_module.html#parameter-cdrom/unit_number), no error is thrown when both of these parameters are omitted.

[2021-09-08 13:00] AaronJaegerVA commented on #1027
The link to the template is broken.

[2021-09-08 13:46] AaronJaegerVA opened #1028 "community.vmware.vmware_guest cannot add a cd-rom with an iso file loaded if the vmware already exists"
##### SUMMARY
community.vmware.vmware_guest cannot add a cd-rom with an iso file loaded if the vmware already exists

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.vmware.vmware_guest

##### ANSIBLE VERSION
[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
RHEL8 on ESXi 6.7 Update 3

##### STEPS TO REPRODUCE
1. Create a new guest without a

[2021-09-08 15:35] jnm27 commented on #203
Is there an ETA for this fix? Currently have a workaround but would like to replace it...

[2021-09-08 16:10] sjwk commented on #203
I don't believe anyone is waiting on me..

[2021-09-09 05:45] nikhilpatne opened #1029 "Documentation fix needed in community.vmware.vsphere_file module"
##### SUMMARY

There is module called **community.vmware.vsphere_file** . There is one task _Query a file on a datastore_  to get information of already existing file on vsphere. But In Documentation there mentioned **state : touch** . But state:touch is used to create new blank file on vsphere,not to get existing file information. In order to Query a file the state attribute value should `file` n

[2021-09-09 08:26] markatdxb opened #1031 "vmware_guest_info - remove dependency on Datacenter"
##### SUMMARY

vmware_guest_info modules has a mandatory parameter Datacenter
It gets tricky in large environments to get information about the VM where I need to use multiple modules
first need to run module to figure out in which Datacenter the VM is located. here i use vm_find module which in our environment with 5000+ VMs is super slow - takes minutes to complete the job
second to run this mod

[2021-09-09 20:47] jdranchman commented on #987
Unless I'm not reading the doc correctly:  Set this option to a string value to replace root name from 'Datacenters'.

[2021-09-10 06:07] geralexgr commented on #944
@sky-joker sorry for my late response, I lost the notification.

1) ansible (2.9.11)

2)
# /root/.ansible/roles
# /usr/share/ansible/roles
- linux-system-roles.kdump, (unknown version)
- linux-system-roles.network, (unknown version)
- linux-system-roles.postfix, (unknown version)
- linux-system-roles.selinux, (unknown version)
- linux-system-roles.storage, (unknown version)
- linux-system-roles.ti

[2021-09-10 09:07] MarkStoe opened #1032 "msg: could not find job. When async_status is executing on AWX (19.3.0 AKS)"
##### SUMMARY

When for example calling community.vmware.vmware_guest or vmware_guest_powerstate with the async option an error occurs in the async_status module stating that the job could not be found. This Error occurs in version 1.13.0 and 1.14.0. Not in 1.12.0 and also not in Ansible Tower. It seems to be specific to AWX running in Azure Kubernetes Services.

##### ISSUE TYPE
- Bug Report

###

[2021-09-12 17:27] mariolenz commented on #1027
What ansible version do you use? Or do you use this collection directly? If so, what version of this collection?

Could you please provide a playbook, its result and the result you expected?

I've just tried to open a bug report and the template looked fine to me. What do you mean by "broken"?

[2021-09-13 13:14] AaronJaegerVA commented on #1027
I use Ansible v2.9 on top of RHEL8.

[2021-09-13 19:56] jnm27 opened #1034 "vmware_vswitch should support check mode"
##### SUMMARY

vmware_vswitch should support check mode.

Currently it just prints
"remote module (community.vmware.vmware_vswitch) does not support check mode"

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

community.vmware.vmware_vswitch

##### ADDITIONAL INFORMATION

[code]

[2021-09-14 10:13] #919 closed

[2021-09-14 17:03] mariolenz commented on #1003
@goneri Do you still think we should remove the scenario guides? The playbook in PR #1023 backups `docs/docsite`and recovers it after running `tox -e add_docs`. Is this OK for you or do you think we should keep this issue open and find another solution?

[2021-09-14 17:39] mariolenz commented on #1005
We need an "official" API to implement this, but I'm unable to find one.

Btw: PowerCLI implements some things that aren't officially documented. For example, there is a PowerCLI cmdlet to run esxcli on a host. As far as I know, there is no official API to do this.

I also think that there's no (documented) API to manage images.

@sky-joker @Tomorrow9 I might be wrong here. Do you know if there's

[2021-09-14 18:20] mariolenz commented on #301
@goneri Is this still an issue or can we close it?

[2021-09-14 18:38] mariolenz opened #1035 "vmware_vswitch issues"
##### SUMMARY
There are several issues (feature requests) with `vmware_vswitch`:

* #1034
* #536
* #203

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`vmware_vswitch`

##### ADDITIONAL INFORMATION
I might be wrong, but I think if anyone wants to work on this module it would be a good idea to address these three issues at once instead of trying to fix them one by one.

[2021-09-14 18:45] mariolenz commented on #1034
@jnm27 Just for your information, there are several issues open for `vmware_vswitch`. I found three, and I've opened #1035 because I think it might be easier to address them all in one go instead of one by one.

[2021-09-14 18:46] goneri commented on #301
Yes, we can definitely close this one.

[2021-09-14 18:46] #301 closed

[2021-09-14 18:46] mariolenz commented on #536
@mvs2 Just for your information, there are several issues open for `vmware_vswitch`. I found three, and I've opened #1035 because I think it might be easier to address them all in one go instead of one by one.

[2021-09-14 18:47] mariolenz commented on #203
@sjwk Just for your information, there are several issues open for `vmware_vswitch`. I found three, and I've opened #1035 because I think it might be easier to address them all in one go instead of one by one.

[2021-09-15 11:34] praveenpras opened #1037 "config.name is not showing as hostname in vmware_vm_inventory dynamic inventory plugin"
Hi,

I was trying to use vmware_vm_inventory plugin to pull the VM inventory from vcenter. My environment is as follows :
Ansible =>
[code]

VMware environment
[code]

My current inventory.vmware.yml file is as below
[code]
When I run,  ansible-inventory --list -i inventory.vmware.yml
it still lists with uuid
[code]

I am not sure why the "hostnames" is not working. Can anyone guide?

Regards,
PP

[2021-09-15 11:49] praveenpras commented on #1037
Hello Ansibullbot

COMPONENT NAME : vmware_vm_inventory
PLUGIN : community.vmware.vmware_vm_inventory

I am first time posting queries, so apologies if I am missing details.

Regards,
PP

[2021-09-15 13:07] pugnacity commented on #1005
@mariolenz the API is documented here: https://developer.vmware.com/docs/vsphere-automation/latest/esx/settings/

[2021-09-15 13:28] VDI-Tech-Guy commented on #164
Hit this issue as well, My vCenter Environment is a VMware Cloud Foundation (VCF) implementation using 4.3

vCenter
  - Datacenter MGMT
     - Cluster MGMT
vCenter
  - Datacenter WLD
     - Cluster A WLD
     - Cluster B WLD

All with NSX-T for VCF 4.3 and Segments
![vlc](https://user-images.githubusercontent.com/1888195/133442032-5780c2f4-b39c-415d-8fd2-09d6d053e8ca.png)

Attached pic of what it

[2021-09-15 14:36] sky-joker commented on #1005
Thanks, @pugnacity for requesting a new feature and providing the documentation.

The feature is provided by vSphere REST API, so maybe it's better to request to vmware_rest than here.
https://github.com/ansible-collections/vmware.vmware_rest

CC: @goneri

[2021-09-15 15:11] praveenpras commented on #1037
Also, I get 404 error when I open https://raw.githubusercontent.com/ansible/ansible/devel/.github/ISSUE_TEMPLATE/bug_report.md

[2021-09-15 16:30] mariolenz commented on #1005
Ah, yes. I think that's why I didn't find this. This collection mainly uses the (old) SOAP API and I was looking there.

Since this feature is provided by the newer REST API, I agree with @sky-joker that it would be better to open a feature request in [vmware.vmware_rest](https://github.com/ansible-collections/vmware.vmware_rest). As the name suggest, they specialize in the REST API there ;-)

[2021-09-15 19:31] vMarkusK opened #1038 "Set Advanced Option (customvalues) to existing VM Fails"
##### SUMMARY

Set one or more Advanced Options (customvalues) to existing VM Fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Advanced Option should be added to the VMs

##### ACTUAL RESULTS

Error

[2021-09-16 04:03] markatdxb opened #1039 "vmware_object_rename - error when connecting to standalone ESXi"
##### SUMMARY

Getting error when trying to use the module connecting directly to ESXi`

`Failed to connect to vCenter or ESXi API at esxhost:443 : 400 Client Error: Bad Request for url: https://esxhost:443/api"`
`
Other modules with exactly identical connection details work fine

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_object_rename

##### ANSIBLE VERSION

[code]

##### COLLEC

[2021-09-16 09:56] praveenpras commented on #1037
**Summary**
I am trying to pull the VM inventory using plugin: vmware_vm_inventory, I need to extract or create the inventory with virtual machine name using config.name. But the inventory generated using this plugin always has config.name_UUID.

**Issue Type**

- Bug report

**Component Name**
[code]
**Ansible Version**
[code]

**Configuration**
[code]
**OS/Environment**
[code]

**Steps to Reprod

[2021-09-16 10:38] #1038 closed

[2021-09-16 10:40] Akasurde commented on #1037
@praveenpras Thanks for reporting this issue. Are you using the latest version of the collection?

[code]

I am not able to reproduce the error with -

[code]

Output -
[code]

[2021-09-16 10:43] Udayendu commented on #982
Any update on this ?

[2021-09-16 11:56] praveenpras commented on #1037
@Akasurde

[code]
The document https://galaxy.ansible.com/community/vmware says
[code]

My current ansible version is
[code]

Regards,
PP

[2021-09-16 11:58] Akasurde commented on #1037
You are using Ansible 2.7.10. Please upgrade to Ansible 2.9.11 and onwards.

[2021-09-16 12:03] praveenpras commented on #1037
May I know if you mean to say this plugin (vmware_vm_inventory) will not work correctly in ansible version less than 2.9? Because in 2.7, I can get the inventory, but cannot filter or make any manipulations using its available options.

[2021-09-16 18:22] VDI-Tech-Guy commented on #164
@Tomorrow9  - i did get the code figured out how to install it didnt make a difference got the same issue, i think instead of it being on Datacenter like programmed it would be better to program on datacenter & cluster & switch b/c NSX-T does this exact problem of using the Overlay in ANY cluster in the Datacenter and it will have similar named Port Groups in different DVSs

[2021-09-17 07:00] Akasurde commented on #1037
Ansible 2.7 version is not supported. Please upgrade to 2.9 or latest and retry.

[2021-09-17 21:43] goneri commented on #1008
Hi @cscal!

Would this works for you?

[code]

[2021-09-20 09:18] praveenpras commented on #1037
I tried on ansible 2.10.9 and this is working as expected.

[code]
[code]
Thanks a lot for your help !!

Regards,
PP

[2021-09-20 15:01] JohnyGemityg commented on #373
I am facing same issue.

I am unable to add 2 extra disks in one step. I have to clone VM and then use vmware_guest_disk to add disks. Cannot use just vmware_guest.

Exact the same case as carceneaux.

[2021-09-20 15:14] Akasurde commented on #1037
Ok Great. Thanks. I will mark this as resolved.

[2021-09-20 15:14] #1037 closed

[2021-09-20 17:33] #986 closed

[2021-09-20 19:35] #993 closed

[2021-09-21 01:16] sky-joker commented on #1039
Thanks, @markatdxb for reporting this issue.

The module operates the objects via vSphere REST API of vCenter.
The vSphere REST API has been implemented since vCenter Server 6.5, but it doesn't implement it in ESXi, so the module can't use against ESXi.

[2021-09-21 01:20] #1039 closed

[2021-09-21 01:20] markatdxb commented on #1039
@sky-joker - ooh ok sorry i missed that

[2021-09-21 01:46] aj-cruz opened #1043 "Adding a Network-Backed Serial Port Fails"
##### SUMMARY
Adding a serial port to a VM with backing_type = network fails with an error: KeyError: 'type'

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest_serial_port

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

WSL2 (Ubuntu)

##### STEPS TO REPRODUCE

ansible-playbook playbook.yml

[code]

##### EXPECTED

[2021-09-21 12:08] JayBeeCee opened #1044 "Adding support for SNMP syslocation and syscontact configuration"
##### SUMMARY

Add support for SNMP syscontact and syslocation configuration
##### ISSUE TYPE
- Module improvement

##### COMPONENT NAME

community.vmware.vmware_host_snmp

##### ADDITIONAL INFORMATION

Currently it is not possible to configure SNMP syscontact and syslocation via mentioned module. The module should provide parameters to do so.

[code]

[2021-09-22 06:14] mariolenz opened #1045 "CI fails"
##### SUMMARY
Due to some changes to `ansible-test` we now have some tests that fail the CI (see [this comment](https://github.com/ansible-collections/community.vmware/pull/1010#issuecomment-924295225) and following).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_drs_group
vmware_drs_group_facts
vmware_drs_group_info
vmware_host_passthrough
vmware_vm_host_drs_rule

##### ANSIBLE VERS

[2021-09-22 06:33] Akasurde commented on #1045
@mariolenz Thanks for reporting this. Let me know if you are working on any one of these.

[2021-09-22 08:28] vzovko commented on #994
I have the same issue.

I noticed in vCenter 7 MOB that the property `portgroup` is empty and this is the property that is read by the module.
https://github.com/ansible-collections/community.vmware/blob/3e1a0dbf36cc2472f7c390a6a702ac6fbaf9d5fb/plugins/modules/vmware_vmkernel_info.py#L162

I think the portgroup name has to be looked up via the `vnic.spec.distributedVirtualPort.portgroupKey` and `v

[2021-09-22 11:00] mariolenz commented on #1045
@Akasurde I've started to work on this: #1046

[2021-09-22 15:17] nasgust opened #1047 "vmware_cluster_info: InvalidProperty lifecycleManaged"
##### SUMMARY
vmware_cluster_info returns an error:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_cluster_info

##### ANSIBLE VERSION

[code]

##### PYVMOMI VERSION
[code]

##### COLLECTION VERSION

[code]

VSPHERE API VERSION:
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Standard module output

[2021-09-22 17:26] cscal commented on #1008
Yes, this worked, thank you! I feel like this must be a somewhat common use case in large datacenters, and should be added in the documentation somewhere.

[2021-09-22 17:31] mariolenz commented on #1045
I think #1046 is ready for review now. Could you please have a look at this PR?

[2021-09-23 05:57] #1045 closed

[2021-09-23 08:03] ignaziocassano1 commented on #373
I have just upgraded from vmware 6 to 7 and I got same issues.
I also tried to update pyvmomi but it does not solve..
Please reopen this bug .
Ignazio

[2021-09-23 08:06] ignaziocassano1 commented on #373
The above issues happens if  more than 1 disk or nic is requested.
Ignazio

[2021-09-23 08:17] sky-joker commented on #1047
Thanks, @nasgust for reporting this issue.

If you want to use the vsphere schema, the properties parameter also needs.
The following is a sample playbook to get cluster name with properties parameter.

[code]

I think it's a bug that the error happens, so I'll fix it.

[2021-09-23 10:45] #1009 closed

[2021-09-23 13:23] carceneaux commented on #373
@JohnyGemityg @ignaziocassano1 Did you try my sample playbook above?

I'm believe this new behavior is by design in vSphere 7. From what I've gathered, the `vmware_guest` module is pretty large and hard to maintain and this was a decision to not support adding/updating HDs to a VM during the clone process.

The biggest pain for me was updating my inventory as I had to separate my disks variable (`

[2021-09-23 14:30] JohnyGemityg commented on #373
Yes. I did and it works. Thank you. I just wanted to notice the issue in vmware_guest still persists.

[2021-09-23 16:33] ignaziocassano1 commented on #373
Hello, any solution for vmnics?
The issue appears when I have one disk only and more than one vmnic as well.
Ignazio

[2021-09-23 16:57] goneri commented on #1008
@cscal would you like to open a PR to improve the documentation of the inventory plugin?

[2021-09-23 17:19] mariolenz commented on #373
@ignaziocassano1

As far as I can see, you're using ansible 2.9.10. Do you use the modules from this ansible version or do you use a (preferably) current version of this collection?

2.9 is quite old and will only get _security_ patches. Please update to a current version of ansible or at least install a current version of this collection.

Not to put too fine a point on this, but if you insist on

[2021-09-23 17:38] ignaziocassano1 commented on #373
Hello, thanks for your help. Tomorrow I will upgrade ansible on ubuntu 20.04. Which version you suggest ?
Ignazio

[2021-09-23 22:21] danner26 commented on #725
@goneri where are you getting `vcenter_host_fact ` from?

[2021-09-23 22:24] goneri commented on #725
The module is now call `vmware_host_info`.

[2021-09-23 22:35] danner26 opened #1048 "vcenter_host_info - Specific info on all hosts, or a defined group of hosts, within vCenter"
##### SUMMARY
I am in the process of developing a playbook that needs to acquire a list of all hosts that exist in the vCenter server. I specifically would like to use the REST API `/vcenter/host` API which provides `filter.standalone` and `filter.datacenters`. I am able to acquire the cluster hosts via `vmware_cluster_info` but it appears that there is no built in way to acquire all hosts that do

[2021-09-23 22:43] danner26 commented on #725
@goneri ah I see, could you link that other collection? I cannot seem to find it - probably having a brain fart.. been a long day. Anyway I'd appreciate it if you could link that collection.

[2021-09-24 05:15] mariolenz commented on #373
As with all software, the latest version will get you the latest features and fixes. But possibly also some new bugs ;-)

I'm not 100% sure but I think we've fixed this specific issue in version 1.6.0 of this collection, which is part of ansible 2.10.5 and later.

Of course, you could also stay on 2.9.10 and try to install a newer version of this collection via `ansible-galaxy`.

[2021-09-24 06:16] sky-joker commented on #1047
I seem that this issue probably is a bug of SDK(pyvmomi).
I found same the issue in the pyVmomi issues.

https://github.com/vmware/pyvmomi/issues/905

[2021-09-24 06:39] sky-joker opened #1049 "vmware_vcenter_settings_info: Python error has occurred when the schema is vsphere"
##### SUMMARY

Python error has occurred when the schema is `vsphere` and does not specify `properties` parameter.
This issue is a bug, so I'll make a patch to fix it.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

vmware_vcenter_setting_info

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

latest

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

vCenter/ESXi 7.0

##### STEPS

[2021-09-24 07:15] sky-joker commented on #1049
resolved_by_pr https://github.com/ansible-collections/community.vmware/pull/1050

[2021-09-24 08:41] mariolenz opened #1051 "CI fails with License not available to perform the operation"
@goneri I think I remember this issue. Did you fix it by recreating the ESXi images or something?

cc @Akasurde @sky-joker

[2021-09-24 08:45] mariolenz commented on #1051
It's the vCenter, not the ESXi: #979

[2021-09-24 08:45] #164 closed

[2021-09-24 10:03] ignaziocassano1 commented on #373
Hello, Mny thanks.
It works with a newer ansible

[2021-09-24 16:43] goneri commented on #1051
Oh, thanks. I'm working on that.

[2021-09-24 19:11] mariolenz commented on #1051
@goneri Do you think we could automate this somehow? At the moment, the situation is a bit annoying because a) **you** need to remember recreating the vCSA template in time and b) it looks like you're a single point of failure.

[2021-09-24 23:09] goneri commented on #1051
This is also something I want to do. But yes, it's a bit tricky to automate.

[2021-09-25 16:12] mariolenz commented on #1051
CI is working again, thanks @goneri!

[2021-09-25 16:13] mariolenz commented on #1051
resolved_by_pr ansible-network/windmill-config#887

[2021-09-25 16:13] #1051 closed

[2021-09-26 09:57] Tomorrow9 opened #1052 "Add support configuring Key Management Servers on vCenter"
##### SUMMARY

On vSphere 6.7 and 7.0, from vCenter -> Configure -> Key Management Servers/Key Providers, we can add standard KMS servers/Key providers. On vSphere 7.0.2, we can add "Native Key Provider" when there is TPM device on ESXi host.

Support this Key Provider configuration, we can use it to do VM encryption or add vTPM device to VM.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

[2021-09-26 10:28] Tomorrow9 opened #1053 "Add a new module for adding vTPM to existing VM"
##### SUMMARY

vmware_guest module is too heavy for configuring new VM or existing VM. So add a new module for adding vTPM device to VM, if guest OS requests TPM device, then we can create a new VM using vmware_guest module, and add vTPM device to this VM using vmware_guest_tpm module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_guest_tpm

##### ADDITIONAL INFORMATION

[code]

[2021-09-26 15:03] mariolenz commented on #502
@Akasurde I think this is something we have in other parts of the code, too. When searching for an object, we often return the first item that matches. For example here:

https://github.com/ansible-collections/community.vmware/blob/33a15f851b0a50da5920713018172f1b2daf1ebb/plugins/module_utils/vmware.py#L201-L215

I think it would be better to fail the module if a search returns more than one objec

[2021-09-26 15:04] #1029 closed

[2021-09-26 15:37] #1049 closed

[2021-09-26 16:26] mariolenz commented on #32
@Akasurde Do you think this issue and #502 are related? This one is about two portgroups with the same name in different dvSwitches, that one is about two portgroups with the same name in a vSwitch and a dvSwitch.

It's possible there's the same root cause.

[2021-09-27 06:58] Akasurde commented on #1048
@danner26 Thanks for reporting this issue. SOAP API does not provide such information.

cc @mariolenz @sky-joker @Tomorrow9  Let me know if you know any API to achieve this functionality.

needs_info

[2021-09-27 10:03] Akasurde commented on #1043
@aj-cruz Could you please check if #1055 solves your problem and let me know? Thanks.

[2021-09-27 16:10] mariolenz opened #1056 "Breaking changes, major versions and ansible project"
@Akasurde @goneri @sky-joker We have a lot of modules (all `*_facts` modules and `vmware_vmkernel_ip_config` as far as I can see) plus the `portgroup_type` parameter of `vmware_dvs_portgroup` with a `removed_at_date` of 2021-12-01.

I consider removing ~~this~~ these a breaking change. So we should move to a new major version 2 after doing this.

However, the [roadmap](https://docs.ansible.com/ans

[2021-09-27 17:14] mariolenz commented on #1056
@Akasurde @goneri @sky-joker

Btw, there are a lot of parameters in `vmware_cluster` that I've declared `deprecated option, will be removed in version 2.12` long before moving the modules to this collection. I think it's time to get rid of them, too.

[2021-09-28 06:49] MalfuncEddie commented on #1006
Can anyone with more gravitas in this repo comment on this.
I just want to know if this is a bug, works as designed or wontfix.
In my case I have a clean up task is the vm exists before launching a ovf deploy, so I have a work around.

[2021-09-28 13:54] goneri commented on #1056
Hi @mariolenz,

Thank you for raising the topic.

I don't understand this statement. We can release the current community.vmware with Ansible 5, open up a stable-1 branch in December to continue the support of 1.x. And continue with 2.x on main.

[2021-09-28 15:09] sky-joker commented on #1048
I'll try looking for how to do something.
Maybe SOAP API can also achieve the same thing with REST API by making a filter or new module.

[2021-09-28 15:13] sky-joker commented on #1048
Or maybe it’s better this feature requests to the [community.vmware_rest](https://github.com/ansible-collections/vmware.vmware_rest).

[2021-09-28 15:20] nasgust commented on #1047
Thanks @sky-joker, unfortunately pyvmomi issue is open for 3 months without any response.

[2021-09-28 15:52] mariolenz commented on #1056
Sorry @goneri, I think I didn't make myself clear. I thought we could do the breaking changes a bit sooner in order to get version 2 into Ansible 5. This way, we would have needed to support 1.x only for the lifetime of Ansible 4, not for 5 also.

But now I see that removing those modules before the announced `removed_at_date` would suck.

OK, so we'll release 1.16 (including `*_facts` modules and

[2021-09-28 16:37] goneri commented on #1056
Thank you for the clarification. Both strategy works for me, @sky-joker, @Akasurde. What do you prefer?

[2021-09-28 18:26] mariolenz commented on #739
@ihumster

A breaking change means we're talking about version 2 of this collection, which won't be part of Ansible 5 (see #1056).

So you'll have to wait for Ansible 6. Or, alternatively, use this collection directly in version 2 via ansible-galaxy.

cc @goneri

[2021-09-28 18:29] danner26 commented on #1048
Hey there, yes someone else mentioned that. I am giving that a shot in the coming days to see if that will work. I will get back to you soon!

[2021-09-28 18:37] mariolenz commented on #1056
@Akasurde @sky-joker Apart from this question, I have another one: Do you see any other breaking changes we should implement in version 2 of this collection? I've found #739 but maybe there are more.

@goneri Actually, I think this would be a good reason to release version 2 in January. This would give us more time to implement backwards-incompatible changes. If we release version 2 2021-12-01, we

[2021-09-29 05:23] #869 closed

[2021-09-29 07:00] Akasurde commented on #1056
I agree with @mariolenz (we doing version 2 on January).

[2021-09-29 07:53] sky-joker commented on #1056
I agree with @mariolenz, too.

[2021-09-29 15:48] mariolenz commented on #1056
Thanks @Akasurde @goneri and @sky-joker for sharing you opinion!

[2021-09-29 15:48] #1056 closed

[2021-09-29 15:53] gcblack opened #1058 "Add 'customization_spec' to 'community.vmware.vmware_content_deploy_ovf_template'"
##### SUMMARY

Add 'customization_spec' to 'community.vmware.vmware_content_deploy_ovf_template'

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

community.vmware.vmware_content_deploy_ovf_template

##### ADDITIONAL INFORMATION

Enables an easy way to set hostname, change nds servers, etc.

[code]

[2021-09-29 19:44] git-cgallagher opened #1059 "Feature: vmware_guest_tools_upgrade to be applied without forcing reboot"
##### SUMMARY

vmware_guest_tools_upgrade should support shutdown as an option

##### ISSUE TYPE
- Feature Idea
- Users may wish to apply the latest vmtools without rebooting immediately.

##### COMPONENT NAME

- https://github.com/ansible-collections/community.vmware/blob/main/plugins/module_utils/vmware.py#L968

##### ADDITIONAL INFORMATION

- This allows the flexibility to set the desired state

[2021-10-01 13:56] JoschuaA4 opened #1061 "vmware_dvs_portgroup configure Failback"
##### SUMMARY
vmware_dvs_portgroup should be able to configure Failback for Teaming and failover

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
https://github.com/ansible-collections/community.vmware/blob/main/plugins/modules/vmware_dvs_portgroup.py

##### ADDITIONAL INFORMATION
This adds the ability to configure the Failback for the uplink devices on the portgroup.

---
- name: configure

[2021-10-03 05:29] sky-joker commented on #1059
Thanks, @git-cgallagher for requesting the feature.

As far as I understand, that the module doesn't automatically reboot a virtual machine after updating the guest tools.
I tried in the following environment.

* vCenter/ESXi 6.7

I’d like to confirm, is this requesting for adding reboot processing to the module?

[2021-10-03 14:31] sky-joker opened #1064 "vmware_deploy_ovf: Python errors are displayed if not exist path of ovf file"
##### SUMMARY

In the module, if not exist a path of ovf file, python errors are displayed, not correct error(fail_json).
The following are that errors.

[code]

I will add an error handling to fix it to the module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_deploy_ovf

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

latest version

##### CONFIGURATION

[code]

##### OS

[2021-10-03 15:08] sky-joker commented on #1064
resolved_by_pr https://github.com/ansible-collections/community.vmware/pull/1065

[2021-10-04 13:46] sky-joker commented on #1047
@nasgust

Yes :(
I have tried several ways against the module to resolve this issue, but I can't resolve it yet.
What I found out while trying is that if an object has an invalid property, the property can't remove from the object. (the property read-only)
(I thought that the object can parse to JSON by removing the invalid property from the object, but...)

So the error occurs every time when par

[2021-10-04 14:25] #1064 closed

[2021-10-05 03:07] git-cgallagher commented on #1059
@sky-joker It's been awhile since I tested it, I'll try something in my lab and just confirm. Perhaps then we just need to update documentation in the module readme.
`This module upgrades the VMware Tools on Windows and Linux guests and reboots them.`

[2021-10-05 07:58] dfoley84 opened #1066 "Change ESXi Root password via vCenter"
##### SUMMARY

Currently, Users have the ability to use the community.vmware.vmware_local_user_manager which only changes the password from the ESXi Host itself, if the Host is connected to vCenter connection is lost, unless you reconnect the ESXi Host

You have the ability to change passwords via PowerCLI using the Set-VMHostAccount

##### ISSUE TYPE
- Feature Idea
Change ESXi Root password via v

[2021-10-05 08:51] Akasurde commented on #1066
!component =plugins/modules/vmware_local_user_manager.py

[2021-10-05 14:01] commputethis opened #1067 "Feature request: Add ability to modify vm migrateencryption attribute"
##### SUMMARY

Add ability to set vMotion Encryption attribute. The options for this attribute are 'opportunistic', 'required', or 'disabled'.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_guest_custom_attributes

##### ADDITIONAL INFORMATION

![image](https://user-images.githubusercontent.com/17625274/136038244-6a98cbf9-eea5-4c8c-a0b8-e5616b7e2952.png)

[code]

[2021-10-05 14:57] sky-joker commented on #1059
Hi @git-cgallagher
Are you interested in making PR to resolve if updating the document needs?

[2021-10-05 19:36] commputethis commented on #1067
I edited the component name, but doesn't seem to affect anything

[2021-10-05 21:36] #1067 closed

[2021-10-05 21:39] commputethis opened #1069 "Feature Request: Add ability to set vm migrateencrypt attribute"
##### SUMMARY

Add ability to set vMotion Encryption attribute. The options for this attribute are 'opportunistic', 'required', or 'disabled'.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_guest_custom_attributes

##### ADDITIONAL INFORMATION

![image](https://user-images.githubusercontent.com/17625274/136038244-6a98cbf9-eea5-4c8c-a0b8-e5616b7e2952.png)

[code]

[2021-10-05 23:32] VDI-Tech-Guy opened #1070 "community.vmware.vmware_dvs_host adding pNIC inverted (starting at Uplink 4)"
##### SUMMARY
When using the community.vmware.vmware_dvs_host to create and add uplinks to Distributed vSwitch (4 uplinks) when PNICs are added they are added at Uplink 4 for VMNIC0, Uplink 3 for VMNIC1, ....

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.vmware.vmware_dvs_host

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS /

[2021-10-07 15:12] liamwh opened #1071 "vmware_dvs_portgroup is not idempotent"
##### SUMMARY
vmware_dvs_portgroup is not idempotent and ansible is trigging a reconfigure task in vCenter.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.vmware.vmware_dvs_portgroup

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running Ansible from rhel8

vSphere Client version 7.0.2.00500

![image](https://u

[2021-10-14 20:30] jedimt opened #1078 "module_defaults does not honor vmware group"
##### SUMMARY
I cannot get Ansible 2.11 to correctly use the vmware group with `module_defaults` as described [here](https://docs.ansible.com/ansible/latest/user_guide/playbooks_module_defaults.html#module-defaults-groups).

##### ISSUE TYPE
- Bug Report
-
##### COMPONENT NAME
community.vmware collection

##### ANSIBLE VERSION
[code]

##### COLLECTION VERSION
[code]

##### CONFIGURATION
[code]

##

[2021-10-15 00:54] unreality opened #1079 "Allow specifying VM UUID instead of vm_path to find VM"
##### SUMMARY
Instead of requiring vm_path, it would be useful to be able to specify the VM BIOS (or instance) UUID to find the VM.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware.connection.vmware_tools

##### ADDITIONAL INFORMATION

UUID is unique and useful if available and we dont want to concern ourselves with paths.

Some hacky pseudo-code to accomplish this:

[code]

[2021-10-17 13:46] profhase opened #1081 "vmware_content_deploy_ovf_template lacks idempotency"
##### SUMMARY
Running the module twice yields the following error:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
 community.vmware.vmware_content_deploy_ovf_template lacks idempotency

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Run the example twice
[code]

##### EXPECTED RESULTS
First time

[2021-10-20 17:21] mariolenz commented on #103
@goneri Is this still an issue? I don't think I've seen tests failing because of `Cannot complete login due to an incorrect user name or password` during the last months. Do you think we can close this?

[2021-10-20 18:08] mariolenz commented on #759
@goneri I don't think I've seen tests failing because of this during the last months. Do you think we can close this issue?

[2021-10-20 18:18] #1003 closed

[2021-10-20 20:46] goneri commented on #103
Yes, we can close this one. Thanks @mariolenz.

[2021-10-20 20:46] #103 closed

[2021-10-20 22:24] #759 closed

[2021-10-22 14:37] mariolenz opened #1083 "vmware_host_lockdown crashes on failure"
##### SUMMARY
Today, I wanted to enable lockdown mode on a host. This failed, although I didn't find out yet why. But that's not important. The bug is that the module includes `vim` from `pyvmomi` instead of `pyVmomi` and doesn't check that this works:

https://github.com/ansible-collections/community.vmware/blob/f418bdaa6a678c09b6fb9115d927d8c44d50060f/plugins/modules/vmware_host_lockdown.py#L123

[2021-10-24 01:38] prw9913 commented on #233
Does anyone have any insight here?  I'm having similar problems.
My playbook works perfectly on Linux 7 (7.9), but the networks is not adding IPs, gateways or anything network related for my Linux 8 templates.

For reference I'm using Oracle Linux 7 and 8.  Oracle Linux 7 works...8 does not.

I've tried both vmware_guest and community.vmware.vmware_guest

[2021-10-25 07:05] #1083 closed, assigned to mariolenz

[2021-10-26 22:38] exp-hc opened #1086 "vmware_cluster_info - Remove datacenter requirement"
##### SUMMARY
Remove the requirement for cluster or datacenter from the vmware_cluster_info module

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
I have frequently find the need to get information from all clusters in an environment. Requiring a separate task to get the datacenter objects/names first is a pain.

##### ADDITIONAL INFORMATION
As mentioned, this is more for ease of use when y

[2021-10-27 18:39] #1078 closed, assigned to nobody

[2021-10-28 16:26] scottd018 opened #1088 "Add VMware vCenter Upgrade Module"
##### SUMMARY

Add a module that will allow users to upgrade VMware vCenter appliances.  I have a working POC for the module located at https://github.com/scottd018/ansible-vmware-vcenter-upgrade.  I wanted to gauge interest if this would be able to be supported by the community.  The one problem I foresee is support for testing as the API and versions progress, which could be challenging.

#####

[2021-10-29 21:47] jdranchman commented on #902
My current workaround is to set the vcenter vm name to the DNS entry of the interface I want to talk to via ansible (and use config.name). OK for me but not optimal for the admittedly few vm's that are sitting on several distributed switches. It would be way easier to filter using something like the '| select' that @cscal above tried - or better yet a parameter specifying a substring pattern to ma

[2021-11-01 08:32] zappbrannigan34 commented on #1008
@cscal how you set compose?

[2021-11-01 11:42] matthieup commented on #40
Bump.

[2021-11-01 12:41] aj-cruz commented on #1043
@Akasurde  @mariolenz  Sorry, for some reason I didn't receive notification of a message until the pull request was approved. I'll test this today. Thanks.

[2021-11-01 14:06] Krioks opened #1090 "vmware_guest crate/delete VM in another folder"
##### SUMMARY
I have the following virtual machine structure:
└───Project
    ├───aaa1
    ├───aaa111
    │               test1
    └───aaa1111

And when I want to create a virtual machine with name **test1** in the **aaa1** folder, I get the following problem:
The virtual machine is created (customized) in the **aaa111** folder, instead of the **aaa1** folder.

Another problem:
When I try to dele

[2021-11-02 06:15] #1043 closed

[2021-11-04 14:15] roadfox opened #1093 "community.vmware.vmware_guest_disk not idempotent for windows systems"
##### SUMMARY
community.vmware.vmware_guest_disk is not idempotent for windows systems
while it is for linux

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.vmware.vmware_guest_disk

##### ANSIBLE VERSION
[code]

##### COLLECTION VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Debian10
CentOS8
Windows Server2019

##### STEPS TO REPRODUCE
run the following task aga

[2021-11-10 06:42] lydiym commented on #1090
I have the same problem in 1.15.0 version

[2021-11-10 07:34] tejaswi-bachu commented on #1044
@Akasurde & @JayBeeCee - I've submitted a pull request - 1103 to support this feature. Please verify.

[2021-11-10 17:24] mariolenz commented on #1044
If you add a '#', like #1103, you'll automatically get a link to your PR ;-)

This isn't really necessary, but makes it a bit easier to navigate to the PR from here.

[2021-11-10 19:48] MallocArray commented on #1088
This is certainly a needed module

[2021-11-10 21:37] ifelsefi opened #1109 "vmware_guest - network not attached upon vm poweron - 7.0U2d"
##### SUMMARY

Hi, my code has not changed for several months.

Unfortunately now VMs do not have their networks attached upon power on.

You see in Ansible my task sets:

[code]

Yet networks do not attach after power up unless I do that manually with my mouse in VCenter.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[

[2021-11-10 21:54] goneri commented on #902
This looks like a dup with https://github.com/ansible-collections/community.vmware/issues/1008.

[2021-11-10 22:29] ifelsefi commented on #1109
So I gathered network data by running `vmware_guest_network` with `gather_network_info: true` using the same key values I set for attaching the nic with `vmware_guest`:

[code]

Notice `connected: false` and `start_connected: false` which is the opposite of what I set.   So those are being rejected by VCenter given I am sending them with Ansible?

[2021-11-11 04:50] Akasurde commented on #1044
resolved_by_pr #1103

[2021-11-11 05:01] Akasurde commented on #1088
I feel the same. Feel free to open a new PR and let us get it reviewed. What do you think @sky-joker @goneri @mariolenz @tejaswi-bachu @Tomorrow9?

[2021-11-11 08:29] marschaef opened #1111 "community.vmware.vmware_vm_inventory - "runtime.host" has not the correct name"
##### SUMMARY
vmware inventory shows the internal name of vmware and not the correct name.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.vmware.vmware_vm_inventory

##### ANSIBLE VERSION
[code]

##### COLLECTION VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Red Hat Enterprise Linux Server release 7.9 (Maipo)

##### Config of vmware
[code]

##### STEPS TO REPRO

[2021-11-11 10:07] lydiym opened #1112 "Folders search collision in vcenter_folder module"
##### SUMMARY
Hi, thanks for great collection.

I have a collision problem when i try to delete folder via `vcenter_folder` module. The collision causes deletion of wrong folder.

I think the problem in recoursive behavior in get_folder function:
https://github.com/ansible-collections/community.vmware/blob/401f9e1e634dc55f48c0f72436b684d3bd21d65e/plugins/modules/vcenter_folder.py#L276

##### ISSUE

[2021-11-11 12:06] sky-joker commented on #1088
Thanks for requesting a new module!

I think it is a useful module if there is one.
But, I look that the module is required vCenter REST API, not SOAP API.
I'm not sure, maybe it might be better to request to [vmware.rest_vmware](https://github.com/ansible-collections/vmware.vmware_rest).
If vmware.rest_vmware maintainers can't handle the module requesting, I think it's ok that we will handle it h

[2021-11-11 14:59] hadfiiw commented on #501
Any idea if this fix is being added?  Is there a roadmap by chance?  Thanks

[2021-11-12 09:27] BaryaPS commented on #1109
Have the same issue

[2021-11-12 13:14] goneri opened #1114 "CI: vmware_host_facts fails with vSphere 7.0.3"
##### SUMMARY

`vmware_migrate_vmk` tests fail because of this error during `vmware_host_facts`:

[code]

##### ISSUE TYPE
- Bug Report

[2021-11-12 21:19] goneri opened #1118 "vmware_migrate_vmk: tests fail with 7.0.3"
##### SUMMARY

I get this failure:

[code]

[2021-11-13 18:32] goneri opened #1120 "vmware_host_tcpip_stacks/tests break host network configuration"
##### SUMMARY

With vcenter 7.0.3, the vmware_host_tcpip_stacks tests break the
IPv4 configuration of the node. We must preserve the original
gateway or the node become unreachable.

See: https://9f6249684dbca3f269bd-b5dfc8e1a8b1871b232cb0142d3e37c5.ssl.cf5.rackcdn.com/1101/a22fda4f98f6cc0277579dddcfd2f6bf4338e6ca/check/ansible-test-cloud-integration-vcenter7_1esxi-python36-stable211_2_of_2/b220e1

[2021-11-13 21:45] goneri opened #1122 "vmware_host_package_info fails to retrieve packages"
##### SUMMARY

vmware_host_package_info fails to retrieve the package list and raise an exception.
vSphere: 7.0.3

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_host_package_info

[2021-11-15 04:45] Akasurde commented on #896
Closing this as there is no response from the reporter. Please feel free to open a new issue if the problem persists. Thanks.

[2021-11-15 04:45] #896 closed

[2021-11-16 18:29] mariolenz commented on #846
@sky-joker @Tomorrow9 I didn't find a way to find out if the HW version of a VM could be updated or not. Do you have an idea how to do this?

@Akasurde If we don't find a way to do this, I think we should close this issue. If it can't be done, there's no reason to keep this open.

[2021-11-16 19:08] MalfuncEddie commented on #1081
Is this the same as #1006 ?

[2021-11-17 08:01] #1044 closed

[2021-11-17 10:29] andrewsav-bt commented on #361
VMWare own powercli retreive VMs by name regardless of case, e.g. both `Get-VM name` and `Get-VM NAME` work. I would expect the same from the vmware modules.

[2021-11-17 10:48] DoktorByte opened #1134 "Support multiple tags in module community.vmware.vmware_vm_storage_policy"
##### SUMMARY
We use tag-based storage policys with more than one tag category.
At the moment the module can only assign one tag with one category.
Multiple tags are needed as in the example below:

[code]

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
community.vmware.vmware_vm_storage_policy

[2021-11-17 11:50] sky-joker commented on #846
Unfortunately, I also looked for the way, but I didn’t find it.

**FYI**
https://communities.vmware.com/t5/VMware-PowerCLI-Discussions/How-to-get-a-list-of-all-supported-virtual-hardware-versions-via/td-p/523121

[2021-11-17 12:02] Akasurde commented on #846
@mariolenz Sure.

[2021-11-17 17:37] mariolenz commented on #1134
This would mean you can specify that you require either the presence or the absence of _both_ tag1 and tag2.

[code]

This would allow you to define that tag1 should be absent and tag2 should be present. Wouldn't this be better?

Sorry if this sounds like a stupid question to you, I don't even know if it's possible to do this in a storage policy. I don't use storage policies much... but if it is p

[2021-11-17 18:07] mariolenz commented on #846
@MalfuncEddie I'm sorry, but we didn't find a way to get the latest supported version that is possible in the API. Not only in the VirtualMachine object, but I've also looked in HostSystem and ComputeRessource because I hoped to find a list of supported VM HW versions. This way, we could have checked if the host supports a higher version than the current one. But: Nothing.

I don't know how vCente

[2021-11-17 18:07] #846 closed

[2021-11-18 09:01] DoktorByte commented on #1134
I do not need the possibility to configure absent or present per tag.

In the GUI there is definitely the possibility to use multiple tags in one storage policy. See screenshot:
![grafik](https://user-images.githubusercontent.com/58031943/142384051-00fd98d9-e4da-44c9-9c48-5868ab568729.png)

[2021-11-18 18:42] ifelsefi commented on #1109
Hi @BaryaPS what version of VCenter are you running?   We did a minor upgrade from `7.0U2C to 7.0U2d` so I am wondering if this could be related.

[2021-11-19 10:24] BaryaPS commented on #1109
We are using vCenter version 7.0.2
Build 18356314

[2021-11-23 22:11] lingfish commented on #1071
Hi, I had this issue too, and explicitly specifying `port_allocation: elastic` resolved it.

[2021-11-23 22:27] lingfish opened #1136 "vmware_dvs_portgroup The number of ports cannot be configured when port allocation is set to 'elastic'"
##### SUMMARY
When using this:
[code]

The module says:

```msg: The number of ports cannot be configured when port allocation is set to 'elastic'.```

I believe you _can_ have both elastic and specify ports, as the UI lets me do that.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`vmware.vmware_dvs_portgroup`

##### ANSIBLE VERSION
[code]

##### COLLECTION VERSION
[code]

##### CONFIGURATI

[2021-11-23 22:52] lingfish commented on #1071
By the way, the exact same thing happens when specifying `network_policy`.

[2021-11-25 11:24] ebkde commented on #479
Please considder reopening this issue. I can confirm the behavior @julie-blake-verizon is describing and can verify it in my own environment. Additionally I can confirm, that the patch @ghernandeza proposed in https://github.com/ansible-collections/community.vmware/issues/479#issuecomment-829119631 is working.

[2021-11-25 16:31] ebkde commented on #479
thank you for reopening. I created a pull request to adress this --> https://github.com/ansible-collections/community.vmware/pull/1137

[2021-11-29 19:06] mariolenz commented on #479
I think this issue has been resolved by #1137. Please re-open it or open a new one if you think otherwise.

[2021-11-29 19:50] mariolenz commented on #1136
What vSphere version are you running? We're on 7.0U2something and I'm quite sure the UI doesn't allow setting the number of ports if you choose elastic port allocation.

Anyway, I don't understand why you even want to do this. If you want exactly 8 ports, use `port_allocation: fixed`. If you define `port_allocation: elastic`, you want vCenter to automatically increase or decrease the number of por

[2021-11-29 23:02] lingfish commented on #1136
I'm running 6.7.0 Build 18485185.  I'm quite sure this version allows it, because I just did it.

I don't.  I have upgraded from 2.9 to 2.11.6, and with over 186 DV PGs, I'm seeing changes all of a sudden where I didn't previously.

Your module isn't idempotent it would seem for me now, and diff mode isn't all that helpful in working out what specifically the module thinks it needs to change.  I'v

[2021-11-30 14:55] sky-joker commented on #1066
Thanks, @dfoley84 for requesting the new feature.
I'll look for a way to realize the feature.

[2021-11-30 15:25] sky-joker commented on #1066
I found a way that changes a password for a local user in ESXi via VCSA, so I’ll work on making a new module.

[2021-11-30 15:47] mariolenz commented on #1066
@sky-joker That's really good news! I've tried to do this some years ago but didn't find a way. I think this would be a really useful feature.

Did you consider implementing this in ``vmware_local_user_manager`` instead of creating a new module? This would be more consistent because we usually don't have a module to do something through vCenter and another module to do it directly on an ESXi host.

[2021-11-30 18:03] Sispheor commented on #1032
Same here with Ansible 2.11.6 and the `vmware_guest` module.
[code]

The job is executed, the VM created and so the task is successful but I always get ""could not find job" message.

[2021-12-01 10:26] shenxg13 opened #1138 "vmware_guest_network failed returns 'NoneType' object has no attribute 'network' with vSphere 6.0"
##### SUMMARY
vmware_guest_network returns 'NoneType' object has no attribute 'network'

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest_network

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[root@kube00 playbooks]# cat /etc/centos-release
CentOS Linux release 7.8.2003 (Core)

##### STEPS TO REPRODUCE

just

[2021-12-01 11:49] liamwh commented on #1071
@mariolenz apologies for the delay! Indeed specifying `port_allocation: elastic` solved the issue.

[2021-12-01 13:21] Sispheor commented on #1032
Same with version 1.12.

[2021-12-01 14:21] Sispheor commented on #1032
And sometime I have no idea why but is passes.

I tried to add a small pause before checking the async status.
I tried as well to play with the async delay and pool value.

[2021-12-01 14:22] sky-joker commented on #1066
@mariolenz

Thanks for your comment.
Sure, I also thought about refactoring the module, but the module is supported ESXi only that I think need re-writing 50% over of code in my estimate if it will support VCSA.
Also, I have a concern about supporting VCSA in the module.
If the module will support VCSA, need esxi_hostname parameter and a condition whether existing it.
I worry that it will probably

[2021-12-01 14:33] sky-joker commented on #1066
Of course, If it is better to refactor the module, I can do it :)

[2021-12-01 15:58] rdzielicki commented on #885
hello, seem having same problem in AWX 14.

[2021-12-01 16:26] mariolenz commented on #1066
@sky-joker

Good point.

Sounds like a good idea. In the long run, we'll have only one module to manage local users. That's all I wanted :-)

Now that I think about it, your plan has another benefit. A major re-factoring of ``vmware_local_user_manager`` might introduce some subtle bugs or incompatibilities. Your way means we won't run into this because we don't touch ``vmware_local_user_manager``.

[2021-12-01 17:05] Sispheor commented on #1109
Not working as well during VM creation.
I get this error:
[code]

If I re-run the playbook the VM is well configured.

vCenter  Version:	7.0.3
Build:	18778458

[2021-12-01 19:05] mariolenz commented on #1138
As far as I know, vSphere 6.0 is more or less dead since [March 12, 2020](https://kb.vmware.com/kb/66977). If even VMware doesn't want to have anything to do with this version, I don't think we should invest time to support it.

cc @Akasurde @goneri @sky-joker

[2021-12-01 19:05] #1138 closed

[2021-12-02 10:23] afarresg opened #1139 "[question] vmware_tag_manager: Unreachable"
##### SUMMARY
Hello. I can successfully create VMs with vmware_guest; however, when trying to add tags with vmware_tag_manager, I'm unable to. I receive an "Unreachable" error. Looking at the fields that one specifies in both of them, I noticed that _datacenter_ and _resource_pool_ are specified in vmware_guest but not in vmware_tag_manager. What I have is roughly this:

[code]
How would I go abou

[2021-12-02 13:42] aaronk1 commented on #795
This works fine, we use it all the time in on premise and VMware on AWS datacenters. Are you able to manually clone same template between the mentioned clusters?

[2021-12-03 14:48] BryanEaay commented on #907
Hi, I'm coming back for some news on this topic.

I've finally been able to get the oupt you asked me 👍

[code]

[2021-12-06 08:53] #1017 closed

[2021-12-07 07:25] SeiketsuJael opened #1142 "Please change tag names from str to list for vmware_vm_storage_policy"
##### SUMMARY

vmware_vm_storage_policy module does not accept multiple tag names but it is possible when we try to create a storage policy via custom pyvmomi script or via vSphere Gui.
##### ISSUE TYPE
- make tag_name a list type instead of str

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

<!--- HINT: You can also paste gist.github.com links for larger files --
Please see attached

[2021-12-07 16:05] mariolenz commented on #739
@ihumster We're planing to release version 2 soon. A new major release allows us to do breaking changes. So I've started to work on this: #1145

[2021-12-07 20:51] coreydeli opened #1146 "vmware inventory pluging not functioning"
##### SUMMARY
When running an inventory in Ansible in AWX 19.5.0 you recieve an error not allowing you to go forward and pull the inventory

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.vmware.vmware_vm_inventory

##### ANSIBLE VERSION
AWX 19.5.0

##### COLLECTION VERSION
1.17

##### STEPS TO REPRODUCE
Run any inventory sync

##### EXPECTED RESULTS
Inventory populates

##### ACTUA

[2021-12-07 22:50] mdinwoodie opened #1147 "vmware_guest module removes `-` from hostname"
##### SUMMARY
When provisioning a VM with the vmware_guest module that contains a `-` in the name parameter (i.e. "ansible-test"), the VM is created with a name that does not contain the `-` (i.e. "ansibletest") when viewing the system information on the host itself.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest.py

##### ANSIBLE VERSION
[code]

##### STEPS TO REPRODUCE
Using a

[2021-12-08 16:08] Akasurde commented on #1146
@Iwifia Thanks for reporting this issue. Please see this error

[code]

Could you please check if `vsphereserver.my.domain.com` is reachable?

[2021-12-08 16:09] Akasurde commented on #1142
@SeiketsuJael Thanks for reporting this feature.

[2021-12-09 14:55] mariolenz commented on #1071
I'm trying to fix this. Would it be possible for you to [test](https://github.com/ansible-collections/community.vmware/blob/main/testing.md) PR #1150?

[2021-12-10 10:39] SeiketsuJael opened #1152 "vmware_guest: unkown datastore_name"
##### SUMMARY

The module still creates the virtual machine even with a wrong datastore name and the autoselect_datastore is set to no.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The expected result is for the modu

[2021-12-11 15:35] mariolenz commented on #1147
Do you use this collection, or do you use the ``vmware_guest`` module that comes with ansible 2.9.13?

If you use the modules that come with 2.9.13, I suggest to update to a newer version or install this collection. AFAIK 2.9 is maintained, but will get security fixes only.

[2021-12-13 02:25] anjia0532 commented on #1109
Install Centos and Install VmwareTools as Template e.g. `centos-7-2009-template`.

Create Guest use `centos-7-2009-template` .

It's works for me.

[2021-12-13 07:34] #739 closed

[2021-12-13 09:37] Sispheor commented on #1109
Hi @anjia0532. Thanks for your answer.

In my case I work with RHCOS which is stateless. Not sure if I can add a package in it.

And something is weird anyway. This append during the copy of the template. The OS is not started yet and so vm tools are not executed. How can a package installed inside the template can change the behavior of the vcenter instanciation?

[2021-12-13 10:24] Sispheor commented on #1109
And VM tools seems to be present in RHCOS.
Once the VM is deployed I have this message:
[code]

[2021-12-13 13:57] Udayendu commented on #25
For me this behavior is bit different. I am using `vmware_guest` ansible module to deploy multiple vms from a template and in the ansible playbook, I have kept the random MAC calculation logic. Out of two vms, one if working fine but other one is failing with the following error.

![image](https://user-images.githubusercontent.com/1809177/145823937-55e92457-e632-4f4f-89ad-764df783654c.png)

My ans

[2021-12-13 21:23] Lexicode88 opened #1155 "vmware_guest module doesn't allow selection of different controller types (scsi: lsilogicsas)"
##### SUMMARY
vmware_guest module doesn't allow selection of different controller types (scsi: lsilogicsas)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Deploy a VM using template and try to change scsi controller type to something ot

[2021-12-14 10:03] Sispheor commented on #1109
This error seems to appear when using template.
When i create an empty VM it's ok.

[2021-12-14 12:52] chachien commented on #1093
I came across this issue too. The problem is that you need to specify scsi_type or else vCenter will decide the scsi_type for you, and that's what causes the conflict.

So specify the scsi_type to match what you are using.

[2021-12-15 00:48] anjia0532 commented on #1109
Ubuntu 20.04/18.04  LTS server is ok(using template), Centos-7-2009 mini is not(using template), but install vmware-tools and recreate template is ok . @Sispheor

My Env vCenter is 7.0.3 (18778458) ,esxi is 7.0 Update 3

[2021-12-15 05:27] lingfish commented on #1136
Sure.  I've not ventured into the world of `ansible-test` though, and I note it mentions `integration`; will running these tests actually touch real (read: production) kit?

Would instead bringing in your PR and using `--diff --test` suffice?

[2021-12-15 05:58] mariolenz commented on #1136
@lingfish You don't have to run `ansible-test`. It will run the complete test suite, but won't tell me anything about your special issue.

With test I meant: Clone the collection, get the PR (`git fetch origin pull/1150/head:vmware_dvs_portgroup-portgroup_type && git checkout vmware_dvs_portgroup-portgroup_type`) and use the task from your playbook to test if the module now behaves as expected.

I

[2021-12-15 07:22] lingfish commented on #1136
@mariolenz thanks.  I've gone back to what I was using config-wise for a dv, and I'm still seeing changes (even without port count).

The `--diff` output isn't helpful.  I've used a combo of `--check` and `vmware_dvs_portgroup_info` to diff, nothing illuminating there other than a few nulls (which I would think should be fine).

Other than now creating another test dv, letting it change the dv, an

[2021-12-15 14:19] Udayendu opened #1158 "vmware_guest is not allowing MAC customization using 'random_mac' filter if template is having the network attached"
##### SUMMARY
Newly cloned vms are not having desired MAC via `random_mac` if the template is attached with a nic. Its taking the MAC from the same prefix as its attached in the template.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- vmware_guest

##### ANSIBLE VERSION
[code]

##### COLLECTION VERSION
[code]

##### OS / ENVIRONMENT
- Ubuntu 20.04 LTS

##### STEPS TO REPRODUCE
- Use the be

[2021-12-15 14:21] Udayendu commented on #1158
Only solution is to make a template without a NIC and then `vmware_guest` is able to attach the nic with correct MAC prefix as expected.