[2021-01-13 08:45] laidbackware commented on #579
@Akasurde I've tested my modified module which includes namespace prepend at 6.7 and it doesn't cause any issues with VM Storage Profiles. Based on the response from support, I suspect that the automated prepend would happen if the namespace was missing, so this should be a backwards compatible change.

Quote from support:
[code]

Annoyingly this change seems to remove all validation on the API, m

[2021-01-14 01:21] DMunkov commented on #361
Sorry, I might not have understood this reply correctly, but I think what he meant is that it is impossible to run any vmware ansible module without knowing the exact name of the machine and what case has been used for it's name in vsphere. Your example is valid, so does the initial request to have a way around that. Especially considering that searching for entities in vCenter is case insensitive

[2021-01-14 07:50] digifuchsi commented on #361
I would suggest to use the vmware_vm_info module to search for the correct VM name if it is not possible to have the correct VM name/case in the inventory.

The VM name is the primary identifier for the VM object. To make this case insensitive when vSphere stores the name case sensitive will lead to some serious issues managing VMs that are called the same but have a different case in some letters

[2021-01-14 13:09] garbled1 commented on #361
VM names are definitely case sensitive.  It drives me insane, but some people do name them badly in the console, and then don't notice and re-use a name with a different case.

I guess you could have a case_sensitive_name: no option with a bunch of warnings about "you might get the wrong vm" ?

[2021-01-14 14:50] aleksandar-kinanov opened #608 "vmware_dvswitch bug when adding contact info"
##### SUMMARY

There's a bug in how the contact info is added to vim.DistributedVirtualSwitch.ConfigInfo in the vmware_dvswitch module

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

https://github.com/ansible-collections/community.vmware/blob/main/plugins/modules/vmware_dvswitch.py#L368
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

SUSE 12.4

##### STEPS TO REPRODUCE

[code]

#####

[2021-01-14 16:35] mariolenz opened #609 "Should we continue to prefix modules with vmware_?"
Hi all,

Although there are a few exceptions, most modules are prefixed with `vmware_`. While this made sense until ansible 2.9, now the modules are namespaced anyway because they've been moved to a collection. It's a bit redundant to write `community.vmware.vmware_cluster_drs`, I think `community.vmware.cluster_drs` would be better. Apart from anything else, a list of the modules would be easier

[2021-01-14 16:37] mariolenz opened #610 "Should we continue to prefix modules with vmware_?"
Hi all,

Although there are a few exceptions, most modules are prefixed with `vmware_`. While this made sense until ansible 2.9, now the modules are namespaced anyway because they've been moved to a collection. It's a bit redundant to write `community.vmware.vmware_cluster_drs`, I think `community.vmware.cluster_drs` would be better. Apart from anything else, a list of the modules would be easier

[2021-01-14 16:37] #610 closed

[2021-01-14 16:50] goneri commented on #609
I would prefer to rename ALL the modules and add aliases to preserve the compatibility with the deprecated name.
I would prefer to wait for the 2.0.0 release.

We can also rename BUT it's also mean the users MUST use the FQCN to avoid conflicts:
- `vcenter_folder` to `folder`
- `vsphere_copy` to `copy`
- `vsphere_file` to `file`
- `vcenter_license` to `license`

I'm not so sure for the other vcent

[2021-01-14 17:07] mariolenz commented on #609
Yes, adding aliases to preserve compatibility during a transition period is a good idea.

I'm fine with this. I didn't assume we would do a major change like this within 1.x, anyway. If we define aliases for the old module names, we could do it anytime we want but it's probably better to wait for a major version change.

OK

[2021-01-14 19:15] DMunkov commented on #361
Thanks for your reply. For some reason vmware_vm_info takes so much time to run, that I've had to Ctrl+C out of the execution all three times I've attempted in running this module (we have ~2000 VMs in ~50 Datacenters, maybe it's too heavy for this module).

Not to be a snob, but the machine GUID is the primary identifier for vSphere. However, I agree with the rest.

For a workaround, I'm investin

[2021-01-14 20:24] jnm27 commented on #353
https://github.com/Akasurde/ansible/commit/7ad11a1f8bbf757226ed190fa0596ac76542f947 was made but never merged. Per comments in https://github.com/ansible/ansible/issues/26095, this improved the situation, in that it allows one disk per datastore. It will fail with multiple disks in a single datastore but that is okay for our use case since we use OS partitioning for those cases. I will try this ou

[2021-01-15 08:59] digifuchsi commented on #361
Yeah this module will take a while when you have a big environment. It could only help you to fix your inventory.

Not to be a snob as well: moref is the one for vSphere. GUID was added to have a unique identifier across all your vCenters, but moref is still the one that is used by ESXi and vCenter. ;D
With primary identifier I was referring to the Ansible Modules. They chose to identify a VM by i

[2021-01-15 09:51] TVehmas commented on #169
I had the similar kind of problem. In my case network parameter was set like this:

vmware_deploy_ovf:
hostname: "{{ vcenter_hostname }}"
username: "{{ admin_username }}"
password: "{{ admin_password }}"
cluster: "{{ cluster_name }}"
datacenter: "{{ datacenterName }}"
datastore: "{{ vm_datastore }}"
folder: "{{ datacenterName }}/vm"
name: "{{ vm_name }}"
disk_provisioning: "thin"
**networks: "{u'e

[2021-01-15 10:55] ImranJMughal opened #611 "community.vmware.vcenter_license adds all keys as License 1"
##### SUMMARY
when using community.vmware.vcenter_license to add vc, esxi and vsan cluster keys they all get added as name "License 1".

##### ISSUE TYPE
Can we have the option to add the name instead as we have a naming convention for licences as it helps for reporting.

##### COMPONENT NAME
community.vmware.vcenter_license

##### ADDITIONAL INFORMATION

I think it used entityDisplayName in https

[2021-01-15 11:08] TVehmas opened #612 "vmware_deploy_ovf returns MODULE FAILURE error"
##### SUMMARY
We have a need to deploy virtual servers based on Cisco CUCM 12.5 OVA file to the certain ESXi host. However, running 'vmware_deploy_ovf' to deploy Cisco CUCM 12.5 OVA to ESXi host instead of VCENTER server returns MODULE FAILURE

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_deploy_ovf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2021-01-15 16:21] Iwifia commented on #593
Thanks everyone and sorry for slow reply. This was the issue, I have not tested with the fixed module but the Customization command was the issue.

[2021-01-15 16:23] ImranJMughal commented on #611
##### ANSIBLE VERSION

[code]

[2021-01-15 21:46] radugrecu commented on #555
thanks @mariolenz I will test over the next few days

[2021-01-15 22:07] MallocArray commented on #549
We can close this issue.  The dynamic inventory script may work.  Currently I'm just using the vmware.vmware_rest modules to provide the information in an easier method for me.

[2021-01-15 22:07] #549 closed

[2021-01-18 04:25] Akasurde commented on #608
!component =plugins/modules/vmware_dvswitch.py

[2021-01-18 04:28] Akasurde commented on #608
!component =plugins/modules/vmware_host_logbundle.py

[2021-01-18 04:28] Akasurde commented on #573
!component =plugins/modules/vmware_host_logbundle.py

[2021-01-18 04:35] Akasurde commented on #526
!component =plugins/modules/vmware_guest.py

[2021-01-18 04:36] Akasurde commented on #501
!component =plugins/modules/vmware_guest_disk.py

[2021-01-18 04:37] Akasurde commented on #456
!component =plugins/modules/vmware_guest_network.py

[2021-01-18 04:42] Akasurde commented on #442
!component =plugins/modules/vmware_vmotion.py

[2021-01-18 04:43] Akasurde commented on #424
!component =plugins/modules/vmware_cluster_drs.py

[2021-01-18 04:44] Akasurde commented on #413
!component =plugins/modules/vmware_vmkernel.py

[2021-01-18 08:13] Wobak opened #613 "Domain users manager in vCenter"
##### SUMMARY
Have a module in community.vmware to interact with users on a vCenter (not local to ESXi)

##### ISSUE TYPE
Start a module that will interact with a vCenter instead of an ESXi server

##### COMPONENT NAME
community.vmware.vcenter_domain_user_manager

##### ADDITIONAL INFORMATION
Whenever an ESXi is added to a vCenter, the users / groups are delegated to a SSO server in the PSC.
So th

[2021-01-18 11:02] Akasurde commented on #608
resolved_by_pr #614

[2021-01-18 13:03] sky-joker commented on #609
I agree with you @goneri

[2021-01-18 14:33] sky-joker commented on #611
Thank you @ImranJMughal for reporting this issue.

I looked for a method or property for license name changing, but I didn't find it.
https://vdc-download.vmware.com/vmwb-repository/dcr-public/b50dcbbf-051d-4204-a3e7-e1b618c1e384/538cf2ec-b34f-4bae-a332-3820ef9e7773/vim.LicenseManager.html

Unfortunately, I seem that a license name can't specify via vSphere API.

I confirmed that the entityDisplay

[2021-01-18 20:58] mariolenz commented on #604
@Akasurde You have closed PR #605 because you seem to agree that the root cause of the CI failures hasn't something to do with the vmware_host_iscsi_info tests. So I'll close this issue, too.

I hope this is OK for you. Otherwise, feel free to open it again.

[2021-01-18 21:00] #604 closed

[2021-01-18 21:22] mariolenz commented on #578
@vivekanand553
As an alternative to using Ansible > 2.9.10 + this collection, can you test Ansible 2.10... if at all possible the latest version 2.10.5? As @sky-joker pointed out, this issue seems to be fixed.

[2021-01-19 05:42] luischanu opened #616 "vcenter_license not applying vCenter Server license to v7.0U1C"
##### SUMMARY
When adding a vCenter Server licenses to vCenter Server v7.0 Update 1C, they show up, but vCenter Server is never licensed, and continues to use the Evaluation License.  If I go into vCenter Server, I can manually apply the license against the vCenter Server asset without any issues.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.vmware.vcenter_license

##### ANSIBLE

[2021-01-19 12:17] sky-joker commented on #603
Thank you @beezel for a new feature requesting.
I'll work on adding the IQN changing option to the module.

[2021-01-19 13:10] sky-joker commented on #603
@beezel

I fixed this issue(https://github.com/ansible-collections/community.vmware/pull/617), so could you please try that the fixed module works in your environment?
And please let me know the result.

[2021-01-20 04:19] Akasurde commented on #603
resolved_by_pr #617

[2021-01-20 13:38] goneri commented on #30
Closing since https://github.com/ansible/ansible/pull/55237 is merged.

[2021-01-20 13:38] #30 closed

[2021-01-20 13:47] goneri commented on #32
@Qu3uk would you like to submit a PR to address the issue?

[2021-01-20 13:53] goneri commented on #34
Can you try `vmware.vmware_rest.vcenter_vm_info`? This new module may address your problem.

[2021-01-20 13:55] goneri commented on #61
Hi @dericcrago. Do you have an idea what's going on?

[2021-01-20 13:57] goneri commented on #63
This should be addressed by: https://github.com/ansible-collections/community.vmware/blob/552c96ed0356407facdee02c290082ad87259cb9/plugins/modules/vmware_guest.py#L2708

Do you still have the problem?

[2021-01-20 14:01] goneri commented on #64
Closing. You can easier use the `vmware_guest_boot_manager` or the new `vmware.vmware_rest.vcenter_vm_hardware_boot` module:

- https://github.com/ansible-collections/vmware.vmware_rest/blob/main/tests/integration/targets/vcenter_vm_scenario1/tasks/vm_hardware_boot.yaml
- https://github.com/ansible-collections/vmware.vmware_rest/blob/main/tests/integration/targets/vcenter_vm_scenario1/tasks/vm_har

[2021-01-20 14:01] #64 closed

[2021-01-20 14:42] MalfuncEddie opened #618 "eagerZeroedThick or eagerzeroedthick in modules"
##### SUMMARY

No consistency in modules if disktype  (eagerzeroedthick) needs to be lowercase or camelcase

using module community.vmware.vmware_content_deploy_ovf_template:
fatal: [localhost]: FAILED! => {"changed": false, "msg": "value of storage_provisioning must be one of: thin, thick, eagerZeroedThick, got: eagerzeroedthick"}

using module community.vmware.vmware_guest_disk
[localhost]: FAIL

[2021-01-20 15:03] fkempers commented on #63
This should do it.

Op wo 20 jan. 2021 14:58 schreef Gonéri Le Bouder <notifications@github.com

[2021-01-20 15:06] MalfuncEddie opened #619 "vmware_datastore_cluster_info module"
##### SUMMARY

vmware_datastore_cluster_info

Hi,

Some modules need a datastore and are not compatible with datastore_clusters. If storage drs is available you can get the recommended datastore. It woud be nice if this info and other datastore cluster info is available in a vmware_datastore_cluster_info module.

With the inspiration  by @Akasurde and @mariolenz in issue  #550 .I have very very ba

[2021-01-20 16:05] MalfuncEddie commented on #562
Hi,

workaround:

I created a module where you can ask the recommended datastore

https://gist.github.com/MalfuncEddie/ac64099e9d97a85f43c99f29f62f25b9
[code]

[2021-01-20 16:30] dmpe commented on #34
Cannot easily test anymore. Bug great work and thank you.

[2021-01-20 16:30] #34 closed

[2021-01-20 17:11] mariolenz commented on #555
@radugrecu Did you find time to test the PR? I don't want to merge it without being sure that it really fixes your issue.

[2021-01-21 00:14] nathan-march opened #621 "vmware_guest_disk results doesn't use the same key for disk_changes as it does for disk_data"
##### SUMMARY
When adding new disks via the vmware_guest_disk module, the keys in the disk_changes dict match up to the unit_number rather than the key in the disk_data dict.

This is extremely dangerous since a VM can have multiple controllers and this may result in tasks being applied to the wrong disk. If there's multiple controllers and overlapping unit_numbers, there is no way to identify wha

[2021-01-21 10:43] radugrecu commented on #555
sorry @mariolenz it took me a while to figure out how to get this working on our awx deployment

it did finally test it and it work perfectly, thanks very much for implementing the fix

[2021-01-21 17:29] mariolenz commented on #609
I'm not much concerned about these modules since `community.vmware.vcenter_folder` isn't redundant. But there's a problem with `vmware_host`:

[code]

So maybe we should rename this to `esxi_host` or something.

[2021-01-21 17:36] mariolenz commented on #609
@goneri @sky-joker Thank you for your inputs!

Everyone who wanted to share their opinion about this had a week to do it, so I close this for now. But it looks like we three are agreed that it's a good idea to get rid of the `vmware_` prefix.

[2021-01-21 17:36] #609 closed

[2021-01-21 17:59] Iwifia opened #622 "vmware_tag_manager cannot find multiple tags or category + tag"
##### SUMMARY
Creating a set of servers and tagging them yields an error that the tags cannot be found when specifying the category plus the variable like `Ansible: "{{item.vm_tag}}"`. If i specify the varable only with a single tag it will find the tag and apply it, if I add another tag into the variable set it will not find it as well generating the same error output.

##### ISSUE TYPE

- Bug Re

[2021-01-21 18:11] Iwifia commented on #622
Further issue discovered!

Wrapping the category and variable, as shown below, fails to find the categroy that exists.

[code]

error output:

[code]

[2021-01-21 18:15] Iwifia commented on #622
Further issue discovered!

Wrapping the category and variable, as shown below, fails to find the categroy that exists.

[code]

error output:

[code]

[2021-01-21 18:18] Iwifia commented on #622
This should also be labeled as vSphere7 instead of Cloud as well.

[2021-01-21 18:25] mariolenz commented on #555
Great! Thanks for testing, I'll try to merge it asap.

[2021-01-21 18:57] #555 closed

[2021-01-21 18:57] #593 closed

[2021-01-21 20:39] jnm27 commented on #353
I just tested it and this patch does work! I will not be bringing it through process here but plan to use it informally until it is officially merged.

[2021-01-22 11:33] digifuchsi opened #623 "vmware_datastore_cluster_manager is always changed in checkmode"
##### SUMMARY
When running in check mode the module is always reporting changed even when it is not detecting any changes.

I had a look at the code and I think there is an if statement missing to set changed=true depending on changed_datastores found or not when in check mode.

You can work around this issue by defining a changed_when clause:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT

[2021-01-22 13:24] kpenza opened #624 "vmware_guest: module ignores datastore property of additional disks"
---
---

##### SUMMARY

The datastore property of additional disks is ignored, as a consequence all the disks end up in the same datastore of the first drive.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.vmware.vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

* Host kernel: 3.10.0-1160.6.1.el7.x86_64
* Host Linux Distruibution: Ce

[2021-01-22 21:29] gstorme opened #625 "prefixLength for secondary IP address wrong"
##### SUMMARY

The prefixLength for secondary IP addresses is /32 instead of the actual subnet size.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest_info

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Debian 10 with open-vm-tools 10.3.10

##### STEPS TO REPRODUCE

Debian 10 with open-vm-tools, and two IP addresses on the same interface.
My case:
[code]

[code]

##### EX

[2021-01-22 21:40] gstorme commented on #625
!component = plugins/modules/vmware_guest_info.py

[2021-01-23 13:15] sky-joker commented on #625
Thank you @gstorme for reporting this issue.

I confirmed that the same issue occurred in my homelab with opem-vm-tools 10.3.10.
I seem that this issue is a bug for opem-vm-tools.
The open-vm-tools 11.0.0 doesn't occur this issue, correct prefixLength was displayed.

[2021-01-23 13:26] sky-joker commented on #625
Thank you @gstorme for reporting this issue.

I confirmed that the same issue occurred in my homelab with opem-vm-tools 10.3.10.
I seem that this issue is a bug for opem-vm-tools.
The open-vm-tools 11.0.0 doesn't occur this issue, correct prefixLength was displayed.

[2021-01-23 17:47] #603 closed

[2021-01-23 18:01] mariolenz commented on #623
I think I know where the code goes wrong. I'll try to do something about it.

[2021-01-24 16:23] mariolenz commented on #623
@digifuchsi I hope PR #627 will fix this. Would it be possible for you to test it?

[2021-01-24 18:22] gstorme commented on #625
Tested on open-vm-tools 11.1.5, works fine.
Thanks

[2021-01-24 18:22] #625 closed

[2021-01-25 05:02] #608 closed

[2021-01-25 05:19] Akasurde commented on #622
@Iwifia Thanks for reporting this. I am suspecting this is similar to https://github.com/ansible-collections/community.vmware/issues/579.

[2021-01-25 05:35] #623 closed

[2021-01-25 06:29] Iwifia commented on #622
@Akasurde no problem. I do believe that the issue you added would actually tie in with this one, though not the same, they are parts of the same issue.

[2021-01-25 07:17] Akasurde commented on #622
@Iwifia Data received by `vmware_tag_manager` is `str`

[code]

You need provide data as

[code]

needs_info

[2021-01-25 07:21] Iwifia commented on #622
So if I am reading that correct, there would be no way to create multiple tags then? This seems to differ from how I would normally add multiple items.

I have more recently found that if I do not put in the category within the playbook and let the playbook autoseledt the category matching the tag, the system allows me to put multiple tags on the system.

[2021-01-25 07:26] Akasurde commented on #622
You can assign multiple tags

[code]

But with the data structure you are using it is possible to assign a single tag at a time.

If you don't provide a category, then we use the category for the associated tag. This may lead to unwanted results.

[2021-01-25 07:44] digifuchsi commented on #623
@mariolenz yeah it is working. Thank you!

[2021-01-25 16:57] Iwifia commented on #622
That is where this is failing though. I am assigning the category in the playbook followed by a variable that would inject the tag itself based on the parameters. Since this is a server deploy its possible that I need 3 different types of servers that have a similar setup but one would differ, thus where the tags come into play.

[2021-01-25 17:02] egonzalf commented on #342
I was experiencing this same issue of the *failed to find folder*. Then I changed `folder` to just the final directory in the path (as suggested by @Akasurde )  and now I got a permission denied error. My user is a vsphere admin.
[code]

My version stack:
[code]
SDK
[code]

[2021-01-26 04:36] Akasurde commented on #622
There is no need for additional double quotes -

[code]

[2021-01-26 16:45] mariolenz commented on #578
Fixed in ansible/ansible#62537 but I think this didn't make it into 2.9. So you'll have to use 2.9 + this collection or 2.10.

[2021-01-26 16:45] #578 closed

[2021-01-26 17:09] mariolenz commented on #621
@nathan-sav
I've had a look at he module but don't really understand how this can happen. Would you mind sharing a playbook with us to test this? This would help us to investigate the issue.

[2021-01-27 04:28] Akasurde opened #628 "VMware CI is unreliable"
##### SUMMARY
VMware CI is flaky and not reliable.

- https://github.com/ansible-collections/community.vmware/pull/569
- https://github.com/ansible-collections/community.vmware/pull/512

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
latest

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
CI should pass

####

[2021-01-27 05:18] Akasurde commented on #111
resolved_by_pr https://github.com/ansible-collections/community.vmware/pull/629

[2021-01-27 07:04] Akasurde commented on #172
@rnldl Thanks for reporting this. Please specify `state: present` in order to reconfigure the existing virtual machine.

needs_info

[2021-01-27 07:17] Akasurde commented on #158
@ba31 Are you still facing this issue? Thanks.

needs_info

[2021-01-27 07:19] Akasurde commented on #207
Hi @markatdxb, Are you still facing this issue? Thanks.

needs_info

[2021-01-27 07:22] Akasurde commented on #203
@ckotte Would like to re-open https://github.com/ansible/ansible/pull/47015? Thanks.

needs_info

[2021-01-27 07:28] Akasurde commented on #266
@razbag We are not planning to add this feature to the near future. Please feel free to open pull request.

needs_info

[2021-01-27 07:31] Akasurde commented on #272
resolved_by_pr https://github.com/ansible-collections/community.vmware/pull/559

[2021-01-27 07:31] #272 closed

[2021-01-27 08:57] rmx-it opened #630 "vmware_guest: Error Network does not exist. while vmware_guest_network works with same data."
##### SUMMARY

vmware_guest_network works with this data:

[code]

while vmware_guest with the same vm_networks settings gives:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Rhel7, vmware 7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

No error.
##### ACTUAL RESULTS

[code

[2021-01-27 09:26] Akasurde commented on #233
@saravananoff Could you please confirm if you are still facing this issue? Thanks.

needs_info

[2021-01-27 09:31] Akasurde commented on #337
Closing this as an intermittent issue. Feel free to reopen if the problem persists.

[2021-01-27 09:31] #337 closed

[2021-01-27 09:32] Akasurde commented on #349
Currently, we do not have the bandwidth to implement this. Feel free to raise a PR.

[2021-01-27 09:33] Akasurde commented on #624
Duplicate of https://github.com/ansible-collections/community.vmware/issues/353

[2021-01-27 09:33] #624 closed

[2021-01-27 09:38] Akasurde commented on #370
@zeph-rpulse Thanks for reporting this issue. I would see this as a new module where you can relocate the existing VM based upon the user-provided values.

Feel free to engage and raise a PR. Thanks.

[2021-01-27 09:47] Akasurde commented on #504
@FF186 Can you confirm if this is still issue for you? Thanks

needs_info

[2021-01-27 10:10] Akasurde commented on #522
Closing as per https://github.com/ansible-collections/community.vmware/issues/522#issuecomment-736015790

[2021-01-27 10:10] #522 closed

[2021-01-27 10:13] Akasurde commented on #530
!component =plugins/modules/vmware_guest_disk.py

[2021-01-27 10:14] Akasurde commented on #530
@sawandevrani28 Are you still facing this issue? Thanks.

needs_info

[2021-01-27 10:17] Akasurde commented on #544
@mariolenz Any update on this? Thanks.

needs_info

[2021-01-27 10:17] testotxt opened #631 "vmware_cluster_info - Pyvmomi module failure - while trying to get all cluster info"
##### SUMMARY
Getting Module Failure Error while using vmware_cluster_info  with datacenter name

##### ISSUE TYPE
- Bug Report (not sure)

##### COMPONENT NAME
vmware_cluster_info

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Controller Manjaro Linux 5.10.7-3-MANJARO
Vsphere Vcenter 5.5.0

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
cluster info

[2021-01-27 10:19] Akasurde commented on #521
@Tomorrow9 @sky-joker Do you know anything about @mariolenz's question? Thanks.

needs_info
-needs_triage

[2021-01-27 10:24] Akasurde commented on #601
resolved_by_pr https://github.com/ansible/ansible/pull/73273

[2021-01-27 10:26] Akasurde commented on #602
@adarobin Are you still working on this fix? Thanks.

needs_info

[2021-01-27 10:26] Akasurde commented on #602
resolved_by_pr https://github.com/ansible-collections/community.vmware/pull/179

[2021-01-27 10:28] Akasurde commented on #611
@sky-joker Do you know any `esxcli` alternative? Thanks

[2021-01-27 10:31] Akasurde commented on #530
!component =plugins/modules/vmware_content_deploy_ovf_template.py

[2021-01-27 10:32] Akasurde commented on #618
!component =plugins/modules/vmware_content_deploy_ovf_template.py

[2021-01-27 11:09] Akasurde commented on #618
resolved_by_pr #632

[2021-01-27 11:09] Akasurde commented on #618
@MalfuncEddie Could you please verify if #632 works for you and let me know? Thanks.

needs_info
has_pr

[2021-01-27 11:23] MalfuncEddie commented on #618
I'll test it out this friday (29/01/2021).

[2021-01-27 11:40] ckotte commented on #203
@Akasurde  I'm still waiting for your help with https://github.com/ansible-collections/community.vmware/pull/531. I won't open anything until this is merged..

[2021-01-27 12:15] Akasurde commented on #631
@testotxt Thanks for reporting this issue.

`GetResourceUsage` API is added in vSphere 6.0 - https://vdc-repo.vmware.com/vmwb-repository/dcr-public/6b586ed2-655c-49d9-9029-bc416323cb22/fa0b429a-a695-4c11-b7d2-2cbc284049dc/doc/vim.ClusterComputeResource.html#getResourceUsage

You are using vSphere 5.5 is [End Of Life at September 19, 2018](https://kb.vmware.com/s/article/51491). Please upgrade to l

[2021-01-27 12:21] Akasurde commented on #628
cc @mariolenz @sky-joker

[2021-01-27 12:24] Akasurde commented on #619
@MalfuncEddie Thanks for reporting this feature. Would you be interested in opening a PR for this? I will also comment on required changes.

[2021-01-27 13:11] sky-joker commented on #631
Hi @testotxt

The pyVmomi 7.0.1 doesn't support the vCenter 5.5.0.
According the README of the pyVmomi the below was wrriten like.

https://github.com/vmware/pyvmomi#compatibility-policy

So, as @Akasurde is written, please upgrade vCenter.

[2021-01-27 13:20] testotxt commented on #631
Sorry I was missing this info

Thanks a lot

[2021-01-27 13:20] #631 closed

[2021-01-27 13:54] sky-joker commented on #611
@Akasurde

I looked for how to register a license via VCSA command on Google, but I don't found out.
I seem that the license can register via the command line if it is ESXi.
https://www.altaro.com/vmware/license-vcenter-esxi-vsan/

[2021-01-27 14:08] goneri commented on #628
From what I can see, most of the time the job fail because we hit the 3h timeout. I will split the workload on two or three subjobs.

[2021-01-27 14:09] Akasurde commented on #628
https://github.com/ansible-collections/community.vmware/pull/632

[2021-01-27 14:18] sky-joker commented on #613
Thank you @Wobak for requesting a new module.

Unfortunately, a domain user doesn't manage via vSphere API.
As an alternative, you can manage using the VCSA command.

https://github.com/vmware/pyvmomi/issues/679

[2021-01-27 19:34] adarobin commented on #602
@Akasurde I have rebased the code, but I have not had time to look at tests. I'm still interested in working on it, but I have other priorities at work at the moment.

[2021-01-27 19:53] Iwifia commented on #622
Let me open a new branch in my work and give it a shot. I feel like I tried this and it still failed but let me try and again and see if I am wrong on that

[2021-01-28 14:03] #207 closed

[2021-01-28 14:03] markatdxb commented on #207
@Akasurde  - its very hard to reproduce this issue and we have not experienced it for months now so i guess we can close it

[2021-01-28 14:24] Akasurde commented on #207
@markatdxb Thanks for testing and providing the feedback. It really means a lot. Please feel free to open a new issue if you face this problem again.

Thanks,

[2021-01-28 15:17] sky-joker commented on #613
FYI

I tried the domain user adding and deleting with VCSA command and Ansible.
I will explain how to it below.

1. Need to change the default shell of VCSA

Please change the default shell to bash from appliancesh.
The above operation needs for executing the command in Ansible after connection to VCSA with SSH.
https://kb.vmware.com/s/article/2100508

2. Inventory creation

Please change the foll

[2021-01-28 16:22] Wobak commented on #613
Thank you very much, this is really helpful :)

[2021-01-28 18:56] mariolenz commented on #322
@mark19632 @ashura82 Do you still have this issue with a current version of ansible / this collection? I'm quite sure it's been fixed in #552

[2021-01-28 20:44] mariolenz commented on #628
@Akasurde @goneri My latest PR #633 passed CI without any problems. Does this mean the timeout problem is fixed and we can close this issue?

[2021-01-28 20:55] goneri commented on #628
I think so, thank you @mariolenz for the update.

[2021-01-28 20:55] #628 closed

[2021-01-29 05:05] Akasurde commented on #616
!component =plugins/modules/vcenter_license.py

[2021-01-29 05:06] Akasurde commented on #616
@sky-joker Would you be able to confirm this? Thanks.

needs_info

[2021-01-29 05:25] #81 closed

[2021-01-29 12:36] #111 closed

[2021-01-29 14:01] #618 closed

[2021-01-30 04:07] rnldl commented on #172
Setting `state: present` or leaving `state:` out completely allows the CPU/memory reservations to be set correctly. The issue only occurs when using `state: poweredon` and setting CPU/memory reservations at the simultaneously on a powered off VM. My current workaround is to break this into two separate plays.

[2021-01-31 18:56] mariolenz commented on #409
I think the problem is that vSphere 5.5 doesn't know about `vSphereProvisioning`, it looks like it is only available [since 6.0](https://vdc-repo.vmware.com/vmwb-repository/dcr-public/7989f521-fd57-4fff-9653-e6a5d5265089/1fd5908d-b8ce-49ca-887a-fefb3656e828/doc/vim.host.VirtualNicManager.NicType.html). However, since 5.5 reached [End of General Support on September 19, 2018](https://kb.vmware.com/

[2021-02-01 05:07] #397 closed

[2021-02-01 06:49] mariolenz commented on #550
resolved_by_pr #476

[2021-02-01 06:50] #550 closed

[2021-02-01 07:13] sjwk commented on #409
Only supporting versions supported by VMware makes sense.  I've since upgraded my hosts (creating playbooks to automate that process was what I was doing at the time, but at the time was only testing on existing v5.5).  Happy to close the issue as unfixable on v5.5.

[2021-02-01 07:26] Akasurde commented on #172
@rnldl Yes. `state: present` will reconfigure the existing virtual machine. I would recommend to use `vmware_guest` with `state: present` to reconfigure VM and manage power state using `vmware_guest_powerstate`.

[2021-02-01 07:36] Akasurde commented on #409
@mariolenz @sjwk I think Ansible does not support any product which end of life, since API or libraries which Ansible uses are beyond our control. I will close this as issue as "wontfix".

Please feel free to open a new issue if problem persists with latest version of Ansible collection and latest version of vSphere.

Thanks.

[2021-02-01 07:36] #409 closed

[2021-02-02 05:59] rnldl commented on #172
Thanks @Akasurde. If this behavior is expected then we can close out this issue.

[2021-02-02 05:59] #172 closed

[2021-02-02 07:24] Tomorrow9 opened #636 "vmware_guest: remove hardware version number check to avoid updating the restriction everytime"
##### SUMMARY

Can we remove the hardware version number check in vmware_guest module? or find another better way to do this? or we need to change this restriction every time after vSphere new releases and new hardware version introduced.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STE

[2021-02-02 10:30] #101 closed

[2021-02-02 12:39] WintyBe opened #637 "vmware_dvs_portgroup always results in 'changed' because of port_policy"
##### SUMMARY
We normally add a trunk portgroup (with multiple VLANs) using 'vmware_dvs_portgroup' as part of an infrastructure deployment. If the trunk doesn't exist yet (based on the name), it will simply be added as intended.

The problem only occurs if that PG exists: previously, (in Ansible 2.9.3) the result would be 'ok' in that case. Now (we upgraded to 2.10.5) it will always return a 'chan

[2021-02-02 14:32] sky-joker commented on #637
Thank you @WintyBe for reporting this issue.
I found out the cause of the issue, so I'll do PR.

[2021-02-02 14:49] WintyBe commented on #637
Awesome, thanks.

If anyone else has this issue, we currently work around it by first searching for the trunk using 'vmware_dvs_portgroup_find' and just skipping this task if it found something.

[2021-02-02 15:59] sky-joker commented on #637
@WintyBe

I fixed this issue(https://github.com/ansible-collections/community.vmware/pull/638), so could you please try that the fixed module works in your environment?
And please let me know the result.

[2021-02-02 16:05] sky-joker commented on #637
resolved_by_pr https://github.com/ansible-collections/community.vmware/pull/638

[2021-02-02 16:06] sky-joker commented on #549
Thank you @MallocArray for your response.

[2021-02-02 16:15] Akasurde commented on #637
@WintyBe Can you please check if #638 and let us know if this works for you? Thanks.

[2021-02-02 16:33] mariolenz commented on #636
I agree, this check doesn't make much sense. Even if the version is theoretically valid, it doesn't mean the module will work. Like using version 18 but the vCenter or ESXi is 6.5. I think we should just remove this check.

I'll do a PR and request your review.

[2021-02-02 17:47] mariolenz commented on #590
Could you please explain your use case? I'd really like to understand why you want to do this.

[2021-02-02 18:22] mariolenz commented on #468
@sky-joker @Tomorrow9

What do you think about this feature request? I've been doing virtualization since ESX 2.5 and pass-through devices have so many disadvantages that I try to avoid them at all costs: Not having HA and vMotion just sucks.

Anyway, this is a feature that not even 1% of all users need imho. Implementing it would mean to have maintaining code that virtually no one needs. I really

[2021-02-02 19:53] mariolenz commented on #636
@Tomorrow9 Can you pleae have a look at PR #639?

[2021-02-03 07:44] mariolenz commented on #590
@Bahu2016

It looks like only detaching a disk without deleting it is possible by combining `state: absent` with `destroy: no`: ansible/ansible#63740

Would this suit your needs?

[2021-02-03 08:35] Tomorrow9 commented on #636
Thanks for your quick fixing.

[2021-02-03 08:40] WintyBe commented on #637
Hello,

This seems to work correctly now; output when the PG doesn't exist:

[code]

And then on the next run, the result is indeed OK instead of changed:
[code]
I also tested it without the port-policy permissions and it works correctly as well.

Thanks for the quick fix!

[2021-02-03 11:41] #468 closed

[2021-02-03 12:59] sky-joker commented on #637
Thank you @WintyBe for taking the time out to check the module working.
I'm glad the module works correctly :)

[2021-02-03 13:39] goneri commented on #222
Thanks @alexandroleynikov for your inputs, would you like to open up a PR to fix this issue?

[2021-02-03 13:41] goneri commented on #223
Hi @RogerCage,

Can you elaborate a bit on what information you want to change? Maybe with an example?

waiting_on_contributor

[2021-02-03 18:37] #637 closed

[2021-02-04 11:12] sky-joker commented on #616
Please wait while I will prepare the VCSA 7.0U1c.

[2021-02-04 15:41] sky-joker commented on #616
@luischanu @Akasurde
Indeed, I confirmed that the license doesn't assign automatically in vCenter 7.0U1C.
I'll work on confirmation of cause.

[2021-02-04 15:44] Akasurde commented on #616
@sky-joker Thanks for debugging and reporting.

[2021-02-04 19:06] mariolenz commented on #373
@jpgrall @rmx-it

I'm quite sure that this issue has been fixed with #582. Since I didn't get any feedback from you, I assume you don't run into this problem anymore and will close the issue.

If you think otherwise, please open it again.

[2021-02-04 19:06] #373 closed

[2021-02-05 04:35] Akasurde commented on #622
@Iwifia Could you please confirm if this works for you? Thanks.

needs_info

[2021-02-05 09:18] Akasurde commented on #579
resolved_by_pr #642

[2021-02-05 09:19] Akasurde commented on #579
@laidbackware Could you please test #642  and let me know if it works you? Thanks,

needs_info

[2021-02-06 05:31] Akasurde commented on #602
Closing as #179 is merged.

[2021-02-06 05:31] #602 closed

[2021-02-06 09:46] sky-joker commented on #616
I found out the cause of the issue.
So, I'll do a PR.

[2021-02-06 10:17] sky-joker commented on #616
resolved_by_pr https://github.com/ansible-collections/community.vmware/pull/643

[2021-02-06 10:23] sky-joker commented on #616
@luischanu
Can you please look at https://github.com/ansible-collections/community.vmware/pull/643?
And please check the fixed module works correctly in your environment?

[2021-02-07 05:12] #616 closed

[2021-02-07 05:29] Akasurde commented on #462
@mariolenz Do you think https://github.com/ansible-collections/community.vmware/pull/640 will fix this? Thanks.

[2021-02-07 07:24] luischanu commented on #616
@sky-joker first to answer your question, then I have a question for you.

I pulled down a clone of the community.vmware repo, put it in the ~/.ansible/community/vmware folder, and I was able to successfully apply the license with the updated code.  So, yes, my test appears to work with your updates.  Thank you!

Now, my question...  What is the proper way to test updated code?  I am relatively ne

[2021-02-07 08:10] luischanu opened #644 "Add "mac_learning" option to network_policy in vmware_dvs_portgroup and vmware_dvs_portgroup_info"
##### SUMMARY
Starting with vSphere v6.7, with VDS version 6.6, MAC Learning is now supported.  This is functionality is VERY useful when deploying nested labs for both testing and learning.  Currently, the community.vmware.vmware_dvs_portgroup does not support this option under network_policy, and I would like to see it added.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_dvs_port

[2021-02-07 13:45] sky-joker commented on #616
@luischanu
Thank you for taking the time out to check the module working.
I'm glad the module worked :)

How to the easy test is creation the library directory into your work directory and downloading the updated module into library directory.

https://docs.ansible.com/ansible/latest/dev_guide/developing_locally.html

For example, how to do test procedure for the updated module for this time the f

[2021-02-07 15:53] mariolenz commented on #462
I don't think so. You see, my goal was to only improve the `argument_spec` _without_ changing the behavior of the model. But I'll try to find the bug, maybe it's so easy to fix that I'll include it in my PR.

[2021-02-07 16:28] mariolenz commented on #462
@Akasurde

I'm afraid I still don't understand `vmware_guest` completely, it's quite complex. But in this case we might not even need to change the code, only the documentation. Look:

That's OK, isn't it?

Actually, that's what I would expect: Creating a VM from a template with thin-provisioned disks, the VM has thin-provisioned disks if I don't define something else. That's how deploying from a

[2021-02-07 17:14] mariolenz commented on #616
@sky-joker

This is quite a quick'n'dirty way (although I do it like this often myself):

You see, the updated module might depend on some changes in `plugins/module_utils/$SOMETHING` that's merged but not yet on galaxy. So I think the better way is to really clone the repo.

@luischanu

After cloning community.vmware, you can also [check out a PR](https://docs.github.com/en/github/collaborating-w

[2021-02-07 20:16] mariolenz opened #645 "CI problem: Could not build wheels for cryptography which use PEP 517 and cannot be installed directly"
CI [fails](https://dashboard.zuul.ansible.com/t/ansible/build/47eaf3b9e44a4a32808e0cf4684a03b1) with `ERROR: Could not build wheels for cryptography which use PEP 517 and cannot be installed directly`

[2021-02-08 04:06] snsiregar commented on #233
hello,
i am facing same issue, using vmware_guest module on ansible 2.9.2 with this playbook for network:
[code]

already try installed perl on rhel8 template, but still facing same issue

[2021-02-08 05:02] Akasurde commented on #645
I think https://github.com/ansible/ansible/pull/73525 will solve this issue. Let us wait to get this merged.

[2021-02-08 13:39] mariolenz commented on #644
@luischanu I agree, this would be very useful.

But while investigating how to implement this, I've also seen that the new DVSMacManagementPolicy can also be used to configure allowPromiscuous, forgedTransmits and macChanges. In fact, securityPolicy states:

**Deprecated**. _As of vSphere API 6.7, use [DVSMacManagementPolicy](https://vdc-repo.vmware.com/vmwb-repository/dcr-public/fe08899f-1eec-4d8

[2021-02-08 15:03] mariolenz commented on #410
I'll have a look at this mopdule anyway (issue #644) and will try to implement this feature.

[2021-02-08 15:37] anderpups opened #646 "deploy_ovf - OVF Deploy fails when network has special characters."
##### SUMMARY
If the VCenter network name has a special character in it, the task fails with` The error was: KeyError: 'network'`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.vmware.vmware_deploy_ovf

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- pyvmomi version: 7.0.1
- os: CentOS7
- kernel version: 3.10.0-1160.15.2.el7.x86_64
- VSphere ver

[2021-02-08 15:46] anderpups opened #647 "deploy_ovf - certificate validation does not work"
##### SUMMARY

The task fails unless `validate_certs` is set to `no`.  Other modules in the same playbook using community.vmware collection work fine without having to set `validate_certs` is set to `no`.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.vmware.vmware_deploy_ovf
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- pyvmomi version: 7.0.

[2021-02-08 16:11] laidbackware commented on #579
@Akasurde Brilliant. That fix looks good to me!

[2021-02-08 19:11] luischanu commented on #644
@mariolenz I completely agree with your suggested approach of addressing both the deprecation and the feature request in one go.  I would only ask that you have the appropriate logic within the module to still support pre-v6.7 versions as well for allowPromiscuous, forgedTransmits and macChanges.  I'm assuming you would, but just to be sure, I wanted to mention that.

[2021-02-08 19:40] mariolenz commented on #645
Interesting. I got this error in build-ansible-collection but although ansible/ansible#73525 hasn't been merged yet this job succeeded for #648: [build-ansible-collection](https://dashboard.zuul.ansible.com/t/ansible/build/984dc316e19544a989e0c47a154970a3)

I've issued a `recheck` on my PR, let's see what happens.

[2021-02-08 20:01] matancarmeli7 commented on #347
Hi @Medalibi,
do you have an estimation of when you can add support for shared PCI devices?
I just don't have an environment with shared pci devices to do it

[2021-02-08 21:16] mariolenz commented on #647
The [module documentation](https://docs.ansible.com/ansible/2.10/collections/community/vmware/vmware_deploy_ovf_module.html) clearly states that the default for `validate_certs` is `yes`. So I don't consider this a bug, the module works as documented.

[2021-02-08 21:41] anderpups commented on #647
It will not validate certs. That is the bug. This module will not work with the default value for `validate_certs`.

[2021-02-08 21:45] mariolenz commented on #645
@Akasurde @goneri CI succeeded. I've added the `gate` label to my PR, if this works I think we can close this issue. Even if we don't know why it works again :-/

[2021-02-08 22:26] MallocArray opened #649 "VM Swap File Location"
##### SUMMARY

In the Host Configure tab under Virtual Machines>Swap File Location the location of VM Swap can be changed to "Virtual Machine Directory" or "Use a specific datastore"
There does not currently appear to be any Ansible module that allows for re-configuring this setting
PowerCLI has it under Set-VMHost -VMSwapfileDatastore and -VMSwapfilePolicy
https://vdc-repo.vmware.com/vmwb-reposit

[2021-02-09 05:56] mariolenz commented on #645
Seems to work again.

[2021-02-09 05:56] #645 closed

[2021-02-09 05:58] mariolenz commented on #647
I'm sorry, I think I've misunderstood your problem. I'll re-open this issue again.

[2021-02-09 09:20] #579 closed

[2021-02-09 15:13] sky-joker commented on #647
Thank you @anderpups for reporting this issue.

In the vmware_deploy_ovf is imported a ca certificate from ssl library for Python.

FYI
The following links are related to the SSL processing.

https://github.com/ansible-collections/community.vmware/blob/44ac140e30ff0212470b47a29b105d0cdede4df4/plugins/modules/vmware_deploy_ovf.py#L288
https://github.com/ansible/ansible/blob/1a2da990a403e1c836574c58

[2021-02-09 15:34] bucklo opened #650 "vmware_object_role_permission is unable to find specified subfolders"
##### SUMMARY
vmware_object_role_permission is unable to find specified VM subfolders. I have a VM catalog structure similar to the following:
[code]
The parent folders prod and test works as expected but I am unable to apply permissions to the subfolders. I have tried using a similar syntax to the parent_folder parameter in the vcenter_folder module.

##### ISSUE TYPE
- Bug Report

##### COMPONEN

[2021-02-09 18:29] anderpups commented on #647
Hi @sky-joker. Thanks for the follow up!

The output of `python -c "import ssl;print(ssl.get_default_verify_paths())"` is:
`DefaultVerifyPaths(cafile='/etc/pki/tls/cert.pem', capath='/etc/pki/tls/certs', openssl_cafile_env='SSL_CERT_FILE', openssl_cafile='/etc/pki/tls/cert.pem', openssl_capath_env='SSL_CERT_DIR', openssl_capath='/etc/pki/tls/certs')`

I have also confirmed it is the same output fo

[2021-02-09 19:01] kmcm0 opened #651 "Fix creating VMware firewall rules when using networks/subnets"
Backport request for issue: https://github.com/ansible/ansible/issues/73377 to ansible 2.9.x

SUMMARY

Specifying ip_network to add to a vmware firewall rule results in a python2 unicode error.
this was fixed for individual ip adresses but not ip networks. (#67394)
ISSUE TYPE

    Bug Report

COMPONENT NAME

vmware_host_firewall_manager.py
ANSIBLE VERSION

ansible 2.9.17
...
python version = 2.7.5

[2021-02-09 20:03] mariolenz commented on #647
Most other modules use [pyvmomi](https://pypi.org/project/pyvmomi/) which is a Python lib for talking to the vSphere API. But `vmware_deploy_ovf` seems to also use `open_url` (and other functions) from `ansible.module_utils.urls` to connect to the API. As @sky-joker pointed out, this is the line where the module fails:

https://github.com/ansible-collections/community.vmware/blob/44ac140e30ff02124

[2021-02-10 10:20] nfoley84 opened #652 "Unable to create Resource Pool with ESXi Hostname:"
##### SUMMARY

I'm trying to create a resource pool, into a data center within  vSphere, where they aren't any Clusters created.

##### ISSUE TYPE
- Bug Report
Issue with Creating a Resource Pool with the parameter ESXi Hostname

##### COMPONENT NAME

community.vmware.vmware_resource_pool:

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux Ubuntu 18.04

####

[2021-02-10 13:33] goneri commented on #278
Hi @Stogrammus,

Can you please check if you face the same problem with the `vmware_guest_disk` module? https://docs.ansible.com/ansible/latest/collections/community/vmware/vmware_guest_disk_module.html#parameter-disk/type

[2021-02-10 17:15] Medalibi commented on #347
Hi @matancarmeli7,

Apologies, I am not a good Python developer and my local VMware environment had some issues, so I was busy moving many production services to AWS. I had a free day yesterday so I managed to get it working:

https://github.com/Medalibi/vmware_guest_vgpu

It is working alright, at least with the profiles that I have on-site, it is the least optimised and missing proper documentat

[2021-02-10 20:26] matancarmeli7 commented on #347
@Medalibi great thanks.
@Akasurde do you think that the module should include the addition of shared and passthrough PCI devices or different module for each of them?

[2021-02-10 20:55] matancarmeli7 commented on #347
@Medalibi  great thanks, I will connect it to what I wrote and you will check it on your environment? because I don't have GPU on mine.

[2021-02-10 22:01] MallocArray opened #653 "Remove cluster and datacenter name requirement for vmware_cluster_info"
##### SUMMARY

Remove requirement for a cluster name or datacenter name with vmware_cluster_info and return all clusters across all datacenters in the specified vCenter

##### ISSUE TYPE
- Feature Idea
vmware_cluster_info now returns the name of a cluster and the datacenter is belong to.  Currently either a cluster name or a datacenter is required.  In the event that what is desired a list of all

[2021-02-10 23:14] Medalibi commented on #347
I no longer have vDGA pci devices the kit that support passthrough is out of support so we removed it. I only have vGPUs now. I have tested it with the vGPU profiles offered by my Nvidia cards and it worked fine.

[2021-02-11 06:27] luischanu opened #654 "Module to configure TCP/IP Stack Settings (including Gateway)"
##### SUMMARY
It would be very helpful to have an Ansible module which can be used to configure TCP/IP Stacks on an ESXi server, including the configuration of its gateway.  I could not find such a module as part of the current Community.VMware modules.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_host_tcpip_stacks

##### ADDITIONAL INFORMATION
I did find a module which Christian

[2021-02-11 07:41] fragpit opened #655 "vmware_guest create vm with hostname None"
##### SUMMARY
From ansible 2.10.7 vmware_guest module can't set guest os hostname. Hostname looks like 'root@None'. So it seems that something became None in module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
ansible --version is also broken. Now we can't ran --version without passing some other args!!

##### OS / ENVIRONMENT
os x 11.1
ansible 2.10.7 (

[2021-02-11 20:48] grazioli-nc opened #657 "vmware_guest_network parsing problem with `|` in network names"
##### SUMMARY
Network names with `|` inside will be parsed incorrectly with `vmware_guest_network` and `pyvmomi 7.0.1`. \
The network name `A|B|C` for example will be parsed to `A|7CB|7CC` (seen in the `*.vmx` file of the vm under `ethernet0.networkName`). \
The described behavior does not occur with `pyvmomi 7.0`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest_network

##### AN

[2021-02-11 21:16] nathan-sav commented on #621
Just tried this again without a second controller attached to the VM at all, and now disk_changes always seems to return 0.

This VM has 4 disks already, I create a new 7gb disk at unit_number 5:

[test.txt](https://github.com/ansible-collections/community.vmware/files/5968491/test.txt)
[test_yml.txt](https://github.com/ansible-collections/community.vmware/files/5968492/test_yml.txt)

Yet disk_cha

[2021-02-13 08:53] sky-joker commented on #647
Indeed, I think that there is also that possibility.

[2021-02-13 09:35] sky-joker commented on #646
Thank you @anderpups for reporting this issue.
I found out the cause of the issue, so I'll work on do a PR.

[2021-02-13 09:41] sky-joker opened #660 "The CI has been failing for community.vmware"
##### SUMMARY

In the CI seems that there isn't a license available for VCSA.
The following are the error messages.

[code]

https://dashboard.zuul.ansible.com/t/ansible/build/9423e93e12514e439cbd4d3a851493f5

##### ISSUE TYPE

- Bug Report

[2021-02-13 09:42] sky-joker commented on #660
@goneri
Can you please look at this issue?

[2021-02-13 14:42] anderpups commented on #646
@sky-joker You're welcome. Thank you so much for all your work on this module!

[2021-02-13 16:35] carceneaux commented on #373
Thanks for your work @mariolenz!

Issue has been resolved for me. I now clone the VM as-is adding no disks. Then, I run the below playbook to increase the size of the first disk (if necessary) and add remaining disks if defined. I like this method better as it provides me a playbook to run in the future if I want to add/increase disks on the VM.

[code]

Here's what I populated the `vm_os_disk` an

[2021-02-14 06:52] sky-joker commented on #646
Hi @anderpups
I fixed the issue so can you please look at https://github.com/ansible-collections/community.vmware/pull/661 ?

FYI
You can do a test with the following procedure.

[code]

In my case, the following `main.yml` playbook was executed correctly.

[code]

[2021-02-14 13:49] sky-joker commented on #646
resolved_by_pr https://github.com/ansible-collections/community.vmware/pull/661

[2021-02-14 15:02] MalfuncEddie commented on #619
(been sick a while)
I'll try to do this. Bit of newbie with git and python ( background perl and svn)

[2021-02-15 14:16] goneri commented on #660
Hi, sure. I will prioritize this for today.

[2021-02-16 09:52] phgogo opened #662 "No Timeout in vmware_guest_info"
##### SUMMARY
When using vmware_guest_info, we ran into situations where the module does not return results for hours or days.
We have a scheduled job, that uses the module to receive VM Informations every night, where it sometimes "get stuck".
As there is no timeout, we don't know if it's a network issue or a programmatic error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest_in

[2021-02-16 13:37] #660 closed

[2021-02-16 14:51] sky-joker commented on #657
Thank you for reporting this issue.
I confirmed that manual operation also occurs the same issue on VCSA 6.7/7.0.

[code]

So, I think that the issue is for VCSA, not the module.
Unfortunately, I didn't understand why the pyvmomi 7.0.0 run correctly.
(The pyvmomi 7.0.0 also occurred the same issue in my environment)

[2021-02-16 14:56] sky-joker commented on #657
By the way, a port group in vSwitch is given preference if the same port group name exists in vSwitch and vDS.

[2021-02-16 20:21] mariolenz opened #665 "CI tests against Python 2.6"
I've seen `ERROR: Found 168 import issue(s) on python 2.6 which need to be resolved` in some CI jobs:

- [ansible-test-sanity-docker](https://10b567618df153acb7f1-4254d96bbe7af42be60e294f3dd29a2c.ssl.cf2.rackcdn.com/664/171e1a1cb060c71a0a516268c83156db5923eb78/check/ansible-test-sanity-docker/34304bd/job-output.txt)
- [ansible-test-sanity-docker-stable-2.9](https://87a7905ec1a14507de00-95c30b1caf0

[2021-02-17 07:45] luclis opened #666 "Ansible collection with git fail due to version in galaxy.yml not set."
##### SUMMARY

I install collections from git repositories.
As you're making your version when you're pushing your repo to ansible-galaxy, it's imposible to fetch your collection from git.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

galaxy.yml
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

debian 10.8 with python from apt.
Ansible from pip in a virtual

[2021-02-17 07:47] luclis commented on #666
I was about to do a PR with the version but I saw you're using a script for bulding it... Don't know how to improve it.

[2021-02-17 15:33] Iwifia commented on #622
This does not work. I ran multiple tests with this method and it fails each time. I cannot predict the tags each time to add multiple sections so I am needing this to be:

[code]

If I remove the category it will add each tag regardless of being 1 tag or 40 tags.

[2021-02-17 15:37] Akasurde commented on #622
@Iwifia I think I am not following you here. Could you please provide details as to what you tried and the respective failures? Thanks.

[2021-02-17 15:42] Akasurde commented on #622
What is the value `{{ servers }}`? is it the same as old or changed?

[2021-02-17 15:46] Iwifia commented on #622
The code above is what I tried. I cannot make the code like this:

[code]

Because we could be adding 1 or 10 entries, not all may have the same number of tags so its not possible for me add tag entries equal to the number needed as this needs to be flexible. Leaving the category out will allow me to add as many tags to the system as I want.

As for the `{{servers}}` question, servers includes thr

[2021-02-17 16:55] mariolenz commented on #665
resolved_by_pr #664

[2021-02-17 16:55] #665 closed

[2021-02-18 07:32] eschek87 opened #669 "Inventory for esxi hosts and clusters"
##### SUMMARY

Extend the inventory plugin vmware_vm_inventory.py to also collect esxi hosts and clusters so that it's possible to manage them with awx/tower as inventory source

##### ISSUE TYPE
- Feature Idea
Extend the plugin to collect esxi hosts and clusters and to use the same features as for virtual machines (keyed_groups, propertie selection...). Maybe renaming the plugin after the feature

[2021-02-18 08:02] Akasurde commented on #669
@eschek87 Thanks for raising this feature request.

[2021-02-18 08:15] Tomorrow9 opened #670 "vmware_deploy_ovf: The virtual machine is not supported on the target datastore"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_deploy_ovf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

OVF can be deployed successfully

##### ACTUAL RESULTS

[code]

[2021-02-18 08:40] Tomorrow9 commented on #670
I assume if add "esxi_hostname" to specify the exact ESXi host can resolve this issue in this scenario?
[code]

[2021-02-18 09:05] Tomorrow9 commented on #670
Like what defined in `vmware_guest` module:
[code]

[2021-02-18 09:38] Akasurde commented on #650
@bucklo Thanks for reporting this. `vmware_object_role_permission` module does not have logic to search subfolder / nested folders.

There are two ways to solve this
1. implement logic to find the folder with the given parent folder
2. implement logic to find the folder using managed object id (moid)

@mariolenz @goneri @sky-joker @Tomorrow9 What do you think is a good strategy over here?

[2021-02-18 13:15] optical4eye commented on #456
Hi! I have the same problem
ansible 2.10.5
community.vmware 1.7.0

[code]

[code]

[2021-02-18 13:22] #456 closed

[2021-02-18 13:48] optical4eye opened #671 "vmware_guest_network connected don't work"
Hello Everyone
connected: true does not work

if I set force: yes, then the new network card is added connected

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest_network

##### ANSIBLE VERSION
[code]
##### OS / ENVIRONMENT
pyvmomi version: 7.0.1
os: Ubuntu 20.04.1 LTS
vSphere Client version: 7.0.1.

##### STEPS TO REPRODUCE
[code]
##### RESULTS

[code]

[2021-02-18 21:40] fabiobpinto opened #672 "Tags with same value but categories diferent give me error - vmware_tag_manager"
##### SUMMARY
I can't add Tag with the same value but categories different.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_tag_manager
!component =lib/ansible/modules/cloud/vmware/vmware_tag_manager.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

I have these variables:
[code]
I have tags named "QAS" in this Cat

[2021-02-18 22:13] MallocArray opened #673 "vmware_cluster_info does not provide correct data for enabled_vsan"
##### SUMMARY

The data returned from vmware_cluster_info includes a property named "enabled_vsan" but it is not accurate and instead appears to always return false, even when vSAN is enabled in a cluster

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_cluster_info

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

vCenter 6.7 U3
ESXi Hosts 6.7 U3

##

[2021-02-19 00:58] #646 closed

[2021-02-19 05:09] Akasurde commented on #672
@fabiobpinto Thanks for reporting this. Could you please provide the collection version installed?

[code]

I am not able to reproduce this at my end, this is what I tried -

<img width="864" alt="Screenshot 2021-02-19 at 10 02 53" src="https://user-images.githubusercontent.com/633765/108460372-8b283780-729e-11eb-91fd-8acb70a8f107.png">
<img width="1057" alt="Screenshot 2021-02-19 at 10 24 39" src

[2021-02-19 10:52] yabb85 commented on #156
Same issue, it work correctly with vmware module in ansible 2.9.14, but failed with community module on ansible 2.9.14 and ansible 3.0.0

[2021-02-19 12:17] Akasurde commented on #672
@fabiobpinto I found the reason for "Tagging cardinality violation". You are trying to assign two different tags from the same category when the category is created with "Multiple Cardinality" as "False"

<img width="791" alt="Screenshot 2021-02-19 at 17 45 40" src="https://user-images.githubusercontent.com/633765/108503448-65b91f00-72da-11eb-845a-f6de204b85d7.png">

<img width="704" alt="Screensh

[2021-02-19 13:20] fabiobpinto commented on #672
@Akasurde, thank you for answering me.

The version of my installation is
[code]

Try to do this:
Select the Ambient Tag with the value QAS and the Storage Tag with the value QAS.

I wanna give this result on my VMware:
![Storage_Ambient](https://user-images.githubusercontent.com/4643427/108509363-e7d62300-729b-11eb-9c96-d3b4aabe7f48.png)

[2021-02-19 13:26] JiffsMaverick commented on #353
I have same problem. Ansible Project 2.10.7, pyVmomi 7.0.1, WMware 6.7.0.45000.

[2021-02-19 15:27] MallocArray opened #676 "vmware_cluster_ha and APD/PDL Warning not fully applied"
##### SUMMARY

module vmware_cluster_ha setting APD or PDL to Warning (default value) when the current cluster setting is Disabled does not fully show the setting change in HTML5 web interface.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_cluster_ha

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

vCenter 6.7 U3

##### STEPS TO REPRODUCE

HA curr

[2021-02-21 09:30] sky-joker opened #677 "vmware_vm_storage_policy: An error for pyVmomi SOAP occurs when not found a category"
##### SUMMARY

The SOAP error has occurred the following when not found a category.

[code]

The cause of the error is that it hasn't been implemented for checking the category exists processing.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

vmware_vm_storage_policy

##### ANSIBLE VERSION

[code]

The community.vmware is the latest.

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

*

[2021-02-21 09:30] sky-joker commented on #677
I'm going to work on creating a patch for the issue.

[2021-02-22 10:46] fisiuk opened #678 "community.vmware.vmware_vm_inventory: Unable to get FQDN for virtual machine"
##### SUMMARY
community.vmware.vmware_vm_inventory: Unable to use FQDN of virtual machine as hostname in inventory file
ansible_collections.community.vmware.plugins.inventory.vmware_vm_inventory plugin: Could not template any hostname
for host, errors for each preference: config.name+"."+guest.ipStack.0.dnsConfig.domainName: list object has no element 0
##### ISSUE TYPE
- Bug Report

##### COMPONE

[2021-02-22 13:09] mariolenz commented on #676
I've tested this with Ansible 3 and vSphere 7 and get the same result. What the module does to manage `apd_response` and `pdl_response` is setting `vmStorageProtectionForAPD` and `vmStorageProtectionForPDL` in [configurationEx.dasConfig.defaultVmSettings.vmComponentProtectionSettings](https://vdc-download.vmware.com/vmwb-repository/dcr-public/b50dcbbf-051d-4204-a3e7-e1b618c1e384/538cf2ec-b34f-4bae

[2021-02-22 13:36] mariolenz commented on #676
I think I've found the problem. If either `vmStorageProtectionForAPD ` or `vmStorageProtectionForPDL` isn't "disabled", I also need to set `vmComponentProtecting` in [configurationEx.dasConfig](https://vdc-download.vmware.com/vmwb-repository/dcr-public/b50dcbbf-051d-4204-a3e7-e1b618c1e384/538cf2ec-b34f-4bae-a332-3820ef9e7773/vim.cluster.DasConfigInfo.html) to "enabled".

[2021-02-22 14:28] fisiuk commented on #678
found that we should use the following
hostnames:
  - 'config.name+"."+guest.ipStack.0.dnsConfig.domainName'
  - 'config.name'

  the second entry 'config.name' is required, otherwise we get error:
  Could not template any
hostname for host, errors for each preference: config.name+"."+guest.ipStack.0.dnsConfig.domainName: 'None' has no attribute 'domainName'

[2021-02-22 14:40] fisiuk commented on #678
Resolution:
Use two and more templates in hostnames option of inventory file.
See example.

plugin: community.vmware.vmware_vm_inventory
strict: False
validate_certs: False
with_tags: true
hostnames:
 - 'config.name+"."+guest.ipStack.0.dnsConfig.domainName'
 - 'config.name'
properties:
  - 'config.name'
  - 'config.guestId'
  - 'guest.hostName'
  - 'guest.ipAddress'
  - 'guest.guestFamily'
  - 'gu

[2021-02-22 14:44] Akasurde commented on #678
@fisiuk Would you be interested in opening a doc PR to address this issue?

[2021-02-22 16:10] fisiuk commented on #678
will do,

but before I would like to clarify why we should use two templates in hostnames to resolve the issue? Is there any reason for this?

[2021-02-22 16:56] mariolenz commented on #676
@MallocArray Can you please try #679 and tell me if this fixes your issue? Thanks.

[2021-02-22 17:24] mariolenz commented on #673
I think this:

https://github.com/ansible-collections/community.vmware/blob/f6ed64f139addcabde07786b91478f3cacfcf258/plugins/modules/vmware_cluster_info.py#L283-L284

should use [vsanConfigInfo](https://vdc-download.vmware.com/vmwb-repository/dcr-public/b50dcbbf-051d-4204-a3e7-e1b618c1e384/538cf2ec-b34f-4bae-a332-3820ef9e7773/vim.cluster.ConfigInfoEx.html#field_detail) instead of just vsanConfig.

[2021-02-22 18:24] mariolenz commented on #673
@MallocArray Can you please try #680 and tell me if this fixes your issue? Thanks.

[2021-02-22 19:19] MallocArray commented on #673
This appears to resolve the issue

[2021-02-22 19:44] mariolenz commented on #673
Great! I've asked @Akasurde and @sky-joker to have a look at my PR, and if they don't see any problem with it I hope we can fix this quite quickly.

[2021-02-22 21:09] MallocArray commented on #676
Looks to be working for me with this fix.

[2021-02-22 21:42] jfanton1 opened #681 "Plugin fails to load instances from VCenter when tags are requested"
Searched for related issues in GitHub and none found.

##### SUMMARY
Running the latest community.vmware plugin produces the following error:

urn:vmomi:InventoryServiceTag:3feddb19-a9fa-43a3-b752-4cc8562c6eb9:GLOBAL

The following yml is used for the inventory.yml:

[code]

When `with_tags` is commented out an inventory of all VMware instances is created but without the needed tags.

##### ISSUE

[2021-02-23 05:54] Akasurde commented on #681
!component =plugins/inventory/vmware_vm_inventory.py

[2021-02-23 05:56] Akasurde commented on #681
@jfanton1 Thanks for reporting this issue. You have not installed `vSphere Automation SDK for Python` which is required to gather information about Tags and Categories. Inventory plugin giving following warning -

[code]

Please install this and re-try.

needs_info

[2021-02-23 05:59] Akasurde commented on #678
@fisiuk Since you are specifying custom hostname as IP address, the inventory plugin fails to set value for those VM which does not have that value. The second template acts as a fallback mechanism.

[2021-02-23 06:01] Akasurde commented on #676
resolved_by_pr #679

[2021-02-23 06:10] Akasurde commented on #672
I am able to assign QAS tags with different categories.

<img width="532" alt="Screenshot 2021-02-23 at 11 38 04" src="https://user-images.githubusercontent.com/633765/108808039-b32fd780-75cb-11eb-93a5-5fd079c93355.png">

Could you please paste the information about tags and categories?

[code]

[2021-02-23 06:43] #676 closed

[2021-02-23 07:22] sky-joker commented on #677
resolved_by_pr https://github.com/ansible-collections/community.vmware/pull/682

[2021-02-23 08:57] #673 closed

[2021-02-23 14:12] jfanton1 commented on #681
Thanks Abhijeet!

It looks like I had not properly sourced by venv when I sent that output.  Here's the corrected output with the venv properly source:

ansible-inventory 2.9.11
  config file = /root/inventory-test/ansible.cfg
  configured module search path = ['/root/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /opt/vmware-python3-venv/lib64/

[2021-02-23 14:16] sky-joker commented on #650
@Akasurde

umm...
I wonder if No1 is better easy for people to understand?

If No2, will you feel like adding a moid parameter to the module?

[code]

[2021-02-23 14:17] Akasurde commented on #681
@jfanton1 Can you please specify the vCenter version used? I will try to reproduce this issue on my end.

[2021-02-23 14:22] jfanton1 commented on #681
Sure!  The version is:  6.7.0 and the build is:  17137327

Thanks,

Joel

[2021-02-23 14:24] Akasurde commented on #650
Finding a folder bit cumbersome in my opinion (no 1). I like the idea of using `vmware_folder_info` to get moid and applying that in vmware_object_role_permission.

[2021-02-23 14:31] sky-joker commented on #650
Okay, I agree with you.

[2021-02-23 14:50] Akasurde commented on #681
@jfanton1 Can you run `vmware_tag_info` and `vmware_category_info` on your vCenter and provide me the output?

[2021-02-23 16:19] jfanton1 commented on #681
Hi Abhijeet!

Here's the output of vmware_category_info:

CategoryName     Multiple Cardinality    Associable Entities

Asset_ID               false                             VirtualMachine
platform               false                             VirtualMachine
data_class             false                             VirtualMachine
hosted_by             false                             ClusterC

[2021-02-23 16:26] Akasurde commented on #681
This is OK. I wanted output of https://github.com/ansible-collections/community.vmware/blob/main/plugins/modules/vmware_tag_info.py and https://github.com/ansible-collections/community.vmware/blob/main/plugins/modules/vmware_category_info.py

[2021-02-23 17:09] jfanton1 commented on #681
Sorry about that!  Here's the output you asked for:

    "tag_facts": {
        "Appliance": {
            "tag_category_id": "urn:vmomi:InventoryServiceCategory:c3ca600d-4e0d-43b6-aa62-3bde8ad15d16:GLOBAL",
            "tag_description": "",
            "tag_id": "urn:vmomi:InventoryServiceTag:a93c4a92-b17d-46c8-afd3-781a9238ba08:GLOBAL",
            "tag_used_by": []
        },
        "DevOps-A

[2021-02-24 04:11] Akasurde commented on #681
@jfanton1 This is just tag information. I need category information as well which is provided by `vmware_category_info`

[2021-02-24 10:08] nfoley84 opened #685 "content_library name"
##### SUMMARY
Looking at deploying a OVF based on the name of the content Library
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.vmware.vmware_content_deploy_ovf_template_module.rst

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux 18.04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Deployment Successfully

##### ACTUAL RESULTS

[2021-02-24 10:36] fisiuk commented on #678
@Akasurde,
to make the error message more informative can you add VM's config.name to message:
Could not template any
hostname for host , errors for each preference: config.name+"."+guest.ipStack.0.dnsConfig.domainName: 'None' has no attribute 'domainName'

[2021-02-24 13:54] jfanton1 commented on #681
Hi Abhijheet - here is the vmware_category_info you requested:

    "tag_category_info": [
        {
            "category_associable_types": [
                "HostNetwork",
                "Network",
                "DistributedVirtualSwitch",
                "Datacenter",
                "com.vmware.content.Library",
                "ClusterComputeResource",
                "com.vmware.content.

[2021-02-24 13:56] alinabuzachis commented on #534
Hi @jgerharter and @timway, thank you reporting. Would someone of you be interested to open PR to address this problem?

[2021-02-24 18:07] mariolenz commented on #534
@jgerharter @timway @alinabuzachis

If I understand your problem correctly, you didn't specify the disk according to the documentation. If it worked in 1.3, it only did so accidentally.

I think the _main_ problem here is that `vmware_guest` didn't validate the `disks` parameter. It should have told you that you didn't specify `disks` correctly.

But this should have been fixed with PR #640. That

[2021-02-24 18:12] mariolenz commented on #462
@narcis-serbanescu @Akasurde
I've updated the documentation in PR #640: `If not specified, disk type is inherited from the source VM or template when cloned and thick disk, no eagerzero otherwise.`

That OK, can we close this issue?

[2021-02-24 18:44] timblaktu opened #686 "error installing vsphere-automation-sdk-python: Supplied requirement is not installable"
TL;DR; **does the sdk install require the community.vmware ansible collection requirements.txt to be installed first?**

EDIT: I have created a corresponding [issue in the sdk repo](https://github.com/vmware/vsphere-automation-sdk-python/issues/259).

I am getting errors installing `vsphere-automation-sdk-python` from its most recent git tag v7.0.1, using ansible 2.10.7, pyvmomi 7.0.1, python 3.7.

[2021-02-24 19:29] mariolenz commented on #686
The vSphere Automation SDK for Python would be much easier to use if it would be available as a PyPI package: vmware/vsphere-automation-sdk-python#38

Feel free to shoot VMware employees until they provide a PyPI package. It looks like physical violence is the only way to make them work... and I'm not even sure if about this, maybe they would rather die before they **do their fucking work**.

[2021-02-24 20:20] fabiobpinto commented on #672
I decided to rename the value of Storage to another value.

[2021-02-24 20:20] #672 closed

[2021-02-24 21:25] samdoran commented on #686
@mariolenz While it's ok to be frustrated, it is completely unacceptable and against our [Community Code of Conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html#community-code-of-conduct) to encourage physical violence towards other humans, even in jest.

Refrain from making such comments.

[2021-02-24 22:12] narcis-serbanescu commented on #462
I think it's OK now, in my opinion issue can be closed.
Thank you!

[2021-02-25 04:07] Akasurde commented on #462
Closing as per above.

[2021-02-25 04:07] #462 closed

[2021-02-25 04:46] #677 closed

[2021-02-25 09:11] Akasurde commented on #686
I am not sure if the vSphere Automation SDK for Python or Pipenv is causing the problem. Also, I don't think there is a particular order of installing Python requirements (at least I have not encountered such a thing while using pip).

Ansible uses 3rd party officially supported libraries to talk to various APIs. We as community or Ansible team are not responsible for package installation at the u

[2021-02-25 09:13] Akasurde commented on #686
I am open to ideas to improve the User experience.

[2021-02-25 16:11] MalfuncEddie opened #688 "vmware_content_deploy_ovf_template does not respect folder path"
##### SUMMARY

If you have 2 folder with the same name (but in different parent folders). The deployment will always take place in the first found folder.

This is because no parent_folders are entered in the FilterSpec.

[code]

https://github.com/ansible-collections/community.vmware/blob/43fe8514c6b336eb3fe3ead8339502c807f000d7/plugins/module_utils/vmware_rest_client.py#L328

In other modules(py

[2021-02-26 07:08] MalfuncEddie commented on #688
I think (bit of trouble reading on the code) the module vcenter folder could help. It seems that it has a parent_folder option.

https://github.com/ansible-collections/community.vmware/blob/43fe8514c6b336eb3fe3ead8339502c807f000d7/plugins/modules/vcenter_folder.py#L178

not sure if adding a parent_folder should be the anwer here because every folder that contains a / would per definition have a pa

[2021-02-26 12:54] fisiuk commented on #678
@Akasurde,
I would like to create pull request, but have no permissions to create new branch and create pull request

[2021-02-26 16:12] laschalkh commented on #458
Hi,

I've run into this today.  Has any workaround been found?

[2021-02-27 10:36] sky-joker commented on #686
I confirmed the same error during the vsphere-automation-sdk-python install with pipenv.
The error also occurred installing the vsphere-automation-sdk-python only.

[code]

But the error doesn't occur in installing with pip.

[code]

Therefore, I think that it is highly likely that the pipenv has the error.

The error occurred lines is around here.

https://github.com/pypa/pipenv/blob/bf7203148e1e

[2021-02-27 11:59] sky-joker commented on #670
resolved_by_pr https://github.com/ansible-collections/community.vmware/pull/687

[2021-02-28 22:13] timway commented on #534
@alinabuzachis I can look into it. I suppose I'll need to start with the underlying Python module. The edge case in the prior version is around behavior of specifying a data store that doesn't exist. In that version it created the VM and used a (default, random) data store. I'll also have to test sending a string for a data store that doesn't exist in the reported version.

It just so happens we h

[2021-03-01 13:10] sawandevrani28 commented on #530
yes @Akasurde . I am using ansible 2.10 with sharing set to true and it always selects the datastore cluster of the first disk

[2021-03-01 14:11] wsslhllmn commented on #410
Why is there no reply on my issue?

[2021-03-02 12:56] Akasurde commented on #410
@mariolenz ^^

[2021-03-02 13:24] mariolenz commented on #410
@wsslhllmn @Akasurde

Well, I was kind of waiting for PR #531. It's the same module and I didn't want to make things too complicated by working on it in parallel. But it looks a little bit abandoned, doesn't it?

[2021-03-02 16:38] wat-usmdon opened #691 "vmware_deploy_ovf documented to return instance but does not"
##### SUMMARY
The documentation for vmware_deploy_ovf states that on success an object will be returned with an `instance` property, but the values that are supposed to be contained within that instance property are directly on the returned object instead.

Looking at the code it seems it has always been this way, at least since breaking out into community.vmware.

##### ISSUE TYPE
- Bug Report

#

[2021-03-02 17:17] wat-usmdon commented on #691
Workaround:
[code]

[2021-03-02 19:03] mariolenz commented on #322
@mark19632 @ashura82
Since it looks like this has been fixed in #552 and you didn't report back that you are still running into this issue I'll close it. In case you **do** still run into this even with a current version of ansible / this collection please open it again or, alternatively, a new issue.

[2021-03-02 19:03] #322 closed

[2021-03-03 12:02] christian-naenny opened #692 "vmware_guest_register_operation without datacenter attribute throws AttributeError: 'NoneType' object has no attribute 'strip'"
##### SUMMARY

When running a playbook using the module community.vmware.vmware_guest_register_operation without the attribute datacenter (which is not marked as mandatory), the error AttributeError: 'NoneType' object has no attribute 'strip' is thrown. Upon inspection of the error messages it becomes clear that the attribute needs to be provided.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAM

[2021-03-03 14:02] sky-joker commented on #692
Thank you @christian-naenny for reporting this issue.
I confirmed the error occurs with the community.vmware latest.
I'm going to work on fixing the issue.

[2021-03-03 15:07] sky-joker commented on #692
resolved_by_pr https://github.com/ansible-collections/community.vmware/pull/693

[2021-03-03 15:11] sky-joker commented on #692
I made a patch for this issue.
So can you please look at https://github.com/ansible-collections/community.vmware/pull/693 ?

[2021-03-03 20:12] Oldolo opened #694 "vmware.vmware_guest throws error when autologoncount parameter is not provided"
##### SUMMARY

When using community.vmware.vmware_guest to deploy a machine from template and using customization it throws an error when not using autologoncount parameter (not marked as mandatory)
Providing the parameter autologoncount resolves the issue.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.vmware.vmware_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

[2021-03-04 16:43] timblaktu commented on #686
@sky-joker what version of python are you using in your test? [Over in the corresponding SDK issue](https://github.com/vmware/vsphere-automation-sdk-python/issues/259#issuecomment-785345530), I found the pipenv install to work fine on a machine that was running python 3.9.0.

[2021-03-05 01:11] Tomorrow9 commented on #349
I can try to add this new feature. Thanks.

[2021-03-05 06:21] #692 closed

[2021-03-05 06:54] tam-tam-tam opened #695 "vmware_guest module - once after customization by the module, ansible tower cannot use domain user to control"
##### SUMMARY
After the VM setup by using vmware_guest module, it cannot use domain user (domainAdmin@domin) in Ansible Tower to control. It return error: msg": "kerberos: the specified credentials were rejected by the server, ssl: the specified credentials were rejected by the server".
After checking the log in the new VM, it turns out that the VM cannot convert the domainAdmin@domin to domain\do

[2021-03-05 14:19] daverstam commented on #671
I face the same issue, almost identical setup

[2021-03-07 06:43] sky-joker commented on #691
Thank you @wat-usmdon for reporting this issue.
I also tried if the instance key exists in return value with the following playbook.

[code]

I confirmed the instance key in the return value exists with the latest community.vmware.

[code]

[code]

So can you please try again using the latest community.vmware?

**My Environment**

[code]

[2021-03-07 07:17] sky-joker commented on #691
I get it.
Sorry, I have missed the power_on parameter is False.

Indeed, the error occurred.
I'm going to work on fixing the issue.

[2021-03-07 15:14] sky-joker commented on #691
resolved_by_pr https://github.com/ansible-collections/community.vmware/pull/698

[2021-03-07 15:15] sky-joker commented on #691
I made a patch for the issue.
Can you please look at https://github.com/ansible-collections/community.vmware/pull/698 ?

[2021-03-08 06:29] TakaseNochi opened #699 "advanced_settings of vmware_guest doesn't work."
##### SUMMARY
advanced_settings doesn't work and I cannnot configure meta-data and user-data for [this datasource](https://github.com/vmware/cloud-init-vmware-guestinfo)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
cento8

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

a exstraconfig

[2021-03-08 07:13] aelicieguo opened #700 "deploy_vmware_ovf to deploy to local cluster"
##### SUMMARY

Request to deploy ovf/ova to specific ESXi hypervisor and datastore tied to local clusters.

##### ISSUE TYPE
- Feature Idea
- There are situations where there is no shared datastore cluster, like VMware guest, we hope to request feature where user can deploy ova to certain hypervisor and datastore tied to it.

##### COMPONENT NAME

use find_datastore_by_name and select_host to depl

[2021-03-08 08:01] Akasurde commented on #699
@TakaseNochi Thanks for reporting this issue. Could you please provide `-vvv` logs and error you are getting? Also, the version collection used.

[code]

needs_info

[2021-03-08 08:24] TakaseNochi commented on #699
I have no error message on prompt run ansible.

this is version.
[code]
I think [this line](https://github.com/ansible-collections/community.vmware/blob/1.8.0/plugins/modules/vmware_guest.py#L2178) is wrong because I change this to the following and
[code]

[2021-03-08 09:11] Akasurde commented on #699
resolved_by_pr https://github.com/ansible-collections/community.vmware/pull/701

[2021-03-08 09:12] Akasurde commented on #699
@TakaseNochi Could you please check if https://github.com/ansible-collections/community.vmware/pull/701 works for you and let me know? Thanks.

[2021-03-08 09:56] TakaseNochi commented on #699
@Akasurde
It works!

[2021-03-08 11:04] digifuchsi opened #702 "vmware_evc_mode evc_mode attribute always required"
##### SUMMARY
The module documentation states that the attribute evc_mode is only required, when state=present but the module fails when evc_mode is not defined and state=absent.

Suggested fix:
Remove required=True from the argument_spec of the evc_mode attribute as the required_if parameter is already used.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_evc_mode

##### ANSIBLE VERSI

[2021-03-08 12:11] sky-joker commented on #700
Thank you @aelicieguo for requesting a new feature.
vmware_deploy_ovf  module has a plan to support the feature(esxi_hostnmae parameter) in https://github.com/ansible-collections/community.vmware/pull/687.

[2021-03-08 13:43] #670 closed

[2021-03-08 14:43] sky-joker commented on #700
The module supported the esxi_hostname parameter by the patch merged.
Can you please try with it?

[2021-03-09 02:32] aelicieguo commented on #700
Hi,

I have just tested the script and I received following error:
{
    "exception": "Traceback (most recent call last):\r\n  File \"/home/ansible/.ansible/tmp/ansible-tmp-1615256785.04-931-115512328795915/AnsiballZ_vmware_deploy_ovf.py\", line 102, in <module>\r\n    _ansiballz_main()\r\n  File \"/home/ansible/.ansible/tmp/ansible-tmp-1615256785.04-931-115512328795915/AnsiballZ_vmware_deploy_ovf

[2021-03-09 02:48] Tomorrow9 commented on #700
Hi @aelicieguo can you find this function "find_datastore_cluster_by_name()" in vmware.py in "plugins/module_utils/vmware.py", what parameters it has? I saw "datacenter" was added in this commit https://github.com/ansible-collections/community.vmware/commit/48a2799d5c4bef15c59d44d07ec09120989f4231#diff-93c7da251200777809ac61a6f388fca8fc1567c45168606109254cf9398b8c92

[2021-03-09 04:14] sky-joker commented on #700
Hi @aelicieguo

Thank you for trying with the module.
I think that most likely you don't have the vmware.py of community.vmware.

You can do correctly the module with the following procedures.

1. Clone latest community.vmware repository

Please move a work directory and execute the following command.

[code]

Please check the community.vmware is installed.

[code]

2. Create a playbook

[code]

*

[2021-03-09 04:21] #699 closed

[2021-03-09 10:59] MalfuncEddie opened #703 "disk.controller_number and disk.unit_number set to 0 results in validation error because 0 == false in v1.8"
##### SUMMARY

Since v1.8 My playbook stopped working with the error

`disk.controller_type', 'disk.controller_number' and 'disk.unit_number' are mandatory parameters when configure multiple disk controllers and disks.
`

Checking my playbook it does have all the parameters

reverting to version 1.7 did fix the issue. I think this might be due to #640 but can"t pinpoint the issue

##### ISSUE TYPE

[2021-03-09 12:11] daverstam opened #704 "customvalues not working in 1.8.0"
Customvalues does not work, it worked fine in 1.6.0

ISSUE TYPE
Bug Report
COMPONENT NAME
vmware_guest_custom_attributes

ANSIBLE VERSION
ansible 2.10.6
  config file = /Users/.../.../ansible/ansible.cfg
  configured module search path = ['/Users/.../.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /Users/.../python-envs/ansible-2.10.6/lib/python3

[2021-03-09 13:29] MalfuncEddie commented on #703
Hi

https://github.com/ansible-collections/community.vmware/blob/f913056612c776b6527aa3c373fe7cb7358d2762/plugins/modules/vmware_guest.py#L2480

should be changed to
[code]

Because it errors if the number is 0

[2021-03-09 13:51] mariolenz commented on #703
@MalfuncEddie You're right, the problem is that `not 0` is `True`. So I think the best way is to fail if 'disk.controller_type', 'disk.controller_number' or 'disk.unit_number' is `None`.

Can you please have a look at PR #705? I hope it will fix this.

[2021-03-09 14:10] MalfuncEddie commented on #703
@mariolenz #705 looks good to me,
Just tested it and no issue. Tnx for the great work

[2021-03-09 14:57] daverstam commented on #671
It works fine when I use a non cloud-init version of CentOS 7 image. Any suggestions on this? It really bugs me since it's ruining our automation.
I have tried the suggestions found here without success: https://kb.vmware.com/s/article/80934

[2021-03-09 15:01] Akasurde commented on #671
@Tomorrow9 Could you please take a look? Thanks,

[2021-03-09 15:02] daverstam commented on #671
I will investigate if this resolves my issue, since I am in fact using customizations: https://github.com/vmware/open-vm-tools/issues/421

[2021-03-09 15:14] Akasurde commented on #704
@daverstam Thanks for reporting this issue. In 1.8.0 release, we changed how we set custom values and advanced settings via https://github.com/ansible-collections/community.vmware/pull/179. Since `disk.EnableUUID` is advanced settings, please use https://github.com/ansible-collections/community.vmware/pull/179 with https://github.com/ansible-collections/community.vmware/pull/701.

[code]
The above

[2021-03-09 15:15] daverstam commented on #671
I reacted on this post in the thread I posted before:
`Thanks, @rolffujino! This clarifies the original issue. Yes, if the guest customization is involved in a clone workflow, the VM NICs were disabled, and only get reenabled if the guest customization runs successfully. Otherwise, the cloned VM will still use the parent VM IP address, causing network issue.`

[2021-03-09 15:22] daverstam commented on #671
Here is a snippet of the toolsDeployPkg.log, not sure what is failing, is it the rm of the lockfile?
[code]

[2021-03-09 15:39] daverstam commented on #704
@Akasurde Thanks! I will test that. You are moving so fast that your documentation does not seem to be able to keep up the pace :-) Keep up the great work!

[2021-03-09 15:55] phospi opened #706 "vmware_vm_shell A specified parameter was not correct:"
##### SUMMARY
VMware Shell command cannot be executed

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_vm_shell.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
awx on docker
collection community.vmware 1.8.0

##### STEPS TO REPRODUCE
Don't know how to reproduce. I use this ansible task for multiple months but for my current vm, it is not working.

[c

[2021-03-09 20:32] daverstam commented on #671
This resolved it for me, hopefully it can also help @optical4eye

`touch /etc/cloud/cloud-init.disabled`
Inspired by: https://kb.vmware.com/s/article/80934 but taking it one step further by disabling cloud-init altogether.

I'm using Packer to build the template/image so I'm using provisioners to disable cloud-init as the last step of the build.

[2021-03-09 20:37] optical4eye commented on #671
Thanks but I'm using legacy build I don't have cloud-init installed

[2021-03-09 22:23] Poly1305 opened #707 "Deploying from template fails when using datastore_cluster"
##### SUMMARY

When ```datastore_cluster``` is defined, and not ```datastore```, Ansible fails when trying to get the datastoreFolder attribute from datastore_id (which is defined as None) here:

https://github.com/ansible-collections/community.vmware/blob/f913056612c776b6527aa3c373fe7cb7358d2762/plugins/modules/vmware_content_deploy_template.py#L205

Removing the folder argument from the call sol

[2021-03-10 02:10] tam-tam-tam commented on #695
Any update?

[2021-03-10 02:29] BlueArcherX commented on #669
Wow , I have been wondering about this for like a year. Shame on me for not filing a FR here.

I literally cannot wait for this to be available! Thank you

[2021-03-10 04:48] Akasurde commented on #704
We are planning to release 1.8.1 with #701. It is expected by end of this week (12 March 2021).

cc @goneri

[2021-03-10 06:49] MalfuncEddie commented on #707
@Poly1305
had the same issue, see issue#619

I also see that there is a PR #683

Hope this workaround helps.

[2021-03-10 07:10] daverstam commented on #704
@Akasurde Thanks! I think this can be closed then 👍

[2021-03-10 12:06] Akasurde commented on #707
resolved_by_pr #708

[2021-03-10 12:49] Akasurde commented on #706
@phospi Thanks for reporting this issue. VMware API does not provide additional details about the failure so `vmware_vm_shell` can not provide the same.

Can you please try changing -

[code]

to

[code]

I am suspecting `\\"` causing the error.

Also, try `wait_for_process: True` to see if it provides some additional details about the error.

I am able to run execute -

[code]

[2021-03-10 15:43] phospi commented on #706
Thank you very much but that doesn't change anything. Maybe the issue is related to the Windows Version
My version is `Windows Server 2016 Datacenter`

VMware Tools version:

[2021-03-10 15:52] weoinvm opened #709 "vmware_dvs_portgroup add possibility to override the failover"
##### SUMMARY
Currently it is not possible to override the NIC Teaming failover order of a distributed port group.

As far as I know the failover order can be specified with the usage of
`nicTeaming.nicOrder.activeNic` and` nicTeaming.nicOrder.standbyNic`.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_dvs_portgroup

##### ADDITIONAL INFORMATION

With the new setting "activeNic" onl

[2021-03-10 17:02] timblaktu commented on #686
Now using python 3.9.0, I'm getting success but **only** when I `pipenv install` a release archive file, using this package type/syntax, `vsphere-automation-sdk = {file = "https://github.com/vmware/vsphere-automation-sdk-python/archive/v7.0.1.0.tar.gz"}`.

Here is the full Pipfile I'm using in this successful case:

[code]

Even though this succeeds, strangely, a subsequent graph of what got insta

[2021-03-10 17:39] timblaktu commented on #487
@Akasurde, @sky-joker, @NathanDotTo, I'm also seeing this issue, on linux, when installing the sdk requirement to using this collection. As described [here](https://github.com/ansible-collections/community.vmware/issues/686#issuecomment-795743919), I am NOT explicitly installing `pyvim` or `pyvmomi` but instead am simply installing the `vsphere-automation-sdk` package using `pipenv install`. Note

[2021-03-11 11:22] phospi commented on #706
When exeucting the same command via PowerCli, it works:

[code]

But I get this message as well. Which I will change next.
[code]

[2021-03-11 23:02] timblaktu commented on #686
Summary of my major problems - I had to:
* tell ansible the path to the python interpreter in the venv I'm using, with `ansible_python_interpreter`
** this caused ansible to mysteriously report ModuleImportErrors and took some digging
* make sure my jenkins workspace path and venv name are short so that I don't trip on the 127 char shebang problem
** this caused mysterious syntax errors when execu

[2021-03-11 23:20] Poly1305 commented on #707
Still fails, different error.

[code]

[2021-03-11 23:40] timblaktu opened #710 "using validate_certs: no results in ansible_collections.community.vmware.plugins.module_utils.vmware.TaskError: ('The operation is not supported on the object.', None)"
##### SUMMARY
Using `validate_certs: no` in my simple playbook that uses vmware_guest task results in this error:

[code]

When I change to `validate_certs: yes` or comment the line out, I get an "Unable to connect" error bc `SSL: CERTIFICATE_VERIFY_FAILED`.

For now, I would like to bypass SSL verification, but this doesn't appear to be possible.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NA

[2021-03-11 23:44] timblaktu commented on #710
I have upgraded my environment to use community.vmware collection version 1.8.0 and am still getting same behavior.

[2021-03-12 10:31] phospi commented on #706
Ok, I think problem itself is solved. Everything is working fine and as expected with updated vmware tools.

It's still strange that PowerCLI worked with old version of vmware tools while pyVmomi didn't.

And it is really annoying that the pyVmomi output is not indicating that the problem could be related to an old VMware Tools version.

[2021-03-12 19:10] luckyinfil opened #711 "vmware_deploy_ovf - not dealing with vService dependency 'vCenter Extension Installation"
#### SUMMARY
When trying to deploy the vSphere Replication ovf, with the vmware_deploy_ovf, it fails and I get the following error message: «The virtual machine 'replication_ansibleTest_ovf' has a required vService dependency 'vCenter Extension Installation' which is not bound to a provider.»

#### ISSUE TYPE
Bug Report
? Missing Feature: 'vCenter Extension Installation' ?

#### COMPONENT NAME
vmw

[2021-03-12 19:11] luckyinfil commented on #711
@sivel any ideas whether it's possible to have the module configure the --vService flag

[2021-03-12 22:04] timblaktu commented on #710
I have written a separate, small python project that uses `requests` to verify that I can authenticate to the same server with the same basic auth credentials, successfully. This is with requests.Session.verify = False.

I then moved this test code into the environment identified in this issue, and validated that it works correctly, but this doesn't tell us much, since my test project only uses re

[2021-03-13 00:12] jamesmarshall24 opened #712 "Inventory Plugin Returns Host Variables in Unexpected Structure"
##### SUMMARY

Host variables returned by vmware_vm_inventory display complex variables in single line format rather than formatted correctly in a dict/list

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.vmware.vmware_vm_inventory

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

1. `ansible-galaxy collection install community.vmware`
2. ansible-inventory -i vmware.yml --l

[2021-03-14 12:46] linuxcrash opened #713 "ESXi without vCenter - Duplicate existing template VM"
##### SUMMARY
It seems currently there is no way of duplicating an existing VM that is available on an ESXi server running without vCenter.

The story goes like this:
User uploads a Windows template OVA that gets successfully registered on the ESXi. Now this template VM is used to get copied as instances of real VM's. Since the clone opration is only available to ESXi hosts that are connected to a

[2021-03-14 20:30] jnm27 opened #714 "vmware_local_user_manager always shows "changed""
##### SUMMARY

The vmware_local_user_manager module always shows changed, even if the user is already configured per the arguments.
Run the module twice with same arguments to see that it is changed both times.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_local_user_manager

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Controller: RHEL8.2
VMwa

[2021-03-15 02:56] aelicieguo commented on #700
Hi, I think it is most likely that I'm running the scripts in a disconnected env. Let me try updating ansible tower with the collections.

[2021-03-15 04:04] Akasurde commented on #706
@phospi I am glad the problem is solved. There is a difference in PowerCLI and PyVmomi implementation which might be the cause. I will close this issue as per the above comment. Thanks.

[2021-03-15 04:04] #706 closed

[2021-03-15 05:51] Akasurde commented on #707
@Poly1305 Sorry my bad. Could you please try now? I updated the code (use datacenter instead of folder).

[2021-03-15 07:12] Akasurde commented on #712
@jamesmarshall24 Thanks for reporting this issue. If I understand this correctly, you want to have dictionaries inside the hostvars. For this feature, there is a configurable parameter called `with_nested_properties` which is `False` by default. You will get the following output if this parameter is set to `True`.

[code]

Let me know if this satisfies your requirement.

needs_info

[2021-03-15 07:44] Akasurde commented on #710
@timblaktu Thanks for reporting this issue. It seems a permission issue to me. When you specify `validate_certs: yes` it provides the correct error message of "SSL: CERTIFICATE_VERIFY_FAILED" since you do not have a valid vCenter SSL Certificate. When you provide `validate_certs: no` it by-passes the certificate check and proceeds beyond. From the traceback, I can see it is trying to power on the

[2021-03-15 12:22] lbggn opened #717 "vmware_resource_pool: create a resource pool as child of a resource pool."
##### SUMMARY

In some circumstances, I would like to create a resource pool as child of a resource pool. Actually, the `vmware_resource_pool` module only authorize to create a resource pool as child of a cluster or an ESXi host.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

`vmware_resource_pool`

##### ADDITIONAL INFORMATION

This can be added with a parameter which works like `cluster

[2021-03-15 13:20] SilentT19 opened #719 "vmware_guest Create VM with Windows Template without parameter guest_id"
##### SUMMARY
When create VM with Template windows with customisation without guest_id, the module send linux customisation

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
OS : Windows

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
The VM was created with customisation and without error

[2021-03-15 13:33] SilentT19 commented on #719
https://github.com/ansible-collections/community.vmware/blob/f913056612c776b6527aa3c373fe7cb7358d2762/plugins/modules/vmware_guest.py#L2303

if win in guest_id but guest_id was not required if use template

https://docs.ansible.com/ansible/2.10/collections/community/vmware/vmware_guest_module.html#parameter-guest_id

"This field is required when creating a virtual machine, not required when creati

[2021-03-15 13:38] SilentT19 commented on #719
Perhaps this problem is related to https://github.com/ansible-collections/community.vmware/issues/75

[2021-03-15 13:55] matancarmeli7 commented on #347
@Akasurde, there is an environment to test it?

[2021-03-15 17:44] jamesmarshall24 commented on #712
Thanks @Akasurde I over looked that configuration. If with that added to the yml spec, I get both. Is this expected?

[code]

The issue I'm mainly seeing are these in-line variables being written to Tower host variables. After adding that param to the yml spec, I at least don't see any undefined errors in Tower.

[2021-03-15 18:02] ollie1 commented on #655
I am also seeing the same issue with a playbook like this:
[code]

ansible --version
[code]

It looks like the issue is https://github.com/ansible-collections/community.vmware/blob/902710c6490f075d53e5cb532ad98d4034f13227/plugins/modules/vmware_guest.py#L2379
[code]
It seems that now, ansible returns "None" from this rather than using the default_name variable.

As a workaround, I can set the cust

[2021-03-16 04:40] Tomorrow9 opened #720 "vmware_guest_network: TypeError: '<' not supported between instances of 'str' and 'NoneType'"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest_network

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ESXi version 7.0.2

##### STEPS TO REPRODUCE

Add a new network adapter to the deployed VM through connecting to ESXi host.

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[code]

[2021-03-16 07:22] jnm27 opened #721 "AttributeError: 'NoneType' object has no attribute 'field' when reconfiguring vm with vmware_guest"
##### SUMMARY

Able to create a new VM fine with vmware_guest, but when I run the same playbook again right after, it fails while "reconfiguring". I am using customvalues field, which is where it appears to be failing.
This is using community version 1.8.0. If I step back to base Ansible 2.9 vmware_guest (no namespace), then it works fine. Although note that 2.9 vmware_guest always shows "changed"

[2021-03-16 12:42] Tomorrow9 opened #722 "vmware_guest: 'disk.controller_type', 'disk.controller_number' and 'disk.unit_number' should be not None"
##### SUMMARY

fatal: [localhost]: FAILED! => {"changed": false, "msg": "'disk.controller_type', 'disk.controller_number' and 'disk.unit_number' are mandatory parameters when configure multiple disk controllers and disks."}

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[2021-03-16 12:47] mariolenz commented on #722
@Tomorrow9 Isn't this the same as #703?

[2021-03-16 12:59] mvgtsvg commented on #529
I am having the same issue, how do I update the lockdown exception users using ansible? Is this feature going to be added to the REST API?

[2021-03-16 13:05] Akasurde commented on #722
Duplicate of #703

[2021-03-16 13:05] #722 closed

[2021-03-16 13:18] aelicieguo commented on #700
Hi @sky-joker,

I have tested the script and it deploys to the hypervisor as stated.

[2021-03-16 13:28] #703 closed

[2021-03-16 14:37] sky-joker commented on #714
Thank you @jnm27 for reporting this issue.

Yes, as you say the module always occurs the “changed" because it can't compare a user password between new and existing.
The module can get properties the following, but not passwords.

https://code.vmware.com/apis/968/vsphere

Most likely the password is encrypted even if the password can get, so I think that it can't compare.

[2021-03-16 15:06] aelicieguo commented on #700
Hi @sky-joker I have tried various test cases. I see error where local datastore tied to the exsi host could not be located.

[2021-03-16 20:46] beezel opened #725 "vmware_host: add option to not move existing hosts"
It would be helpful to add an optoin such as "move_host: false" to prevent existing hosts from being moved when this runs.

We run a Deployment cluster where hosts live during provisioning and during maintenance and would like to be able to run this against all hosts to ensure they're joined to vcenter, but leave them where they are if they already exist.

[2021-03-17 09:53] aelicieguo commented on #700
I have added vmware_datastore_info tasks prior to vmware_deploy_ovf tasks to check information of the local datastore but the output return empty. it seems like the modules does not read local datastore. From the vm, I did a govc ls /DC/datastore I can see the datastore.

[2021-03-17 10:23] aelicieguo commented on #700
Hi, it was typo. we managed to solve this issue.

[2021-03-17 14:50] #704 closed

[2021-03-17 17:02] #691 closed

[2021-03-18 14:23] noesberger commented on #410
When I read the code correct, the feature is already there in the new dvs_portgroup module.

port_allocation:
        description:
            - Elastic port groups automatically increase or decrease the number of ports as needed.
            - Only valid if I(port_binding) is set to C(static).
            - Will be C(elastic) if not specified and I(port_binding) is set to C(static).

[code]
and i

[2021-03-18 22:53] timblaktu commented on #710
@Akasurde It's correct that this issue isn't about ssl.cert validation. I shouldn't have included that in the title, as I eventually learned it was unrelated to the underlying issue. (I've changed the title.)

The issue was that I was getting the error:

[code]

without much explanation or understanding of how far the module got under the hood or what this error actually means.

In the last week I

[2021-03-18 23:12] timblaktu commented on #710
@Akasurde I learned that `cluster` is a required parameter, and that I am omitting it here. WHen I add the missing `cluster` param, with the correct value, the above error goes away but next I get:

[code]

Is this for real, LVM is not supported? I'm using ESXi 6.7. Is this not recent enough?

[2021-03-18 23:26] timblaktu commented on #481
I'm hitting this as well, in [this issue](https://github.com/ansible-collections/community.vmware/issues/710#issuecomment-802374750). In my case, I'm specifying `networks` without actually needing to make any changes to the template I'm cloning. Can I just omit `networks` to workaround this?

[2021-03-19 05:16] Akasurde commented on #721
@jnm27 Thanks for reporting this issue. There was a significant change in 1.8 release related to custom values and advanced settings - https://github.com/ansible-collections/community.vmware/pull/179.

Could you please confirm if you are using a standalone ESXi deployment?

As a workaround -

[code]

[2021-03-19 05:22] jnm27 commented on #721
By standalone ESXi deployment, do you mean am I connecting directly to the ESXi host as opposed to vcenter? Yes.

[2021-03-19 05:27] Akasurde commented on #721
Yes,

customFieldManager is not available in a standalone ESXi. Can you please take a look at #179 and modify your playbook accordingly and let me know.

[2021-03-19 13:31] Akasurde commented on #719
@SilentT19 Thanks for reporting this issue. GuestID information is gathered using VMware Tools installed inside the VM. If VMware tools fail to detect or wrongly report the guest id then the module would misbehave. I am afraid that there is no other way to detect guest id.

Please try updating vmware tools in Guest OS.

[2021-03-19 16:48] jnm27 commented on #721
@Akasurde
I tried using advanced_settings. It was successful, but it did not update the VMX file with the values I specified, neither on creation nor on reconfiguration.

Using customvalues on the base 2.9 version of vmware_guest does update the VMX file appropriately during creation.

[2021-03-19 16:52] jnm27 commented on #721
Note that customvalues on the 1.8.0 version also does not create the VM with the correct VMX settings either.

[2021-03-19 17:11] 4ndersson opened #727 "community.vmware.vmware_guest cannot run another time"
##### SUMMARY

When running community.vmware.vmware_guest a second time with same settings, an error message saying that the VM already exists will be shown.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`community.vmware.vmware_guest`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Host running from: `Redhat 7.9 (Maipo)`
Target: `Vcenter 6.7`

##### ST

[2021-03-19 19:29] jillr commented on #651
Thanks for opening this bug.  This has been fixed in a recent version of the `community.vmware` collection.  I see you're using Ansible 2.9.17, which has support for collections.  We are not backporting bugfixes for community modules to Ansible 2.9, so I would recommend installing the `community.vmware` collection from Ansible Galaxy.

[2021-03-19 19:29] #651 closed

[2021-03-20 06:07] luischanu commented on #644
@mariolenz I haven't seen any update on this request in a while, so I just wanted to check-in to see how things are coming along.  If you can provide an update, I'd greatly appreciate it.

[2021-03-20 06:20] mariolenz commented on #644
@luischanu I'm terribly sorry but I didn't find the time to work on this until two days ago. But now that I've started I hope to open a PR that implements MAC learning next week.

[2021-03-20 06:48] luischanu opened #728 "community.vmware.vmware_cluster_vsan module fails with a newly created vSphere 7.0U2 cluster"
##### SUMMARY
After deploying a new vSphere 7.0 Update 2 cluster, I try to use the vmware_cluster_vsan module to enable vSAN and automatically claim the storage, and the module fails.  This failure also occurs even when attempt to enable vSAN by itself.  Latest vSAN SDK v7.0U1 (Latest) is downloaded, and vsanmgmtObjects.py and vsanapiutils.py files were placed in the Python include path.

The foll

[2021-03-20 06:52] luischanu commented on #644
@mariolenz thank you for the update.  FYI, I am starting to learn Pyvmomi in the hope that I can contribute to the group in the future.  Thank you for all of your efforts.

[2021-03-20 08:49] luischanu commented on #644
@mariolenz , I was able to find an example Python script in VMware's TechZone that shows how to set MAC Learning and Forged Transmits.  I'm hoping that maybe this will help you out with your updates.  You can find the Python script [HERE](https://nsx.techzone.vmware.com/resource/nsx-v-nsx-t-3x-migration-coordinator#_Toc56775882).

[2021-03-20 21:47] timblaktu commented on #710
@Akasurde I've updated my Debian Buster (and its `open-vm-tools` version `2:10.3.10-1+deb10u2`) machines to pin `open-vm-tools` to `buster-backports` and now I'm getting `open-vm-tools` version `2:11.2.5-1~bpo10+1`. Now, looking at these guests with updated `open-vm-tool` in vCenter, their "VMWare Tools" section now says:

even when the guest is powered off. Before, It only ever showed an indicati

[2021-03-21 14:41] SilentT19 commented on #719
I think that when we prepare and use a template, the guestOS is registered in the configuration of the template and it is cloned with the VM, Liked this
![image](https://user-images.githubusercontent.com/64705216/111908908-4ccb9700-8a5b-11eb-96eb-df907d2c8a8c.png)
 I think that we should use this parameter instead of that of the tools.

[2021-03-21 15:59] sky-joker opened #731 "vmware_host_datastore: A new iSCSI device can’t mount with the module"
##### SUMMARY

The following error occurs when I did mount a new iSCSI device as a VMFS to an ESXi with the module.

[code]

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

vmware_host_datastore

##### ANSIBLE VERSION

[code]

community.vmware is the latest.

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ESXi: 7.0.0.16324942
VCSA: 7.0.0.10400

##### STEPS TO REPRODUCE

I created the f

[2021-03-22 05:39] keirazhang opened #732 "vmware_vm_shell failed when there is VM deleted"
### Summary

When I used vmware_vm_shell to execute shell command on a VM, another VM was deleted and caused vmware_vm_shell failed.

[code]

### Issue Type

Bug Report

### Component Name

vmware_vm_shell

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Oracle Linux 8.3

### Steps to Reproduce

1. Run vmware_vm_shell on a VM to execute some shell command
2. Delete an

[2021-03-22 06:30] Akasurde commented on #732
@keirazhang Thanks for reporting this issue.

@abikouo Would you be able to tackle this issue? You might want to handle the exception something similar to https://github.com/ansible-collections/community.vmware/blob/804fc67d330dba1739dc45f5c8261bcbf0d248d5/plugins/modules/vmware_local_user_info.py#L113

Let me know if you need some help.

[2021-03-22 06:37] Akasurde commented on #728
@luischanu Thanks for reporting this issue.

@mariolenz I think this is due to https://github.com/ansible-collections/community.vmware/pull/289/files#diff-b0727b9b194a50c77d9e7fe10435a35a072a90f0934c612b9fbaec111d4f0a7cR237. Would you be able to tackle this issue? Thanks in advance.

[2021-03-22 06:55] Akasurde commented on #727
@4ndersson Thanks for reporting this issue. Was this playbook working before or older releases?

[2021-03-22 07:06] Akasurde commented on #727
What is the path of VM? It seems that on the first try module does not find the VM and create it. When run for the second try it tries to find the existing VM and proceeds to create a new VM on failure. The error message is returned by vCenter API. So I think there is something wrong with folder value.

[2021-03-22 07:07] Akasurde commented on #725
@beezel Thanks for reporting this issue. Could you please elaborate more on the issue by providing the playbooks used and console log?

Thanks.

[2021-03-22 07:12] Akasurde commented on #721
@jnm27 Could you please provide the playbook used?

needs_info

[2021-03-22 07:21] Akasurde commented on #712
@jamesmarshall24 Yes, this is expected behavior (to have in-line variables with nested variables when `with_nested_properties` is `True`).

[2021-03-22 07:24] Akasurde commented on #712
Since `with_nested_properties` feature was added later, we decided to set it `False` (default value) to maintain backward compatibility.

[2021-03-22 09:54] Akasurde commented on #678
resolved_by_pr #696

[2021-03-22 09:55] #678 closed

[2021-03-22 10:37] Akasurde commented on #681
resolved_by_pr #733

[2021-03-22 10:38] Akasurde commented on #681
@jfanton1 Can you please check if PR #733 and let me know if it works for you?

Thanks.

needs_info

[2021-03-22 11:32] sky-joker commented on #731
I found out that the cause of the error.
The error was occurring by the wrong configuration of an iSCSI device.
(I didn't permit to mount the device in a security settings.)

I confirmed that I could mount the iSCSI drive with the module after fixing the configuration.
So I close this PR.

[2021-03-22 11:32] #731 closed

[2021-03-22 12:57] mariolenz commented on #728
@luischanu Can you please test if PR #734 fixes your issue?

[2021-03-22 13:39] jnm27 commented on #721
With 2.9 vmware_guest customvalues:
[root@ops03:/vmfs/volumes/6054c5e3-900d7846-faed-48df37da5d04/efd02] grep isolation efd02.vmx
isolation.tools.unity.push.update.disable = "TRUE"

With 1.8.0 customvalues:
[root@ops03:/vmfs/volumes/6054c5e3-900d7846-faed-48df37da5d04/efd02] grep isolation efd02.vmx
[root@ops03:/vmfs/volumes/6054c5e3-900d7846-faed-48df37da5d04/efd02]

With 1.8.0 advanced_settings:

[2021-03-22 13:44] 4ndersson commented on #727
@Akasurde I haven't tried exactly this run in another release.

/$dc/vm/ is the default vCenter folder, nothing I have created manually. I tried running the playbook with the folder attribute removed, the VM is still created in the /$dc/vm/ folder and does not work when running the playbook a second time.

[2021-03-22 14:19] mariolenz commented on #28
@Akasurde @goneri In vSphere 7.0, the ESXi built-in VNC server has been removed. Users will no longer be able to connect to a virtual machine using a VNC client by setting the RemoteDisplay.vnc.enable configure to be true. ([VMware vSphere 7.0 Release Notes](https://docs.vmware.com/en/VMware-vSphere/7.0/rn/vsphere-esxi-vcenter-server-70-release-notes.html#productsupport))

The last version with a

[2021-03-22 14:45] Udayendu opened #735 "VMware infrastructure reporting module required"
##### SUMMARY
Currently there is no ansible module available that can help for reporting of vSphere objects like:

- Datacenter/Cluster/Datastore Utilization
- Available permissions on a particular objects like Datacenter/Cluster/Storage/Hosts/Networks etc
- Export permissions of these objects

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- vCenter Objects like Datacenter, Cluster, Networ

[2021-03-22 15:04] sky-joker opened #736 "vmware_host_iscsi_info: An error occurs the module gathers information against an ESXi Host with iSCSI disabled."
##### SUMMARY

The following error occurs in gathering iSCSI information with the module when an ESXi Host iSCSI has been disabling.

[code]

I already found out the cause of the error, so I'm going to work on fixing it.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

vmware_host_iscsi_info

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

communit

[2021-03-22 15:21] jfanton1 commented on #681
Hi Abhijeet-

PR #733 does work fine!

Thanks much,

Joel

Joel M. Fanton
Director of Technology and Automation Development

Technology Partner Services – Shared Services
Technology and Automation Development
P 617 645 4761
Harvard University Information Technology
784 Memorial Drive
Cambridge, Massachusetts 02138
www.harvard.edu/huit<http://www.harvard.edu/huit>

From: Abhijeet Kasurde ***@***.**

[2021-03-22 18:29] walterrowe opened #737 "feature request: make vmware_guest_cross_vc_clone arguments consistent with other vmware modules"
##### SUMMARY

make module params consistent with other vmware modules. other modules accept where only vcenter / cluster,  or hostname are required vs both. going through the destination vcenter / cluster is safer than requiring login access to an esxi host.

##### ISSUE TYPE

feature request

vmware_guest_cross_vc_clone requires both destination_vcenter and destination_host.

vmware_guest accept

[2021-03-22 23:44] walterrowe commented on #737
This is the documentation from vmware_guest

[code]

NOTE that esxi_hostname and cluster are mutually exclusive. module `vmware_guest_cross_vc_clone` should work the same as vmware_guest for destination.

[2021-03-23 04:26] Akasurde opened #738 "vmware_content_deploy_template and _ovf_template: enhancements"
##### SUMMARY
Tracking bug for vmware_content_deploy_template and vmware_content_deploy_ovf_template enhancements.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_content_deploy_template
vmware_content_deploy_ovf_template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2021-03-23 04:28] Akasurde commented on #738
cc @n3pjk

[2021-03-23 05:51] luischanu commented on #728
@mariolenz, to help keep things 'clean', I'm going to do two different entries on this ticket:
1) Setting up the testing environment (This message)
2) Testing results (Next message)

I following the steps listed in [ISSUE 616](https://github.com/ansible-collections/community.vmware/issues/616) that you and @sky-joker provided, but I ran into some issues.  I first tried obtaining the modules via Ga

[2021-03-23 06:11] luischanu commented on #728
@mariolenz , after following the steps listed above, I ended up just copying the "vmware_cluster_vsan.py" module into the "library" directory of my SDDC.Lab Github project in order to test it.  I know my tests were using your newer code because I was no longer getting the same error message...but, there were still issues.

Here are the tests I performed:
1) Enable vSAN: **OK**
2) Disable vSAN: **O

[2021-03-23 06:27] Akasurde commented on #735
[code]

[2021-03-23 07:01] Akasurde commented on #728
The steps you followed are correct. But you need to make some changes

[code]

You need to have FQCN to make sure that you are using correct version of the module.

[2021-03-23 07:32] luischanu commented on #728
@Akasurde, Thank you!

[2021-03-23 17:12] #681 closed

[2021-03-24 12:35] ihumster opened #739 "default for enable_drs in vmware_cluster_drs module"
##### SUMMARY
Need change default choise for parameter enable_drs in vmware_cluster_drs. By default, this parameter contains No (False) - if the user does not specify this parameter explicitly by setting it to Yes (True), then the consequences for the cluster can be destructive, because disabling DRS destroys the entire Resourse Pools tree. For some environments (eg VCD, VRA) the consequences will

[2021-03-24 13:09] abikouo commented on #652
Hi @nfoley84
Thanks for reporting this issue. community.vmware 1.7.0 supported this feature. Could you please double check that you are using this version ?
[code]
As you can see this is done in the test suite
https://github.com/ansible-collections/community.vmware/blob/main/tests/integration/targets/vmware_resource_pool/tasks/main.yml#L229

[2021-03-24 13:17] Akasurde commented on #735
- [ ] Datacenter/Cluster/Datastore Utilization
- [x] Available permissions on a particular objects like Datacenter/Cluster/Storage/Hosts/Networks etc - https://github.com/ansible-collections/community.vmware/pull/740
- [x] Export permissions of these objects - Use jinja2 and template module to solve.

[2021-03-24 17:43] walterrowe opened #741 "vmware_guest_cross_vc_clone permissions check fails"
##### SUMMARY

I am using a ID with full admin rights on source and destination. The module fails on permissions checks.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest_cross_vc_clone

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macos big sur
vsphere 7.0

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expect with full

[2021-03-24 18:11] usscarter commented on #498
I have verified the same in my environment. When I clone the VM, the NIC is modified, and causing a brief hiccup.

[2021-03-24 18:32] MicLennartz commented on #630
We're facing the same symptoms in our environment (various versions of Ansible and pyvmomi, until most recent). I like to add some observations:
The problem only occurs, if the vCenter user has access to multiple data centres using the same network labels, AND the name of the network contains characters of a typical IPv4 prefix. E.g. "192.168.10.0/24"

[2021-03-25 12:33] sky-joker opened #742 "vmware_vm_storage_policy_info: The module can't gather virtual machine storage policy information when a policy is set to "Enable tag based placement rules""
##### SUMMARY

The following error occurs gathering a policy after set a virtual machine storage policy to "Enable tag based placement rules"

[code]

![image](https://user-images.githubusercontent.com/19516126/112473383-a44a6980-8db1-11eb-85ff-e5fe32f9c3b2.png)

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

vmware_vm_storage_policy_info

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[2021-03-25 15:33] weoinvm commented on #709
Looks like this feature was there before ... albeit in the "vmware_dvs_portgroup" module ... https://github.com/ansible/ansible/pull/41962

[2021-03-25 17:37] mariolenz commented on #410
I've opened PR #743 to implement this. Can you please test if it works for you? It should allow you to create an elastic portgroup by specifying `port_binding: static` and `port_allocation: elastic`.

It's still work in progress because I want to implement #644 and #709 while I'm at it and I'm still working on #709 but the PR should already allow you to configure elastic PGs.

[2021-03-25 17:37] mariolenz commented on #709
There are two other feature requests for this module, #410 and #644. Since I'm working on them (PR #743) I'll try to implement this, too, while I'm at it.

[2021-03-25 17:37] mariolenz commented on #644
I've opened PR #743 to implement this. Can you please test if it works for you? It's still work in progress because I want to implement #410 and #709 while I'm at it and I'm still working on #709 but the PR should already allow you to configure MAC learning.

[2021-03-25 21:53] solohan83 commented on #395
My apologies for this very late update. I am not able to gain access to the shell of the node where I was experiencing issues. We will try build a new node and test it out from there.

I will update once I gain access to the said new node.

Thanks

[2021-03-27 08:02] luischanu commented on #644
@mariolenz , I pulled down PR 743 to test the MAC learning, but I don't see an option for MAC learning when I looked at the documentation for the "vmware_dvs_portgroup" module (i.e. ansible-doc community.vmware.vmware_dvs_portgroup).    So, then I looked at the module's code, and I see the "mac_learning" option.   It's as if the "ansible-doc" utility isn't following the ANSIBLE_COLLECTIONS_PATH th

[2021-03-27 15:17] mariolenz commented on #739
@ihumster I understand the problem but changing the default to `True` might affect people in the opposite way it affects you: They think that not specifying `enable_drs` means it's disabled, but suddenly their playbooks would enable DRS when not setting this parameter.

Maybe it would be better to _not_ have a default and make this a required parameter. This would force people to explicitly state

[2021-03-27 18:07] htaudah opened #746 "VM created without network card"
##### SUMMARY
I'm trying to create a VM in a VSphere (VMC) environment leveraging NSX-T. The VM is being created without a network card. I've narrowed out down to this line in the configure_networks function:

https://github.com/ansible-collections/community.vmware/blob/4a248deaaa0a974e1646d8e0c00005261dd0e7cf/plugins/modules/vmware_guest.py#L2060

Using a relospec when configuring opaque networks

[2021-03-28 14:45] mariolenz commented on #644
@luischanu There was a bug in `supports_mac_learning()`. I've force-pushed new code to fix this. I hope the module now works for you.

[2021-03-28 15:00] mariolenz commented on #709
@weoinvm

Can you please test #743 and tell me if it fixes your issue? I tested this only with "normal" uplinks, not with a LAG, but I hope this works for you nevertheless:

[code]

[2021-03-28 16:14] mariolenz commented on #590
I'll close this issue because you can detach a disk without deleting it by combining `state: absent` with `destroy: no`: ansible/ansible#63740

If you think this doesn't address your issue, feel free to open it again.

[2021-03-28 16:14] #590 closed

[2021-03-29 06:00] luischanu commented on #644
@mariolenz , I am getting the same issue, so I'm not sure I pulled the updated fixes down properly.  I don't want to give you false information, so let me redo my test environment tomorrow, and I'll test it then.  I'll be in touch.

[2021-03-29 11:31] MrBones757 commented on #353
We ran into this issue internally in our organization running ansible v2.9.19.

There seems to be two discrete issues here (at least from my perspective) that are as below:
1 - the use of the datastore parameter in disks is disregarded when creating new disks
      this includes:
      -  adding new disks when cloning from a template
      -  adding disks to a newly created vm
 2 - the use of the

[2021-03-29 17:19] mariolenz commented on #644
I think you may run into problems here because I didn't just push new commits. I've squashed several commits into one and force-pushed this, effectively re-writing the commit history of my branch. Now your local copy of the PR / my branch differs from my branch and that leads to serious problems.

That's why force-pushing is generally frowned upon. I agree that force-pushing is (generally) a bad p

[2021-03-29 19:58] MallocArray commented on #673
I thought this resolved it, but as I'm starting to re-work some playbooks to use it, the way it is presented is slightly different and is mixing up my expected results.

Before this change, when it was not producing accurate values, it was showing up as just false:
[code]
but after this change, it didn't change to being true when needed, but it is surrounded by square brackets
[code]

Is this the

[2021-03-29 23:30] timblaktu commented on #156
I just hit this issue as well, using ansible 2.10.6, python 3.9.1, community.vmware 1.8.0, vSphere 6.7. In my case, the error happens even when I manually "delete from disk" the machine in question before running my ansible playbook. The err msg presents itself, but it appears that the vmware_guest task actually succeeds, recreating the machine remotely. Here's the relevant vmware_guest portion of

[2021-03-30 04:46] luischanu commented on #644
@mariolenz I'm still getting errors when I run the latest PR.

I went ahead and destroyed my previous test environment, and created a new one from scratch.  After getting the community.vmware branch, I then performed the following git command to obtain the PR: ```git fetch origin pull/743/head:testbranch```

From there, I tried running my test, and it still fails.  I made sure to verify the ```sup

[2021-03-30 06:43] mariolenz commented on #644
@luischanu Sorry, my mistake. I didn't read your comment careful enough and thought you were testing `vmware_dvs_portgroup`, but the bug is in `vmware_dvs_portgroup_info`. I've pushed (not force-pushed this time) a fix.

Btw: I thought that MAC learning is a special case that most people aren't interested in, so the default is to **not** gather this. If you want this information you have to set `s

[2021-03-30 06:48] luischanu commented on #644
@mariolenz no worries... just good to know I'm not going crazy!  :-)   I'll have to check it tomorrow.

BTW, I think it would be nice if the MAC Learning is included in the info module by default.  Logic behind this is that they will filter/query what they want from the info output (not focused on human, but machine automation), so no harm in having it.  Would you consider making it, by default, i

[2021-03-30 08:05] mariolenz commented on #644
You're probably right, I've changed the default to `True`.

[2021-03-30 10:47] Akasurde commented on #741
cc @anusha94

[2021-03-30 12:38] goneri opened #750 "functional test: vmware_dvs_portgroup_info output is inconsistent"
##### SUMMARY

With vSphere 7.0.2, there is no `DVSwitch` key in the output of `vmware_dvs_portgroup_info`.

c.f: https://3be713984fa214bf1401-b82f7b055f718c0d3d071cb6dd875cb9.ssl.cf2.rackcdn.com/748/e55ba37b8641ae01772d03197ee0158ea7c5aade/check/ansible-test-cloud-integration-vcenter7_only-python36-stable210/c5271e1/job-output.html#l27995

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmwa

[2021-03-30 12:41] #728 closed

[2021-03-30 12:45] goneri opened #751 "functional test: vmware_guest, reconfigure created VM with multiple scsi controllers fails with 7.0.2"
##### SUMMARY

The following test https://github.com/ansible-collections/community.vmware/blob/main/tests/integration/targets/vmware_guest/tasks/multiple_disk_controllers_d1_c1_f0.yml#L42-L64 fails with vSphere 7.0.2.

msg: "No size, size_kb, size_mb, size_gb or size_tb defined in disk configuration"

https://515adb0961f5bd8e675d-9848b73987b993999c2ede75f10009c6.ssl.cf5.rackcdn.com/748/e55ba37b864

[2021-03-30 12:55] mariolenz commented on #751
@goneri Can you please have a look at #749 if this fixes your issue?

[2021-03-30 13:19] mariolenz commented on #750
@goneri I'm working on this module at the moment, anyway. I'll try to have a look into this while I'm at it.

[2021-03-30 13:35] goneri commented on #750
It looks like a regression introduced by https://github.com/ansible-collections/community.vmware/pull/648

[2021-03-30 13:40] goneri commented on #750
Well the fix was easier than expected. I'm pushing a PR.

[2021-03-30 16:14] #750 closed

[2021-03-30 17:08] luischanu commented on #728
@Akasurde looks like the bot closed the csae (if I'm understanding it correctly, but there are still two issues identified with the vSAN module.

[2021-03-30 20:24] goneri commented on #751
Thank you @mariolenz!

[2021-03-30 20:24] #751 closed

[2021-03-31 00:40] rolando-anton commented on #164
So, I'm having the same issue under the same scenario, more than one datacenter in vCenter server. Besides the govc workaround, there is any other option?

[2021-03-31 15:42] n3pjk opened #757 "Local Development Tooling"
##### SUMMARY
Implement local development tooling to facilitate creation of user-installable tar balls with user-assigned versioning, while preserving galaxy.yml.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
release.yml

##### ADDITIONAL INFORMATION

In a local development setting, the play, taken from the servicenow-ansible collection, would be modified to move the official galaxy.yml a

[2021-03-31 15:59] n3pjk commented on #666
I created PR #758, adding a play, release.yml, that creates a galaxy.yml with a user-defined version. This doesn't help with installing directly from GitHub, but it might give you an alternative by making it easier to create a tar ball which can be installed by ansible-galaxy.

[2021-03-31 18:40] goneri opened #759 "7.0.2: CI fails because datacenter cannot be deleted"
##### SUMMARY

[code]

https://48ac5d02a46529d429de-195df5c78c09b38f9af373e5f7549e54.ssl.cf5.rackcdn.com/748/e55ba37b8641ae01772d03197ee0158ea7c5aade/check/ansible-test-cloud-integration-vcenter7_1esxi_without_nested-python36-stable210/592e65c/job-output.html#l49680

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_datacenter

[2021-03-31 20:05] goneri opened #761 "vmware_guest_instant_clone : "set state to poweroff the Cloned VM" test fails with "Unable to set power state for non-existing virtual machine : 'cloned_vm_from_vm_optional'""
##### SUMMARY

See:
https://9c39ef7f73ed6c8d78e7-9bf8c58290d66df5267e8624ed2ec2c7.ssl.cf1.rackcdn.com/748/e55ba37b8641ae01772d03197ee0158ea7c5aade/check/ansible-test-cloud-integration-vcenter7_1esxi_with_nested-python36-stable210/40008a2/job-output.html#l53962

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest_instance_clone

[2021-04-01 06:37] #761 closed

[2021-04-01 13:03] gediminasmargis commented on #456
Hello, I have the same issue.

[2021-04-01 13:15] gediminasmargis opened #763 "vmware_guest_network fails to add new interfaces"
Hello, I have the same issue.

[code]

Nor this:

[code]

Works.

I get:

[code]

But nothing is changed on VM side.

[code]

[code]

_Originally posted by @gediminasmargis in https://github.com/ansible-collections/community.vmware/issues/456#issuecomment-811892634_

[2021-04-01 13:52] sky-joker commented on #739
I see.
If it modifies the option, I think that way is better.

[2021-04-01 15:10] sky-joker commented on #702
resolved_by_pr https://github.com/ansible-collections/community.vmware/pull/764

[2021-04-01 15:16] sky-joker commented on #702
Thank you @digifuchsi for reporting this issue.

I fixed the issue with the module.
Could you please look at https://github.com/ansible-collections/community.vmware/pull/764, and confirm the fixed module works fine on your environment?
Please let me know the result.

[2021-04-01 15:21] mariolenz commented on #739
@sky-joker Thanks for sharing your opinion on this. I'll prepare a PR to make the parameter required.

[2021-04-01 15:31] sky-joker commented on #717
Hi @lbggn

It is merged the PR related to the issue.
So, if there isn't a problem, could you please close this issue?

[2021-04-01 15:33] goneri opened #765 "7.0.2 crash during "Add ESXi Hosts to vCenter""
##### SUMMARY

Sometime, the vCenter returns a 503 when we try to add a host.

The problem happens during the init for vmware_guest_customization_facts. The following jobs were run before:

- vmware_cluster_facts
- vmware_cluster_info
- vmware_content_library_info
- vmware_content_library_manager
- vmware_datastore_cluster_manager
- vmware_datastore_facts
- vmware_datastore_info
- vmware_datastore

[2021-04-02 04:26] luischanu commented on #644
@mariolenz , I found some time to test the ```community.vmware.vmware_dvs_portgroup_info``` module, and it now works without any issues.  I see all of the ```mac_learning``` fields as well.

Do you have any plans to also add this to the dvs switch so they can be inherited by all portgroups?  Just curious...

Thank you, and nice work.

[2021-04-02 07:46] abikouo commented on #732
@keirazhang could you please try once again with the PR linked?

[2021-04-02 08:12] mariolenz commented on #644
I thought about this but I'm not sure if I will find the time to work on it.

[2021-04-02 09:45] digifuchsi commented on #702
Thanks @sky-joker it is working fine. :)

[2021-04-04 22:09] sestegra opened #775 "vmware_vm_inventory doesn't work behind SOCKS proxy"
##### SUMMARY
When using `vmware_vm_inventory` plugin, it's not possible to use proxy variables.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_vm_inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

- Create an inventory file `vm.vmware.yaml` file.
- Launch `export all_proxy=socks5h://localhost:5000`
- Launch `ansibl

[2021-04-04 22:15] sestegra commented on #775
After some investigation, it seems that no `proxy_host` is present in following code
https://github.com/ansible-collections/community.vmware/blob/main/plugins/inventory/vmware_vm_inventory.py#L427
compared to
https://github.com/ansible-collections/community.vmware/blob/main/plugins/module_utils/vmware.py#L605

[2021-04-05 04:27] Akasurde commented on #717
resolved_by_pr #718

[2021-04-05 04:27] #717 closed

[2021-04-05 04:51] Akasurde commented on #732
resolved_by_pr #768

[2021-04-05 21:40] kwrobert opened #777 "vmware_vm_info Object Cannot Handle VMs Inside vApps"
##### SUMMARY

It appears that the `get_parent_datacenter` function, which is used within `get_all_virtual_machines` method of the `VmwareVmInfo` class defined within the `vmware_vm_info.py` module, cannot handle the case of a VM contained within a vApp. If we look at the definition of the `get_parent_datacenter` function (defined within `module_utils/vmware.py`):

[code]

We can see that as the f

[2021-04-06 19:01] mariolenz opened #779 "vmware_host_sriov"
##### SUMMARY
The integration tests of `vmware_host_sriov` require the test environment to support SR-IOV. I suggest to use `vmware_host_vmnic_info` to find out if `vmnic0` supports SR-IOV and run the tests only if it does.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_host_sriov

##### ADDITIONAL INFORMATION
See [this comment ff](https://github.com/ansible-collections/community.vmw

[2021-04-06 23:46] mstrent commented on #727
Just ran into the same problem when running my playbook from a host with a newer Ansible version. First run works, subsequent runs fail with "Failed to create a virtual machine : The name 'xxxx' already exists."

Version that doesn't work:
ansible 2.10.7 (CentOS 7.x package)
  python version = 3.8.5 (default, Jan 27 2021, 15:41:15) [GCC 9.3.0]

Version that works:
ansible 2.9.18 (Ubuntu 20.04, ins

[2021-04-06 23:51] mstrent commented on #727
Here's my task:
`    - name: "Ensure servers exist in VMWare."
      vmware_guest:
        hostname: "{{ vcenter_server }}"
        username: xxx
        password: "{{ password }}"
        validate_certs: no
        datacenter: "{{ data_center }}"
        cluster: "{{ cluster | default('Compute_Cluster') }}"
        resource_pool: "{{ resource_pool | default('K8s') }}"
        hardware: "{{ hardwa

[2021-04-07 00:42] ambommer opened #780 "vmware_guest failing saying mandatory parameters are missing"
##### SUMMARY
vmware_guest fails and errors on disk mandatory parameters missing even though they are included.

Error message talks about mandatory parameters, but all of them are included in the task and they appear to be parsed correctly. I was able to work around this by commenting out the following lines in:
community/vmware/plugins/modules/vmware_guest.py

[code]

##### ISSUE TYPE
- Bug Repo

[2021-04-07 07:11] mariolenz commented on #780
This sounds a bit like #703. Would it be possible for you to test if PR #705 / community.vmware 1.9.0 fixes your issue?

[2021-04-07 10:49] mariolenz opened #781 "CI failes because of RETRY_LIMIT"
##### SUMMARY
Does the CI have a problem at the moment? I see a lot of checks failing with RETRY_LIMIT reached. Like [here](https://dashboard.zuul.ansible.com/t/ansible/buildset/ab0ed41905734f7d9b92a1510943ecc5) and [here](https://dashboard.zuul.ansible.com/t/ansible/buildset/f611a5f3f466441480cad4fe2877e941).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
CI

[2021-04-07 12:11] ambommer commented on #780
That does it. Thank you!

[2021-04-07 12:11] #780 closed

[2021-04-07 15:37] noesberger opened #784 "vmware_vm_host_drs_rule is not changing rule when affinity_rule parameter is changed"
##### SUMMARY
Changing Parameter "affinity_rule" after the creation of the rule, ansible will not see anything to change.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_vm_host_drs_rule

##### ANSIBLE VERSION
2.10

##### STEPS TO REPRODUCE
Create a vm_host_drs_rule. If the rule in the vcenter already exists, it will not check the parameter "affinity_rule". So should and should_not, mu

[2021-04-07 16:39] mariolenz commented on #781
When I look at the job output, I see something about `cp: cannot stat '/home/zuul/ansible-debug.txt': No such file or directory`. I don't know if this has something to do with it.

[2021-04-07 16:45] timblaktu commented on #156
This continues to happen in my aforementioned environment. Below is more verbose console output from the vmware_guest task which is inexplicably "failing" to create a new vm from a template, after having explicitly manually "delete from disk" the new machine name in vSphere. As I mentioned, it's actually succeeding, but the vmware_gues task is reporting an error and moving on. To work around this

[2021-04-07 19:49] timblaktu commented on #156
I have prepended a task to force delete the machine I'm cloning before trying to create it from template, and am getting same misbehavior described by @srivaa31 in [this comment](https://github.com/ansible-collections/community.vmware/issues/156#issuecomment-620034838). Essentially, it deletes the machine, but the task returns an error, and when run verbosely I see the following stack trace:

[cod

[2021-04-08 00:06] mstrent commented on #727
Here's my task. Excuse the copy&paste spacing munging.

[code]

[2021-04-08 16:51] #702 closed

[2021-04-09 17:29] goneri commented on #781
It looks like https://github.com/ansible-collections/community.vmware/issues/144 is back. I've rebuilt a new ESXi image with this workaround: https://github.com/goneri/esxi-cloud-init/commit/cfe58a39e9898424ecdc036b7185f92e9415be0d, the provider should be updated in the coming hours today.

[2021-04-09 17:49] mariolenz commented on #781
@goneri

Please stop thanking me for things like this. I'm not doing you a favor here, it's in my own interest to have a CI that works ;-)

[2021-04-09 20:47] goneri commented on #781
I'm actually surprised the fix works! :-).

[2021-04-09 22:59] n3pjk opened #787 "vmware_object_permission_info - Gather permissions on an object by user"
##### SUMMARY
Create a module that reports the permissions in effect on an object, ideally by user.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_object_permission_info

##### ADDITIONAL INFORMATION
The _info analog to vmware_object_role_permission.

[code]

[2021-04-10 02:42] Akasurde commented on #787
@n3pjk Thanks for reporting this feature. This is already been tracked via https://github.com/ansible-collections/community.vmware/issues/735.

resolved_by_pr #740

[2021-04-10 02:42] #787 closed

[2021-04-11 04:56] mariolenz commented on #781
@goneri I've rechecked a few PRs but this still fails with RETRY_LIMIT reached :-(

See for example [here](https://dashboard.zuul.ansible.com/t/ansible/buildset/c680ed09a462476b9ea7da5975a0cd3a), [here](https://dashboard.zuul.ansible.com/t/ansible/buildset/6e6234ee965d47c1ac3b8100589bfe77) and [here](https://dashboard.zuul.ansible.com/t/ansible/buildset/07e59daf12c24547b45b4daa9efd08f7).

[2021-04-11 08:08] sky-joker commented on #742
resolved_by_pr https://github.com/ansible-collections/community.vmware/pull/788

[2021-04-11 18:40] BeryJu opened #789 "Unable to find custom value key"
##### SUMMARY
Error when trying to set custom values via "customvalues", I am pretty sure this is a regression of https://github.com/ansible/ansible/issues/64291

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

https://github.com/ansible-collections/community.vmware/blob/main/plugins/modules/vmware_guest.py#L2225

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONM

[2021-04-11 21:30] goneri commented on #781
Resolved by https://github.com/ansible/ansible-zuul-jobs/pull/869, thanks @mariolenz.

[2021-04-11 21:30] #781 closed

[2021-04-12 07:42] mariolenz commented on #781
Thx @goneri `Depends-On: ansible/ansible-zuul-jobs#869` seems to do the trick :-)

[2021-04-12 13:29] Mechanix86 commented on #544
I had the same issue today. After some testing I got a workaround.
If you define destination_host it will work without defining the resource pool.
Still I hope this will be fixed in the future

[2021-04-12 21:48] exp-hc opened #791 "module-utils - get_all_objs - Fails when unrelated objects are removed from the environment during execution."
##### SUMMARY
When vmhosts are being deleted/removed from inventory and you run get_all_objs (community/vmware/plugins/module_utils/vmware.py - get_all_objs) the following failure message appears
"The object 'vim.HostSystem:host-3406' has already been deleted or has not been completely created".

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
[plugins/module_utils/vmware.py](https://github.co

[2021-04-13 21:23] exp-hc commented on #791
!component +plugins/module_utils/vmware.py

[2021-04-14 06:12] Varma-Amit opened #792 "Issue in Cloning of VM on esxi with community.vmware.vmware_guest_cross_vc_clone"
##### SUMMARY
When running playbook for cloning a VM with community.vmware.vmware_guest_cross_vc_clone the task is failing with following error message:

[code]
Here is the playbook and ansible version info:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.vmware.vmware_guest_cross_vc_clone

##### ANSIBLE VERSION
[code]
##### CONFIGURATION
$ ansible-config dump --only-changed

[2021-04-14 12:29] lvlie commented on #728
I can confirm issue 3 and 4 still exist. Tried marking disks as flash/hdd, fresh installs, some manual interventions, nothing. The only way to actually claim the disks (without resorting to some script, which is not what I want) is via the "Claim unused disks" inside the gui.

[2021-04-14 12:32] goneri commented on #653
You can already do that with vmware.vmware_rest.vcenter_cluster_info. See: https://docs.ansible.com/ansible/devel/scenario_guides/vmware_rest_scenarios/collect_information.html#cluster

[2021-04-14 12:32] #653 closed

[2021-04-14 12:33] goneri commented on #653
We prefer to close this to avoid any breaking change. People may expect an empty return.

[2021-04-14 12:35] gravesm commented on #655
@ollie1 Would you be willing to submit a PR for this?

[2021-04-14 12:48] goneri commented on #666
I would prefer to see this address at the `ansible-galaxy` level. It should tolerate a galaxy file with no version.

[2021-04-14 12:51] lvlie opened #793 "vmware_cluster_vsan: vsan_auto_claim_storage does not work on 7.0U2"
##### SUMMARY
This issue is a continuation of https://github.com/ansible-collections/community.vmware/issues/728, which was closed while the automatic claiming of disks for vsan is not working.

Claiming disks using the "Claim unused disk" option in the GUI works like a charm (with no changes to the defaults)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.vmware.vmware_cluster_vsan

[2021-04-14 12:59] gravesm commented on #686
This is being tracked by https://github.com/vmware/vsphere-automation-sdk-python/issues/38. I'm going to go ahead and close this as there is nothing we can do about it.

[2021-04-14 12:59] #686 closed

[2021-04-14 13:03] gravesm commented on #694
@mariolenz This looks like it's related to recent work that you did. Would you mind taking a look at this?

[2021-04-14 13:22] timblaktu commented on #156
My ansible-vsphere project continues to run in its hacky-error-handler state described above. I suspect this issue is another case of the vmware_guest module having undocumented requirements that limit the scope of changes one can make in a single task invocation? (Like [this](https://github.com/ansible-collections/community.vmware/pull/786))

[2021-04-14 13:29] timblaktu commented on #710
I was never able to change the hostname of a new machine cloned from template using the community.vmware collection. I couldn't even get vmware_vm_shell to work.

So, what I did  was to just use "pure" ansible modules, which is what I do in other contexts outside vmware:
* grokk new machine ip from vmware facts
* add new machine to in-memory inventory
* use ansible hostname module to change hostna

[2021-04-14 20:49] timblaktu opened #795 "vmware_guest cannot clone across cluster boundaries"
##### SUMMARY
I want to clone a template which resides in cluster A, to create a VM that resides in cluster B. Both clusters are in the same datacenter. It's not working.

In the below example:
* "debian10" is the name of the template that resides in cluster A and is hosted on host 1.
* `cluster` holds the desired cluster B for the new cloned machine
* `esxi_hostname` holds the desired hostname fo

[2021-04-15 11:21] walterrowe commented on #741
I tested cloning within the same vcenter environment with success. Different vmware systems in my environment have firewalls between them. Next step is to have firewall team monitor logs while testing cross-vcenter cloning to see if this is a firewall issue masquerading as a resource pool privilege error.

[2021-04-15 16:09] exp-hc commented on #791
#798 submitted PR for fix

[2021-04-15 19:04] #779 closed

[2021-04-15 19:30] goneri commented on #739
I understand it's a desirable improvement but it's also a breaking change. I suggest we start a (short) deprecation cycle. For now we show up a warning if the key is not set and we slip the switch for Ansible 5.0.0.

[2021-04-16 07:09] Varma-Amit commented on #792
Hi,

Any help on this?

[2021-04-16 07:44] Akasurde commented on #792
@anusha94 Could you please take a look at this?

[2021-04-16 14:40] anusha94 commented on #792
Well, this is a bit surprising. The `istanceUuid` comes from `self.destination_content.about.instanceUuid` and not user provided value. I had used this pyvmomi sample as a reference https://github.com/vmware/pyvmomi/issues/490

I am a little low on bandwidth right now, I could take a look at this sometime next week.
@Varma-Amit can you provide VC details?

[2021-04-16 18:43] goneri commented on #711
@n3pjk, this may interesting you?

[2021-04-16 18:47] alinabuzachis commented on #714
Hi @jnm27, thank you for raising this issue. We cannot enforce idempotency in this case because we cannot compare the passwords. Thank you @sky-joker for your answer.

[2021-04-16 18:47] #714 closed

[2021-04-16 18:54] goneri commented on #725
Hi, you may find `vmware.vmware_rest.vcenter_host_fact` handy because you can use it to build a list of hosts with some specific filters.

[2021-04-16 19:33] #736 closed

[2021-04-17 13:18] Anant99-sys opened #799 "vmware_vm_shell module unable to execute linux command to freeze a running VM in guest operating system"
Hey folks want to execute this command:  **vmtoolsd --cmd "instantclone.freeze"** on the VM through this module
So this is my playbook :
[code]

So it fails with following message :

[code]
So when I manually  **vmtoolsd --cmd "instantclone.freeze"** execute this command inside a VM it freezes the VM anywhere in the directory and when using ansible it does not execute. So can anybody help as to wh

[2021-04-17 15:27] Anant99-sys commented on #799
component name - vmware_vm_shell module
ansible version - 2.10.5
issue type - unable to execute command

[2021-04-17 22:05] timblaktu commented on #795
@Akasurde would you expect vmware_guest to be able to clone a template residing in one cluster into a VM residing in another cluster?

If this is indeed a bug, then my plan is to work around this by prepending a play that copies the template to the desired cluster, and then after the clone has occurred in my desired cluster, appending a play to delete the copy.

[2021-04-18 14:05] sky-joker commented on #713
Thanks, @linuxcrash for the feature idea.

Unfortunately, there isn't API to clone on ESXi only environment without vCenter.
As an alternative, you can clone with vmkfstools command and so on via SSH.
For example, the following playbook can clone a new vm from a template on ESXi only environment.

**My Environment Information**

[code]

community.vmware is the latest version.
ESXi is 7.0.

**ansib

[2021-04-18 14:21] sky-joker commented on #713
Thanks, @linuxcrash for the feature idea.

As you say, unfortunately, there isn't API to clone on ESXi only environment without vCenter.
As an alternative, you can clone with vmkfstools command and so on via SSH.
For example, the following playbook can clone a new vm from a template on ESXi only environment.

**My Environment Information**

[code]

community.vmware is the latest version.
ESXi is 7

[2021-04-18 17:59] mariolenz commented on #739
@ihumster As it turned out, this is considered a breaking change. So we won't do it right now. But I've changed my PR to announce that we will change the default in the future.

[2021-04-19 05:20] Varma-Amit commented on #792
Thank you for the response guys! :)
@anusha94 Can you please specify what exact VC details should I provide?

[2021-04-19 06:15] Akasurde commented on #799
@Anant99-sys Thanks for reporting this issue. What is the full command that you are invoking inside the VM manually?

[2021-04-19 06:18] Anant99-sys commented on #799
@Akasurde  this : **vmtoolsd --cmd "instantclone.freeze"**

[2021-04-19 06:18] Akasurde commented on #777
@kwrobert Thanks for reporting this issue. Would you like to raise a PR based on your findings? Let me know if you need help.

[2021-04-19 06:22] Akasurde commented on #799
@Anant99-sys Just curious, why specify `"vm_shell": "/etc/init.d/open-vm-tools"`.

Can you please try using `vm_shell` as `vmtoolsd` and `--cmd "instantclone.freeze"` as `vm_shell_args`?

[2021-04-19 06:26] lik9653 opened #801 "Wait until operating system installation is complete"
##### SUMMARY
My question is whether there is a way to wait until the installation of an operating system is complete and you have arrived at the log-in screen?

We would like to carry out the installation from a completely new iso image and the guest tools should only be installed afterwards.

Or is there a way to use VMware's REST APIs so that I can write my own module?

Thank you.

##### ISSUE

[2021-04-19 06:28] Akasurde commented on #793
@lvlie Thanks for reporting this issue. Issue #728 was closed since the PR https://github.com/ansible-collections/community.vmware/pull/734 merged. Could you please check the existing version of the VMware collection and update it to the latest i.e. `1.9.0` and let me know?

Thanks,

needs_info

[2021-04-19 06:29] Akasurde commented on #793
@mariolenz @sky-joker Could you please check if the issue still persists? Thanks in advance.

[2021-04-19 06:40] Akasurde commented on #801
@lik9653 Thanks for reporting this issue. There are multiple ways to achieve this.

1. `async` and `poll` - https://docs.ansible.com/ansible/latest/user_guide/playbooks_async.html
2. `vmware_guest` module provides options like `wait_for_ip_address` and `wait_for_customization`. You can check the documentation and depending on your requirements use them,

I have written several blog posts for autom

[2021-04-19 06:41] Akasurde commented on #801
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep

[2021-04-19 06:41] #801 closed

[2021-04-19 06:52] vivekanand553 opened #802 "Unable to deploy VCSA appliance with OVF properties using ansible"
I am trying to deploy a VCSA appliance with OVF properties in our lab environment but the deployment is failing with module error

Expected result: VCSA deployed successfully with OVF parameters configured on VCSA.

Actual result: deployment fails due to module error

Ansible version: 2.9.10
VCSA deployment version: 7.0

Playbook:
[code]
[code]

[code]

[2021-04-19 07:19] Akasurde commented on #793
@lvlie Thanks for the information. I pinged concerned persons.

[2021-04-19 07:27] Akasurde commented on #802
@vivekanand553 Thanks for reporting this issue. Please use the issue template given, this template is used by the bot to identify issues and ping concerned persons.

Also, could you please try PR https://github.com/ansible-collections/community.vmware/pull/798 and let us know?

Thanks.

[2021-04-19 07:32] Anant99-sys commented on #799
Hey @Akasurde
"msg": "File vmtoolsd was not found" is coming.
can you also tell for this alternate command **vmware-rpctool "instantclone.freeze"**
what should be vm_shell and vm_shell_args

[2021-04-19 08:03] Akasurde commented on #799
Try providing full path of `vmtoolsd`.

[2021-04-19 08:06] Akasurde commented on #799
@Anant99-sys I get

[code]

[2021-04-19 08:14] Anant99-sys commented on #799
Hey @Akasurde /usr/lib/vmware-tools/sbin/vmtoolsd after providing full path this error is coming

`The full traceback is:
  File "/var/folders/7n/8ht4g_ds05l0ph0hltz468tr0000gp/T/ansible_community.vmware.vmware_vm_shell_payload_rpqtih_t/ansible_community.vmware.vmware_vm_shell_payload.zip/ansible_collections/community/vmware/plugins/modules/vmware_vm_shell.py", line 250, in __init__
  File "/var/f

[2021-04-19 08:22] Akasurde commented on #792
@Varma-Amit Can you please run the following script using `destination_vcenter`?

[code]

I am suspecting that you are using esxi instead of vcenter. Since `instanceUuid` value for esxi is ''.

[2021-04-19 08:26] Akasurde commented on #799
@Anant99-sys This is expected. Since `vmware_vm_shell` waits for the command to execute on the VM and reports to the user about appropriate information. Since you are providing `instanceclone.freeze` command which freezes the VM, this traceback is expected.

I will mark this issue as resolved.

[2021-04-19 08:28] Anant99-sys commented on #799
@Akasurde I also had to add this test for instant clone module but won’t the test fail due to this error?

[2021-04-19 08:30] Akasurde commented on #799
We need to document this behavior rather than handling freeze operation in the instant clone module. Like mentioned in https://vdc-repo.vmware.com/vmwb-repository/dcr-public/cdbbd51c-4824-4a1b-ad43-45df55a76a76/8cb3ed93-cac2-46aa-b329-db5a096af5bc/doc/GUID-73AA07B6-BD83-4BB6-ACD0-F56ECB800607.html

[2021-04-19 08:34] Anant99-sys commented on #799
Hey @Akasurde also wanted to ask if wanted to add this test for instant clone module won’t it fill the vcenter integration tests?

[2021-04-19 08:37] Akasurde commented on #799
We need to document this behavior rather than handling freeze operation in the instant clone module. Like mentioned in https://vdc-repo.vmware.com/vmwb-repository/dcr-public/cdbbd51c-4824-4a1b-ad43-45df55a76a76/8cb3ed93-cac2-46aa-b329-db5a096af5bc/doc/GUID-73AA07B6-BD83-4BB6-ACD0-F56ECB800607.html

[2021-04-19 08:39] Anant99-sys commented on #799
OK 👍

[2021-04-19 09:28] vivekanand553 commented on #802
Hello Akash,

Thanks for your mail!

I was unable to refer the template to raise the issue, please find all the
required details below

Ansible version: 2.9.10
component name: vmware_deploy_ovf:

Thanks and Regards
Vivekanand

On Sun, Apr 18, 2021 at 7:27 PM Abhijeet Kasurde ***@***.***>
wrote:

[2021-04-19 09:36] Akasurde commented on #799
I will go ahead and close this. Thanks.

[2021-04-19 09:36] #799 closed

[2021-04-19 10:17] Akasurde commented on #789
@BeryJu Thanks for reporting this issue. Could you please try `advanced_settings` instead of `customvalues`? This behavior changed in https://github.com/ansible-collections/community.vmware/pull/179.

needs_info

[2021-04-19 10:23] BeryJu commented on #789
Cheers, I'll give that a try, I must've missed that change.

[2021-04-19 10:27] Akasurde commented on #789
@BeryJu Thanks for trying and providing the feedback.

[2021-04-19 10:59] Akasurde commented on #725
@beezel Could you please provide the required details? Thanks.

needs_info

[2021-04-19 11:54] Akasurde commented on #775
@abikouo Would like to work on this? Thanks,

[2021-04-19 11:56] abikouo commented on #775
will try to find some free time to work on it

[2021-04-19 11:57] anusha94 commented on #792
@Varma-Amit
VC version of both source and destination VC.
Like @Akasurde mentioned, make sure you are using VC and not esxi.

[2021-04-19 13:32] Varma-Amit commented on #792
Actually we only have been given esxi to access and not the vc.
Is it must that I need to specify vc details in the playbook?
If yes can you please specify where?

On Mon, 19 Apr, 2021, 5:28 pm Anusha Hegde, ***@***.***>
wrote:

[2021-04-19 13:38] Anant99-sys commented on #799
@Akasurde, can you tell me how to document this behavior so that I can document it.

[2021-04-19 14:34] xenlo opened #803 "Error message with bad destination host in vmotion module"
##### SUMMARY
The error message we get when we provide a wrong ESXi node name as `destination_host` attribute to `vmware_vmotion` module is not helpful. I assume that we should have a clean exception handler with a correct error message.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
-  module `vmware_vmotion`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

[2021-04-19 14:41] xenlo commented on #803
The error was generated on [line 189 in vmware_vmotion.py](https://github.com/ansible-collections/community.vmware/blob/main/plugins/modules/vmware_vmotion.py#L189) but in fact the None value comes from the [assigned `host_object` with find_hostsystem_by_name`](https://github.com/ansible-collections/community.vmware/blob/main/plugins/modules/vmware_vmotion.py#L167).

I assume that either in the `f

[2021-04-19 14:44] goneri commented on #803
Hi @xenlo, It looks like you've already done the investigation :-). Would you like to push a PR that improve the error message?

[2021-04-19 14:45] anusha94 commented on #792
`self.destination_content.about.instanceUuid` this property is for VC, and not ESXi.
You need not specify VC version in the playbook. I asked it for my reference. Can you request access to VC?
@Akasurde idk how we can do this otherwise

[2021-04-19 16:29] MallocArray opened #805 "vmware_cluster_info returns enabled_vsan as a list and not string"
##### SUMMARY

Previous to 1.8.0 the module vmware_cluster_info always returned false even when it was enabled.  In 1.8.0 this was fixed to accurately reflect the vSAN status, but now the value is a list with true in it, rather than just a string, like enable_ha and enabled_drs returns currently.  When checking this value you have to specify
when: enabled_vsan[0] == true
rather than
when: enabled_

[2021-04-20 07:16] mariolenz commented on #805
@MallocArray Can you please have a look at PR #806? I hope this fixes your issue.

[2021-04-20 08:49] keirazhang opened #807 "[vmware_export_ovf] The progress was not updated while exporting OVF"
##### SUMMARY

When useing vmware_export_ovf to export an OVF from vSphere host, the task progress always displayed as 0% without any update.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_export_ovf

##### ANSIBLE VERSION

[code]

[2021-04-20 11:44] sky-joker commented on #107
Thanks, @tkelkermans for the feature idea.
I’ll try making the module.

[2021-04-20 14:50] MallocArray commented on #805
This does fix it. It works exactly as I expect.

[2021-04-20 15:11] #410 closed

[2021-04-20 15:11] #644 closed

[2021-04-20 15:11] #709 closed

[2021-04-20 15:48] #805 closed

[2021-04-21 04:39] Akasurde commented on #601
Closing as PR merged.

[2021-04-21 04:39] #601 closed

[2021-04-21 06:25] Varma-Amit commented on #792
I have requested access to the VC. I am waiting for the response.
What if we dont get the access to the VC. What can we do in that case?

[2021-04-21 08:38] Varma-Amit commented on #792
Hi Anusha,

So I have confirmed that we are not using VC at all.
We are only using the esxi setup which is standalone and does not involve VC.
Can you please suggest what can be done in this case?
Maybe is there any other alternative to clone the VM from one esxi to other esxi?

[2021-04-21 15:01] HammerZ3it opened #809 "vmware_guest Module - VM Advanced Options fail with Ansible 3.2"
##### SUMMARY
Adding VMware VM with Advanced Options fails with Ansible 2.10.8 The same Playbook was fine with Ansible 2.9.*

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
vSphere Client version 6.7.0.46000

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Creates a New VMware vSphere VM with additional Advanced Option

[2021-04-21 15:13] mariolenz commented on #792
I'm not 100% sure but I think there is no way to clone VMs between standalone ESXi hosts. And that's not necessarily a limitation of our modules, I think it's just not possible.

If the ESXi hosts share the same storage- which would be quite unusual for standalone hosts- you could clone the VM on the original host, unregister the clone and register it on the destination host.

Alternatively, you c

[2021-04-21 15:28] mariolenz commented on #809
Could you please try ``advanced_settings`` instead of ``customvalues``? This behavior changed in #179.

@Akasurde Is this possible a duplicate of #704 and #789?

[2021-04-21 16:04] HammerZ3it commented on #809
Indeed it works, I can't understand why ```customvalues``` is still present then. My bad for this issue.

thx,

Regards

[2021-04-21 16:04] #809 closed

[2021-04-21 16:53] mariolenz commented on #809
@HammerZ3it

I _think_ this parameter is used to configure [custom attributes](https://docs.vmware.com/en/VMware-vSphere/7.0/com.vmware.vsphere.vcenterhost.doc/GUID-73606C4C-763C-4E27-A1DA-032E4C46219D.html). Maybe we should re-name the parameter to `custom_attributes`, this should make it more clear.

[2021-04-22 03:49] Akasurde commented on #809
@mariolenz Thanks for taking care of this. @HammerZ3it Yes, as per above, `vmware_guest` wrongly managed custom attributes and advanced values. After #179, this was fixed.

[2021-04-22 07:20] HammerZ3it commented on #809
On and prior ansible 2.9 it was managing what I was looking for this is why I got a bit confused.

Regards,

[2021-04-22 09:36] Akasurde commented on #792
@mariolenz You are correct. This module requires two vCenters to perform clone operations.

@Varma-Amit you need to export the VM to an OVF and deploy this to the destination host.

I will close this issue. Thanks @anusha94 @mariolenz @Varma-Amit.

[2021-04-22 09:36] #792 closed

[2021-04-22 10:38] Varma-Amit commented on #792
Okay I will try to export the ovf on the destination host and deploy.
I have a doubt though, is only the exported ovf sufficient for the deployment? I mean what about the vmdk, does it have to be also exported to the destination host?

[2021-04-22 11:28] Varma-Amit commented on #792
I exported the ovf and tried to deploy using vmware_guest module but I am facing this error:
ansibleusr@estauto:~$ ansible-playbook sample1.yaml

PLAY [Create VM] ******************************************************************************************************************************************************

TASK [clone vm] *********************************************************************

[2021-04-22 14:00] Akasurde commented on #777
@kwrobert Could you please check if PR #810 works for you and let me know? Thanks.

needs_info

[2021-04-22 14:36] kwrobert commented on #777
@Akasurde I think that should fix it! I haven't tested it, but that's about all that is needed I think.

[2021-04-22 15:13] sky-joker commented on #107
resolved_by_pr https://github.com/ansible-collections/community.vmware/pull/811

[2021-04-22 15:27] sky-joker commented on #107
Hi @tkelkermans

I made the vmware_host_tcpip_stacks module you're requested.
Could you please check the module works well in your environment?
And let me know the result.

**How to test the module**

[code]

[code]

[2021-04-23 04:10] Akasurde commented on #777
resolved_by_pr #810

[2021-04-23 05:58] Akasurde commented on #802
@vivekanand553 Could you please check PR #798 and let us know if it works for you?

[2021-04-23 06:06] Akasurde commented on #746
@htaudah Would you be interested in creating a PR with your findings?

[2021-04-23 06:07] Akasurde commented on #741
@walterrowe Thanks for the information. Please keep us posted.

needs_info

[2021-04-23 06:29] Akasurde commented on #721
@jnm27 I am unable to reproduce this issue with standalone ESXi and above playbook

[code]

[code]

Could you please upgrade to 1.9.0?

needs_info

[2021-04-23 06:39] #803 closed

[2021-04-23 10:06] Varma-Amit commented on #792
Can anyone please look into this?

[2021-04-23 10:19] Akasurde commented on #792
@Varma-Amit Your path is wrong. The error is suggesting =

[code]

Instead `folder: /vmfs/volumes/datastore1/vm` it should be `/ha-datacenter/vm/` if there is no child folder. Please include path from vCenter inventory.

[2021-04-23 10:53] Varma-Amit commented on #792
Thanks...changing folder to /ha-datacenter/vm/ worked but now I am facing this error:

ansibleusr@estauto:~$ ansible-playbook sample1.yaml

PLAY [Create VM] ******************************************************************************************************************************************************

TASK [clone vm] ***************************************************************************

[2021-04-25 08:08] #777 closed

[2021-04-25 12:45] impsik opened #814 "vmware_guest_snapshot and datacenter string requirement"
##### SUMMARY

I use vmware_guest_snapshot to make snapshots before ansible does dist-upgrade.
With ansible 2.10 i found out that in vmware_guest_snapshot i had "datacenter" value completely wrong.
But it worked and works just with ansible 2.9.18 (Installed via yum install)
I'm using at the moment 2.9.18 and i defined "datacenter": "random" ( we don't have datacenter named "random") and still vmwa

[2021-04-25 13:09] Akasurde commented on #814
@impsik Thanks for reporting this issue. Datacenter value is used to find out VM in the given inventory - https://github.com/ansible-collections/community.vmware/blob/5bc2636a6b6047b91f6ee58381d742454c35214b/plugins/module_utils/vmware.py#L1071.
You might have unique VM names so you might not feel the need for this variable.

[2021-04-25 13:25] impsik commented on #814
Yes, VM names are unique. But this variable is also required and can be anything?

[2021-04-25 13:45] Akasurde commented on #814
When you have unique names then it is OK to have the correct value or dummy value.

The question arises when you have two VMs with the same name (in different folders or different datacenters).

Making this parameter optional introduces a different set of problems.

[2021-04-25 13:47] impsik commented on #814
And from 2.10 it has to be correct datacenter name?

[2021-04-25 14:34] #742 closed

[2021-04-26 05:18] Akasurde commented on #814
Yes, if you have multiple VMs with same name and/or multiple datacenter.

[2021-04-26 05:19] Akasurde commented on #802
@vivekanand553 Any news?

[2021-04-26 05:58] #721 closed

[2021-04-26 06:17] Akasurde commented on #71
[code]

Above playbook works for me. Closing this issue.

[2021-04-26 06:17] #71 closed

[2021-04-26 06:37] Akasurde commented on #712
resolved_by_pr #815

[2021-04-26 06:53] Varma-Amit commented on #792
Hi,

Anyone looking into this?

[2021-04-26 07:40] Akasurde commented on #792
@Varma-Amit It seems like a permission issue to me. Can you please check the permissions?

[2021-04-26 08:28] Akasurde commented on #63
@fkempers Are you still facing this issue? If not we can close this issue. Thanks.

needs_info

[2021-04-26 09:56] Varma-Amit commented on #792
What kind of permissions do I need to check?

[2021-04-26 11:27] fkempers commented on #63
Hi,

I am niet actively tracking this issue. You van close it die now.

Regards,

Fabian

Op ma 26 apr. 2021 10:29 schreef Abhijeet Kasurde ***@***.***

[2021-04-26 11:45] Akasurde commented on #63
@fkempers Thanks for the confirmation. Closing as per above.

[2021-04-26 11:45] #63 closed

[2021-04-26 17:09] saurav803 commented on #421
@MallocArray Hi Do you have a running code example for Adding multiple portgroups in a dvswitch . Thanks in advance.

[2021-04-27 06:02] Akasurde commented on #791
resolved_by_pr #798

[2021-04-27 06:43] Akasurde commented on #732
Closing as PR is merged.

[2021-04-27 06:43] #732 closed

[2021-04-27 10:47] Varma-Amit commented on #792
Hey Abhijeet,

Can you please specify what permissions should I check?

[2021-04-27 14:19] sky-joker commented on #654
Thanks, @luischanu for the feature idea.

I made the vmware_host_tcpip_stacks module you're requested.
Could you please check the module works well in your environment?
And let me know the result.

**How to test the module**

[code]

[code]

[2021-04-27 14:19] sky-joker commented on #654
resolved_by_pr https://github.com/ansible-collections/community.vmware/pull/811

[2021-04-27 14:38] #712 closed

[2021-04-27 16:36] mariolenz commented on #351
@Akasurde

Actually, I'm quite sure this has been fixed with PR #384. So I'll close this issue for now.

However, I think there are some problems when it comes to visualization based security. I've opened PR #816 for this, but it's still work in progress at the moment.

[2021-04-27 16:36] #351 closed

[2021-04-27 22:46] altmas5 commented on #546
Hi,

I have the same issue, when I try to reference one esxi host by its IPv4 address the result is:
[code]

I might use `resource_pool` or `cluster` as target as a workaround.

[2021-04-28 00:29] walterrowe commented on #741
Firewall challenges address. Now getting an error regarding `CrossVCCloneManager: no attribute vmuuid`.

[2021-04-28 06:46] vivekanand553 commented on #802
Hello Abhijeet,

I tried to access the link you had mentioned but couldn't find any playbook
pertaining to VCSA deployment.

Can u kindly paste the playbook here so that I can refer the same?

Thanks & Regards
Vivekanand

On Mon, 26 Apr 2021, 10:49 Abhijeet Kasurde, ***@***.***>
wrote:

[2021-04-28 11:10] markatdxb opened #817 "vmware_guest_disk - disk resize changes the type bug"
##### SUMMARY

Resizing the eagerzeroed disk changes the type to thick ( lazy zeroed )

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest_disk

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

vCenter 6.5

##### STEPS TO REPRODUCE

simple playbook to extend the vm disk

disk configuration before running the vmware_guest_disk module
[code]

##### E

[2021-04-29 01:33] markatdxb commented on #817
hello, pls put this on hold for the moment - we are investigating locally if this is actually a module issue

[2021-04-29 07:13] markatdxb commented on #817
Closing as this is not a module bug but rather standard VMware behaviour
https://kb.vmware.com/s/article/2144952

[2021-04-29 07:13] #817 closed

[2021-04-29 07:14] daverstam commented on #420
Waiting eagerly for this to get resolved since this is blocking me from using the content-library.
I'm also surprised with the lack of features/flexibility for the content_deploy* modules compared to the vmware_guest module

[2021-04-29 07:49] lvlie opened #819 "Add option to disable vCLS for a given cluster"
##### SUMMARY

With vCenter 7, VMware introduced the VMware cluster services concept that uses "vCLS" vm's. Unfortunately these spin up automatically, but it is not possible to - easily - remove them (they spin back up automatically as well), while they count as actual VM's when trying to remove hosts/clusters. This makes it fairly impossible to remove a cluster automatically purely via ansible at

[2021-04-29 09:51] Akasurde commented on #819
@lvlie Thanks for reporting this feature.

[2021-04-29 10:12] Akasurde commented on #819
@lvlie For now, you can use this playbook to enable retreat mode -

[code]

Target your VCSA virtual machine. Let me know if it works for you.

Thanks.

needs_info

[2021-04-29 10:31] ghernandeza commented on #479
Its missing the line:

host.configManager.storageSystem.RescanVmfs()

after:

host.configManager.storageSystem.RescanAllHba()

[2021-04-29 12:08] lvlie commented on #819
Oh, cool, didn't know you could do that. Will try it later today or tomorrow

[2021-04-29 12:53] lvlie commented on #819
Applied the above on the VM that is the vcsa instance where the cluster is configured in. This results in the following extra config parameters on the vcsa vm:
![image](https://user-images.githubusercontent.com/8437831/116553514-7d281000-a8fa-11eb-9a20-7f9f266d7201.png)

Which seems to be correct. However, the vCLS VM's do not disappear in the vcsa instance. As the page says to restart vpxd I rest

[2021-04-29 13:27] Akasurde commented on #819
As per https://kb.vmware.com/s/article/80472, point 7 in 'Using the vSphere Client',

[code]

Do you get the same behavior when you do it manually?

btw, here is the crude patch (untested) -

[code]
Which will work with the following playbook -

[code]

[2021-04-29 14:39] mariolenz commented on #819
[vSphere Cluster Services (vCLS)](http://www.yellow-bricks.com/2020/10/09/vmware-vsphere-clustering-services-vcls-considerations-questions-and-answers/) VMs are managed by vCenter and an important part of how DRS works. Over time, they will be the backbone for all clustering services. I should say that it's generally a good idea to **not** mess around with them manually. Having an option to do thi

[2021-04-29 15:35] n3pjk commented on #711
@goneri, 99% of our deploys are from content library OVFs; however, we do get an occasional external OVF deploy request. I'm finishing a ServiceNow to VMware request portal completely implemented in Ansible. If I can swing it, I will try to have a look.

[2021-04-29 16:10] sky-joker commented on #757
@Akasurde @goneri
I'm not sure because I don't be the release operation, do you think the feature will help this project?
I don't know the operation to release this collection, I appear it will help if fit it in the release process.

[2021-04-29 16:16] n3pjk commented on #757
If the release mechanism allowed for local user-generated versioning, like the way servicenow.servicenow handles it, that would be a far better solution. Consider this a band-aid until that can be provided. It's better than what we have now.

Sent from my Verizon, Samsung Galaxy smartphone
Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: sky-joker ***@***.***

[2021-04-29 18:20] lvlie commented on #819
Thanks for your answer. I have disabled drs and ha on the specific cluster, which is a nested lab where I would like to frequently redeploy most of the resources, but not always vcsa itself.
When putting the nodes into maintenance mode one by one, the vCLS vm's hang often, making the maintenance mode task hang and eventually fail. The task continues when I poweroff the vCLS vm's manually when this

[2021-04-30 04:37] Akasurde commented on #819
@mariolenz I totally agree with your opinion. But like @lvlie is facing issues, I think we should have the facility to modify configurations.

My proposed solutions allow changing existing configurations (not just vCLS enabling retreat mode). Let me know if you feel otherwise.

[2021-04-30 06:24] lvlie commented on #819
Ah, did not think about why it started to fail because of the ongoing relocations (but focussed on preventing them), but that is probably because the vCLS vm's are running on a vsan datastore and I'm using
[code]

This would make the datastore inaccessible after 2 nodes are down in my setup. However, I cannot remove the datastore or shutdown vsan before starting maintenance mode because of the vCL

[2021-04-30 08:46] mariolenz commented on #819
Yes. I can see the problem there. We also had issues with those vCLS VMs in our CI pipeline. I think they were fixed with PR #568 but we don't have VSAN which makes it easier for us.

If I understand your solution correct, you propose a new parameter `options` to `vmware_vcenter_settings` to configure advanced settings on the vCenter itself. Well, personally I would prefer to call the parameter `a

[2021-04-30 14:29] samsam-rolon commented on #536
Hello,
I confirm this issue with those env :
- ansible 2.9.20
- python version = 3.6.9
- community.vmware 1.9 (release)

[2021-04-30 16:08] walterrowe commented on #795
@anusha94  @timblaktu @Akasurde

You can create a VM from a template within the same data center with `vmware_guest` if you use the `template` parameter to the module to specify the source template. You have to use `vmware_guest_cross_vc_clone` to clone a template across different vcenter environments.

[2021-04-30 19:13] goneri commented on #757
Hi,

The version of the galaxy file is actually set by the CI during the release workflow.

See: https://github.com/ansible-network/releases

[2021-04-30 19:22] n3pjk commented on #757
Yes, my modified release play moves the fixed galaxy.yml file to the side, allows for local tarball creation, even publishing to a local galaxy account, then puts the galaxy.yml file back. Until galaxy supports missing versions, or the CI changes here, this seems like the most reasonable solution.

Sent from my Verizon, Samsung Galaxy smartphone
Get Outlook for Android<https://aka.ms/AAb9ysg>

___

[2021-05-01 08:49] sky-joker opened #824 "VM information can't gather in the state of showing the anser question"
##### SUMMARY

The following error occurred that gathers vm information in the state of showing the answer question with vmware_guest_info module.

[code]

I already got the couse of the issue, so I'm working on making the patch.
I'm going to make a PR later.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

plugins/module_utils/vmware.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[

[2021-05-01 09:18] sky-joker commented on #824
resolved_by_pr https://github.com/ansible-collections/community.vmware/pull/825

[2021-05-03 06:05] Varma-Amit commented on #792
Hi Guys,

Awaiting the response :)

[2021-05-03 07:07] abikouo commented on #775
@sestegra could you please try using the PR linked ?

[2021-05-03 11:43] Varma-Amit commented on #792
Can anyone please respond to the query?

[2021-05-03 15:41] lshake commented on #498
Also verified on vSphere 6.7 with ansible 2.10.8 and community.vmware 1.9.0, also ansible 2.11.0 and community.vmware 1.9.1-dev8.

Reconfigured test100.lab.shakey.org on esx1.lab.shakey.org in Datacenter. Modified: config.hardware.device(4000).backing.port.portKey: "212" -> "211"; config.hardware.device(4000).backing.port.connectionCookie: 865024454 -> 982707693; Added: Deleted:

[2021-05-04 04:19] exp-hc commented on #802
@vivekanand553  while it doesn't use community.vmware collection, I've had really good luck deploying VCSAs following this blog post:
https://dzone.com/articles/automated-deployment-of-vcsa-with-ansible

[2021-05-04 06:04] Akasurde commented on #802
@vivekanand553 The link I provided does not have a playbook but the fix for the error message that you are getting. Try including the fix in your collection and retry.

[2021-05-04 07:18] sestegra commented on #775
@abikouo I have following error when using proxy configuration.
[code]

Without using a proxy (direct connection) with the same inventory file and this PR, the inventory is working well.

[2021-05-04 10:08] Varma-Amit commented on #792
Can someone please respond to the query?

[2021-05-04 11:45] Varma-Amit commented on #792
Guys we really need to close this issue and make the clone work.
Please respond

[2021-05-04 14:23] #107 closed

[2021-05-04 14:23] #654 closed

[2021-05-04 16:18] mariolenz commented on #819
@lvlie

I'm back :-) Did you work on a PR to implement your solution? If not, I'll do if that's OK for you.

[2021-05-04 16:29] Akasurde commented on #819
@mariolenz Not yet. Please go ahead. Thanks for asking.

[2021-05-04 16:52] lvlie commented on #819
Ah if that question was aimed at me: sorry, not that good at python unfortunately and didn't catch it was aimed at me. I'd be happy to test anything in my env tho. Have a week off but can scrape some time together :-)

[2021-05-04 17:41] mariolenz commented on #819
@Akasurde @lvlie I've assigned this issue to myself and will work on it. Please give me a couple of days.

[2021-05-04 18:51] alecorps commented on #536
Hello, i confirm it could be useful

[2021-05-04 19:59] luischanu commented on #654
@sky-joker , I'm very sorry for my delay.  This request rolled off my e-mail,  I'll give it a test.  Thank you!

[2021-05-05 03:11] luischanu commented on #654
@sky-joker , I found some time to test the module, and there are a few things I noticed that I wanted to bring to your attention.

1) In vSphere 7, the "vxlan" stack shows up in the GUI as "nsx-overlay".  Granted, under the covers it's still referenced as "vxlan", but someone new may not know that.  I tried using "nsx-overlay" as a test, and it (as expected) failed.  I thought it might be good to

[2021-05-05 05:05] Akasurde commented on #792
@Varma-Amit Can you please check if the user used has permission on the folder, datastore, etc.?

[2021-05-05 05:56] #824 closed

[2021-05-05 05:58] Varma-Amit commented on #792
Hi @Akasurde ,
Thanks for the reply

The permissions are Okay with Administrator role and I have also verified the following permissions on the source host:
![image](https://user-images.githubusercontent.com/77059048/117101869-6c065580-ad77-11eb-9a69-f7242398f3f8.png)

But I am still facing the issue

[2021-05-05 06:58] Akasurde commented on #792
@Varma-Amit After digging around a bit. I found that standalone ESXi does not have API to clone VM. Please this issue https://github.com/vmware/pyvmomi-community-samples/issues/628.

[2021-05-05 07:00] Akasurde commented on #814
Closing this as wontfix.

[2021-05-05 07:00] #814 closed

[2021-05-05 07:04] Akasurde commented on #757
@goneri I strongly feel that we should have `version` in galaxy.yml. Since without this file we are not able to build, install from git checked-out collection.

[2021-05-05 07:10] n3pjk commented on #757
Even during local development, I like having a version to help keep track of build attempts or release candidates. Encouraging that is good. I just want to be able to specify my own versions when deploying locally.

Sent from my Verizon, Samsung Galaxy smartphone
Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Abhijeet Kasurde ***@***.***>
Sent: Wednesday, M

[2021-05-05 07:43] Akasurde commented on #757
I have raised a feature request here - https://github.com/ansible/ansible/issues/74286

[2021-05-05 08:10] #791 closed

[2021-05-05 08:12] sky-joker commented on #654
Thanks, @luischanu for your feedback and checking the module works.
I'm glad to be for the module works well in your environment.
Ok, I'll try implementing the requested as a new feature to the module.

[2021-05-05 09:24] Varma-Amit commented on #792
Oh!...Any alternative for the standalone case then?

[2021-05-05 09:29] sky-joker commented on #654
After confirming the module code, I can implement most likely the No1, 3 features.
Unfortunately, maybe the No2 is difficult because the module is designed to handle just one ESXi now.

[2021-05-05 13:41] abikouo commented on #775
according to #41, it seems that HTTP proxy authentication is not supported.

[2021-05-05 14:43] FlexibleToast opened #829 "vmware_cluster create cluster in a folder"
##### SUMMARY

When creating a cluster with vmware_cluster, provide the option to add that new cluster into an existing folder. Some organizations are very wide spread and have multiple sites with their own cluster(s) and organizing with folders makes sense `Datacenter > Folder > Cluster > Hosts/VMs`.

##### ISSUE TYPE
- Feature Idea: Create optional argument for vmware_cluster to specify parent f

[2021-05-05 14:53] sestegra commented on #775
The proxy that I'm using is without authentication, it's ssh Socks proxy.
[code]

[2021-05-06 07:48] abikouo commented on #100
@BlackestDawn thanks for taking the time to report this issue.
I can't reproduce it, I have attached a pull request testing it, I will close the issue, feel free to open it again if you still have the issue

[2021-05-06 07:48] #100 closed

[2021-05-06 09:43] BryanEaay opened #833 "vmware_dvswitch - Add Network Policy at dvs level instead of dvPortgroup only"
##### SUMMARY

I got a use case of creating a distributed switch, using [_community.vmware.vmware_dvswitch_](https://github.com/ansible-collections/community.vmware/blob/main/docs/community.vmware.vmware_dvswitch_module.rst) module then create dvportgroup associated with [_community.vmware.vmware_dvs_portgroup_](https://github.com/ansible-collections/community.vmware/blob/main/docs/community.vmwar

[2021-05-06 14:03] mariolenz commented on #833
@BryanEaay Thanks for this issue. I'll assign it to myself and try to implement it.

[2021-05-06 14:18] ldktta commented on #544
I have the same problem, any update on this issue?

[2021-05-06 15:39] Findarato commented on #544
Just updating I will attempt @Mechanix86 work around, and if it works then the documents should be updated.

[2021-05-06 15:57] sky-joker commented on #654
Hi @luischanu

First of all, I implemented easy No1 and 3 you have been requested to the module.
Could you please check the module works well in your environment?
And let me know the result.

[2021-05-07 22:02] jsonp80 commented on #599
i have similar issue and seem like a possible fix here : https://github.com/ansible/ansible/pull/61329 but can't get it to work or don't know how to use it.

[2021-05-08 06:05] luischanu commented on #654
@sky-joker , due to other commitments, I will not be able to test this for around a week.   Should that change, I'll test it earlier.

Thank you!

[2021-05-08 06:45] luischanu commented on #654
@sky-joker , I just tested the module, and I was able to set the IPv6 Gateway...  Thank you!

[2021-05-08 14:39] sky-joker commented on #654
Thanks, @luischanu for checking the module works!

[2021-05-09 19:18] mariolenz commented on #833
@BryanEaay Could you please test if PR #836 works for you? I don't have access to my usual test environment because I'm out of office but the integration tests I've defined passed the CI, so I hope it works.

[2021-05-11 15:25] usscarter opened #839 "dvswitch module doesnt support vsphere 7 dvs 7.0.2 version"
##### SUMMARY

Cannot deploy latest vCenter 7 DVS
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_dvswitch
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 20.0.4

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

A DVS of 7.0.2 created

##### ACTUAL RESULTS

[code]

[2021-05-11 20:37] alecorps commented on #536
Hello,

I created this PR for this issue : https://github.com/ansible-collections/community.vmware/pull/840

[2021-05-12 12:44] sky-joker commented on #839
I think so too.
I think the module should check beforehand the supported version if remove the choice of switch_version.
So, I found the method that might be useful to confirm supported the dvSiwtch version in VCSA.
https://vdc-download.vmware.com/vmwb-repository/dcr-public/b50dcbbf-051d-4204-a3e7-e1b618c1e384/538cf2ec-b34f-4bae-a332-3820ef9e7773/vim.dvs.DistributedVirtualSwitchManager.html#queryS

[2021-05-12 14:59] mariolenz commented on #839
Thanks @sky-joker, using `dvSwitchManager` to dynamically check the supported versions is a brilliant idea! I've already started to work on it.

[2021-05-12 18:54] mariolenz commented on #839
I've removed the `choices` from the `switch_version` parameter and added a test that checks what DVS versions the vCenter  really supports in #836. Would it be possible for you to test if this fixes your issue @usscarter?

@sky-joker Could you please have a look at my PR? It's more or less what you've proposed.

[2021-05-12 21:37] nsbender opened #843 "vmware_content_deploy_ovf_template Does not respect proxy variable"
##### SUMMARY
When specifying VMWARE_PROXY_HOST and VMWARE_PROXY_PORT, vmware_content_deploy_ovf_template does not attempt to use the proxy, and fails to connect to a VCenter.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_content_deploy_ovf_template

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

Ubuntu 20.04.1 LTS
VSphere Client Version 6.7.0.46000

[2021-05-13 14:11] mariolenz commented on #819
@lvlie Would it be possible for you to test if PR #841 fixes your issue? It should allow you to do something like:

[code]

[2021-05-13 15:47] usscarter commented on #839
Im happy to give it a try, but i seem to be unable to convince my ansible to overwrite the community module and use an included py. Any suggestion on what im doing wrong?

[2021-05-13 16:36] mariolenz commented on #839
Nope, since I don't even know what you're doing or how you try to achieve this ;-P

You could try to combine [Testing Ansible Collection: community.vmware](https://github.com/ansible-collections/community.vmware/blob/7dab3a5ef213981c5d9bf7c1eb53419dcee585cc/testing.md) and [Checking out pull requests locally](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/checking-ou

[2021-05-13 16:38] usscarter commented on #839
Understood, will try that. I was taking the python files and dumping them into library/, and had my ansible.cfg set to use it.

There are a few outstanding PR's that fix things we have issues with currently so I was attempting to use a few different ones as well. (https://github.com/ansible-collections/community.vmware/pull/747)

[2021-05-14 08:15] Akasurde commented on #647
@anderpups @sky-joker @mariolenz By any chance the machine has `REQUESTS_CA_BUNDLE` environment variable set? If yes, this is the issue of `requests 2.*` which is used in `vSphere Automation SDK for Python` - https://github.com/psf/requests/issues/3829.

[2021-05-14 08:56] lvlie commented on #819
@mariolenz Thanks for picking this up! It works but I indeed need to specifically encase the key and value in quotes. Unfortunately, in this case the "key" would most often be a variable right? Which makes things a bit complicated. Maybe it would be better to change the notation to something like:
[code]

Or would there be another option here?

[2021-05-14 10:13] mariolenz commented on #819
@lvlie There are a lot of advanced settings and if people want to manage them with ansible, I think it's much easier to write:

[code]

instead of:
[code]

Additionally, that's how it's implemented in `vmware_cluster_drs` and some other modules:

https://github.com/ansible-collections/community.vmware/blob/bb9220deb9df7963e29d7f154ba8fd971feced7d/plugins/modules/vmware_cluster_drs.py#L89-L99

`vmw